#%RAML 1.0
---
title: Commercetools Import API
version: v1
mediaType: application/json
baseUri: https://import.europe-west1.gcp.commercetools.com
(annotations.docsBaseUri): https://import.{region}.commercetools.com
(annotations.docsBaseUriParameters):
  region:
    type: string
    enum:
      - europe-west1.gcp
      - us-central1.gcp
      - australia-southeast1
    description: |
      The [Region](/hosts-and-authorization#hosts) in which the Project is hosted.
(annotations.serviceRegions):
  - uri: https://import.us-central1.gcp.commercetools.com/
    region: us-central1
    provider: gcp
    name: North America (Google Cloud, Iowa)
  - uri: https://import.europe-west1.gcp.commercetools.com
    region: europe-west1
    provider: gcp
    name: Europe (Google Cloud, Belgium)
  - uri: https://import.australia-southeast1.gcp.commercetools.com
    region: australia-southeast1
    provider: gcp
    name: Australia (Google Cloud, Sydney)
uses:
  annotations: annotationTypes/annotations.raml
  postman: annotationTypes/postman.raml

  error: types/error.raml
  import-operation: types/import-operation.raml
  import-sink: types/import-sink.raml
  import-summary: types/import-summary.raml
  import-request: types/import-request.raml
  price-import: types/price-import.raml
  product-import: types/product-import.raml
  product-draft-import: types/product-draft-import.raml
  product-type-import: types/product-type-import.raml
  product-variant-import: types/product-variant-import.raml
  category-import: types/category-import.raml
  customer-import: types/customer-import.raml
  order-import: types/order-import.raml
  order-patch-import: types/order-patch-import.raml
  inventory-import: types/inventory-import.raml
  custom-field: types/custom-field.raml
  common: types/common.raml

resourceTypes:
  base:
    get?:
      displayName: Query <<resourcePathName>>
      responses:
        200:
    post?:
      displayName: Import <<resourcePathName | !singularize>>
      responses:
        201:
    put?:
      displayName: Update <<resourcePathName | !singularize>>
      responses:
        200:
    delete?:
      displayName: Delete <<resourcePathName | !singularize>>
      responses:
        200:
  baseByParam:
    type: base
    get?:
      displayName: Get <<resourcePathName | !singularize>>
      responses:
        200:

securitySchemes:
  oauth_2_0: !include security-schemes/oauth2.raml
securedBy: [oauth_2_0]

traits:
  secured_by_manage_import_sinks:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_project:{projectKey}
            - manage_import_sinks:{projectKey}
  secured_by_view_import_sinks:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_project:{projectKey}
            - manage_import_sinks:{projectKey}
            - view_import_sinks:{projectKey}
  secured_by_manage_products:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_project:{projectKey}
            - manage_products:{projectKey}
  secured_by_view_products:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_project:{projectKey}
            - manage_products:{projectKey}
            - view_products:{projectKey}
  secured_by_manage_customers:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_customers:{projectKey}
            - manage_project:{projectKey}
  secured_by_view_customers:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_customers:{projectKey}
            - view_customers:{projectKey}
            - manage_project:{projectKey}
  secured_by_manage_orders:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_project:{projectKey}
            - manage_orders:{projectKey}
  secured_by_view_orders:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_project:{projectKey}
            - manage_orders:{projectKey}
            - view_orders:{projectKey}

/{projectKey}:
  displayName: Project
  uriParameters:
    projectKey:
      description: The commercetools Project key.
      type: string
  /import-sinks:
    type: base
    post:
      displayName: Creates a new import sink.
      description: Creates a new import sink.
      is:
        - secured_by_manage_import_sinks
      body:
        type: import-sink.ImportSinkDraft
      responses:
        201:
          body:
            type: import-sink.ImportSink
            example: !include examples/import-sink-minimal.json
        400:
          description: The request was invalid.
          body:
            type: error.ErrorResponse
    get:
      queryParameters:
        limit?:
          type: number
        offset?:
          type: number
        sort?:
          description: |
            See [Sorting](/../api/general-concepts#sorting).
          type: string[]
      description: Retrieves all import sinks of a project key.
      is:
        - secured_by_view_import_sinks
      responses:
        200:
          body:
            type: import-sink.ImportSinkPagedResponse
    /{importSinkKey}:
      type: baseByParam
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: The key of the import sink.
          type: string
      put:
        description: Updates the import sink given by the key.
        is:
          - secured_by_manage_import_sinks
        body:
          type: import-sink.ImportSinkUpdateDraft
        responses:
          200:
            description: The import sink was successfully updated.
            body:
              type: import-sink.ImportSink
              example: !include examples/import-sink-minimal.json
          409:
            description:
              A concurrent modification was detected. The client should retry
              and resolve the conflict.
            body:
              type: error.ErrorResponse
              example: !include examples/error-response-concurrent-modification.json
      get:
        description: Retrieves the import sink given by the key.
        is:
          - secured_by_view_import_sinks
        responses:
          200:
            description: The requested import sink was found.
            body:
              type: import-sink.ImportSink
              example: !include examples/import-sink-minimal.json
          404:
            description: The requested import sink wasn't found.
            body:
              type: error.ErrorResponse
              example: !include examples/error-response-resource-not-found.json
      delete:
        description: Deletes the import sink given by the key.
        is:
          - secured_by_manage_import_sinks
        responses:
          200:
            description: The deleted import sink.
            body:
              type: import-sink.ImportSink
          404:
            description: The import sink to delete wasn't found.
            body:
              type: error.ErrorResponse
  /import-summaries:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: |
            The key of the import sink.
          type: string
      get:
        is:
          - secured_by_view_import_sinks
        description: |
          Retrieves an import summary for the given import sink.

          The import summary is calculated on demand.
        responses:
          200:
            body:
              type: import-summary.ImportSummary
  /categories:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: The ImportSink used to create the new resource
          type: string
      post:
        description: Creates a request for creating new Categories or updating
          existing ones.
        is:
          - secured_by_manage_products
        body:
          type: import-request.CategoryImportRequest
          example: !include examples/category-import-request.json
        responses:
          201:
            body:
              type: import-request.ImportResponse
              example: !include examples/category-import-response.json
      /import-operations:
        type: base
        get:
          description: |
            Retrieves all Category ImportOperations of a given ImportSink key.
          is:
            - secured_by_view_products
          queryParameters:
            limit?:
              type: number
            offset?:
              type: number
            sort?:
              description: |
                See [Sorting](https://docs.commercetools.com/api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation to retrieve.
              type: string
            state?:
              description: |
                The state of the ImportOperations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
                example: !include examples/import-operation-paged.response.json
        /{id}:
          type: baseByParam
          uriParameters:
            id:
              description: |
                The operation identifier
              type: string
          get:
            description: |
              Retrieves the ImportOperation of a given ID.
            is:
              - secured_by_view_products
            responses:
              200:
                body:
                  type: import-operation.ImportOperation
              404:
                body:
                  type: error.ErrorResponse
              503:
                body:
                  type: error.ErrorResponse

  /prices:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: The ImportSink used to create the new resource
          type: string
      post:
        description:
          Creates a request for creating new Prices or updating existing
          ones.
        is:
          - secured_by_manage_products
        body:
          type: import-request.PriceImportRequest
        responses:
          201:
            body:
              type: import-request.ImportResponse
      /import-operations:
        type: base
        get:
          description: |
            Retrieves all Price ImportOperations of a given ImportSink key.
          is:
            - secured_by_view_products
          queryParameters:
            limit?:
              type: number
            offset?:
              type: number
            sort?:
              description: |
                See [Sorting](https://docs.commercetools.com/api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation  to retrieve.
              type: string
            state?:
              description: |
                The state of the ImportOperations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
        /{id}:
          type: baseByParam
          uriParameters:
            id:
              description: |
                The operation identifier
              type: string
          get:
            description: |
              Retrieves the ImportOperation of a given ID.
            is:
              - secured_by_view_products
            responses:
              200:
                body:
                  type: import-operation.ImportOperation
              404:
                body:
                  type: error.ErrorResponse
              503:
                body:
                  type: error.ErrorResponse

  /products:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: The ImportSink used to create the new resource
          type: string
      post:
        description:
          Creates a request for creating new Products or updating existing
          ones.
        is:
          - secured_by_manage_products
        body:
          type: import-request.ProductImportRequest
        responses:
          201:
            body:
              type: import-request.ImportResponse
      /import-operations:
        type: base
        get:
          description: |
            Retrieves all Product ImportOperations of a given ImportSink key.
          is:
            - secured_by_view_products
          queryParameters:
            limit?:
              type: number
            offset?:
              type: number
            sort?:
              description: |
                See [Sorting](https://docs.commercetools.com/api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation to retrieve.
              type: string
            state?:
              description: |
                The state of the ImportOperations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
        /{id}:
          type: baseByParam
          uriParameters:
            id:
              description: |
                The operation identifier
              type: string
          get:
            description: |
              Retrieves the ImportOperation of a given ID.
            is:
              - secured_by_view_products
            responses:
              200:
                body:
                  type: import-operation.ImportOperation
              404:
                body:
                  type: error.ErrorResponse
              503:
                body:
                  type: error.ErrorResponse
  /product-drafts:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: |
            The ImportSink used to create the new resource
          type: string
      post:
        description: |
          Creates a request for creating new ProductDrafts or updating existing ones.
        is:
          - secured_by_manage_products
        body:
          type: import-request.ProductDraftImportRequest
        responses:
          201:
            body:
              type: import-request.ImportResponse
      /import-operations:
        type: base
        get:
          description: |
            Retrieves all ProductDraft ImportOperations of a given ImportSink key.
          is:
            - secured_by_view_products
          queryParameters:
            limit?:
              type: number
            offset?:
              type: number
            sort?:
              description: |
                See [Sorting](https://docs.commercetools.com/api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation to retrieve.
              type: string
            state?:
              description: |
                The state of the ImportOperations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
        /{id}:
          type: baseByParam
          uriParameters:
            id:
              description: |
                The operation identifier
              type: string
          get:
            description: |
              Retrieves the ImportOperation of a given ID.
            is:
              - secured_by_view_products
            responses:
              200:
                body:
                  type: import-operation.ImportOperation
              404:
                body:
                  type: error.ErrorResponse
              503:
                body:
                  type: error.ErrorResponse

  /product-types:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: The ImportSink used to create the new resource
          type: string
      post:
        description: Creates a request for creating new ProductTypes or updating
          existing ones.
        is:
          - secured_by_manage_products
        body:
          type: import-request.ProductTypeImportRequest
        responses:
          201:
            body:
              type: import-request.ImportResponse
      /import-operations:
        type: base
        get:
          description: |
            Retrieves all ProductType ImportOperations of a given ImportSink key.
          is:
            - secured_by_view_products
          queryParameters:
            limit?:
              type: number
            offset?:
              type: number
            sort?:
              description: |
                See [Sorting](https://docs.commercetools.com/api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation to retrieve.
              type: string
            state?:
              description: |
                The state of the ImportOperations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
        /{id}:
          type: baseByParam
          uriParameters:
            id:
              description: |
                The operation identifier
              type: string
          get:
            description: |
              Retrieves the ImportOperation of a given ID.
            is:
              - secured_by_view_products
            responses:
              200:
                body:
                  type: import-operation.ImportOperation
              404:
                body:
                  type: error.ErrorResponse
              503:
                body:
                  type: error.ErrorResponse
  /product-variants:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: The ImportSink used to create the new resource
          type: string
      post:
        description:
          Creates a request for creating new ProductVariants or updating
          existing ones.
        is:
          - secured_by_manage_products
        body:
          type: import-request.ProductVariantImportRequest
        responses:
          201:
            body:
              type: import-request.ImportResponse
      /import-operations:
        type: base
        get:
          description:
            Retrieves all product-variant import operations of an import sink
            key.
          is:
            - secured_by_view_products
          queryParameters:
            limit?:
              type: number
            offset?:
              type: number
            sort?:
              description: |
                See [Sorting](https://docs.commercetools.com/api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation to retrieve.
              type: string
            state?:
              description: |
                The state of the ImportOperations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
        /{id}:
          type: baseByParam
          uriParameters:
            id:
              description: |
                The operation identifier
              type: string
          get:
            description: |
              Retrieves the ImportOperation of a given ID.
            is:
              - secured_by_view_products
            responses:
              200:
                body:
                  type: import-operation.ImportOperation
              404:
                body:
                  type: error.ErrorResponse
              503:
                body:
                  type: error.ErrorResponse
  /product-variant-patches:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: The ImportSink used to create the new resource
          type: string
      post:
        description: Creates a new import request for product variant patches
        is:
          - secured_by_manage_products
        body:
          type: import-request.ProductVariantPatchRequest
        responses:
          201:
            body:
              type: import-request.ImportResponse
      /import-operations:
        type: base
        get:
          description:
            Retrieves all product-variant-patches import operations of an import
            sink key.
          is:
            - secured_by_view_products
          queryParameters:
            limit?:
              type: number
            offset?:
              type: number
            sort?:
              description: |
                See [Sorting](https://docs.commercetools.com/api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation to retrieve.
              type: string
            state?:
              description: |
                The state of the ImportOperations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
        /{id}:
          type: baseByParam
          uriParameters:
            id:
              description: |
                The operation identifier
              type: string
          get:
            description: |
              Retrieves the ImportOperation of a given ID.
            is:
              - secured_by_view_products
            responses:
              200:
                body:
                  type: import-operation.ImportOperation
              404:
                body:
                  type: error.ErrorResponse
              503:
                body:
                  type: error.ErrorResponse
  /orders:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: The ImportSink used to create the new resource
          type: string
      post:
        description:
          Creates a request for creating new Orders or updating existing
          ones.
        is:
          - secured_by_manage_orders
        body:
          type: import-request.OrderImportRequest
          example: !include examples/order-import-request.json
        responses:
          201:
            body:
              type: import-request.ImportResponse
      /import-operations:
        type: base
        get:
          description: |
            Retrieves all Order ImportOperations of a given ImportSink key.
          is:
            - secured_by_view_orders
          queryParameters:
            limit?:
              type: number
            offset?:
              type: number
            sort?:
              description: |
                See [Sorting](https://docs.commercetools.com/api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation to retrieve.
              type: string
            state?:
              description: |
                The state of the ImportOperations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
                example: !include examples/import-operation-paged.response.json
        /{id}:
          type: baseByParam
          uriParameters:
            id:
              description: |
                The operation identifier
              type: string
          get:
            description: |
              Retrieves the ImportOperation of a given ID.
            is:
              - secured_by_view_orders
            responses:
              200:
                body:
                  type: import-operation.ImportOperation
              404:
                body:
                  type: error.ErrorResponse
              503:
                body:
                  type: error.ErrorResponse
  /order-patches:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: The ImportSink used to create the resource
          type: string
      post:
        description: Creates a new import request for order patches
        is:
          - secured_by_manage_orders
        body:
          type: import-request.OrderPatchImportRequest
        responses:
          201:
            body:
              type: import-request.ImportResponse
      /import-operations:
        type: base
        get:
          description: |
            Retrieves all OrderPatch ImportOperations of a given ImportSink key.
          is:
            - secured_by_view_orders
          queryParameters:
            limit?:
              type: number
            offset?:
              type: number
            sort?:
              description: |
                See [Sorting](https://docs.commercetools.com/api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation to retrieve.
              type: string
            state?:
              description: |
                The state of the ImportOperations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
        /{id}:
          type: baseByParam
          uriParameters:
            id:
              description: |
                The operation identifier
              type: string
          get:
            description: |
              Retrieves the ImportOperation of a given ID.
            is:
              - secured_by_view_orders
            responses:
              200:
                body:
                  type: import-operation.ImportOperation
              404:
                body:
                  type: error.ErrorResponse
              503:
                body:
                  type: error.ErrorResponse

  /customers:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: The ImportSink used to create the new resource
          type: string
      post:
        description:
          Creates a request for creating new Customers or updating existing
          ones.
        is:
          - secured_by_manage_customers
        body:
          type: import-request.CustomerImportRequest
          example: !include examples/customer-import-request.json
        responses:
          201:
            body:
              type: import-request.ImportResponse
              example: !include examples/customer-import-response.json
      /import-operations:
        type: base
        get:
          description: |
            Retrieves all Customer ImportOperations of a given ImportSink key.
          is:
            - secured_by_view_customers
          queryParameters:
            limit?:
              type: number
            offset?:
              type: number
            sort?:
              description: |
                See [Sorting](https://docs.commercetools.com/api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation to retrieve.
              type: string
            state?:
              description: |
                The state of the ImportOperations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
                example: !include examples/import-operation-paged.response.json
        /{id}:
          type: baseByParam
          uriParameters:
            id:
              description: |
                The operation identifier
              type: string
          get:
            description: |
              Retrieves the ImportOperation of a given ID.
            is:
              - secured_by_view_customers
            responses:
              200:
                body:
                  type: import-operation.ImportOperation
              404:
                body:
                  type: error.ErrorResponse
              503:
                body:
                  type: error.ErrorResponse
  /inventories:
    /importSinkKey={importSinkKey}:
      type: base
      uriParameters:
        importSinkKey:
          (postman.paramName): import-sink-key
          description: The ImportSink used to create the new resource
          type: string
      post:
        description: Creates a request for creating new Inventories or updating
          existing ones.
        is:
          - secured_by_manage_products
        body:
          type: import-request.InventoryImportRequest
          example: !include examples/inventory-import-request.json
        responses:
          201:
            body:
              type: import-request.ImportResponse
              example: !include examples/inventory-import-response.json
      /import-operations:
        type: base
        get:
          description: |
            Retrieves all Inventory ImportOperations of a given ImportSink key.
          is:
            - secured_by_view_products
          queryParameters:
            limit?:
              type: number
            offset?:
              type: number
            sort?:
              description: |
                See [Sorting](https://docs.commercetools.com/api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation to retrieve.
              type: string
            state?:
              description: |
                The state of the import operations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
                example: !include examples/import-operation-paged.response.json
        /{id}:
          type: baseByParam
          uriParameters:
            id:
              description: |
                The operation identifier
              type: string
          get:
            description: |
              Retrieves the ImportOperation of a given ID.
            is:
              - secured_by_view_products
            responses:
              200:
                body:
                  type: import-operation.ImportOperation
              404:
                body:
                  type: error.ErrorResponse
              503:
                body:
                  type: error.ErrorResponse
