*.swp
*.swo
*~
.directory
!.gitignore
.DS_Store
target
boot
tags
lib_managed
*.iml
.idea
/.sbtconfig
/tmtags
*.log
.ensime
.ensime_lucene
.tags
*.sublime-project
*.sublime-workspace
plugins-ide.sbt
/data/
src_managed
*.deb
*.changes
*.sphere
/node_modules
project-exploded*
/bin/npm-debug.log
build

/vendor/
composer.lock
tmpdoc
gen.properties
