{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.raml",
      "options": {
        "parser": "yaml",
        "proseWrap": "preserve"
      }
    }
  ]
}
