{
  "swagger": "2.0",
  "info": {
    "title": "Commercetools",
    "version": "v1"
  },
  "host": "api.sphere.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth_2_0": {
      "description": "HTTP API authorization uses [OAuth2](http://tools.ietf.org/html/rfc6750){:target=\"_blank\"}.\n\nClients must obtain an access token from the auth service using one of\nthe authorization flows described below, before they are able to make authorized requests\nto other SPHERE.IO services. On successful completion of an authorization flow,\na client will be given an `access_token`, which they need to include in requests\nto authorized service endpoints via the HTTP `Authorization` header like this:\n",
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://auth.sphere.io/oauth/token",
      "scopes": {
        "manage_project:{projectKey}": "",
        "manage_products:{projectKey}": "",
        "view_products:{projectKey}": "",
        "manage_orders:{projectKey}": "",
        "view_orders:{projectKey}": "",
        "manage_customers:{projectKey}": "",
        "view_customers:{projectKey}": "",
        "manage_payments:{projectKey}": "",
        "view_payments:{projectKey}": "",
        "manage_subscriptions:{projectKey}": "",
        "manage_extensions:{projectKey}": "",
        "manage_types:{projectKey}": "",
        "view_types:{projectKey}": "",
        "view_shopping_lists:{projectKey}": "",
        "manage_shopping_lists:{projectKey}": "",
        "manage_my_orders:{projectKey}": "",
        "manage_my_profile:{projectKey}": "",
        "view_project_settings:{projectKey}": ""
      }
    }
  },
  "definitions": {
    "PagedQueryResponse": {
      "title": "PagedQueryResponse",
      "type": "object",
      "properties": {
        "count": {
          "title": "count",
          "format": "int64",
          "type": "number"
        },
        "total": {
          "title": "total",
          "format": "int64",
          "type": "number"
        },
        "offset": {
          "title": "offset",
          "format": "int64",
          "type": "number"
        },
        "results": {
          "title": "results",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Resource"
          }
        }
      },
      "required": [
        "count",
        "offset",
        "results"
      ]
    },
    "Update": {
      "title": "Update",
      "type": "object",
      "properties": {
        "version": {
          "title": "version",
          "format": "int64",
          "type": "number"
        },
        "actions": {
          "title": "actions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpdateAction"
          }
        }
      },
      "required": [
        "version",
        "actions"
      ]
    },
    "UpdateAction": {
      "title": "UpdateAction",
      "type": "object",
      "properties": {
        "action": {
          "title": "action",
          "type": "string"
        }
      },
      "required": [
        "action"
      ]
    },
    "CartDiscount": {
      "title": "CartDiscount",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "properties": {
            "name": {
              "title": "name",
              "$ref": "#/definitions/LocalizedString"
            },
            "description": {
              "title": "description",
              "$ref": "#/definitions/LocalizedString"
            },
            "value": {
              "title": "value",
              "$ref": "#/definitions/CartDiscountValue"
            },
            "cartPredicate": {
              "title": "cartPredicate",
              "type": "string"
            },
            "target": {
              "title": "target",
              "$ref": "#/definitions/CartDiscountTarget"
            },
            "sortOrder": {
              "title": "sortOrder",
              "type": "string"
            },
            "isActive": {
              "title": "isActive",
              "type": "boolean"
            },
            "validFrom": {
              "title": "validFrom",
              "type": "string",
              "format": "date-time"
            },
            "validUntil": {
              "title": "validUntil",
              "type": "string",
              "format": "date-time"
            },
            "requiresDiscountCode": {
              "title": "requiresDiscountCode",
              "type": "boolean"
            },
            "references": {
              "title": "references",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Reference"
              }
            },
            "stackingMode": {
              "title": "stackingMode",
              "description": "Specifies whether the application of this discount causes the following discounts to be ignored.\nDefaults to Stacking.\n",
              "$ref": "#/definitions/StackingMode"
            }
          },
          "required": [
            "name",
            "value",
            "cartPredicate",
            "sortOrder",
            "isActive",
            "requiresDiscountCode",
            "references",
            "stackingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountChangeCartPredicateAction": {
      "title": "CartDiscountChangeCartPredicateAction",
      "example": {
        "action": "changeCartPredicate",
        "cartPredicate": "lineItemTotal(1 = 1) >  \"10.00 USD\""
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "cartPredicate": {
              "title": "cartPredicate",
              "type": "string"
            }
          },
          "required": [
            "cartPredicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountChangeIsActiveAction": {
      "title": "CartDiscountChangeIsActiveAction",
      "example": {
        "action": "changeIsActive",
        "isActive": false
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "isActive": {
              "title": "isActive",
              "type": "boolean"
            }
          },
          "required": [
            "isActive"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountChangeNameAction": {
      "title": "CartDiscountChangeNameAction",
      "example": {
        "action": "changeName",
        "name": {
          "en": "NewNameEN",
          "de": "NewNameDE"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "name": {
              "title": "name",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountChangeRequiresDiscountCodeAction": {
      "title": "CartDiscountChangeRequiresDiscountCodeAction",
      "example": {
        "action": "changeRequiresDiscountCode",
        "requiresDiscountCode": true
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "requiresDiscountCode": {
              "title": "requiresDiscountCode",
              "type": "boolean"
            }
          },
          "required": [
            "requiresDiscountCode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountChangeSortOrderAction": {
      "title": "CartDiscountChangeSortOrderAction",
      "example": {
        "action": "changeSortOrder",
        "sortOrder": "0.2"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "sortOrder": {
              "title": "sortOrder",
              "type": "string"
            }
          },
          "required": [
            "sortOrder"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountChangeStackingModeAction": {
      "title": "CartDiscountChangeStackingModeAction",
      "example": {
        "action": "changeStackingMode",
        "stackingMode": "Stacking"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "stackingMode": {
              "title": "stackingMode",
              "$ref": "#/definitions/StackingMode"
            }
          },
          "required": [
            "stackingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountChangeTargetAction": {
      "title": "CartDiscountChangeTargetAction",
      "example": {
        "action": "changeTarget",
        "target": {
          "type": "lineItems",
          "predicate": "sku = \"mySKU\""
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "target": {
              "title": "target",
              "$ref": "#/definitions/CartDiscountTarget"
            }
          },
          "required": [
            "target"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountChangeValueAction": {
      "title": "CartDiscountChangeValueAction",
      "example": {
        "action": "changeValue",
        "value": {
          "type": "absolute",
          "money": [
            {
              "currencyCode": "EUR",
              "centAmount": 40099
            }
          ]
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "value": {
              "title": "value",
              "$ref": "#/definitions/CartDiscountValue"
            }
          },
          "required": [
            "value"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountCustomLineItemsTarget": {
      "title": "CartDiscountCustomLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "title": "predicate",
              "type": "string"
            }
          },
          "required": [
            "predicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountDraft": {
      "title": "CartDiscountDraft",
      "type": "object",
      "properties": {
        "name": {
          "title": "name",
          "$ref": "#/definitions/LocalizedString"
        },
        "description": {
          "title": "description",
          "$ref": "#/definitions/LocalizedString"
        },
        "value": {
          "title": "value",
          "$ref": "#/definitions/CartDiscountValue"
        },
        "cartPredicate": {
          "title": "cartPredicate",
          "type": "string"
        },
        "target": {
          "title": "target",
          "$ref": "#/definitions/CartDiscountTarget"
        },
        "sortOrder": {
          "title": "sortOrder",
          "type": "string"
        },
        "isActive": {
          "title": "isActive",
          "type": "boolean"
        },
        "validFrom": {
          "title": "validFrom",
          "type": "string",
          "format": "date-time"
        },
        "validUntil": {
          "title": "validUntil",
          "type": "string",
          "format": "date-time"
        },
        "requiresDiscountCode": {
          "title": "requiresDiscountCode",
          "type": "boolean"
        },
        "stackingMode": {
          "title": "stackingMode",
          "description": "Specifies whether the application of this discount causes the following discounts to be ignored.\nDefaults to Stacking.\n",
          "$ref": "#/definitions/StackingMode"
        }
      },
      "required": [
        "name",
        "value",
        "cartPredicate",
        "sortOrder",
        "requiresDiscountCode"
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountLineItemsTarget": {
      "title": "CartDiscountLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "title": "predicate",
              "type": "string"
            }
          },
          "required": [
            "predicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountPagedQueryResponse": {
      "title": "CartDiscountPagedQueryResponse",
      "allOf": [
        {
          "$ref": "#/definitions/PagedQueryResponse"
        },
        {
          "properties": {
            "results": {
              "title": "results",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartDiscount"
              }
            }
          },
          "required": [
            "results"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountReference": {
      "title": "CartDiscountReference",
      "allOf": [
        {
          "$ref": "#/definitions/Reference"
        },
        {
          "properties": {
            "obj": {
              "title": "obj",
              "$ref": "#/definitions/CartDiscount"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountSetCustomFieldAction": {
      "title": "CartDiscountSetCustomFieldAction",
      "example": {
        "action": "setCustomField",
        "name": "StringCustomField",
        "value": "myValue"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "name": {
              "title": "name",
              "type": "string"
            },
            "value": {
              "title": "value",
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountSetCustomTypeAction": {
      "title": "CartDiscountSetCustomTypeAction",
      "example": {
        "action": "setCustomType",
        "type": {
          "id": "089eaa2e-b54b-42d7-811e-23e180fe8dcc",
          "typeId": "type"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "fields": {
              "title": "fields",
              "type": "string"
            },
            "type": {
              "title": "type",
              "$ref": "#/definitions/TypeReference"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountSetDescriptionAction": {
      "title": "CartDiscountSetDescriptionAction",
      "example": {
        "action": "setDescription",
        "description": {
          "en": "New Description EN",
          "de": "New Description DE"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "description": {
              "title": "description",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountSetValidFromAction": {
      "title": "CartDiscountSetValidFromAction",
      "example": {
        "action": "setValidFrom",
        "validFrom": "2017-01-11T15:00:00.000Z"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "validFrom": {
              "title": "validFrom",
              "type": "string",
              "format": "date-time"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountSetValidUntilAction": {
      "title": "CartDiscountSetValidUntilAction",
      "example": {
        "action": "setValidFrom",
        "validFrom": "2017-01-11T15:00:00.000Z"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "validUntil": {
              "title": "validUntil",
              "type": "string",
              "format": "date-time"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountShippingCostTarget": {
      "title": "CartDiscountShippingCostTarget",
      "$ref": "#/definitions/CartDiscountTarget",
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountTarget": {
      "title": "CartDiscountTarget",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "title": "type",
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountUpdate": {
      "title": "CartDiscountUpdate",
      "allOf": [
        {
          "$ref": "#/definitions/Update"
        },
        {
          "properties": {
            "actions": {
              "title": "actions",
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          "required": [
            "actions"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountUpdateAction": {
      "title": "CartDiscountUpdateAction",
      "discriminator": "action",
      "$ref": "#/definitions/UpdateAction",
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValue": {
      "title": "CartDiscountValue",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "title": "type",
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueAbsolute": {
      "title": "CartDiscountValueAbsolute",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "money": {
              "title": "money",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Money"
              }
            }
          },
          "required": [
            "money"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueGiftLineItem": {
      "title": "CartDiscountValueGiftLineItem",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "product": {
              "title": "product",
              "$ref": "#/definitions/ProductReference"
            },
            "variantId": {
              "title": "variantId",
              "format": "int64",
              "type": "number"
            },
            "supplyChannel": {
              "title": "supplyChannel",
              "$ref": "#/definitions/ChannelReference"
            },
            "distributionChannel": {
              "title": "distributionChannel",
              "$ref": "#/definitions/ChannelReference"
            }
          },
          "required": [
            "product",
            "variantId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueRelative": {
      "title": "CartDiscountValueRelative",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "permyriad": {
              "title": "permyriad",
              "format": "int64",
              "type": "number"
            }
          },
          "required": [
            "permyriad"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "MultiBuyCustomLineItemsTarget": {
      "title": "MultiBuyCustomLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "title": "predicate",
              "description": "A valid custom line item target predicate. The discount will be applied to custom line items that are\nmatched by the predicate.\n",
              "type": "string"
            },
            "triggerQuantity": {
              "title": "triggerQuantity",
              "description": "Quantity of line items that need to be present in order to trigger an application of this discount.",
              "type": "integer"
            },
            "discountedQuantity": {
              "title": "discountedQuantity",
              "description": "Quantity of line items that are discounted per application of this discount.",
              "type": "integer"
            },
            "maxOccurrence": {
              "title": "maxOccurrence",
              "description": "Maximum number of applications of this discount.",
              "type": "integer"
            },
            "selectionMode": {
              "title": "selectionMode",
              "$ref": "#/definitions/SelectionMode"
            }
          },
          "required": [
            "predicate",
            "triggerQuantity",
            "discountedQuantity",
            "selectionMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "MultiBuyLineItemsTarget": {
      "title": "MultiBuyLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "title": "predicate",
              "description": "A valid line item target predicate. The discount will be applied to line items that are matched by the predicate.\n",
              "type": "string"
            },
            "triggerQuantity": {
              "title": "triggerQuantity",
              "description": "Quantity of line items that need to be present in order to trigger an application of this discount.",
              "type": "integer"
            },
            "discountedQuantity": {
              "title": "discountedQuantity",
              "description": "Quantity of line items that are discounted per application of this discount.",
              "type": "integer"
            },
            "maxOccurrence": {
              "title": "maxOccurrence",
              "description": "Maximum number of applications of this discount.",
              "type": "integer"
            },
            "selectionMode": {
              "title": "selectionMode",
              "$ref": "#/definitions/SelectionMode"
            }
          },
          "required": [
            "predicate",
            "triggerQuantity",
            "discountedQuantity",
            "selectionMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "SelectionMode": {
      "title": "SelectionMode",
      "enum": [
        "Cheapest",
        "MostExpensive"
      ],
      "type": "string",
      "x-annotation-package": "CartDiscount"
    },
    "StackingMode": {
      "title": "StackingMode",
      "enum": [
        "Stacking",
        "StopAfterThisDiscount"
      ],
      "type": "string",
      "x-annotation-package": "CartDiscount"
    },
    "Cart": {
      "title": "Cart",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "properties": {
            "customerId": {
              "title": "customerId",
              "type": "string"
            },
            "customerEmail": {
              "title": "customerEmail",
              "type": "string"
            },
            "anonymousId": {
              "title": "anonymousId",
              "type": "string"
            },
            "lineItems": {
              "title": "lineItems",
              "type": "array",
              "items": {
                "$ref": "#/definitions/LineItem"
              }
            },
            "customLineItems": {
              "title": "customLineItems",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomLineItem"
              }
            },
            "totalPrice": {
              "title": "totalPrice",
              "$ref": "#/definitions/Money"
            },
            "taxedPrice": {
              "title": "taxedPrice",
              "$ref": "#/definitions/TaxedPrice"
            },
            "cartState": {
              "title": "cartState",
              "$ref": "#/definitions/CartState"
            },
            "shippingAddress": {
              "title": "shippingAddress",
              "$ref": "#/definitions/Address"
            },
            "billingAddress": {
              "title": "billingAddress",
              "$ref": "#/definitions/Address"
            },
            "inventoryMode": {
              "title": "inventoryMode",
              "$ref": "#/definitions/InventoryMode"
            },
            "taxMode": {
              "title": "taxMode",
              "$ref": "#/definitions/TaxMode"
            },
            "taxRoundingMode": {
              "title": "taxRoundingMode",
              "$ref": "#/definitions/RoundingMode"
            },
            "taxCalculationMode": {
              "title": "taxCalculationMode",
              "$ref": "#/definitions/TaxCalculationMode"
            },
            "customerGroup": {
              "title": "customerGroup",
              "$ref": "#/definitions/CustomerGroupReference"
            },
            "country": {
              "title": "country",
              "type": "string"
            },
            "shippingInfo": {
              "title": "shippingInfo",
              "$ref": "#/definitions/ShippingInfo"
            },
            "discountCodes": {
              "title": "discountCodes",
              "type": "array",
              "items": {
                "$ref": "#/definitions/DiscountCodeInfo"
              }
            },
            "custom": {
              "title": "custom",
              "$ref": "#/definitions/CustomFields"
            },
            "paymentInfo": {
              "title": "paymentInfo",
              "$ref": "#/definitions/PaymentInfo"
            },
            "locale": {
              "title": "locale",
              "type": "string"
            },
            "deleteDaysAfterLastModification": {
              "title": "deleteDaysAfterLastModification",
              "format": "int64",
              "type": "number"
            },
            "refusedGifts": {
              "title": "refusedGifts",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartDiscountReference"
              }
            }
          },
          "required": [
            "lineItems",
            "customLineItems",
            "totalPrice",
            "cartState",
            "refusedGifts"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartAddCustomLineItemAction": {
      "title": "CartAddCustomLineItemAction",
      "example": {
        "action": "addCustomLineItem",
        "name": {
          "en": "Name EN",
          "de": "Name DE"
        },
        "quantity": 1,
        "money": {
          "currencyCode": "EUR",
          "centAmount": 4200
        },
        "slug": "mySlug",
        "taxCategory": {
          "typeId": "tax-category",
          "id": "5786eba8-d448-4b7a-84fd-07fd1d612696"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "custom": {
              "title": "custom",
              "$ref": "#/definitions/CustomFieldsDraft"
            },
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            },
            "money": {
              "title": "money",
              "$ref": "#/definitions/Money"
            },
            "name": {
              "title": "name",
              "$ref": "#/definitions/LocalizedString"
            },
            "quantity": {
              "title": "quantity",
              "type": "number"
            },
            "slug": {
              "title": "slug",
              "type": "string"
            },
            "taxCategory": {
              "title": "taxCategory",
              "$ref": "#/definitions/TaxCategoryReference"
            }
          },
          "required": [
            "money",
            "name",
            "quantity",
            "slug"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartAddDiscountCodeAction": {
      "title": "CartAddDiscountCodeAction",
      "example": {
        "action": "addDiscountCode",
        "code": "mydiscountcode"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "code": {
              "title": "code",
              "type": "string"
            }
          },
          "required": [
            "code"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartAddLineItemAction": {
      "title": "CartAddLineItemAction",
      "example": {
        "action": "addLineItem",
        "productId": "e6b98eaa-631d-422b-9fc0-af67c18ff48d",
        "variantId": 1
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "custom": {
              "title": "custom",
              "$ref": "#/definitions/CustomFieldsDraft"
            },
            "distributionChannel": {
              "title": "distributionChannel",
              "$ref": "#/definitions/ChannelReference"
            },
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            },
            "productId": {
              "title": "productId",
              "type": "string"
            },
            "quantity": {
              "title": "quantity",
              "default": 1,
              "type": "number"
            },
            "supplyChannel": {
              "title": "supplyChannel",
              "$ref": "#/definitions/ChannelReference"
            },
            "variantId": {
              "title": "variantId",
              "type": "integer"
            },
            "externalPrice": {
              "title": "externalPrice",
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "title": "externalTotalPrice",
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            }
          },
          "required": [
            "productId",
            "variantId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartAddPaymentAction": {
      "title": "CartAddPaymentAction",
      "example": {
        "action": "addPayment",
        "payment": {
          "id": "d45b6f23-76a0-459f-bf55-591dfe8a4ade",
          "typeId": "payment"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "payment": {
              "title": "payment",
              "$ref": "#/definitions/PaymentReference"
            }
          },
          "required": [
            "payment"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartAddShoppingListAction": {
      "title": "CartAddShoppingListAction",
      "example": {
        "action": "addShoppingList",
        "shoppingList": {
          "id": "e7ca6063-4f17-42d0-8b84-822029105ffb",
          "typeId": "shopping-list"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "distributionChannel": {
              "title": "distributionChannel",
              "$ref": "#/definitions/ChannelReference"
            },
            "shoppingList": {
              "title": "shoppingList",
              "$ref": "#/definitions/ShoppingListReference"
            },
            "supplyChannel": {
              "title": "supplyChannel",
              "$ref": "#/definitions/ChannelReference"
            }
          },
          "required": [
            "shoppingList"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartChangeCustomLineItemMoneyAction": {
      "title": "CartChangeCustomLineItemMoneyAction",
      "example": {
        "action": "changeCustomLineItemMoney",
        "customLineItemId": "{{customLineItemId}}",
        "money": {
          "currencyCode": "EUR",
          "centAmount": 4200
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "money": {
              "title": "money",
              "$ref": "#/definitions/Money"
            }
          },
          "required": [
            "customLineItemId",
            "money"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartChangeCustomLineItemQuantityAction": {
      "title": "CartChangeCustomLineItemQuantityAction",
      "example": {
        "action": "changeCustomLineItemQuantity",
        "customLineItemId": "{{customLineItemId}}",
        "quantity": 1
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "quantity": {
              "title": "quantity",
              "type": "number"
            }
          },
          "required": [
            "customLineItemId",
            "quantity"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartChangeLineItemQuantityAction": {
      "title": "CartChangeLineItemQuantityAction",
      "example": {
        "action": "changeLineItemQuantity",
        "lineItemId": "{{lineItemId}}",
        "quantity": 1
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            },
            "quantity": {
              "title": "quantity",
              "type": "number"
            },
            "externalPrice": {
              "title": "externalPrice",
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "title": "externalTotalPrice",
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            }
          },
          "required": [
            "lineItemId",
            "quantity"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartChangeTaxCalculationModeAction": {
      "title": "CartChangeTaxCalculationModeAction",
      "example": {
        "action": "changeTaxCalculationMode",
        "taxCalculationMode": "UnitPriceLevel"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "taxCalculationMode": {
              "title": "taxCalculationMode",
              "$ref": "#/definitions/TaxCalculationMode"
            }
          },
          "required": [
            "taxCalculationMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartChangeTaxModeAction": {
      "title": "CartChangeTaxModeAction",
      "example": {
        "action": "changeTaxMode",
        "taxMode": "Platform"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "taxMode": {
              "title": "taxMode",
              "$ref": "#/definitions/TaxMode"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartChangeTaxRoundingModeAction": {
      "title": "CartChangeTaxRoundingModeAction",
      "example": {
        "action": "changeTaxRoundingMode",
        "taxRoundingMode": "HalfUp"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "taxRoundingMode": {
              "title": "taxRoundingMode",
              "$ref": "#/definitions/RoundingMode"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartDraft": {
      "title": "CartDraft",
      "type": "object",
      "properties": {
        "currency": {
          "title": "currency",
          "$ref": "#/definitions/CurrencyCode"
        },
        "customerId": {
          "title": "customerId",
          "type": "string"
        },
        "customerEmail": {
          "title": "customerEmail",
          "type": "string"
        },
        "customerGroup": {
          "title": "customerGroup",
          "$ref": "#/definitions/CustomerGroupReference"
        },
        "anonymousId": {
          "title": "anonymousId",
          "type": "string"
        },
        "country": {
          "title": "country",
          "type": "string"
        },
        "inventoryMode": {
          "title": "inventoryMode",
          "$ref": "#/definitions/InventoryMode"
        },
        "taxMode": {
          "title": "taxMode",
          "$ref": "#/definitions/TaxMode"
        },
        "taxRoundingMode": {
          "title": "taxRoundingMode",
          "$ref": "#/definitions/RoundingMode"
        },
        "taxCalculationMode": {
          "title": "taxCalculationMode",
          "$ref": "#/definitions/TaxCalculationMode"
        },
        "lineItems": {
          "title": "lineItems",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemDraft"
          }
        },
        "customLineItems": {
          "title": "customLineItems",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomLineItemDraft"
          }
        },
        "shippingAddress": {
          "title": "shippingAddress",
          "$ref": "#/definitions/Address"
        },
        "billingAddress": {
          "title": "billingAddress",
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "title": "shippingMethod",
          "$ref": "#/definitions/ShippingMethodReference"
        },
        "externalTaxRateForShippingMethod": {
          "title": "externalTaxRateForShippingMethod",
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFieldsDraft"
        },
        "locale": {
          "title": "locale",
          "type": "string"
        },
        "deleteDaysAfterLastModification": {
          "title": "deleteDaysAfterLastModification",
          "format": "int64",
          "type": "number"
        }
      },
      "required": [
        "currency"
      ],
      "x-annotation-package": "Cart"
    },
    "CartPagedQueryResponse": {
      "title": "CartPagedQueryResponse",
      "allOf": [
        {
          "$ref": "#/definitions/PagedQueryResponse"
        },
        {
          "properties": {
            "results": {
              "title": "results",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Cart"
              }
            }
          },
          "required": [
            "results"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartRecalculateAction": {
      "title": "CartRecalculateAction",
      "example": {
        "action": "recalculate",
        "updateProductData": false
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "updateProductData": {
              "title": "updateProductData",
              "type": "boolean"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartReference": {
      "title": "CartReference",
      "allOf": [
        {
          "$ref": "#/definitions/Reference"
        },
        {
          "properties": {
            "obj": {
              "title": "obj",
              "$ref": "#/definitions/Cart"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartRemoveCustomLineItemAction": {
      "title": "CartRemoveCustomLineItemAction",
      "example": {
        "action": "removeCustomLineItem",
        "customLineItemId": "{{customLineItemId}}"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartRemoveDiscountCodeAction": {
      "title": "CartRemoveDiscountCodeAction",
      "example": {
        "action": "removeDiscountCode",
        "discountCode": {
          "typeId": "discount-code",
          "id": "{{discountCodeId}}"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "discountCode": {
              "title": "discountCode",
              "$ref": "#/definitions/DiscountCodeReference"
            }
          },
          "required": [
            "discountCode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartRemoveLineItemAction": {
      "title": "CartRemoveLineItemAction",
      "example": {
        "action": "removeLineItem",
        "lineItemId": "{{lineItemId}}"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            },
            "quantity": {
              "title": "quantity",
              "type": "number"
            },
            "externalPrice": {
              "title": "externalPrice",
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "title": "externalTotalPrice",
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartRemovePaymentAction": {
      "title": "CartRemovePaymentAction",
      "example": {
        "action": "removePayment",
        "payment": {
          "id": "d45b6f23-76a0-459f-bf55-591dfe8a4ade",
          "typeId": "payment"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "payment": {
              "title": "payment",
              "$ref": "#/definitions/PaymentReference"
            }
          },
          "required": [
            "payment"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetAnonymousIdAction": {
      "title": "CartSetAnonymousIdAction",
      "example": {
        "action": "setAnonymousId",
        "anonymousId": "myAnonymousId"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "anonymousId": {
              "title": "anonymousId",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetBillingAddressAction": {
      "title": "CartSetBillingAddressAction",
      "example": {
        "action": "setBillingAddress",
        "address": {
          "firstName": "Max",
          "lastName": "Mustermann",
          "country": "DE"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "address": {
              "title": "address",
              "$ref": "#/definitions/Address"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCartTotalTaxAction": {
      "title": "CartSetCartTotalTaxAction",
      "example": {
        "action": "setCartTotalTax",
        "externalTotalGross": {
          "currencyCode": "EUR",
          "centAmount": 4000000
        },
        "externalTaxPortions": [
          {
            "name": "taxPortion",
            "rate": 0.18,
            "amount": {
              "centAmount": 5000000,
              "currencyCode": "EUR"
            }
          }
        ]
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTotalGross": {
              "title": "externalTotalGross",
              "$ref": "#/definitions/Money"
            },
            "externalTaxPortions": {
              "title": "externalTaxPortions",
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaxPortion"
              }
            }
          },
          "required": [
            "externalTotalGross",
            "externalTaxPortions"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCountryAction": {
      "title": "CartSetCountryAction",
      "example": {
        "action": "setCountry",
        "country": "DE"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "country": {
              "title": "country",
              "$ref": "#/definitions/CountryCode"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCustomFieldAction": {
      "title": "CartSetCustomFieldAction",
      "example": {
        "action": "setCustomField",
        "name": "StringCustomField",
        "value": "myValue"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "name": {
              "title": "name",
              "type": "string"
            },
            "value": {
              "title": "value",
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCustomLineItemCustomFieldAction": {
      "title": "CartSetCustomLineItemCustomFieldAction",
      "example": {
        "action": "setCustomLineItemCustomField",
        "customLineItemId": "{{customLineItemId}}",
        "name": "StringCustomField",
        "value": "myNewValue"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "name": {
              "title": "name",
              "type": "string"
            },
            "value": {
              "title": "value",
              "type": "string"
            }
          },
          "required": [
            "customLineItemId",
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCustomLineItemCustomTypeAction": {
      "title": "CartSetCustomLineItemCustomTypeAction",
      "example": {
        "action": "setCustomLineItemCustomType",
        "customLineItemId": "{{customLineItemId}}",
        "type": {
          "id": "7c30f10f-db54-418d-b62f-6ab4a4216222",
          "typeId": "type"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "fields": {
              "title": "fields",
              "type": "string"
            },
            "type": {
              "title": "type",
              "$ref": "#/definitions/TypeReference"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCustomLineItemTaxAmountAction": {
      "title": "CartSetCustomLineItemTaxAmountAction",
      "example": {
        "action": "setCustomLineItemTaxAmount",
        "customLineItemId": "{{customLineItemId}}",
        "externalTaxAmount": {
          "totalGross": {
            "centAmount": 2000000,
            "currencyCode": "EUR"
          },
          "taxRate": {
            "name": "myTaxRate",
            "amount": 0.19,
            "country": "DE"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxAmount": {
              "title": "externalTaxAmount",
              "$ref": "#/definitions/ExternalTaxAmountDraft"
            },
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCustomLineItemTaxRateAction": {
      "title": "CartSetCustomLineItemTaxRateAction",
      "example": {
        "action": "setCustomLineItemTaxRate",
        "customLineItemId": "{{customLineItemId}}",
        "externalTaxRate": {
          "name": "myTaxRate",
          "amount": 0.19,
          "country": "DE"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCustomShippingMethodAction": {
      "title": "CartSetCustomShippingMethodAction",
      "example": {
        "action": "setCustomShippingMethod",
        "shippingMethodName": "myCustomShippingMethod",
        "shippingRate": {
          "price": {
            "currencyCode": "EUR",
            "centAmount": 4200
          }
        },
        "taxCategory": {
          "id": "5786eba8-d448-4b7a-84fd-07fd1d612696",
          "typeId": "tax-category"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            },
            "shippingMethodName": {
              "title": "shippingMethodName",
              "type": "string"
            },
            "shippingRate": {
              "title": "shippingRate",
              "$ref": "#/definitions/ShippingRate"
            },
            "taxCategory": {
              "title": "taxCategory",
              "$ref": "#/definitions/TaxCategoryReference"
            }
          },
          "required": [
            "shippingMethodName",
            "shippingRate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCustomTypeAction": {
      "title": "CartSetCustomTypeAction",
      "example": {
        "action": "setCustomType",
        "type": {
          "id": "089eaa2e-b54b-42d7-811e-23e180fe8dcc",
          "typeId": "type"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "fields": {
              "title": "fields",
              "type": "string"
            },
            "type": {
              "title": "type",
              "$ref": "#/definitions/TypeReference"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCustomerEmailAction": {
      "title": "CartSetCustomerEmailAction",
      "example": {
        "action": "setCustomerEmail",
        "email": "foo@bar.com"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "email": {
              "title": "email",
              "type": "string"
            }
          },
          "required": [
            "email"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCustomerGroupAction": {
      "title": "CartSetCustomerGroupAction",
      "example": {
        "action": "setCustomerGroup",
        "customerGroup": {
          "typeId": "customer-group",
          "id": "0c2eaad4-833c-43c1-98a4-5d03f57e9329"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customerGroup": {
              "title": "customerGroup",
              "$ref": "#/definitions/CustomerGroupReference"
            }
          },
          "required": [
            "customerGroup"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetCustomerIdAction": {
      "title": "CartSetCustomerIdAction",
      "example": {
        "action": "setCustomerId",
        "customerId": "0c2eaad4-833c-43c1-98a4-5d03f57e9329"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customerId": {
              "title": "customerId",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetDeleteDaysAfterLastModificationAction": {
      "title": "CartSetDeleteDaysAfterLastModificationAction",
      "example": {
        "action": "setDeleteDaysAfterLastModification",
        "deleteDaysAfterLastModification": 90
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "deleteDaysAfterLastModification": {
              "title": "deleteDaysAfterLastModification",
              "type": "integer"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetLineItemCustomFieldAction": {
      "title": "CartSetLineItemCustomFieldAction",
      "example": {
        "action": "setLineItemCustomField",
        "lineItemId": "{{lineItemId}}",
        "name": "myCustomFieldName",
        "value": "myNewValue"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            },
            "name": {
              "title": "name",
              "type": "string"
            },
            "value": {
              "title": "value",
              "type": "string"
            }
          },
          "required": [
            "lineItemId",
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetLineItemCustomTypeAction": {
      "title": "CartSetLineItemCustomTypeAction",
      "example": {
        "action": "setLineItemCustomType",
        "lineItemId": "{{lineItemId}}",
        "type": {
          "id": "96a0e2f6-1369-4359-ad9e-99132482f214",
          "typeId": "type"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "fields": {
              "title": "fields",
              "type": "string"
            },
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            },
            "type": {
              "title": "type",
              "$ref": "#/definitions/TypeReference"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetLineItemPriceAction": {
      "title": "CartSetLineItemPriceAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalPrice": {
              "title": "externalPrice",
              "$ref": "#/definitions/Money"
            },
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetLineItemTaxAmountAction": {
      "title": "CartSetLineItemTaxAmountAction",
      "example": {
        "action": "setLineItemTaxAmount",
        "lineItemId": "{{lineItemId}}",
        "externalTaxAmount": {
          "totalGross": {
            "centAmount": 2000000,
            "currencyCode": "EUR"
          },
          "taxRate": {
            "name": "myTaxRate",
            "amount": 0.19,
            "country": "DE"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxAmount": {
              "title": "externalTaxAmount",
              "$ref": "#/definitions/ExternalTaxAmountDraft"
            },
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetLineItemTaxRateAction": {
      "title": "CartSetLineItemTaxRateAction",
      "example": {
        "action": "setLineItemTaxRate",
        "lineItemId": "{{lineItemId}}",
        "externalTaxRate": {
          "name": "myTaxRate",
          "amount": 0.19,
          "country": "DE"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            },
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetLineItemTotalPriceAction": {
      "title": "CartSetLineItemTotalPriceAction",
      "example": {
        "action": "setLineItemTotalPrice",
        "lineItemId": "{{lineItemId}}",
        "externalTotalPrice": {
          "price": {
            "currencyCode": "EUR",
            "centAmount": 4200
          },
          "totalPrice": {
            "currencyCode": "EUR",
            "centAmount": 4200
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTotalPrice": {
              "title": "externalTotalPrice",
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            },
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetLocaleAction": {
      "title": "CartSetLocaleAction",
      "example": {
        "action": "setLocale",
        "locale": "de-DE"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "locale": {
              "title": "locale",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetShippingAddressAction": {
      "title": "CartSetShippingAddressAction",
      "example": {
        "action": "setShippingAddress",
        "address": {
          "firstName": "Max",
          "lastName": "Mustermann",
          "country": "DE"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "address": {
              "title": "address",
              "$ref": "#/definitions/Address"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetShippingMethodAction": {
      "title": "CartSetShippingMethodAction",
      "example": {
        "action": "setShippingMethod",
        "shippingMethod": {
          "id": "5fb8a475-9fb7-4f65-a08c-4a26c26c56b8",
          "typeId": "shipping-method"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "shippingMethod": {
              "title": "shippingMethod",
              "$ref": "#/definitions/ShippingMethodReference"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetShippingMethodTaxAmountAction": {
      "title": "CartSetShippingMethodTaxAmountAction",
      "example": {
        "action": "setShippingMethodTaxAmount",
        "externalTaxAmount": {
          "totalGross": {
            "centAmount": 2000000,
            "currencyCode": "EUR"
          },
          "taxRate": {
            "name": "myTaxRate",
            "amount": 0.19,
            "country": "DE"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxAmount": {
              "title": "externalTaxAmount",
              "$ref": "#/definitions/ExternalTaxAmountDraft"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartSetShippingMethodTaxRateAction": {
      "title": "CartSetShippingMethodTaxRateAction",
      "example": {
        "action": "setShippingMethodTaxRate",
        "externalTaxRate": {
          "name": "myTaxRate",
          "amount": 0.19,
          "country": "DE"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartState": {
      "title": "CartState",
      "enum": [
        "Active",
        "Merged",
        "Ordered"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "CartUpdate": {
      "title": "CartUpdate",
      "allOf": [
        {
          "$ref": "#/definitions/Update"
        },
        {
          "properties": {
            "actions": {
              "title": "actions",
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          "required": [
            "actions"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartUpdateAction": {
      "title": "CartUpdateAction",
      "discriminator": "action",
      "$ref": "#/definitions/UpdateAction",
      "x-annotation-package": "Cart"
    },
    "CustomLineItem": {
      "title": "CustomLineItem",
      "type": "object",
      "properties": {
        "id": {
          "title": "id",
          "type": "string"
        },
        "name": {
          "title": "name",
          "$ref": "#/definitions/LocalizedString"
        },
        "money": {
          "title": "money",
          "$ref": "#/definitions/Money"
        },
        "taxedPrice": {
          "title": "taxedPrice",
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "totalPrice": {
          "title": "totalPrice",
          "$ref": "#/definitions/Money"
        },
        "slug": {
          "title": "slug",
          "type": "string"
        },
        "quantity": {
          "title": "quantity",
          "type": "number"
        },
        "state": {
          "title": "state",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemState"
          }
        },
        "taxCategory": {
          "title": "taxCategory",
          "$ref": "#/definitions/TaxCategoryReference"
        },
        "taxRate": {
          "title": "taxRate",
          "$ref": "#/definitions/TaxRate"
        },
        "discountedPricePerQuantity": {
          "title": "discountedPricePerQuantity",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPriceForQuantity"
          }
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFields"
        }
      },
      "required": [
        "id",
        "name",
        "money",
        "totalPrice",
        "slug",
        "quantity",
        "state",
        "discountedPricePerQuantity"
      ],
      "x-annotation-package": "Cart"
    },
    "CustomLineItemDraft": {
      "title": "CustomLineItemDraft",
      "type": "object",
      "properties": {
        "name": {
          "title": "name",
          "$ref": "#/definitions/LocalizedString"
        },
        "quantity": {
          "title": "quantity",
          "type": "number"
        },
        "money": {
          "title": "money",
          "$ref": "#/definitions/Money"
        },
        "slug": {
          "title": "slug",
          "type": "string"
        },
        "taxCategory": {
          "title": "taxCategory",
          "$ref": "#/definitions/TaxCategoryReference"
        },
        "externalTaxRate": {
          "title": "externalTaxRate",
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFields"
        }
      },
      "required": [
        "name",
        "quantity",
        "money",
        "slug"
      ],
      "x-annotation-package": "Cart"
    },
    "DiscountCodeInfo": {
      "title": "DiscountCodeInfo",
      "type": "object",
      "properties": {
        "discountCode": {
          "title": "discountCode",
          "$ref": "#/definitions/DiscountCodeReference"
        },
        "state": {
          "title": "state",
          "$ref": "#/definitions/DiscountCodeState"
        }
      },
      "required": [
        "discountCode",
        "state"
      ],
      "x-annotation-package": "Cart"
    },
    "DiscountCodeState": {
      "title": "DiscountCodeState",
      "enum": [
        "NotActive",
        "DoesNotMatchCart",
        "MatchesCart",
        "MaxApplicationReached"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "DiscountedLineItemPortion": {
      "title": "DiscountedLineItemPortion",
      "type": "object",
      "properties": {
        "discount": {
          "title": "discount",
          "$ref": "#/definitions/CartDiscountReference"
        },
        "discountedAmount": {
          "title": "discountedAmount",
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "discount",
        "discountedAmount"
      ],
      "x-annotation-package": "Cart"
    },
    "DiscountedLineItemPrice": {
      "title": "DiscountedLineItemPrice",
      "type": "object",
      "properties": {
        "value": {
          "title": "value",
          "$ref": "#/definitions/Money"
        },
        "includedDiscounts": {
          "title": "includedDiscounts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPortion"
          }
        }
      },
      "required": [
        "value",
        "includedDiscounts"
      ],
      "x-annotation-package": "Cart"
    },
    "DiscountedLineItemPriceForQuantity": {
      "title": "DiscountedLineItemPriceForQuantity",
      "type": "object",
      "properties": {
        "quantity": {
          "title": "quantity",
          "type": "number"
        },
        "discountedPrice": {
          "title": "discountedPrice",
          "$ref": "#/definitions/DiscountedLineItemPrice"
        }
      },
      "required": [
        "quantity",
        "discountedPrice"
      ],
      "x-annotation-package": "Cart"
    },
    "ExternalLineItemTotalPrice": {
      "title": "ExternalLineItemTotalPrice",
      "type": "object",
      "properties": {
        "price": {
          "title": "price",
          "$ref": "#/definitions/Money"
        },
        "totalPrice": {
          "title": "totalPrice",
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "price",
        "totalPrice"
      ],
      "x-annotation-package": "Cart"
    },
    "ExternalTaxAmountDraft": {
      "title": "ExternalTaxAmountDraft",
      "type": "object",
      "properties": {
        "totalGross": {
          "title": "totalGross",
          "$ref": "#/definitions/Money"
        },
        "taxRate": {
          "title": "taxRate",
          "$ref": "#/definitions/ExternalTaxRateDraft"
        }
      },
      "required": [
        "totalGross",
        "taxRate"
      ],
      "x-annotation-package": "Cart"
    },
    "ExternalTaxRateDraft": {
      "title": "ExternalTaxRateDraft",
      "type": "object",
      "properties": {
        "name": {
          "title": "name",
          "type": "string"
        },
        "amount": {
          "title": "amount",
          "type": "number"
        },
        "country": {
          "title": "country",
          "type": "string"
        },
        "state": {
          "title": "state",
          "type": "string"
        },
        "subRates": {
          "title": "subRates",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubRate"
          }
        }
      },
      "required": [
        "name",
        "country"
      ],
      "x-annotation-package": "Cart"
    },
    "InventoryMode": {
      "title": "InventoryMode",
      "enum": [
        "TrackOnly",
        "ReserveOnOrder",
        "None"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "LineItem": {
      "title": "LineItem",
      "type": "object",
      "properties": {
        "id": {
          "title": "id",
          "type": "string"
        },
        "productId": {
          "title": "productId",
          "type": "string"
        },
        "name": {
          "title": "name",
          "$ref": "#/definitions/LocalizedString"
        },
        "productSlug": {
          "title": "productSlug",
          "$ref": "#/definitions/LocalizedString"
        },
        "productType": {
          "title": "productType",
          "$ref": "#/definitions/ProductTypeReference"
        },
        "variant": {
          "title": "variant",
          "$ref": "#/definitions/ProductVariant"
        },
        "price": {
          "title": "price",
          "$ref": "#/definitions/Price"
        },
        "taxedPrice": {
          "title": "taxedPrice",
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "totalPrice": {
          "title": "totalPrice",
          "$ref": "#/definitions/Money"
        },
        "quantity": {
          "title": "quantity",
          "type": "number"
        },
        "state": {
          "title": "state",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemState"
          }
        },
        "taxRate": {
          "title": "taxRate",
          "$ref": "#/definitions/TaxRate"
        },
        "supplyChannel": {
          "title": "supplyChannel",
          "$ref": "#/definitions/ChannelReference"
        },
        "distributionChannel": {
          "title": "distributionChannel",
          "$ref": "#/definitions/ChannelReference"
        },
        "discountedPricePerQuantity": {
          "title": "discountedPricePerQuantity",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPriceForQuantity"
          }
        },
        "priceMode": {
          "title": "priceMode",
          "$ref": "#/definitions/LineItemPriceMode"
        },
        "lineItemMode": {
          "title": "lineItemMode",
          "$ref": "#/definitions/LineItemMode"
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFields"
        }
      },
      "required": [
        "id",
        "productId",
        "name",
        "productType",
        "variant",
        "price",
        "totalPrice",
        "quantity",
        "state",
        "discountedPricePerQuantity",
        "priceMode",
        "lineItemMode"
      ],
      "x-annotation-package": "Cart"
    },
    "LineItemDraft": {
      "title": "LineItemDraft",
      "type": "object",
      "properties": {
        "productId": {
          "title": "productId",
          "type": "string"
        },
        "variantId": {
          "title": "variantId",
          "format": "int64",
          "type": "number"
        },
        "sku": {
          "title": "sku",
          "type": "string"
        },
        "quantity": {
          "title": "quantity",
          "default": 1,
          "type": "number"
        },
        "supplyChannel": {
          "title": "supplyChannel",
          "$ref": "#/definitions/ChannelReference"
        },
        "distributionChannel": {
          "title": "distributionChannel",
          "$ref": "#/definitions/ChannelReference"
        },
        "externalTaxRate": {
          "title": "externalTaxRate",
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFieldsDraft"
        },
        "externalPrice": {
          "title": "externalPrice",
          "$ref": "#/definitions/Money"
        },
        "externalTotalPrice": {
          "title": "externalTotalPrice",
          "$ref": "#/definitions/ExternalLineItemTotalPrice"
        }
      },
      "x-annotation-package": "Cart",
      "x-annotation-builder": [
        {
          "paramNames": [
            "productId",
            "variantId",
            "quantity"
          ]
        },
        {
          "paramNames": [
            "sku",
            "quantity"
          ]
        }
      ]
    },
    "LineItemMode": {
      "title": "LineItemMode",
      "enum": [
        "Standard",
        "GiftLineItem"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "LineItemPriceMode": {
      "title": "LineItemPriceMode",
      "enum": [
        "Platform",
        "ExternalTotal",
        "ExternalPrice"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "RoundingMode": {
      "title": "RoundingMode",
      "enum": [
        "HalfEven",
        "HalfUp",
        "HalfDown"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "ShippingInfo": {
      "title": "ShippingInfo",
      "type": "object",
      "properties": {
        "shippingMethodName": {
          "title": "shippingMethodName",
          "type": "string"
        },
        "price": {
          "title": "price",
          "$ref": "#/definitions/Money"
        },
        "shippingRate": {
          "title": "shippingRate",
          "$ref": "#/definitions/ShippingRate"
        },
        "taxedPrice": {
          "title": "taxedPrice",
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "taxRate": {
          "title": "taxRate",
          "$ref": "#/definitions/TaxRate"
        },
        "taxCategory": {
          "title": "taxCategory",
          "$ref": "#/definitions/TaxCategoryReference"
        },
        "shippingMethod": {
          "title": "shippingMethod",
          "$ref": "#/definitions/ShippingMethodReference"
        },
        "deliveries": {
          "title": "deliveries",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Delivery"
          }
        },
        "discountedPrice": {
          "title": "discountedPrice",
          "$ref": "#/definitions/DiscountedLineItemPrice"
        }
      },
      "required": [
        "shippingMethodName",
        "price",
        "shippingRate"
      ],
      "x-annotation-package": "Cart"
    },
    "TaxCalculationMode": {
      "title": "TaxCalculationMode",
      "enum": [
        "LineItemLevel",
        "UnitPriceLevel"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "TaxMode": {
      "title": "TaxMode",
      "enum": [
        "Platform",
        "External",
        "ExternalAmount",
        "Disabled"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "TaxPortion": {
      "title": "TaxPortion",
      "type": "object",
      "properties": {
        "name": {
          "title": "name",
          "type": "string"
        },
        "rate": {
          "title": "rate",
          "minimum": 0,
          "maximum": 1,
          "type": "number"
        },
        "amount": {
          "title": "amount",
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "rate",
        "amount"
      ],
      "x-annotation-package": "Cart"
    },
    "TaxedItemPrice": {
      "title": "TaxedItemPrice",
      "type": "object",
      "properties": {
        "totalNet": {
          "title": "totalNet",
          "$ref": "#/definitions/Money"
        },
        "totalGross": {
          "title": "totalGross",
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "totalNet",
        "totalGross"
      ],
      "x-annotation-package": "Cart"
    },
    "TaxedPrice": {
      "title": "TaxedPrice",
      "type": "object",
      "properties": {
        "totalNet": {
          "title": "totalNet",
          "$ref": "#/definitions/Money"
        },
        "totalGross": {
          "title": "totalGross",
          "$ref": "#/definitions/Money"
        },
        "taxPortions": {
          "title": "taxPortions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxPortion"
          }
        }
      },
      "required": [
        "totalNet",
        "totalGross",
        "taxPortions"
      ],
      "x-annotation-package": "Cart"
    },
    "Category": {
      "title": "Category",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "properties": {
            "name": {
              "title": "name",
              "$ref": "#/definitions/LocalizedString"
            },
            "slug": {
              "title": "slug",
              "$ref": "#/definitions/LocalizedString"
            },
            "description": {
              "title": "description",
              "$ref": "#/definitions/LocalizedString"
            },
            "ancestors": {
              "title": "ancestors",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CategoryReference"
              }
            },
            "parent": {
              "title": "parent",
              "$ref": "#/definitions/CategoryReference"
            },
            "orderHint": {
              "title": "orderHint",
              "type": "string"
            },
            "externalId": {
              "title": "externalId",
              "type": "string"
            },
            "metaTitle": {
              "title": "metaTitle",
              "$ref": "#/definitions/LocalizedString"
            },
            "metaDescription": {
              "title": "metaDescription",
              "$ref": "#/definitions/LocalizedString"
            },
            "metaKeywords": {
              "title": "metaKeywords",
              "$ref": "#/definitions/LocalizedString"
            },
            "custom": {
              "title": "custom",
              "$ref": "#/definitions/CustomFields"
            },
            "assets": {
              "title": "assets",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Asset"
              }
            },
            "key": {
              "title": "key",
              "type": "string"
            }
          },
          "required": [
            "name",
            "slug",
            "ancestors"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryAddAssetAction": {
      "title": "CategoryAddAssetAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "asset": {
              "title": "asset",
              "$ref": "#/definitions/AssetDraft"
            }
          },
          "required": [
            "asset"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryChangeAssetNameAction": {
      "title": "CategoryChangeAssetNameAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "assetId": {
              "title": "assetId",
              "type": "string"
            },
            "name": {
              "title": "name",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "assetId",
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryChangeAssetOrderAction": {
      "title": "CategoryChangeAssetOrderAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "assetOrder": {
              "title": "assetOrder",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "required": [
            "assetOrder"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryChangeNameAction": {
      "title": "CategoryChangeNameAction",
      "example": {
        "action": "changeName",
        "name": {
          "en": "new category name"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "name": {
              "title": "name",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryChangeOrderHintAction": {
      "title": "CategoryChangeOrderHintAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "orderHint": {
              "title": "orderHint",
              "type": "string"
            }
          },
          "required": [
            "orderHint"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryChangeParentAction": {
      "title": "CategoryChangeParentAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "parent": {
              "title": "parent",
              "$ref": "#/definitions/CategoryReference"
            }
          },
          "required": [
            "parent"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryChangeSlugAction": {
      "title": "CategoryChangeSlugAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "slug": {
              "title": "slug",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "slug"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryDraft": {
      "title": "CategoryDraft",
      "type": "object",
      "properties": {
        "name": {
          "title": "name",
          "$ref": "#/definitions/LocalizedString"
        },
        "slug": {
          "title": "slug",
          "$ref": "#/definitions/LocalizedString"
        },
        "description": {
          "title": "description",
          "$ref": "#/definitions/LocalizedString"
        },
        "parent": {
          "title": "parent",
          "$ref": "#/definitions/CategoryReference"
        },
        "orderHint": {
          "title": "orderHint",
          "type": "string"
        },
        "externalId": {
          "title": "externalId",
          "type": "string"
        },
        "metaTitle": {
          "title": "metaTitle",
          "$ref": "#/definitions/LocalizedString"
        },
        "metaDescription": {
          "title": "metaDescription",
          "$ref": "#/definitions/LocalizedString"
        },
        "metaKeywords": {
          "title": "metaKeywords",
          "$ref": "#/definitions/LocalizedString"
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFieldsDraft"
        },
        "assets": {
          "title": "assets",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetDraft"
          }
        },
        "key": {
          "title": "key",
          "type": "string"
        }
      },
      "required": [
        "name",
        "slug"
      ],
      "x-annotation-package": "Category"
    },
    "CategoryPagedQueryResponse": {
      "title": "CategoryPagedQueryResponse",
      "allOf": [
        {
          "$ref": "#/definitions/PagedQueryResponse"
        },
        {
          "properties": {
            "results": {
              "title": "results",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Category"
              }
            }
          },
          "required": [
            "results"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryReference": {
      "title": "CategoryReference",
      "allOf": [
        {
          "$ref": "#/definitions/Reference"
        },
        {
          "properties": {
            "obj": {
              "title": "obj",
              "$ref": "#/definitions/Category"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryRemoveAssetAction": {
      "title": "CategoryRemoveAssetAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "assetId": {
              "title": "assetId",
              "type": "string"
            }
          },
          "required": [
            "assetId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetAssetCustomFieldAction": {
      "title": "CategorySetAssetCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "assetId": {
              "title": "assetId",
              "type": "string"
            },
            "name": {
              "title": "name",
              "type": "string"
            },
            "value": {
              "title": "value",
              "type": "string"
            }
          },
          "required": [
            "assetId",
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetAssetCustomTypeAction": {
      "title": "CategorySetAssetCustomTypeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "assetId": {
              "title": "assetId",
              "type": "string"
            },
            "type": {
              "title": "type",
              "$ref": "#/definitions/TypeReference"
            },
            "fields": {
              "title": "fields",
              "type": "object"
            }
          },
          "required": [
            "assetId",
            "type",
            "fields"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetAssetDescriptionAction": {
      "title": "CategorySetAssetDescriptionAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "assetId": {
              "title": "assetId",
              "type": "string"
            },
            "description": {
              "title": "description",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "assetId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetAssetSourcesAction": {
      "title": "CategorySetAssetSourcesAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "assetId": {
              "title": "assetId",
              "type": "string"
            },
            "sources": {
              "title": "sources",
              "type": "array",
              "items": {
                "$ref": "#/definitions/AssetSource"
              }
            }
          },
          "required": [
            "assetId",
            "sources"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetAssetTagsAction": {
      "title": "CategorySetAssetTagsAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "assetId": {
              "title": "assetId",
              "type": "string"
            },
            "tags": {
              "title": "tags",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "required": [
            "assetId",
            "tags"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetCustomFieldAction": {
      "title": "CategorySetCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "name": {
              "title": "name",
              "type": "string"
            },
            "value": {
              "title": "value",
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetCustomTypeAction": {
      "title": "CategorySetCustomTypeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "type": {
              "title": "type",
              "$ref": "#/definitions/TypeReference"
            },
            "fields": {
              "title": "fields",
              "type": "object"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetDescriptionAction": {
      "title": "CategorySetDescriptionAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "description": {
              "title": "description",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "description"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetExternalIdAction": {
      "title": "CategorySetExternalIdAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "externalId": {
              "title": "externalId",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetKeyAction": {
      "title": "CategorySetKeyAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "key": {
              "title": "key",
              "type": "string"
            }
          },
          "required": [
            "key"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetMetaDescriptionAction": {
      "title": "CategorySetMetaDescriptionAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "metaDescription": {
              "title": "metaDescription",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "metaDescription"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetMetaKeywordsAction": {
      "title": "CategorySetMetaKeywordsAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "metaKeywords": {
              "title": "metaKeywords",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "metaKeywords"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategorySetMetaTitleAction": {
      "title": "CategorySetMetaTitleAction",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryUpdateAction"
        },
        {
          "properties": {
            "metaTitle": {
              "title": "metaTitle",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "metaTitle"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryUpdate": {
      "title": "CategoryUpdate",
      "allOf": [
        {
          "$ref": "#/definitions/Update"
        },
        {
          "properties": {
            "actions": {
              "title": "actions",
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          "required": [
            "actions"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Category"
    },
    "CategoryUpdateAction": {
      "title": "CategoryUpdateAction",
      "discriminator": "action",
      "$ref": "#/definitions/UpdateAction",
      "x-annotation-package": "Category"
    },
    "Channel": {
      "title": "Channel",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "properties": {
            "key": {
              "title": "key",
              "type": "string"
            },
            "roles": {
              "title": "roles",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ChannelRoleEnum"
              }
            },
            "name": {
              "title": "name",
[...]
