{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Commercetools"
  },
  "host": "api.sphere.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth_2_0": {
      "type": "oauth2",
      "flow": "application",
      "scopes": {
        "manage_project:{projectKey}": "",
        "manage_products:{projectKey}": "",
        "view_products:{projectKey}": "",
        "manage_orders:{projectKey}": "",
        "view_orders:{projectKey}": "",
        "manage_customers:{projectKey}": "",
        "view_customers:{projectKey}": "",
        "manage_payments:{projectKey}": "",
        "view_payments:{projectKey}": "",
        "manage_subscriptions:{projectKey}": "",
        "view_subscriptions:{projectKey}": "",
        "manage_types:{projectKey}": "",
        "view_types:{projectKey}": "",
        "view_shopping_lists:{projectKey}": "",
        "manage_shopping_lists:{projectKey}": "",
        "manage_my_orders:{projectKey}": "",
        "manage_my_profile:{projectKey}": "",
        "view_project_settings:{projectKey}": ""
      },
      "description": "HTTP API authorization uses [OAuth2](http://tools.ietf.org/html/rfc6750){:target=\"_blank\"}.\n\nClients must obtain an access token from the auth service using one of\nthe authorization flows described below, before they are able to make authorized requests\nto other SPHERE.IO services. On successful completion of an authorization flow,\na client will be given an `access_token`, which they need to include in requests\nto authorized service endpoints via the HTTP `Authorization` header like this:\n",
      "tokenUrl": "https://auth.sphere.io/oauth/token"
    }
  },
  "paths": {
    "/{projectKey}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "description": "The Endpoint is responding a limited set of information about settings and configuration of the project.",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update project",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ProjectUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/carts": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Create Cart",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CartDraft"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Query carts",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          },
          {
            "$ref": "#/parameters/trait:paging:limit"
          },
          {
            "$ref": "#/parameters/trait:paging:offset"
          },
          {
            "$ref": "#/parameters/trait:paging:withTotal"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/carts/{ID}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "description": "Delete Cart by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:versioned:version"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Get Cart by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update Cart by ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CartUpdate"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/cart-discounts": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Create CartDiscount",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CartDiscountDraft"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CartDiscount"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Query cart-discounts",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          },
          {
            "$ref": "#/parameters/trait:paging:limit"
          },
          {
            "$ref": "#/parameters/trait:paging:offset"
          },
          {
            "$ref": "#/parameters/trait:paging:withTotal"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/cart-discounts/{ID}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "description": "Delete CartDiscount by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:versioned:version"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Get CartDiscount by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update CartDiscount by ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CartDiscountUpdate"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/categories": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Create Category",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CategoryDraft"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Query categories",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          },
          {
            "$ref": "#/parameters/trait:paging:limit"
          },
          {
            "$ref": "#/parameters/trait:paging:offset"
          },
          {
            "$ref": "#/parameters/trait:paging:withTotal"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/categories/{ID}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "description": "Delete Category by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:versioned:version"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Get Category by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update Category by ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CategoryUpdate"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/categories/key={key}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "key",
          "in": "path",
          "description": "key",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "description": "Delete Category by key",
        "parameters": [
          {
            "$ref": "#/parameters/trait:versioned:version"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update Category by key",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Get Category by key",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/channels": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Create Channel",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ChannelDraft"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Query channels",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          },
          {
            "$ref": "#/parameters/trait:paging:limit"
          },
          {
            "$ref": "#/parameters/trait:paging:offset"
          },
          {
            "$ref": "#/parameters/trait:paging:withTotal"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/channels/{ID}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "description": "Delete Channel by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:versioned:version"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Get Channel by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update Channel by ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ChannelUpdate"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customers": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Create Customer",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomerDraft"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomerSignInResult"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Query customers",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          },
          {
            "$ref": "#/parameters/trait:paging:limit"
          },
          {
            "$ref": "#/parameters/trait:paging:offset"
          },
          {
            "$ref": "#/parameters/trait:paging:withTotal"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customers/{ID}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "description": "Delete Customer by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:versioned:version"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Get Customer by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update Customer by ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomerUpdate"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customers/password-token={passwordToken}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "passwordToken",
          "in": "path",
          "description": "passwordToken",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "description": "Get Customer by passwordToken",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customers/email-token={emailToken}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "emailToken",
          "in": "path",
          "description": "emailToken",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "description": "Get Customer by emailToken",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customers/email-token": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Create a Token for verifying the Customer's Email",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomerCreateEmailToken"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customers/email": {},
    "/{projectKey}/customers/email/confirm": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Verifies customer's email using a token.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomerEmailVerify"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customers/password": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Change a customers password",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomerChangePassword"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customers/password/reset": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Set a new password using a token.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomerResetPassword"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customers/password-token": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "The token value is used to reset the password of the customer with the given email. The token is valid only for 10 minutes.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomerCreatePasswordResetToken"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomerToken"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customer-groups": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Create CustomerGroup",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomerGroupDraft"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomerGroup"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Query customer-groups",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          },
          {
            "$ref": "#/parameters/trait:paging:limit"
          },
          {
            "$ref": "#/parameters/trait:paging:offset"
          },
          {
            "$ref": "#/parameters/trait:paging:withTotal"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customer-groups/{ID}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "description": "Delete CustomerGroup by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:versioned:version"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Get CustomerGroup by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update CustomerGroup by ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomerGroupUpdate"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/customer-groups/key={key}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "key",
          "in": "path",
          "description": "key",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "description": "Delete CustomerGroup by key",
        "parameters": [
          {
            "$ref": "#/parameters/trait:versioned:version"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update CustomerGroup by key",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Get CustomerGroup by key",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/discount-codes": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Create DiscountCode",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DiscountCodeDraft"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DiscountCode"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Query discount-codes",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          },
          {
            "$ref": "#/parameters/trait:paging:limit"
          },
          {
            "$ref": "#/parameters/trait:paging:offset"
          },
          {
            "$ref": "#/parameters/trait:paging:withTotal"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/discount-codes/{ID}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "description": "Delete DiscountCode by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:versioned:version"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Get DiscountCode by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update DiscountCode by ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DiscountCodeUpdate"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/inventory": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Create InventoryEntry",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/InventoryEntryDraft"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InventoryEntry"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Query inventory",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          },
          {
            "$ref": "#/parameters/trait:paging:limit"
          },
          {
            "$ref": "#/parameters/trait:paging:offset"
          },
          {
            "$ref": "#/parameters/trait:paging:withTotal"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/inventory/{ID}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "description": "Delete InventoryEntry by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:versioned:version"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Get InventoryEntry by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update InventoryEntry by ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/InventoryEntryUpdate"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/orders": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Create Order",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/OrderFromCartDraft"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Query orders",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          },
          {
            "$ref": "#/parameters/trait:paging:limit"
          },
          {
            "$ref": "#/parameters/trait:paging:offset"
          },
          {
            "$ref": "#/parameters/trait:paging:withTotal"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/orders/{ID}": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        },
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "description": "Delete Order by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:versioned:version"
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "description": "Get Order by ID",
        "parameters": [
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "description": "Update Order by ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/OrderUpdate"
            }
          },
          {
            "$ref": "#/parameters/trait:expandable:expand"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflicting:409"
          },
          "500": {
            "$ref": "#/responses/trait:errorable:500"
          },
          "503": {
            "$ref": "#/responses/trait:errorable:503"
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      }
    },
    "/{projectKey}/orders/import": {
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "description": "projectKey",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "description": "Create an Order by Import",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/OrderImportDraft"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/trait:deprecatable:200"
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorable:400"
          },
          "404": {
            "$ref": "#/responses/trait:errorable:404"
          },
          "500": {
[...]
