{
  "openapi": "3.0.0",
  "info": {
    "title": "Commercetools",
    "version": "undefined"
  },
  "servers": [
    {
      "url": "https://api.europe-west1.gcp.commercetools.com/"
    }
  ],
  "paths": {
    "/{projectKey}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "version": 1,
                    "key": "test-project",
                    "name": "Some project name",
                    "countries": [
                      "DE",
                      "US"
                    ],
                    "currencies": [
                      "EUR"
                    ],
                    "languages": [
                      "en"
                    ],
                    "createdAt": "2013-11-01T15:14:34.325Z",
                    "trialUntil": "2013-11-01T15:14:34.325Z",
                    "messages": {
                      "enabled": false
                    },
                    "carts": {
                      "countryTaxRateFallbackEnabled": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Project",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "The Endpoint is responding a limited set of information about settings and configuration of the project.",
        "operationId": "Get project settings",
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X GET https://api.europe-west1.gcp.commercetools.com/{projectKey} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "version": 1,
                    "key": "test-project",
                    "name": "Some project name",
                    "countries": [
                      "DE",
                      "US"
                    ],
                    "currencies": [
                      "EUR"
                    ],
                    "languages": [
                      "en"
                    ],
                    "createdAt": "2013-11-01T15:14:34.325Z",
                    "trialUntil": "2013-11-01T15:14:34.325Z",
                    "messages": {
                      "enabled": false
                    },
                    "carts": {
                      "countryTaxRateFallbackEnabled": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Project",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Update project",
        "operationId": "Update project settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "x-annotation-includePath": "resources/ByProjectKey.raml",
                "$ref": "#/components/schemas/ProjectUpdate"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKey.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        }
      ],
      "x-annotation-resourceName": "ByProjectKey",
      "x-annotation-resourcePathUri": "/{projectKey}"
    },
    "/{projectKey}/api-clients": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "limit": 20,
                    "offset": 0,
                    "count": 1,
                    "total": 1,
                    "results": [
                      {
                        "id": "api-client-id",
                        "name": "api-client-name",
                        "scope": "view_products",
                        "createdAt": "2018-01-01T00:00:00.001Z",
                        "lastUsedAt": "2017-09-10",
                        "secret": "secret-passphrase"
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiClientPagedQueryResponse",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Query api-clients",
        "operationId": "Query api-clients",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some x-annotation-examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results returned",
            "schema": {
              "maximum": 500,
              "format": "int32",
              "type": "integer"
            },
            "x-annotation-builtinType": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results skipped",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-annotation-builtinType": "integer"
          },
          {
            "name": "withTotal",
            "in": "query",
            "description": "Calculate total number of results",
            "schema": {
              "type": "boolean"
            },
            "x-annotation-builtinType": "boolean"
          },
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          },
          {
            "name": "/^var[.][a-zA-Z0-9]+$/",
            "in": "query",
            "description": "Predicate parameter values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_api_clients:{projectKey}",
              "view_api_clients:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X GET https://api.europe-west1.gcp.commercetools.com/{projectKey}/api-clients -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "id": "api-client-id",
                    "name": "api-client-name",
                    "scope": "view_products",
                    "createdAt": "2018-01-01T00:00:00.001Z",
                    "lastUsedAt": "2017-09-10",
                    "secret": "secret-passphrase"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiClient",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Create ApiClient",
        "operationId": "Create ApiClient",
        "requestBody": {
          "content": {
            "application/json": {
              "x-annotation-example": {
                "default": {
                  "name": "api-client-name",
                  "scope": "view_products"
                }
              },
              "schema": {
                "x-annotation-includePath": "resources/ByProjectKeyApiClients.raml",
                "$ref": "#/components/schemas/ApiClientDraft"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_api_clients:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X POST https://api.europe-west1.gcp.commercetools.com/{projectKey}/api-clients -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}' \\\n--header 'Content-Type: application/json' \\\n--data-binary @- << DATA \n{\n  \"name\" : \"api-client-name\",\n  \"scope\" : \"view_products\"\n}\nDATA"
        }
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyApiClients.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        }
      ],
      "x-annotation-resourceName": "ByProjectKeyApiClients",
      "x-annotation-resourcePathUri": "/{projectKey}/api-clients"
    },
    "/{projectKey}/api-clients/{ID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "id": "api-client-id",
                    "name": "api-client-name",
                    "scope": "view_products",
                    "createdAt": "2018-01-01T00:00:00.001Z",
                    "lastUsedAt": "2017-09-10",
                    "secret": "secret-passphrase"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiClient",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Get ApiClient by ID",
        "operationId": "Get ApiClient by ID",
        "security": [
          {
            "oauth_2_0": [
              "manage_api_clients:{projectKey}",
              "view_api_clients:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X GET https://api.europe-west1.gcp.commercetools.com/{projectKey}/api-clients/{ID} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "id": "api-client-id",
                    "name": "api-client-name",
                    "scope": "view_products",
                    "createdAt": "2018-01-01T00:00:00.001Z",
                    "lastUsedAt": "2017-09-10",
                    "secret": "secret-passphrase"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiClient",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Delete ApiClient by ID",
        "operationId": "Delete ApiClient by ID",
        "security": [
          {
            "oauth_2_0": [
              "manage_api_clients:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X DELETE https://api.europe-west1.gcp.commercetools.com/{projectKey}/api-clients/{ID} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyApiClientsByID.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        },
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyApiClientsByID.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        }
      ],
      "x-annotation-resourceName": "ByProjectKeyApiClientsByID",
      "x-annotation-resourcePathUri": "/{projectKey}/api-clients/{ID}"
    },
    "/{projectKey}/cart-discounts": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "limit": 20,
                    "offset": 0,
                    "count": 1,
                    "total": 1,
                    "results": [
                      {
                        "id": "c2f93298-c967-44af-8c2a-d2220bf39eb2",
                        "version": 1,
                        "createdAt": "1970-01-01T00:00:00.001Z",
                        "lastModifiedAt": "1970-01-01T00:00:00.001Z",
                        "name": {
                          "en": "Summer Sale"
                        },
                        "value": {
                          "type": "relative",
                          "permyriad": 1000
                        },
                        "cartPredicate": "1=1",
                        "target": {
                          "type": "lineItems",
                          "predicate": "1=1"
                        },
                        "sortOrder": "0.1",
                        "isActive": true,
                        "requiresDiscountCode": false,
                        "references": [],
                        "stackingMode": "Stacking"
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CartDiscountPagedQueryResponse",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Query cart-discounts",
        "operationId": "Query cart-discounts",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some x-annotation-examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results returned",
            "schema": {
              "maximum": 500,
              "format": "int32",
              "type": "integer"
            },
            "x-annotation-builtinType": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results skipped",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-annotation-builtinType": "integer"
          },
          {
            "name": "withTotal",
            "in": "query",
            "description": "Calculate total number of results",
            "schema": {
              "type": "boolean"
            },
            "x-annotation-builtinType": "boolean"
          },
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          },
          {
            "name": "/^var[.][a-zA-Z0-9]+$/",
            "in": "query",
            "description": "Predicate parameter values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}",
              "view_cart_discounts:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X GET https://api.europe-west1.gcp.commercetools.com/{projectKey}/cart-discounts -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "id": "c2f93298-c967-44af-8c2a-d2220bf39eb2",
                    "version": 1,
                    "createdAt": "1970-01-01T00:00:00.001Z",
                    "lastModifiedAt": "1970-01-01T00:00:00.001Z",
                    "name": {
                      "en": "Summer Sale"
                    },
                    "value": {
                      "type": "relative",
                      "permyriad": 1000
                    },
                    "cartPredicate": "1=1",
                    "target": {
                      "type": "lineItems",
                      "predicate": "1=1"
                    },
                    "sortOrder": "0.1",
                    "isActive": true,
                    "requiresDiscountCode": false,
                    "references": [],
                    "stackingMode": "Stacking"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CartDiscount",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Create CartDiscount",
        "operationId": "Create CartDiscount",
        "requestBody": {
          "content": {
            "application/json": {
              "x-annotation-example": {
                "default": {
                  "name": {
                    "en": "Summer Sale"
                  },
                  "value": {
                    "type": "relative",
                    "permyriad": 1000
                  },
                  "cartPredicate": "1=1",
                  "target": {
                    "type": "lineItems",
                    "predicate": "1=1"
                  },
                  "sortOrder": "0.1",
                  "isActive": true,
                  "requiresDiscountCode": false
                }
              },
              "schema": {
                "x-annotation-includePath": "resources/ByProjectKeyCartDiscounts.raml",
                "$ref": "#/components/schemas/CartDiscountDraft"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}",
              "manage_cart_discounts:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X POST https://api.europe-west1.gcp.commercetools.com/{projectKey}/cart-discounts -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}' \\\n--header 'Content-Type: application/json' \\\n--data-binary @- << DATA \n{\n  \"name\" : {\n    \"en\" : \"Summer Sale\"\n  },\n  \"value\" : {\n    \"type\" : \"relative\",\n    \"permyriad\" : 1000\n  },\n  \"cartPredicate\" : \"1=1\",\n  \"target\" : {\n    \"type\" : \"lineItems\",\n    \"predicate\" : \"1=1\"\n  },\n  \"sortOrder\" : \"0.1\",\n  \"isActive\" : true,\n  \"requiresDiscountCode\" : false\n}\nDATA"
        }
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyCartDiscounts.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        }
      ],
      "x-annotation-resourceName": "ByProjectKeyCartDiscounts",
      "x-annotation-resourcePathUri": "/{projectKey}/cart-discounts"
    },
    "/{projectKey}/cart-discounts/key={key}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "id": "c2f93298-c967-44af-8c2a-d2220bf39eb2",
                    "version": 1,
                    "createdAt": "1970-01-01T00:00:00.001Z",
                    "lastModifiedAt": "1970-01-01T00:00:00.001Z",
                    "name": {
                      "en": "Summer Sale"
                    },
                    "value": {
                      "type": "relative",
                      "permyriad": 1000
                    },
                    "cartPredicate": "1=1",
                    "target": {
                      "type": "lineItems",
                      "predicate": "1=1"
                    },
                    "sortOrder": "0.1",
                    "isActive": true,
                    "requiresDiscountCode": false,
                    "references": [],
                    "stackingMode": "Stacking"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CartDiscount",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Get CartDiscount by key",
        "operationId": "Get CartDiscount by key",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}",
              "view_cart_discounts:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X GET https://api.europe-west1.gcp.commercetools.com/{projectKey}/cart-discounts/key={key} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "id": "c2f93298-c967-44af-8c2a-d2220bf39eb2",
                    "version": 1,
                    "createdAt": "1970-01-01T00:00:00.001Z",
                    "lastModifiedAt": "1970-01-01T00:00:00.001Z",
                    "name": {
                      "en": "Summer Sale"
                    },
                    "value": {
                      "type": "relative",
                      "permyriad": 1000
                    },
                    "cartPredicate": "1=1",
                    "target": {
                      "type": "lineItems",
                      "predicate": "1=1"
                    },
                    "sortOrder": "0.1",
                    "isActive": true,
                    "requiresDiscountCode": false,
                    "references": [],
                    "stackingMode": "Stacking"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CartDiscount",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Update CartDiscount by key",
        "operationId": "Update CartDiscount by key",
        "requestBody": {
          "content": {
            "application/json": {
              "x-annotation-example": {
                "default": {
                  "version": 1,
                  "actions": [
                    {
                      "action": "changeValue",
                      "value": {
                        "type": "relative",
                        "permyriad": 1000
                      }
                    }
                  ]
                }
              },
              "schema": {
                "x-annotation-includePath": "resources/ByProjectKeyCartDiscountsKeyByKey.raml",
                "$ref": "#/components/schemas/CartDiscountUpdate"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}",
              "manage_cart_discounts:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X POST https://api.europe-west1.gcp.commercetools.com/{projectKey}/cart-discounts/key={key} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}' \\\n--header 'Content-Type: application/json' \\\n--data-binary @- << DATA \n{\n  \"version\" : 1,\n  \"actions\" : [ {\n    \"action\" : \"changeValue\",\n    \"value\" : {\n      \"type\" : \"relative\",\n      \"permyriad\" : 1000\n    }\n  } ]\n}\nDATA"
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "id": "c2f93298-c967-44af-8c2a-d2220bf39eb2",
                    "version": 1,
                    "createdAt": "1970-01-01T00:00:00.001Z",
                    "lastModifiedAt": "1970-01-01T00:00:00.001Z",
                    "name": {
                      "en": "Summer Sale"
                    },
                    "value": {
                      "type": "relative",
                      "permyriad": 1000
                    },
                    "cartPredicate": "1=1",
                    "target": {
                      "type": "lineItems",
                      "predicate": "1=1"
                    },
                    "sortOrder": "0.1",
                    "isActive": true,
                    "requiresDiscountCode": false,
                    "references": [],
                    "stackingMode": "Stacking"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CartDiscount",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Delete CartDiscount by key",
        "operationId": "Delete CartDiscount by key",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "required": true,
            "description": "Last seen version of the resource",
            "schema": {
              "format": "int64",
              "type": "integer"
            },
            "x-annotation-builtinType": "integer"
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}",
              "manage_cart_discounts:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X DELETE https://api.europe-west1.gcp.commercetools.com/{projectKey}/cart-discounts/key={key}?version={version} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyCartDiscountsKeyByKey.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        },
        {
          "name": "key",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyCartDiscountsKeyByKey.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        }
      ],
      "x-annotation-resourceName": "ByProjectKeyCartDiscountsKeyByKey",
      "x-annotation-resourcePathUri": "/{projectKey}/cart-discounts/key={key}"
    },
    "/{projectKey}/cart-discounts/{ID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "id": "c2f93298-c967-44af-8c2a-d2220bf39eb2",
                    "version": 1,
                    "createdAt": "1970-01-01T00:00:00.001Z",
                    "lastModifiedAt": "1970-01-01T00:00:00.001Z",
                    "name": {
                      "en": "Summer Sale"
                    },
                    "value": {
                      "type": "relative",
                      "permyriad": 1000
                    },
                    "cartPredicate": "1=1",
                    "target": {
                      "type": "lineItems",
                      "predicate": "1=1"
                    },
                    "sortOrder": "0.1",
                    "isActive": true,
                    "requiresDiscountCode": false,
                    "references": [],
                    "stackingMode": "Stacking"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CartDiscount",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Get CartDiscount by ID",
        "operationId": "Get CartDiscount by ID",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}",
              "view_cart_discounts:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X GET https://api.europe-west1.gcp.commercetools.com/{projectKey}/cart-discounts/{ID} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "id": "c2f93298-c967-44af-8c2a-d2220bf39eb2",
                    "version": 1,
                    "createdAt": "1970-01-01T00:00:00.001Z",
                    "lastModifiedAt": "1970-01-01T00:00:00.001Z",
                    "name": {
                      "en": "Summer Sale"
                    },
                    "value": {
                      "type": "relative",
                      "permyriad": 1000
                    },
                    "cartPredicate": "1=1",
                    "target": {
                      "type": "lineItems",
                      "predicate": "1=1"
                    },
                    "sortOrder": "0.1",
                    "isActive": true,
                    "requiresDiscountCode": false,
                    "references": [],
                    "stackingMode": "Stacking"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CartDiscount",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Update CartDiscount by ID",
        "operationId": "Update CartDiscount by ID",
        "requestBody": {
          "content": {
            "application/json": {
              "x-annotation-example": {
                "default": {
                  "version": 1,
                  "actions": [
                    {
                      "action": "changeValue",
                      "value": {
                        "type": "relative",
                        "permyriad": 1000
                      }
                    }
                  ]
                }
              },
              "schema": {
                "x-annotation-includePath": "resources/ByProjectKeyCartDiscountsByID.raml",
                "$ref": "#/components/schemas/CartDiscountUpdate"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}",
              "manage_cart_discounts:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X POST https://api.europe-west1.gcp.commercetools.com/{projectKey}/cart-discounts/{ID} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}' \\\n--header 'Content-Type: application/json' \\\n--data-binary @- << DATA \n{\n  \"version\" : 1,\n  \"actions\" : [ {\n    \"action\" : \"changeValue\",\n    \"value\" : {\n      \"type\" : \"relative\",\n      \"permyriad\" : 1000\n    }\n  } ]\n}\nDATA"
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "id": "c2f93298-c967-44af-8c2a-d2220bf39eb2",
                    "version": 1,
                    "createdAt": "1970-01-01T00:00:00.001Z",
                    "lastModifiedAt": "1970-01-01T00:00:00.001Z",
                    "name": {
                      "en": "Summer Sale"
                    },
                    "value": {
                      "type": "relative",
                      "permyriad": 1000
                    },
                    "cartPredicate": "1=1",
                    "target": {
                      "type": "lineItems",
                      "predicate": "1=1"
                    },
                    "sortOrder": "0.1",
                    "isActive": true,
                    "requiresDiscountCode": false,
                    "references": [],
                    "stackingMode": "Stacking"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CartDiscount",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Delete CartDiscount by ID",
        "operationId": "Delete CartDiscount by ID",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "required": true,
            "description": "Last seen version of the resource",
            "schema": {
              "format": "int64",
              "type": "integer"
            },
            "x-annotation-builtinType": "integer"
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}",
              "manage_cart_discounts:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X DELETE https://api.europe-west1.gcp.commercetools.com/{projectKey}/cart-discounts/{ID}?version={version} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyCartDiscountsByID.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        },
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyCartDiscountsByID.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        }
      ],
      "x-annotation-resourceName": "ByProjectKeyCartDiscountsByID",
      "x-annotation-resourcePathUri": "/{projectKey}/cart-discounts/{ID}"
    },
    "/{projectKey}/carts": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "limit": 20,
                    "offset": 0,
                    "count": 2,
                    "total": 2,
                    "results": [
                      {
                        "type": "Cart",
                        "id": "2a3baa00-44fa-4ab8-bec7-933c31e18dcc",
                        "version": 5,
                        "createdAt": "2015-09-22T15:36:17.510Z",
                        "lastModifiedAt": "2015-09-22T15:41:55.816Z",
                        "lineItems": [
                          {
                            "id": "b925a817-d5ad-48bb-a407-29ad8e0649b5",
                            "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                            "name": {
                              "en": "SAPPHIRE"
                            },
                            "productType": {
                              "typeId": "product-type",
                              "id": "2543e1d8-4915-4f72-a3c9-1df9b1b0082d",
                              "version": 8
                            },
                            "productSlug": {
                              "en": "sapphire1421832124423"
                            },
                            "variant": {
                              "id": 1,
                              "sku": "sku_SAPPHIRE_variant1_1421832124423",
                              "prices": [
                                {
                                  "value": {
                                    "type": "centPrecision",
                                    "fractionDigits": 2,
                                    "currencyCode": "EUR",
                                    "centAmount": 2800
                                  },
                                  "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                                }
                              ],
                              "images": [
                                {
                                  "url": "https://www.commercetools.com/cli/data/252542005_1.jpg",
                                  "dimensions": {
                                    "w": 1400,
                                    "h": 1400
                                  }
                                }
                              ],
                              "attributes": [],
                              "assets": []
                            },
                            "price": {
                              "value": {
                                "type": "centPrecision",
                                "fractionDigits": 2,
                                "currencyCode": "EUR",
                                "centAmount": 2800
                              },
                              "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                            },
                            "quantity": 2,
                            "discountedPricePerQuantity": [],
                            "state": [
                              {
                                "quantity": 2,
                                "state": {
                                  "typeId": "state",
                                  "id": "7c2e2694-aefe-43d7-888e-6a99514caaca"
                                }
                              }
                            ],
                            "priceMode": "Platform",
                            "lineItemMode": "Standard",
                            "totalPrice": {
                              "type": "centPrecision",
                              "fractionDigits": 2,
                              "currencyCode": "EUR",
                              "centAmount": 5600
                            }
                          }
                        ],
                        "cartState": "Active",
                        "totalPrice": {
                          "type": "centPrecision",
                          "fractionDigits": 2,
                          "currencyCode": "EUR",
                          "centAmount": 5600
                        },
                        "customLineItems": [],
                        "discountCodes": [],
                        "inventoryMode": "None",
                        "taxMode": "Platform",
                        "taxRoundingMode": "HalfEven",
                        "taxCalculationMode": "LineItemLevel",
                        "refusedGifts": [],
                        "origin": "Customer"
                      },
                      {
                        "type": "Cart",
                        "id": "668e5783-73c8-4f2d-91f4-3c90b872c700",
                        "version": 3,
                        "createdAt": "2015-10-07T07:33:05.894Z",
                        "lastModifiedAt": "2015-10-07T07:33:06.070Z",
                        "lineItems": [
                          {
                            "id": "90dff06c-272e-47fa-b8de-923dce092474",
                            "productId": "7b1203f4-66c0-438c-9a30-f4fb6be79bdf",
                            "name": {
                              "de": "WB ATHLETIC PANZER",
                              "en": "WB ATHLETIC TANK"
                            },
                            "productType": {
                              "typeId": "product-type",
                              "id": "2543e1d8-4915-4f72-a3c9-1df9b1b0082d",
                              "version": 8
                            },
                            "productSlug": {
                              "en": "wb-athletic-tank1421832124574"
                            },
                            "variant": {
                              "id": 1,
                              "sku": "sku_WB_ATHLETIC_TANK_variant1_1421832124574",
                              "prices": [
                                {
                                  "value": {
                                    "type": "centPrecision",
                                    "fractionDigits": 2,
                                    "currencyCode": "EUR",
                                    "centAmount": 8400
                                  },
                                  "id": "37696f7c-8260-4941-a921-68e6aa76b4a3"
                                }
                              ],
                              "images": [
                                {
                                  "url": "https://www.commercetools.com/cli/data/253265444_1.jpg",
                                  "dimensions": {
                                    "w": 1400,
                                    "h": 1400
                                  }
                                }
                              ],
                              "attributes": [],
                              "assets": []
                            },
                            "price": {
                              "value": {
                                "type": "centPrecision",
                                "fractionDigits": 2,
                                "currencyCode": "EUR",
                                "centAmount": 8400
                              },
                              "id": "37696f7c-8260-4941-a921-68e6aa76b4a3"
                            },
                            "quantity": 1,
                            "discountedPricePerQuantity": [],
                            "state": [
                              {
                                "quantity": 1,
                                "state": {
                                  "typeId": "state",
                                  "id": "7c2e2694-aefe-43d7-888e-6a99514caaca"
                                }
                              }
                            ],
                            "priceMode": "Platform",
                            "lineItemMode": "Standard",
                            "totalPrice": {
                              "type": "centPrecision",
                              "fractionDigits": 2,
                              "currencyCode": "EUR",
                              "centAmount": 8400
                            },
                            "custom": {
                              "type": {
                                "typeId": "type",
                                "id": "3ae9bcca-df23-443e-bd22-0c592f9694fa"
                              },
                              "fields": {
                                "offer_name": "SuperMax"
                              }
                            }
                          }
                        ],
                        "cartState": "Active",
                        "totalPrice": {
                          "type": "centPrecision",
                          "fractionDigits": 2,
                          "currencyCode": "EUR",
                          "centAmount": 8400
                        },
                        "country": "DE",
                        "customLineItems": [],
                        "discountCodes": [],
                        "inventoryMode": "None",
                        "taxMode": "Platform",
                        "taxRoundingMode": "HalfEven",
                        "taxCalculationMode": "LineItemLevel",
                        "refusedGifts": [],
                        "origin": "Customer"
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CartPagedQueryResponse",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Query carts",
        "operationId": "Query carts",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-annotation-builtinType": "string"
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some x-annotation-examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results returned",
            "schema": {
              "maximum": 500,
              "format": "int32",
              "type": "integer"
            },
            "x-annotation-builtinType": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results skipped",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-annotation-builtinType": "integer"
          },
          {
            "name": "withTotal",
            "in": "query",
            "description": "Calculate total number of results",
            "schema": {
              "type": "boolean"
            },
            "x-annotation-builtinType": "boolean"
          },
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          },
          {
            "name": "/^var[.][a-zA-Z0-9]+$/",
            "in": "query",
            "description": "Predicate parameter values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X GET https://api.europe-west1.gcp.commercetools.com/{projectKey}/carts -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "type": "Cart",
                    "id": "2a3baa00-44fa-4ab8-bec7-933c31e18dcc",
                    "key": "test-key",
                    "version": 5,
                    "createdAt": "2015-09-22T15:36:17.510Z",
                    "lastModifiedAt": "2015-09-22T15:41:55.816Z",
                    "lineItems": [
                      {
                        "id": "b925a817-d5ad-48bb-a407-29ad8e0649b5",
                        "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                        "name": {
                          "en": "SAPPHIRE"
                        },
                        "productType": {
                          "typeId": "product-type",
                          "id": "2543e1d8-4915-4f72-a3c9-1df9b1b0082d",
                          "version": 8
                        },
                        "productSlug": {
                          "en": "sapphire1421832124423"
                        },
                        "variant": {
                          "id": 1,
                          "sku": "sku_SAPPHIRE_variant1_1421832124423",
                          "prices": [
                            {
                              "value": {
                                "type": "centPrecision",
                                "fractionDigits": 2,
                                "currencyCode": "EUR",
                                "centAmount": 2800
                              },
                              "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                            }
                          ],
                          "images": [
                            {
                              "url": "https://www.commercetools.com/cli/data/252542005_1.jpg",
                              "dimensions": {
                                "w": 1400,
                                "h": 1400
                              }
                            }
                          ],
                          "attributes": [],
                          "assets": []
                        },
                        "price": {
                          "value": {
                            "type": "centPrecision",
                            "fractionDigits": 2,
                            "currencyCode": "EUR",
                            "centAmount": 2800
                          },
                          "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                        },
                        "quantity": 2,
                        "discountedPricePerQuantity": [],
                        "state": [
                          {
                            "quantity": 2,
                            "state": {
                              "typeId": "state",
                              "id": "7c2e2694-aefe-43d7-888e-6a99514caaca"
                            }
                          }
                        ],
                        "priceMode": "Platform",
                        "lineItemMode": "Standard",
                        "totalPrice": {
                          "type": "centPrecision",
                          "fractionDigits": 2,
                          "currencyCode": "EUR",
                          "centAmount": 5600
                        }
                      }
                    ],
                    "store": {
                      "typeId": "store",
                      "key": "test-key"
                    },
                    "cartState": "Active",
                    "totalPrice": {
                      "type": "centPrecision",
                      "fractionDigits": 2,
                      "currencyCode": "EUR",
                      "centAmount": 5600
                    },
                    "customLineItems": [],
                    "discountCodes": [],
                    "inventoryMode": "None",
                    "taxMode": "Platform",
                    "taxRoundingMode": "HalfEven",
                    "taxCalculationMode": "LineItemLevel",
                    "refusedGifts": [],
                    "origin": "Customer"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Cart",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Creating a cart can fail with an InvalidOperation if the referenced shipping method in the\nCartDraft has a predicate which does not match the cart.",
        "operationId": "Create Cart",
        "requestBody": {
          "content": {
            "application/json": {
              "x-annotation-example": {
                "default": {
                  "currency": "EUR"
                }
              },
              "schema": {
                "x-annotation-includePath": "resources/ByProjectKeyCarts.raml",
                "$ref": "#/components/schemas/CartDraft"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X POST https://api.europe-west1.gcp.commercetools.com/{projectKey}/carts -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}' \\\n--header 'Content-Type: application/json' \\\n--data-binary @- << DATA \n{\n  \"currency\" : \"EUR\"\n}\nDATA"
        }
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyCarts.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        }
      ],
      "x-annotation-resourceName": "ByProjectKeyCarts",
      "x-annotation-resourcePathUri": "/{projectKey}/carts"
    },
    "/{projectKey}/carts/customer-id={customerId}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "type": "Cart",
                    "id": "2a3baa00-44fa-4ab8-bec7-933c31e18dcc",
                    "key": "test-key",
                    "version": 5,
                    "createdAt": "2015-09-22T15:36:17.510Z",
                    "lastModifiedAt": "2015-09-22T15:41:55.816Z",
                    "lineItems": [
                      {
                        "id": "b925a817-d5ad-48bb-a407-29ad8e0649b5",
                        "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                        "name": {
                          "en": "SAPPHIRE"
                        },
                        "productType": {
                          "typeId": "product-type",
                          "id": "2543e1d8-4915-4f72-a3c9-1df9b1b0082d",
                          "version": 8
                        },
                        "productSlug": {
                          "en": "sapphire1421832124423"
                        },
                        "variant": {
                          "id": 1,
                          "sku": "sku_SAPPHIRE_variant1_1421832124423",
                          "prices": [
                            {
                              "value": {
                                "type": "centPrecision",
                                "fractionDigits": 2,
                                "currencyCode": "EUR",
                                "centAmount": 2800
                              },
                              "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                            }
                          ],
                          "images": [
                            {
                              "url": "https://www.commercetools.com/cli/data/252542005_1.jpg",
                              "dimensions": {
                                "w": 1400,
                                "h": 1400
                              }
                            }
                          ],
                          "attributes": [],
                          "assets": []
                        },
                        "price": {
                          "value": {
                            "type": "centPrecision",
                            "fractionDigits": 2,
                            "currencyCode": "EUR",
                            "centAmount": 2800
                          },
                          "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                        },
                        "quantity": 2,
                        "discountedPricePerQuantity": [],
                        "state": [
                          {
                            "quantity": 2,
                            "state": {
                              "typeId": "state",
                              "id": "7c2e2694-aefe-43d7-888e-6a99514caaca"
                            }
                          }
                        ],
                        "priceMode": "Platform",
                        "lineItemMode": "Standard",
                        "totalPrice": {
                          "type": "centPrecision",
                          "fractionDigits": 2,
                          "currencyCode": "EUR",
                          "centAmount": 5600
                        }
                      }
                    ],
                    "store": {
                      "typeId": "store",
                      "key": "test-key"
                    },
                    "cartState": "Active",
                    "totalPrice": {
                      "type": "centPrecision",
                      "fractionDigits": 2,
                      "currencyCode": "EUR",
                      "centAmount": 5600
                    },
                    "customLineItems": [],
                    "discountCodes": [],
                    "inventoryMode": "None",
                    "taxMode": "Platform",
                    "taxRoundingMode": "HalfEven",
                    "taxCalculationMode": "LineItemLevel",
                    "refusedGifts": [],
                    "origin": "Customer"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Cart",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Retrieves the active cart of the customer that has been modified most recently.\nIt does not consider carts with CartOrigin Merchant. If no active cart exists, a 404 Not Found error is returned.\n\nThe cart may not contain up-to-date prices, discounts etc. If you want to ensure they're up-to-date,\nsend an Update request with the Recalculate update action instead.",
        "operationId": "Get Cart by customerId",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X GET https://api.europe-west1.gcp.commercetools.com/{projectKey}/carts/customer-id={customerId} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyCartsCustomerIdByCustomerId.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        },
        {
          "name": "customerId",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyCartsCustomerIdByCustomerId.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        }
      ],
      "x-annotation-resourceName": "ByProjectKeyCartsCustomerIdByCustomerId",
      "x-annotation-resourcePathUri": "/{projectKey}/carts/customer-id={customerId}"
    },
    "/{projectKey}/carts/key={key}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "type": "Cart",
                    "id": "2a3baa00-44fa-4ab8-bec7-933c31e18dcc",
                    "key": "test-key",
                    "version": 5,
                    "createdAt": "2015-09-22T15:36:17.510Z",
                    "lastModifiedAt": "2015-09-22T15:41:55.816Z",
                    "lineItems": [
                      {
                        "id": "b925a817-d5ad-48bb-a407-29ad8e0649b5",
                        "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                        "name": {
                          "en": "SAPPHIRE"
                        },
                        "productType": {
                          "typeId": "product-type",
                          "id": "2543e1d8-4915-4f72-a3c9-1df9b1b0082d",
                          "version": 8
                        },
                        "productSlug": {
                          "en": "sapphire1421832124423"
                        },
                        "variant": {
                          "id": 1,
                          "sku": "sku_SAPPHIRE_variant1_1421832124423",
                          "prices": [
                            {
                              "value": {
                                "type": "centPrecision",
                                "fractionDigits": 2,
                                "currencyCode": "EUR",
                                "centAmount": 2800
                              },
                              "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                            }
                          ],
                          "images": [
                            {
                              "url": "https://www.commercetools.com/cli/data/252542005_1.jpg",
                              "dimensions": {
                                "w": 1400,
                                "h": 1400
                              }
                            }
                          ],
                          "attributes": [],
                          "assets": []
                        },
                        "price": {
                          "value": {
                            "type": "centPrecision",
                            "fractionDigits": 2,
                            "currencyCode": "EUR",
                            "centAmount": 2800
                          },
                          "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                        },
                        "quantity": 2,
                        "discountedPricePerQuantity": [],
                        "state": [
                          {
                            "quantity": 2,
                            "state": {
                              "typeId": "state",
                              "id": "7c2e2694-aefe-43d7-888e-6a99514caaca"
                            }
                          }
                        ],
                        "priceMode": "Platform",
                        "lineItemMode": "Standard",
                        "totalPrice": {
                          "type": "centPrecision",
                          "fractionDigits": 2,
                          "currencyCode": "EUR",
                          "centAmount": 5600
                        }
                      }
                    ],
                    "store": {
                      "typeId": "store",
                      "key": "test-key"
                    },
                    "cartState": "Active",
                    "totalPrice": {
                      "type": "centPrecision",
                      "fractionDigits": 2,
                      "currencyCode": "EUR",
                      "centAmount": 5600
                    },
                    "customLineItems": [],
                    "discountCodes": [],
                    "inventoryMode": "None",
                    "taxMode": "Platform",
                    "taxRoundingMode": "HalfEven",
                    "taxCalculationMode": "LineItemLevel",
                    "refusedGifts": [],
                    "origin": "Customer"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Cart",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "The cart may not contain up-to-date prices, discounts etc.\nIf you want to ensure they're up-to-date, send an Update request with the Recalculate update action instead.",
        "operationId": "Get Cart by key",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "view_orders:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X GET https://api.europe-west1.gcp.commercetools.com/{projectKey}/carts/key={key} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "type": "Cart",
                    "id": "2a3baa00-44fa-4ab8-bec7-933c31e18dcc",
                    "key": "test-key",
                    "version": 5,
                    "createdAt": "2015-09-22T15:36:17.510Z",
                    "lastModifiedAt": "2015-09-22T15:41:55.816Z",
                    "lineItems": [
                      {
                        "id": "b925a817-d5ad-48bb-a407-29ad8e0649b5",
                        "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                        "name": {
                          "en": "SAPPHIRE"
                        },
                        "productType": {
                          "typeId": "product-type",
                          "id": "2543e1d8-4915-4f72-a3c9-1df9b1b0082d",
                          "version": 8
                        },
                        "productSlug": {
                          "en": "sapphire1421832124423"
                        },
                        "variant": {
                          "id": 1,
                          "sku": "sku_SAPPHIRE_variant1_1421832124423",
                          "prices": [
                            {
                              "value": {
                                "type": "centPrecision",
                                "fractionDigits": 2,
                                "currencyCode": "EUR",
                                "centAmount": 2800
                              },
                              "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                            }
                          ],
                          "images": [
                            {
                              "url": "https://www.commercetools.com/cli/data/252542005_1.jpg",
                              "dimensions": {
                                "w": 1400,
                                "h": 1400
                              }
                            }
                          ],
                          "attributes": [],
                          "assets": []
                        },
                        "price": {
                          "value": {
                            "type": "centPrecision",
                            "fractionDigits": 2,
                            "currencyCode": "EUR",
                            "centAmount": 2800
                          },
                          "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                        },
                        "quantity": 2,
                        "discountedPricePerQuantity": [],
                        "state": [
                          {
                            "quantity": 2,
                            "state": {
                              "typeId": "state",
                              "id": "7c2e2694-aefe-43d7-888e-6a99514caaca"
                            }
                          }
                        ],
                        "priceMode": "Platform",
                        "lineItemMode": "Standard",
                        "totalPrice": {
                          "type": "centPrecision",
                          "fractionDigits": 2,
                          "currencyCode": "EUR",
                          "centAmount": 5600
                        }
                      }
                    ],
                    "store": {
                      "typeId": "store",
                      "key": "test-key"
                    },
                    "cartState": "Active",
                    "totalPrice": {
                      "type": "centPrecision",
                      "fractionDigits": 2,
                      "currencyCode": "EUR",
                      "centAmount": 5600
                    },
                    "customLineItems": [],
                    "discountCodes": [],
                    "inventoryMode": "None",
                    "taxMode": "Platform",
                    "taxRoundingMode": "HalfEven",
                    "taxCalculationMode": "LineItemLevel",
                    "refusedGifts": [],
                    "origin": "Customer"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Cart",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Update Cart by key",
        "operationId": "Update Cart by key",
        "requestBody": {
          "content": {
            "application/json": {
              "x-annotation-example": {
                "default": {
                  "version": 1,
                  "actions": [
                    {
                      "action": "addLineItem",
                      "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                      "variantId": 1,
                      "quantity": 1
                    }
                  ]
                }
              },
              "schema": {
                "x-annotation-includePath": "resources/ByProjectKeyCartsKeyByKey.raml",
                "$ref": "#/components/schemas/CartUpdate"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_orders:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X POST https://api.europe-west1.gcp.commercetools.com/{projectKey}/carts/key={key} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}' \\\n--header 'Content-Type: application/json' \\\n--data-binary @- << DATA \n{\n  \"version\" : 1,\n  \"actions\" : [ {\n    \"action\" : \"addLineItem\",\n    \"productId\" : \"9f10dcfb-5cc9-4a18-843a-c07f7e22d01f\",\n    \"variantId\" : 1,\n    \"quantity\" : 1\n  } ]\n}\nDATA"
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "type": "Cart",
                    "id": "2a3baa00-44fa-4ab8-bec7-933c31e18dcc",
                    "key": "test-key",
                    "version": 5,
                    "createdAt": "2015-09-22T15:36:17.510Z",
                    "lastModifiedAt": "2015-09-22T15:41:55.816Z",
                    "lineItems": [
                      {
                        "id": "b925a817-d5ad-48bb-a407-29ad8e0649b5",
                        "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                        "name": {
                          "en": "SAPPHIRE"
                        },
                        "productType": {
                          "typeId": "product-type",
                          "id": "2543e1d8-4915-4f72-a3c9-1df9b1b0082d",
                          "version": 8
                        },
                        "productSlug": {
                          "en": "sapphire1421832124423"
                        },
                        "variant": {
                          "id": 1,
                          "sku": "sku_SAPPHIRE_variant1_1421832124423",
                          "prices": [
                            {
                              "value": {
                                "type": "centPrecision",
                                "fractionDigits": 2,
                                "currencyCode": "EUR",
                                "centAmount": 2800
                              },
                              "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                            }
                          ],
                          "images": [
                            {
                              "url": "https://www.commercetools.com/cli/data/252542005_1.jpg",
                              "dimensions": {
                                "w": 1400,
                                "h": 1400
                              }
                            }
                          ],
                          "attributes": [],
                          "assets": []
                        },
                        "price": {
                          "value": {
                            "type": "centPrecision",
                            "fractionDigits": 2,
                            "currencyCode": "EUR",
                            "centAmount": 2800
                          },
                          "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                        },
                        "quantity": 2,
                        "discountedPricePerQuantity": [],
                        "state": [
                          {
                            "quantity": 2,
                            "state": {
                              "typeId": "state",
                              "id": "7c2e2694-aefe-43d7-888e-6a99514caaca"
                            }
                          }
                        ],
                        "priceMode": "Platform",
                        "lineItemMode": "Standard",
                        "totalPrice": {
                          "type": "centPrecision",
                          "fractionDigits": 2,
                          "currencyCode": "EUR",
                          "centAmount": 5600
                        }
                      }
                    ],
                    "store": {
                      "typeId": "store",
                      "key": "test-key"
                    },
                    "cartState": "Active",
                    "totalPrice": {
                      "type": "centPrecision",
                      "fractionDigits": 2,
                      "currencyCode": "EUR",
                      "centAmount": 5600
                    },
                    "customLineItems": [],
                    "discountCodes": [],
                    "inventoryMode": "None",
                    "taxMode": "Platform",
                    "taxRoundingMode": "HalfEven",
                    "taxCalculationMode": "LineItemLevel",
                    "refusedGifts": [],
                    "origin": "Customer"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Cart",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "description": "Delete Cart by key",
        "operationId": "Delete Cart by key",
        "parameters": [
          {
            "name": "dataErasure",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-annotation-builtinType": "boolean"
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "description": "Last seen version of the resource",
            "schema": {
              "format": "int64",
              "type": "integer"
            },
            "x-annotation-builtinType": "integer"
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-annotation-builtinType": "array"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_orders:{projectKey}"
            ]
          }
        ],
        "x-annotation-codeExamples": {
          "curl": "curl -X DELETE https://api.europe-west1.gcp.commercetools.com/{projectKey}/carts/key={key}?version={version} -i \\\n--header 'Authorization: Bearer ${BEARER_TOKEN}'"
        }
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyCartsKeyByKey.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        },
        {
          "name": "key",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyCartsKeyByKey.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        }
      ],
      "x-annotation-resourceName": "ByProjectKeyCartsKeyByKey",
      "x-annotation-resourcePathUri": "/{projectKey}/carts/key={key}"
    },
    "/{projectKey}/carts/replicate": {
      "post": {
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "type": "Cart",
                    "id": "2a3baa00-44fa-4ab8-bec7-933c31e18dcc",
                    "key": "test-key",
                    "version": 5,
                    "createdAt": "2015-09-22T15:36:17.510Z",
                    "lastModifiedAt": "2015-09-22T15:41:55.816Z",
                    "lineItems": [
                      {
                        "id": "b925a817-d5ad-48bb-a407-29ad8e0649b5",
                        "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                        "name": {
                          "en": "SAPPHIRE"
                        },
                        "productType": {
                          "typeId": "product-type",
                          "id": "2543e1d8-4915-4f72-a3c9-1df9b1b0082d",
                          "version": 8
                        },
                        "productSlug": {
                          "en": "sapphire1421832124423"
                        },
                        "variant": {
                          "id": 1,
                          "sku": "sku_SAPPHIRE_variant1_1421832124423",
                          "prices": [
                            {
                              "value": {
                                "type": "centPrecision",
                                "fractionDigits": 2,
                                "currencyCode": "EUR",
                                "centAmount": 2800
                              },
                              "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                            }
                          ],
                          "images": [
                            {
                              "url": "https://www.commercetools.com/cli/data/252542005_1.jpg",
                              "dimensions": {
                                "w": 1400,
                                "h": 1400
                              }
                            }
                          ],
                          "attributes": [],
                          "assets": []
                        },
                        "price": {
                          "value": {
                            "type": "centPrecision",
                            "fractionDigits": 2,
                            "currencyCode": "EUR",
                            "centAmount": 2800
                          },
                          "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                        },
                        "quantity": 2,
                        "discountedPricePerQuantity": [],
                        "state": [
                          {
                            "quantity": 2,
                            "state": {
                              "typeId": "state",
                              "id": "7c2e2694-aefe-43d7-888e-6a99514caaca"
                            }
                          }
                        ],
                        "priceMode": "Platform",
                        "lineItemMode": "Standard",
                        "totalPrice": {
                          "type": "centPrecision",
                          "fractionDigits": 2,
                          "currencyCode": "EUR",
                          "centAmount": 5600
                        }
                      }
                    ],
                    "store": {
                      "typeId": "store",
                      "key": "test-key"
                    },
                    "cartState": "Active",
                    "totalPrice": {
                      "type": "centPrecision",
                      "fractionDigits": 2,
                      "currencyCode": "EUR",
                      "centAmount": 5600
                    },
                    "customLineItems": [],
                    "discountCodes": [],
                    "inventoryMode": "None",
                    "taxMode": "Platform",
                    "taxRoundingMode": "HalfEven",
                    "taxCalculationMode": "LineItemLevel",
                    "refusedGifts": [],
                    "origin": "Customer"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Cart",
                  "x-annotation-builtinType": "object"
                }
              }
            }
          }
        },
        "operationId": "Replicate cart",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "x-annotation-includePath": "resources/ByProjectKeyCartsReplicate.raml",
                "$ref": "#/components/schemas/ReplicaCartDraft"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "x-annotation-includePath": "resources/ByProjectKeyCartsReplicate.raml",
            "type": "string"
          },
          "x-annotation-builtinType": "string"
        }
      ],
      "x-annotation-resourceName": "ByProjectKeyCartsReplicate",
      "x-annotation-resourcePathUri": "/{projectKey}/carts/replicate"
    },
    "/{projectKey}/carts/{ID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "x-annotation-example": {
                  "default": {
                    "type": "Cart",
                    "id": "2a3baa00-44fa-4ab8-bec7-933c31e18dcc",
                    "key": "test-key",
                    "version": 5,
                    "createdAt": "2015-09-22T15:36:17.510Z",
                    "lastModifiedAt": "2015-09-22T15:41:55.816Z",
                    "lineItems": [
                      {
                        "id": "b925a817-d5ad-48bb-a407-29ad8e0649b5",
                        "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                        "name": {
                          "en": "SAPPHIRE"
                        },
                        "productType": {
                          "typeId": "product-type",
                          "id": "2543e1d8-4915-4f72-a3c9-1df9b1b0082d",
                          "version": 8
                        },
                        "productSlug": {
                          "en": "sapphire1421832124423"
                        },
                        "variant": {
                          "id": 1,
                          "sku": "sku_SAPPHIRE_variant1_1421832124423",
                          "prices": [
                            {
[...]
