{
  "openapi": "3.0.0",
  "info": {
    "title": "Commercetools",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.europe-west1.gcp.commercetools.com/"
    }
  ],
  "paths": {
    "/{projectKey}": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "version": 1,
                  "key": "test-project",
                  "name": "Some project name",
                  "countries": [
                    "DE",
                    "US"
                  ],
                  "currencies": [
                    "EUR"
                  ],
                  "languages": [
                    "en"
                  ],
                  "createdAt": "2013-11-01T15:14:34.325Z",
                  "trialUntil": "2013-11-01T15:14:34.325Z",
                  "messages": {
                    "enabled": false
                  },
                  "carts": {
                    "countryTaxRateFallbackEnabled": false
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          }
        },
        "description": "Update project",
        "operationId": "Update project settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdate"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "The Endpoint is responding a limited set of information about settings and configuration of the project.\n",
        "operationId": "Get project settings",
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-updateable": "Project",
      "x-annotation-methodName": "withProjectKey"
    },
    "/{projectKey}/carts": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Query carts",
        "operationId": "Query carts",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "schema": {
              "includePath": "traits/sortable.raml",
              "type": "string"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "schema": {
              "includePath": "traits/query.raml",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          },
          {
            "$ref": "#/components/parameters/trait_paging_limit"
          },
          {
            "$ref": "#/components/parameters/trait_paging_offset"
          },
          {
            "$ref": "#/components/parameters/trait_paging_withTotal"
          },
          {
            "$ref": "#/components/parameters/trait_query_/^var[.][a-zA-Z0-9]+$/"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "type": "Cart",
                  "id": "2a3baa00-44fa-4ab8-bec7-933c31e18dcc",
                  "version": 5,
                  "createdAt": "2015-09-22T15:36:17.510Z",
                  "lastModifiedAt": "2015-09-22T15:41:55.816Z",
                  "lineItems": [
                    {
                      "id": "b925a817-d5ad-48bb-a407-29ad8e0649b5",
                      "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                      "name": {
                        "en": "SAPPHIRE"
                      },
                      "productType": {
                        "typeId": "product-type",
                        "id": "2543e1d8-4915-4f72-a3c9-1df9b1b0082d",
                        "version": 8
                      },
                      "productSlug": {
                        "en": "sapphire1421832124423"
                      },
                      "variant": {
                        "id": 1,
                        "sku": "sku_SAPPHIRE_variant1_1421832124423",
                        "prices": [
                          {
                            "value": {
                              "type": "centPrecision",
                              "fractionDigits": 2,
                              "currencyCode": "EUR",
                              "centAmount": 2800
                            },
                            "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                          }
                        ],
                        "images": [
                          {
                            "url": "https://www.commercetools.com/cli/data/252542005_1.jpg",
                            "dimensions": {
                              "w": 1400,
                              "h": 1400
                            }
                          }
                        ],
                        "attributes": [],
                        "assets": []
                      },
                      "price": {
                        "value": {
                          "type": "centPrecision",
                          "fractionDigits": 2,
                          "currencyCode": "EUR",
                          "centAmount": 2800
                        },
                        "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                      },
                      "quantity": 2,
                      "discountedPricePerQuantity": [],
                      "state": [
                        {
                          "quantity": 2,
                          "state": {
                            "typeId": "state",
                            "id": "7c2e2694-aefe-43d7-888e-6a99514caaca"
                          }
                        }
                      ],
                      "priceMode": "Platform",
                      "lineItemMode": "Standard",
                      "totalPrice": {
                        "type": "centPrecision",
                        "fractionDigits": 2,
                        "currencyCode": "EUR",
                        "centAmount": 5600
                      }
                    }
                  ],
                  "store": {
                    "typeId": "store",
                    "key": "test-key"
                  },
                  "cartState": "Active",
                  "totalPrice": {
                    "type": "centPrecision",
                    "fractionDigits": 2,
                    "currencyCode": "EUR",
                    "centAmount": 5600
                  },
                  "customLineItems": [],
                  "discountCodes": [],
                  "inventoryMode": "None",
                  "taxMode": "Platform",
                  "taxRoundingMode": "HalfEven",
                  "taxCalculationMode": "LineItemLevel",
                  "refusedGifts": [],
                  "origin": "Customer"
                },
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Creating a cart can fail with an InvalidOperation if the referenced shipping method in the\nCartDraft has a predicate which does not match the cart.\n",
        "operationId": "Create Cart",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "currency": "EUR"
              },
              "schema": {
                "includePath": "resources/carts.raml",
                "$ref": "#/components/schemas/CartDraft"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-updateable": "Cart",
      "x-annotation-deleteable": "Cart",
      "x-annotation-createable": "CartDraft"
    },
    "/{projectKey}/carts/{ID}": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Update Cart by ID",
        "operationId": "Update Cart by ID",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "version": 1,
                "actions": [
                  {
                    "action": "addLineItem",
                    "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                    "variantId": 1,
                    "quantity": 1
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CartUpdate"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "The cart may not contain up-to-date prices, discounts etc.\nIf you want to ensure they're up-to-date, send an Update request with the Recalculate update action instead.\n",
        "operationId": "Get Cart by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Delete Cart by ID",
        "operationId": "Delete Cart by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_dataErasure_dataErasure"
          },
          {
            "$ref": "#/components/parameters/trait_versioned_version"
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        },
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-methodName": "withId"
    },
    "/{projectKey}/carts/replicate": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "type": "Cart",
                  "id": "2a3baa00-44fa-4ab8-bec7-933c31e18dcc",
                  "version": 5,
                  "createdAt": "2015-09-22T15:36:17.510Z",
                  "lastModifiedAt": "2015-09-22T15:41:55.816Z",
                  "lineItems": [
                    {
                      "id": "b925a817-d5ad-48bb-a407-29ad8e0649b5",
                      "productId": "9f10dcfb-5cc9-4a18-843a-c07f7e22d01f",
                      "name": {
                        "en": "SAPPHIRE"
                      },
                      "productType": {
                        "typeId": "product-type",
                        "id": "2543e1d8-4915-4f72-a3c9-1df9b1b0082d",
                        "version": 8
                      },
                      "productSlug": {
                        "en": "sapphire1421832124423"
                      },
                      "variant": {
                        "id": 1,
                        "sku": "sku_SAPPHIRE_variant1_1421832124423",
                        "prices": [
                          {
                            "value": {
                              "type": "centPrecision",
                              "fractionDigits": 2,
                              "currencyCode": "EUR",
                              "centAmount": 2800
                            },
                            "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                          }
                        ],
                        "images": [
                          {
                            "url": "https://www.commercetools.com/cli/data/252542005_1.jpg",
                            "dimensions": {
                              "w": 1400,
                              "h": 1400
                            }
                          }
                        ],
                        "attributes": [],
                        "assets": []
                      },
                      "price": {
                        "value": {
                          "type": "centPrecision",
                          "fractionDigits": 2,
                          "currencyCode": "EUR",
                          "centAmount": 2800
                        },
                        "id": "8da659ef-9e54-447d-9c36-84912db1848f"
                      },
                      "quantity": 2,
                      "discountedPricePerQuantity": [],
                      "state": [
                        {
                          "quantity": 2,
                          "state": {
                            "typeId": "state",
                            "id": "7c2e2694-aefe-43d7-888e-6a99514caaca"
                          }
                        }
                      ],
                      "priceMode": "Platform",
                      "lineItemMode": "Standard",
                      "totalPrice": {
                        "type": "centPrecision",
                        "fractionDigits": 2,
                        "currencyCode": "EUR",
                        "centAmount": 5600
                      }
                    }
                  ],
                  "store": {
                    "typeId": "store",
                    "key": "test-key"
                  },
                  "cartState": "Active",
                  "totalPrice": {
                    "type": "centPrecision",
                    "fractionDigits": 2,
                    "currencyCode": "EUR",
                    "centAmount": 5600
                  },
                  "customLineItems": [],
                  "discountCodes": [],
                  "inventoryMode": "None",
                  "taxMode": "Platform",
                  "taxRoundingMode": "HalfEven",
                  "taxCalculationMode": "LineItemLevel",
                  "refusedGifts": [],
                  "origin": "Customer"
                },
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "operationId": "Replicate cart",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "includePath": "resources/carts.raml",
                "$ref": "#/components/schemas/ReplicaCartDraft"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ]
    },
    "/{projectKey}/carts/customer-id={customerId}": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Retrieves the active cart of the customer that has been modified most recently.\nIt does not consider carts with CartOrigin Merchant. If no active cart exists, a 404 Not Found error is returned.\n\nThe cart may not contain up-to-date prices, discounts etc. If you want to ensure they're up-to-date,\nsend an Update request with the Recalculate update action instead.\n",
        "operationId": "Get Cart by customerId",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "customerId",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        },
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-methodName": "withCustomerId"
    },
    "/{projectKey}/cart-discounts": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Query cart-discounts",
        "operationId": "Query cart-discounts",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "schema": {
              "includePath": "traits/sortable.raml",
              "type": "string"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "schema": {
              "includePath": "traits/query.raml",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          },
          {
            "$ref": "#/components/parameters/trait_paging_limit"
          },
          {
            "$ref": "#/components/parameters/trait_paging_offset"
          },
          {
            "$ref": "#/components/parameters/trait_paging_withTotal"
          },
          {
            "$ref": "#/components/parameters/trait_query_/^var[.][a-zA-Z0-9]+$/"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}",
              "view_cart_discounts:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "id": "c2f93298-c967-44af-8c2a-d2220bf39eb2",
                  "version": 1,
                  "createdAt": "1970-01-01T00:00:00.001Z",
                  "lastModifiedAt": "1970-01-01T00:00:00.001Z",
                  "name": {
                    "en": "Summer Sale"
                  },
                  "value": {
                    "type": "relative",
                    "permyriad": 1000
                  },
                  "cartPredicate": "1=1",
                  "target": {
                    "type": "lineItems",
                    "predicate": "1=1"
                  },
                  "sortOrder": "0.1",
                  "isActive": true,
                  "requiresDiscountCode": false,
                  "references": [],
                  "stackingMode": "Stacking"
                },
                "schema": {
                  "$ref": "#/components/schemas/CartDiscount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Create CartDiscount",
        "operationId": "Create CartDiscount",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": {
                  "en": "Summer Sale"
                },
                "value": {
                  "type": "relative",
                  "permyriad": 1000
                },
                "cartPredicate": "1=1",
                "target": {
                  "type": "lineItems",
                  "predicate": "1=1"
                },
                "sortOrder": "0.1",
                "isActive": true,
                "requiresDiscountCode": false
              },
              "schema": {
                "includePath": "resources/cart-discounts.raml",
                "$ref": "#/components/schemas/CartDiscountDraft"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}",
              "manage_cart_discounts:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-updateable": "CartDiscount",
      "x-annotation-deleteable": "CartDiscount",
      "x-annotation-createable": "CartDiscountDraft"
    },
    "/{projectKey}/cart-discounts/key={key}": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Update CartDiscount by key",
        "operationId": "Update CartDiscount by key",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "version": 1,
                "actions": [
                  {
                    "action": "changeValue",
                    "value": {
                      "type": "relative",
                      "permyriad": 1000
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CartDiscountUpdate"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}",
              "manage_cart_discounts:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Get CartDiscount by key",
        "operationId": "Get CartDiscount by key",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}",
              "view_cart_discounts:{projectKey}"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Delete CartDiscount by key",
        "operationId": "Delete CartDiscount by key",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_versioned_version"
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}",
              "manage_cart_discounts:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "key",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        },
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-methodName": "withKey"
    },
    "/{projectKey}/cart-discounts/{ID}": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Update CartDiscount by ID",
        "operationId": "Update CartDiscount by ID",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "version": 1,
                "actions": [
                  {
                    "action": "changeValue",
                    "value": {
                      "type": "relative",
                      "permyriad": 1000
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CartDiscountUpdate"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}",
              "manage_cart_discounts:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Get CartDiscount by ID",
        "operationId": "Get CartDiscount by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_orders:{projectKey}",
              "view_cart_discounts:{projectKey}"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Delete CartDiscount by ID",
        "operationId": "Delete CartDiscount by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_versioned_version"
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_orders:{projectKey}",
              "manage_cart_discounts:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        },
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-methodName": "withId"
    },
    "/{projectKey}/categories": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Query categories",
        "operationId": "Query categories",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "schema": {
              "includePath": "traits/sortable.raml",
              "type": "string"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "schema": {
              "includePath": "traits/query.raml",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          },
          {
            "$ref": "#/components/parameters/trait_paging_limit"
          },
          {
            "$ref": "#/components/parameters/trait_paging_offset"
          },
          {
            "$ref": "#/components/parameters/trait_paging_withTotal"
          },
          {
            "$ref": "#/components/parameters/trait_query_/^var[.][a-zA-Z0-9]+$/"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}",
              "view_categories:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "id": "c2f93298-c967-44af-8c2a-d2220bf39eb2",
                  "version": 1,
                  "name": {
                    "en": "Hats"
                  },
                  "slug": {
                    "en": "hats"
                  },
                  "parent": {
                    "typeId": "category",
                    "id": "123456"
                  },
                  "ancestors": [],
                  "orderHint": "0.000013833188755841543727840",
                  "createdAt": "1970-01-01T00:00:00.001Z",
                  "lastModifiedAt": "1970-01-01T00:00:00.001Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Creating a category produces the CategoryCreated message.",
        "operationId": "Create Category",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": {
                  "en": "Top hat"
                },
                "slug": {
                  "en": "top-hat"
                },
                "orderHint": "0.1"
              },
              "schema": {
                "includePath": "resources/categories.raml",
                "$ref": "#/components/schemas/CategoryDraft"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}",
              "view_categories:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-updateable": "Category",
      "x-annotation-deleteable": "Category",
      "x-annotation-createable": "CategoryDraft"
    },
    "/{projectKey}/categories/key={key}": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Update Category by key",
        "operationId": "Update Category by key",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "version": 1,
                "actions": [
                  {
                    "action": "changeName",
                    "name": {
                      "en": "New Name"
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CategoryUpdate"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}",
              "manage_categories:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Get Category by key",
        "operationId": "Get Category by key",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}",
              "view_categories:{projectKey}"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Delete Category by key",
        "operationId": "Delete Category by key",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_versioned_version"
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}",
              "manage_categories:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "key",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        },
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-methodName": "withKey"
    },
    "/{projectKey}/categories/{ID}": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Update Category by ID",
        "operationId": "Update Category by ID",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "version": 1,
                "actions": [
                  {
                    "action": "changeName",
                    "name": {
                      "en": "New Name"
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CategoryUpdate"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}",
              "manage_categories:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Get Category by ID",
        "operationId": "Get Category by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}",
              "view_categories:{projectKey}"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Delete Category by ID",
        "operationId": "Delete Category by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_versioned_version"
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}",
              "manage_categories:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        },
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-methodName": "withId"
    },
    "/{projectKey}/channels": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Query channels",
        "operationId": "Query channels",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "schema": {
              "includePath": "traits/sortable.raml",
              "type": "string"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "schema": {
              "includePath": "traits/query.raml",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          },
          {
            "$ref": "#/components/parameters/trait_paging_limit"
          },
          {
            "$ref": "#/components/parameters/trait_paging_offset"
          },
          {
            "$ref": "#/components/parameters/trait_paging_withTotal"
          },
          {
            "$ref": "#/components/parameters/trait_query_/^var[.][a-zA-Z0-9]+$/"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "id": "ac390383-370f-43f8-a534-db1604cb96a8",
                  "key": "commercetools",
                  "version": 1,
                  "roles": [
                    "InventorySupply"
                  ],
                  "createdAt": "2015-05-28T09:48:35.023Z",
                  "lastModifiedAt": "2015-05-28T09:48:35.023Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Create Channel",
        "operationId": "Create Channel",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "key": "commercetools",
                "roles": [
                  "InventorySupply"
                ]
              },
              "schema": {
                "includePath": "resources/channels.raml",
                "$ref": "#/components/schemas/ChannelDraft"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-updateable": "Channel",
      "x-annotation-deleteable": "Channel",
      "x-annotation-createable": "ChannelDraft"
    },
    "/{projectKey}/channels/{ID}": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Update Channel by ID",
        "operationId": "Update Channel by ID",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "version": 1,
                "actions": [
                  {
                    "action": "changeName",
                    "name": {
                      "en": "New Name"
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/ChannelUpdate"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Get Channel by ID",
        "operationId": "Get Channel by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_products:{projectKey}"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Delete Channel by ID",
        "operationId": "Delete Channel by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_versioned_version"
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_products:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        },
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-methodName": "withId"
    },
    "/{projectKey}/customers": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Query customers",
        "operationId": "Query customers",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "A query endpoint that supports sorting does so through the sort query parameter. The provided value must be\na valid sort expression. The default sort direction is ASC. The allowed sort paths are typically listed on\nthe specific query endpoints.\n\nHere are some examples of sort expressions:\n\n    name desc\n    dog.age asc\n\nIf multiple sort expressions are specified via multiple sort parameters, they are combined into a composed\nsort where the results are first sorted by the first expression, followed by equal values being sorted\naccording to the second expression, and so on.\n\nNote: The sorting is case sensitive.\n",
            "schema": {
              "includePath": "traits/sortable.raml",
              "type": "string"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "If queries support ad-hoc filtering of resources through flexible predicates, they do so via the where query\nparameter that accepts a single (possibly compound) predicate to determine whether a specific resource\nrepresentation should be included in the result.\n\nThe structure of predicates and the names of the fields follow the structure and naming of the fields in the\ndocumented response representation of the query results.\n\nExamples of predicates:\n\n    // Compare a field's value to a given value\n    name = \"Peter\"\n    age < 42\n    age > 42\n    age <= 42\n    age >= 42\n    age <> 42\n\n    // Combine any two conditional expressions in a logical conjunction / disjunction\n    name = \"Peter\" and age < 42\n    name = \"Peter\" or age < 42\n\n    // Negate any other conditional expression\n    not (name = \"Peter\" and age < 42)\n\n    // Check whether a field's value is or is not contained in\n    // a specified set of values.\n    age in (42, 43, 44)\n    age not in (42, 43, 44)\n\n    // Check whether an array contains all or any of a set of values\n    tags contains all (\"a\", \"b\", \"c\")\n    tags contains any (\"a\", \"b\", \"c\")\n\n    // Check whether an array is empty\n    tags is empty\n\n    // Check whether a field exists & has a non-null value\n    name is defined\n    name is not defined\n\n    // Descend into nested objects\n    dog(age < 7 and name = \"Beethoven\")\n\n    // Descend into nested arrays of objects\n    cities(zip > 10000 and zip < 20000)\n\nA query endpoint usually restricts predicates to only be allowed on a specified subset of a resource\nrepresentation's fields. The documentation of the endpoint will therefore list fields that can be used\nfor constructing predicates.\n\nIf multiple predicates are specified via multiple where query parameters, the individual predicates are\ncombined in a logical conjunction, just as if they had been specified in a single where query parameter\nand combined with and.\n\nNote: The encoding of the predicates is UTF-8 and the predicate must be URL-encoded in the HTTP request.\n",
            "schema": {
              "includePath": "traits/query.raml",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          },
          {
            "$ref": "#/components/parameters/trait_paging_limit"
          },
          {
            "$ref": "#/components/parameters/trait_paging_offset"
          },
          {
            "$ref": "#/components/parameters/trait_paging_withTotal"
          },
          {
            "$ref": "#/components/parameters/trait_query_/^var[.][a-zA-Z0-9]+$/"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "customer": {
                    "addresses": [],
                    "email": "<random>@example.com",
                    "firstName": "John",
                    "id": "some_123_id",
                    "isEmailVerified": false,
                    "lastName": "Doe",
                    "password": "secret123",
                    "version": 1,
                    "createdAt": "2015-07-06T13:22:33.339Z",
                    "lastModifiedAt": "2015-07-06T13:22:33.339Z"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CustomerSignInResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Creates a customer. If an anonymous cart is passed in,\nthen the cart is assigned to the created customer and the version number of the Cart will increase.\nIf the ID of an anonymous session is given, all carts and orders will be assigned to the created customer.\n",
        "operationId": "Create Customer",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "<random>@example.com",
                "firstName": "John",
                "lastName": "Doe",
                "password": "secret123"
              },
              "schema": {
                "includePath": "resources/customers.raml",
                "$ref": "#/components/schemas/CustomerDraft"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-updateable": "Customer",
      "x-annotation-deleteable": "Customer",
      "x-annotation-createable": "CustomerDraft"
    },
    "/{projectKey}/customers/key={key}": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Update Customer by key",
        "operationId": "Update Customer by key",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "version": 3,
                "actions": [
                  {
                    "action": "addAddress",
                    "address": {
                      "streetName": "Any Street",
                      "streetNumber": "1337",
                      "postalCode": "11111",
                      "city": "Any City",
                      "country": "US"
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdate"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Get Customer by key",
        "operationId": "Get Customer by key",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Delete Customer by key",
        "operationId": "Delete Customer by key",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_dataErasure_dataErasure"
          },
          {
            "$ref": "#/components/parameters/trait_versioned_version"
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "key",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        },
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-methodName": "withKey"
    },
    "/{projectKey}/customers/{ID}": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Update Customer by ID",
        "operationId": "Update Customer by ID",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "version": 3,
                "actions": [
                  {
                    "action": "addAddress",
                    "address": {
                      "streetName": "Any Street",
                      "streetNumber": "1337",
                      "postalCode": "11111",
                      "city": "Any City",
                      "country": "US"
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdate"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Get Customer by ID",
        "operationId": "Get Customer by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "409": {
            "$ref": "#/components/responses/trait_conflicting_409"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Delete Customer by ID",
        "operationId": "Delete Customer by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_dataErasure_dataErasure"
          },
          {
            "$ref": "#/components/parameters/trait_versioned_version"
          },
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "ID",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        },
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-methodName": "withId"
    },
    "/{projectKey}/customers/password-token={passwordToken}": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Get Customer by passwordToken",
        "operationId": "Get customer by password verification token",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "passwordToken",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        },
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-methodName": "withPasswordToken"
    },
    "/{projectKey}/customers/email-token={emailToken}": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Get Customer by emailToken",
        "operationId": "Get customer by email verification token",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_expandable_expand"
          }
        ],
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "view_customers:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "emailToken",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        },
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ],
      "x-annotation-methodName": "withEmailToken"
    },
    "/{projectKey}/customers/email-token": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Create a Token for verifying the Customer's Email",
        "operationId": "Create a Token for verifying the Customer's Email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "includePath": "resources/customers.raml",
                "$ref": "#/components/schemas/CustomerCreateEmailToken"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "oauth_2_0": [
              "manage_project:{projectKey}",
              "manage_customers:{projectKey}"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "projectKey",
          "in": "path",
          "required": true,
          "schema": {
            "includePath": "api.raml",
            "type": "string"
          }
        }
      ]
    },
    "/{projectKey}/customers/email/confirm": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/trait_deprecatable_200"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorable_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorable_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorable_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorable_404"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorable_500"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorable_503"
          }
        },
        "description": "Verifies customer's email using a token.",
        "operationId": "Verifies customer's email.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "includePath": "resources/customers.raml",
[...]
