{
  "swagger": "2.0",
  "info": {
    "title": "Commercetools",
    "version": "v1"
  },
  "host": "api.sphere.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth_2_0": {
      "description": "HTTP API authorization uses [OAuth2](http://tools.ietf.org/html/rfc6750){:target=\"_blank\"}.\n\nClients must obtain an access token from the auth service using one of\nthe authorization flows described below, before they are able to make authorized requests\nto other SPHERE.IO services. On successful completion of an authorization flow,\na client will be given an `access_token`, which they need to include in requests\nto authorized service endpoints via the HTTP `Authorization` header like this:\n",
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://auth.sphere.io/oauth/token",
      "scopes": {
        "manage_project:{projectKey}": "",
        "manage_products:{projectKey}": "",
        "view_products:{projectKey}": "",
        "manage_orders:{projectKey}": "",
        "view_orders:{projectKey}": "",
        "manage_customers:{projectKey}": "",
        "view_customers:{projectKey}": "",
        "manage_payments:{projectKey}": "",
        "view_payments:{projectKey}": "",
        "manage_subscriptions:{projectKey}": "",
        "manage_extensions:{projectKey}": "",
        "manage_types:{projectKey}": "",
        "view_types:{projectKey}": "",
        "view_shopping_lists:{projectKey}": "",
        "manage_shopping_lists:{projectKey}": "",
        "manage_my_orders:{projectKey}": "",
        "manage_my_profile:{projectKey}": "",
        "view_project_settings:{projectKey}": ""
      }
    }
  },
  "definitions": {
    "PagedQueryResponse": {
      "title": "PagedQueryResponse",
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "type": "number"
        },
        "total": {
          "format": "int64",
          "type": "number"
        },
        "offset": {
          "format": "int64",
          "type": "number"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Resource"
          }
        }
      },
      "required": [
        "count",
        "offset",
        "results"
      ]
    },
    "Update": {
      "title": "Update",
      "type": "object",
      "properties": {
        "version": {
          "format": "int64",
          "type": "number"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpdateAction"
          }
        }
      },
      "required": [
        "version",
        "actions"
      ]
    },
    "UpdateAction": {
      "title": "UpdateAction",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        }
      },
      "required": [
        "action"
      ]
    },
    "ApiClient": {
      "title": "ApiClient",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "lastUsedAt": {
          "type": "string",
          "format": "date"
        },
        "secret": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "name",
        "scope",
        "createdAt"
      ],
      "x-annotation-package": "ApiClient",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-apiClients.html#apiclient"
    },
    "ApiClientDraft": {
      "title": "ApiClientDraft",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        }
      },
      "required": [
        "name",
        "scope"
      ],
      "x-annotation-package": "ApiClient",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-apiClients.html#apiclientdraft"
    },
    "ApiClientPagedQueryResponse": {
      "title": "ApiClientPagedQueryResponse",
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "type": "number"
        },
        "total": {
          "format": "int64",
          "type": "number"
        },
        "offset": {
          "format": "int64",
          "type": "number"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiClient"
          }
        }
      },
      "required": [
        "count",
        "offset",
        "results"
      ],
      "x-annotation-package": "ApiClient"
    },
    "CartDiscount": {
      "title": "CartDiscount",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "properties": {
            "name": {
              "$ref": "#/definitions/LocalizedString",
              "x-annotation-hasSimpleUpdateAction": "changeName"
            },
            "description": {
              "$ref": "#/definitions/LocalizedString",
              "x-annotation-hasSimpleUpdateAction": "setDescription"
            },
            "value": {
              "$ref": "#/definitions/CartDiscountValue",
              "x-annotation-hasSimpleUpdateAction": "changeValue"
            },
            "cartPredicate": {
              "type": "string",
              "x-annotation-hasSimpleUpdateAction": "changeCartPredicate"
            },
            "target": {
              "$ref": "#/definitions/CartDiscountTarget",
              "x-annotation-hasUpdateAction": {
                "action": "changeTarget",
                "required": true
              }
            },
            "sortOrder": {
              "type": "string",
              "x-annotation-hasSimpleUpdateAction": "changeSortOrder"
            },
            "isActive": {
              "type": "boolean",
              "x-annotation-hasUpdateAction": {
                "action": "changeIsActive",
                "docsAnchor": "change-isactive"
              }
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "x-annotation-hasSimpleUpdateAction": "setValidFrom"
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "x-annotation-hasSimpleUpdateAction": "setValidUntil"
            },
            "requiresDiscountCode": {
              "type": "boolean",
              "x-annotation-hasUpdateAction": {
                "action": "changeRequiresDiscountCode",
                "docsAnchor": "change-requires-discountcode"
              }
            },
            "references": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Reference"
              }
            },
            "stackingMode": {
              "description": "Specifies whether the application of this discount causes the following discounts to be ignored.\nDefaults to Stacking.\n",
              "$ref": "#/definitions/StackingMode",
              "x-annotation-hasSimpleUpdateAction": "changeStackingMode"
            },
            "custom": {
              "$ref": "#/definitions/CustomFields",
              "x-annotation-hasUpdateActions": [
                {
                  "action": "setCustomType",
                  "fields": {
                    "type?": "TypeReference",
                    "fields?": "object"
                  }
                },
                {
                  "action": "setCustomField",
                  "docsAnchor": "set-customfield",
                  "fields": {
                    "name": "string",
                    "value?": "any"
                  }
                }
              ]
            }
          },
          "required": [
            "name",
            "value",
            "cartPredicate",
            "sortOrder",
            "isActive",
            "requiresDiscountCode",
            "references",
            "stackingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscount",
      "x-annotation-updateType": "CartDiscountUpdate",
      "x-annotation-hasUpdateActions": [
        {
          "action": "setValidFromAndUntil",
          "fields": {
            "validFrom?": {
              "type": "datetime"
            },
            "validUntil?": {
              "type": "datetime"
            }
          }
        }
      ]
    },
    "CartDiscountCustomLineItemsTarget": {
      "title": "CartDiscountCustomLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "type": "string"
            }
          },
          "required": [
            "predicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountDraft": {
      "title": "CartDiscountDraft",
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/LocalizedString"
        },
        "description": {
          "$ref": "#/definitions/LocalizedString"
        },
        "value": {
          "$ref": "#/definitions/CartDiscountValue"
        },
        "cartPredicate": {
          "type": "string"
        },
        "target": {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        "sortOrder": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "validFrom": {
          "type": "string",
          "format": "date-time"
        },
        "validUntil": {
          "type": "string",
          "format": "date-time"
        },
        "requiresDiscountCode": {
          "type": "boolean"
        },
        "stackingMode": {
          "description": "Specifies whether the application of this discount causes the following discounts to be ignored.\nDefaults to Stacking.\n",
          "$ref": "#/definitions/StackingMode"
        },
        "custom": {
          "$ref": "#/definitions/CustomFields"
        }
      },
      "required": [
        "name",
        "value",
        "cartPredicate",
        "sortOrder",
        "requiresDiscountCode"
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscount"
    },
    "CartDiscountLineItemsTarget": {
      "title": "CartDiscountLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "type": "string"
            }
          },
          "required": [
            "predicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountPagedQueryResponse": {
      "title": "CartDiscountPagedQueryResponse",
      "allOf": [
        {
          "$ref": "#/definitions/PagedQueryResponse"
        },
        {
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartDiscount"
              }
            }
          },
          "required": [
            "results"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountReference": {
      "title": "CartDiscountReference",
      "allOf": [
        {
          "$ref": "#/definitions/Reference"
        },
        {
          "properties": {
            "obj": {
              "$ref": "#/definitions/CartDiscount"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscount"
    },
    "CartDiscountShippingCostTarget": {
      "title": "CartDiscountShippingCostTarget",
      "$ref": "#/definitions/CartDiscountTarget",
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountTarget": {
      "title": "CartDiscountTarget",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscounttarget"
    },
    "CartDiscountUpdate": {
      "title": "CartDiscountUpdate",
      "allOf": [
        {
          "$ref": "#/definitions/Update"
        },
        {
          "properties": {
            "actions": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartDiscountUpdateAction"
              }
            }
          },
          "required": [
            "actions"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountUpdateAction": {
      "title": "CartDiscountUpdateAction",
      "discriminator": "action",
      "$ref": "#/definitions/UpdateAction",
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValue": {
      "title": "CartDiscountValue",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscountvalue"
    },
    "CartDiscountValueAbsolute": {
      "title": "CartDiscountValueAbsolute",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "money": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Money"
              }
            }
          },
          "required": [
            "money"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueGiftLineItem": {
      "title": "CartDiscountValueGiftLineItem",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "product": {
              "$ref": "#/definitions/ProductReference"
            },
            "variantId": {
              "format": "int64",
              "type": "number"
            },
            "supplyChannel": {
              "$ref": "#/definitions/ChannelReference"
            },
            "distributionChannel": {
              "$ref": "#/definitions/ChannelReference"
            }
          },
          "required": [
            "product",
            "variantId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueRelative": {
      "title": "CartDiscountValueRelative",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "permyriad": {
              "format": "int64",
              "type": "number"
            }
          },
          "required": [
            "permyriad"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "MultiBuyCustomLineItemsTarget": {
      "title": "MultiBuyCustomLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "description": "A valid custom line item target predicate. The discount will be applied to custom line items that are\nmatched by the predicate.\n",
              "type": "string"
            },
            "triggerQuantity": {
              "description": "Quantity of line items that need to be present in order to trigger an application of this discount.",
              "type": "integer"
            },
            "discountedQuantity": {
              "description": "Quantity of line items that are discounted per application of this discount.",
              "type": "integer"
            },
            "maxOccurrence": {
              "description": "Maximum number of applications of this discount.",
              "type": "integer"
            },
            "selectionMode": {
              "$ref": "#/definitions/SelectionMode"
            }
          },
          "required": [
            "predicate",
            "triggerQuantity",
            "discountedQuantity",
            "selectionMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "MultiBuyLineItemsTarget": {
      "title": "MultiBuyLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "description": "A valid line item target predicate. The discount will be applied to line items that are matched by the predicate.\n",
              "type": "string"
            },
            "triggerQuantity": {
              "description": "Quantity of line items that need to be present in order to trigger an application of this discount.",
              "type": "integer"
            },
            "discountedQuantity": {
              "description": "Quantity of line items that are discounted per application of this discount.",
              "type": "integer"
            },
            "maxOccurrence": {
              "description": "Maximum number of applications of this discount.",
              "type": "integer"
            },
            "selectionMode": {
              "$ref": "#/definitions/SelectionMode"
            }
          },
          "required": [
            "predicate",
            "triggerQuantity",
            "discountedQuantity",
            "selectionMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "SelectionMode": {
      "title": "SelectionMode",
      "enum": [
        "Cheapest",
        "MostExpensive"
      ],
      "type": "string",
      "x-annotation-package": "CartDiscount"
    },
    "StackingMode": {
      "title": "StackingMode",
      "enum": [
        "Stacking",
        "StopAfterThisDiscount"
      ],
      "type": "string",
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountChangeCartPredicateAction": {
      "title": "CartDiscountChangeCartPredicateAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "cartPredicate": {
              "type": "string"
            }
          },
          "required": [
            "cartPredicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-cart-predicate"
    },
    "CartDiscountChangeIsActiveAction": {
      "title": "CartDiscountChangeIsActiveAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "isActive": {
              "type": "boolean"
            }
          },
          "required": [
            "isActive"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-isactive"
    },
    "CartDiscountChangeNameAction": {
      "title": "CartDiscountChangeNameAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "name": {
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-name"
    },
    "CartDiscountChangeRequiresDiscountCodeAction": {
      "title": "CartDiscountChangeRequiresDiscountCodeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "requiresDiscountCode": {
              "type": "boolean"
            }
          },
          "required": [
            "requiresDiscountCode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-requires-discountcode"
    },
    "CartDiscountChangeSortOrderAction": {
      "title": "CartDiscountChangeSortOrderAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "sortOrder": {
              "type": "string"
            }
          },
          "required": [
            "sortOrder"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-sort-order"
    },
    "CartDiscountChangeStackingModeAction": {
      "title": "CartDiscountChangeStackingModeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "stackingMode": {
              "$ref": "#/definitions/StackingMode"
            }
          },
          "required": [
            "stackingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-stacking-mode"
    },
    "CartDiscountChangeTargetAction": {
      "title": "CartDiscountChangeTargetAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "target": {
              "$ref": "#/definitions/CartDiscountTarget"
            }
          },
          "required": [
            "target"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-target"
    },
    "CartDiscountChangeValueAction": {
      "title": "CartDiscountChangeValueAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "value": {
              "$ref": "#/definitions/CartDiscountValue"
            }
          },
          "required": [
            "value"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-value"
    },
    "CartDiscountSetCustomFieldAction": {
      "title": "CartDiscountSetCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "name": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-customfield"
    },
    "CartDiscountSetCustomTypeAction": {
      "title": "CartDiscountSetCustomTypeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "type": {
              "$ref": "#/definitions/TypeReference"
            },
            "fields": {
              "type": "object"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-custom-type"
    },
    "CartDiscountSetDescriptionAction": {
      "title": "CartDiscountSetDescriptionAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "description": {
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-description"
    },
    "CartDiscountSetValidFromAction": {
      "title": "CartDiscountSetValidFromAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "validFrom": {
              "type": "string",
              "format": "date-time"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-valid-from"
    },
    "CartDiscountSetValidFromAndUntilAction": {
      "title": "CartDiscountSetValidFromAndUntilAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "validFrom": {
              "type": "string",
              "format": "date-time"
            },
            "validUntil": {
              "type": "string",
              "format": "date-time"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-valid-from-and-until"
    },
    "CartDiscountSetValidUntilAction": {
      "title": "CartDiscountSetValidUntilAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "validUntil": {
              "type": "string",
              "format": "date-time"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-valid-until"
    },
    "Cart": {
      "title": "Cart",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "properties": {
            "customerId": {
              "type": "string",
              "x-annotation-hasSimpleUpdateAction": "setCustomerId"
            },
            "customerEmail": {
              "type": "string",
              "x-annotation-hasUpdateAction": {
                "action": "setCustomerEmail",
                "fields": {
                  "email": "string"
                }
              }
            },
            "anonymousId": {
              "type": "string",
              "x-annotation-hasSimpleUpdateAction": "setAnonymousId"
            },
            "lineItems": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LineItem"
              },
              "x-annotation-hasUpdateActions": [
                {
                  "action": "addLineItem",
                  "docsAnchor": "add-lineitem",
                  "fields": {
                    "custom?": {
                      "type": "CustomFieldsDraft"
                    },
                    "distributionChannel?": {
                      "type": "ChannelReference"
                    },
                    "externalTaxRate?": {
                      "type": "ExternalTaxRateDraft"
                    },
                    "productId?": {
                      "type": "string"
                    },
                    "variantId?": {
                      "type": "number",
                      "format": "int64"
                    },
                    "sku?": {
                      "type": "string"
                    },
                    "quantity?": {
                      "type": "number",
                      "default": 1
                    },
                    "supplyChannel?": {
                      "type": "ChannelReference"
                    },
                    "externalPrice?": {
                      "type": "Money"
                    },
                    "externalTotalPrice?": {
                      "type": "ExternalLineItemTotalPrice"
                    },
                    "shippingDetails?": {
                      "type": "ItemShippingDetailsDraft"
                    }
                  }
                },
                {
                  "action": "removeLineItem",
                  "docsAnchor": "remove-lineitem",
                  "fields": {
                    "lineItemId": {
                      "type": "string"
                    },
                    "quantity?": {
                      "type": "number"
                    },
                    "externalPrice?": {
                      "type": "Money"
                    },
                    "externalTotalPrice?": {
                      "type": "ExternalLineItemTotalPrice"
                    },
                    "shippingDetailsToRemove?": {
                      "type": "ItemShippingDetailsDraft"
                    }
                  }
                },
                {
                  "action": "changeLineItemQuantity",
                  "docsAnchor": "change-lineitem-quantity",
                  "fields": {
                    "lineItemId": {
                      "type": "string"
                    },
                    "quantity": {
                      "type": "number"
                    },
                    "externalPrice?": {
                      "type": "Money"
                    },
                    "externalTotalPrice?": {
                      "type": "ExternalLineItemTotalPrice"
                    }
                  }
                },
                {
                  "action": "setLineItemTaxRate",
                  "docsAnchor": "set-lineitem-taxrate",
                  "fields": {
                    "lineItemId": {
                      "type": "string"
                    },
                    "externalTaxRate?": {
                      "type": "ExternalTaxRateDraft"
                    }
                  }
                },
                {
                  "action": "setLineItemTaxAmount",
                  "docsAnchor": "set-lineitem-taxamount",
                  "fields": {
                    "lineItemId": {
                      "type": "string"
                    },
                    "externalTaxAmount?": {
                      "type": "ExternalTaxAmountDraft"
                    }
                  }
                },
                {
                  "action": "setLineItemTotalPrice",
                  "docsAnchor": "set-lineitem-totalprice",
                  "fields": {
                    "lineItemId": {
                      "type": "string"
                    },
                    "externalTotalPrice?": {
                      "type": "ExternalLineItemTotalPrice"
                    }
                  }
                },
                {
                  "action": "setLineItemPrice",
                  "docsAnchor": "set-lineitem-price",
                  "fields": {
                    "lineItemId": {
                      "type": "string"
                    },
                    "externalPrice?": {
                      "type": "Money"
                    }
                  }
                },
                {
                  "action": "setLineItemCustomType",
                  "docsAnchor": "set-lineitem-custom-type",
                  "fields": {
                    "lineItemId": {
                      "type": "string"
                    },
                    "type?": {
                      "type": "TypeReference"
                    },
                    "fields?": {
                      "type": "FieldContainer"
                    }
                  }
                },
                {
                  "action": "setLineItemCustomField",
                  "docsAnchor": "set-lineitem-customfield",
                  "fields": {
                    "lineItemId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "value?": {
                      "type": "any"
                    }
                  }
                },
                {
                  "action": "applyDeltaToLineItemShippingDetailsTargets",
                  "docsAnchor": "apply-deltatolineitemshippingdetailstargets",
                  "fields": {
                    "lineItemId": {
                      "type": "string"
                    },
                    "targetsDelta": {
                      "type": "ItemShippingTarget[]"
                    }
                  }
                },
                {
                  "action": "setLineItemShippingDetails",
                  "docsAnchor": "set-lineitemshippingdetails",
                  "fields": {
                    "lineItemId": {
                      "type": "string"
                    },
                    "shippingDetails?": {
                      "type": "ItemShippingDetailsDraft"
                    }
                  }
                }
              ]
            },
            "customLineItems": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomLineItem"
              },
              "x-annotation-hasUpdateActions": [
                {
                  "action": "addCustomLineItem",
                  "docsAnchor": "add-customlineitem",
                  "fields": {
                    "money": {
                      "type": "Money"
                    },
                    "name": {
                      "type": "LocalizedString"
                    },
                    "quantity": {
                      "type": "number"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "taxCategory?": {
                      "type": "TaxCategoryReference"
                    },
                    "custom?": {
                      "type": "CustomFieldsDraft"
                    },
                    "externalTaxRate?": {
                      "type": "ExternalTaxRateDraft"
                    }
                  }
                },
                {
                  "action": "removeCustomLineItem",
                  "docsAnchor": "remove-customlineitem",
                  "fields": {
                    "customLineItemId": {
                      "type": "string"
                    }
                  }
                },
                {
                  "action": "changeCustomLineItemQuantity",
                  "docsAnchor": "change-customlineitem-quantity",
                  "fields": {
                    "customLineItemId": {
                      "type": "string"
                    },
                    "quantity": {
                      "type": "number"
                    }
                  }
                },
                {
                  "action": "changeCustomLineItemMoney",
                  "docsAnchor": "change-customlineitem-money",
                  "fields": {
                    "customLineItemId": {
                      "type": "string"
                    },
                    "money": {
                      "type": "Money"
                    }
                  }
                },
                {
                  "action": "setCustomLineItemCustomType",
                  "docsAnchor": "set-customlineitem-custom-type",
                  "fields": {
                    "customLineItemId": {
                      "type": "string"
                    },
                    "type?": {
                      "type": "TypeReference"
                    },
                    "fields?": {
                      "type": "FieldContainer"
                    }
                  }
                },
                {
                  "action": "setCustomLineItemCustomField",
                  "docsAnchor": "set-customlineitem-customfield",
                  "fields": {
                    "customLineItemId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "value?": {
                      "type": "any"
                    }
                  }
                },
                {
                  "action": "setCustomLineItemTaxRate",
                  "docsAnchor": "set-customlineitem-taxrate",
                  "fields": {
                    "customLineItemId": {
                      "type": "string"
                    },
                    "externalTaxRate?": {
                      "type": "ExternalTaxRateDraft"
                    }
                  }
                },
                {
                  "action": "setCustomLineItemTaxAmount",
                  "docsAnchor": "set-customlineitem-taxamount",
                  "fields": {
                    "customLineItemId": {
                      "type": "string"
                    },
                    "externalTaxAmount?": {
                      "type": "ExternalTaxAmountDraft"
                    }
                  }
                },
                {
                  "action": "applyDeltaToCustomLineItemShippingDetailsTargets",
                  "docsAnchor": "apply-deltatocustomlineitemshippingdetailstargets",
                  "fields": {
                    "customLineItemId": {
                      "type": "string"
                    },
                    "targetsDelta": {
                      "type": "ItemShippingTarget[]"
                    }
                  }
                },
                {
                  "action": "setCustomLineItemShippingDetails",
                  "docsAnchor": "set-customlineitemshippingdetails",
                  "fields": {
                    "customLineItemId": {
                      "type": "string"
                    },
                    "shippingDetails?": {
                      "type": "ItemShippingDetailsDraft"
                    }
                  }
                }
              ]
            },
            "totalPrice": {
              "$ref": "#/definitions/TypedMoney"
            },
            "taxedPrice": {
              "$ref": "#/definitions/TaxedPrice",
              "x-annotation-hasUpdateAction": {
                "action": "setCartTotalTax",
                "fields": {
                  "externalTotalGross": "Money",
                  "externalTaxPortions?": "TaxPortion[]"
                }
              }
            },
            "cartState": {
              "$ref": "#/definitions/CartState"
            },
            "shippingAddress": {
              "$ref": "#/definitions/Address",
              "x-annotation-hasUpdateAction": {
                "action": "setShippingAddress",
                "fields": {
                  "address?": "Address"
                }
              }
            },
            "billingAddress": {
              "$ref": "#/definitions/Address",
              "x-annotation-hasUpdateAction": {
                "action": "setBillingAddress",
                "fields": {
                  "address?": "Address"
                }
              }
            },
            "inventoryMode": {
              "$ref": "#/definitions/InventoryMode"
            },
            "taxMode": {
              "$ref": "#/definitions/TaxMode",
              "x-annotation-hasUpdateAction": {
                "action": "changeTaxMode",
                "docsAnchor": "change-taxmode"
              }
            },
            "taxRoundingMode": {
              "$ref": "#/definitions/RoundingMode",
              "x-annotation-hasUpdateAction": {
                "action": "changeTaxRoundingMode",
                "docsAnchor": "change-tax-roundingmode"
              }
            },
            "taxCalculationMode": {
              "$ref": "#/definitions/TaxCalculationMode",
              "x-annotation-hasUpdateAction": {
                "action": "changeTaxCalculationMode",
                "docsAnchor": "change-taxcalculationmode"
              }
            },
            "customerGroup": {
              "$ref": "#/definitions/CustomerGroupReference",
              "x-annotation-hasSimpleUpdateAction": "setCustomerGroup"
            },
            "country": {
              "$ref": "#/definitions/CountryCode",
              "x-annotation-hasSimpleUpdateAction": "setCountry"
            },
            "shippingInfo": {
              "$ref": "#/definitions/ShippingInfo",
              "x-annotation-hasUpdateActions": [
                {
                  "action": "setShippingMethod",
                  "fields": {
                    "shippingMethod?": "TypeReference",
                    "externalTaxRate?": "ExternalTaxRateDraft"
                  }
                },
                {
                  "action": "setCustomShippingMethod",
                  "fields": {
                    "shippingMethodName": {
                      "type": "string"
                    },
                    "shippingRate": {
                      "type": "ShippingRateDraft"
                    },
                    "taxCategory?": {
                      "type": "TaxCategoryReference"
                    },
                    "externalTaxRate?": {
                      "type": "ExternalTaxRateDraft"
                    }
                  }
                },
                {
                  "action": "setShippingMethodTaxAmount",
                  "docsAnchor": "set-shippingmethod-taxamount",
                  "fields": {
                    "externalTaxAmount?": "ExternalTaxAmountDraft"
                  }
                },
                {
                  "action": "setShippingMethodTaxRate",
                  "docsAnchor": "set-shippingmethod-taxrate",
                  "fields": {
                    "externalTaxRate?": "ExternalTaxRateDraft"
                  }
                }
              ]
            },
            "discountCodes": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DiscountCodeInfo"
              },
              "x-annotation-hasUpdateActions": [
                {
                  "action": "addDiscountCode",
                  "docsAnchor": "add-discountcode",
                  "fields": {
                    "code": "string"
                  }
                },
                {
                  "action": "removeDiscountCode",
                  "docsAnchor": "remove-discountcode",
                  "fields": {
                    "discountCode": "DiscountCodeReference"
                  }
                }
              ]
            },
            "custom": {
              "$ref": "#/definitions/CustomFields",
              "x-annotation-hasUpdateActions": [
                {
                  "action": "setCustomType",
                  "fields": {
                    "type?": "TypeReference",
                    "fields?": "FieldContainer"
                  }
                },
                {
                  "action": "setCustomField",
                  "docsAnchor": "set-customfield",
                  "fields": {
                    "name": "string",
                    "value?": "any"
                  }
                }
              ]
            },
            "paymentInfo": {
              "$ref": "#/definitions/PaymentInfo",
              "x-annotation-hasUpdateActions": [
                {
                  "action": "addPayment",
                  "fields": {
                    "payment": "PaymentReference"
                  }
                },
                {
                  "action": "removePayment",
                  "fields": {
                    "payment": "PaymentReference"
                  }
                }
              ]
            },
            "locale": {
              "type": "string",
              "x-annotation-hasSimpleUpdateAction": "setLocale"
            },
            "deleteDaysAfterLastModification": {
              "type": "integer",
              "x-annotation-hasUpdateAction": {
                "action": "setDeleteDaysAfterLastModification",
                "docsAnchor": "set-deletedaysafterlastmodification-beta"
              }
            },
            "refusedGifts": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartDiscountReference"
              }
            },
            "origin": {
              "$ref": "#/definitions/CartOrigin"
            },
            "shippingRateInput": {
              "$ref": "#/definitions/ShippingRateInput",
              "x-annotation-hasUpdateAction": {
                "action": "setShippingRateInput",
                "fields": {
                  "shippingRateInput?": "ShippingRateInputDraft"
                }
              }
            },
            "itemShippingAddresses": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              },
              "x-annotation-hasUpdateActions": [
                {
                  "action": "addItemShippingAddress",
                  "docsAnchor": "add-itemshippingaddress",
                  "fields": {
                    "address": "Address"
                  }
                },
                {
                  "action": "removeItemShippingAddress",
                  "docsAnchor": "remove-itemshippingaddress",
                  "fields": {
                    "addressKey": "string"
                  }
                },
                {
                  "action": "updateItemShippingAddress",
                  "docsAnchor": "update-itemshippingaddress",
                  "fields": {
                    "address": "Address"
                  }
                }
              ]
            }
          },
          "required": [
            "lineItems",
            "customLineItems",
            "totalPrice",
            "cartState",
            "taxMode",
            "taxRoundingMode",
            "taxCalculationMode",
            "refusedGifts",
            "origin"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cart",
      "x-annotation-updateType": "CartUpdate",
      "x-annotation-hasUpdateActions": [
        {
          "action": "addShoppingList",
          "fields": {
            "shoppingList": {
              "type": "ShoppingListReference"
            },
            "supplyChannel?": {
              "type": "ChannelReference"
            },
            "distributionChannel?": {
              "type": "ChannelReference"
            }
          }
        },
        {
          "action": "recalculate",
          "fields": {
            "updateProductData?": "boolean"
          }
        }
      ]
    },
    "CartDraft": {
      "title": "CartDraft",
      "type": "object",
      "properties": {
        "currency": {
          "$ref": "#/definitions/CurrencyCode"
        },
        "customerId": {
          "type": "string"
        },
        "customerEmail": {
          "type": "string"
        },
        "customerGroup": {
          "$ref": "#/definitions/CustomerGroupReference"
        },
        "anonymousId": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "inventoryMode": {
          "$ref": "#/definitions/InventoryMode"
        },
        "taxMode": {
          "$ref": "#/definitions/TaxMode"
        },
        "taxRoundingMode": {
          "$ref": "#/definitions/RoundingMode"
        },
        "taxCalculationMode": {
          "$ref": "#/definitions/TaxCalculationMode"
        },
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemDraft"
          }
        },
        "customLineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomLineItemDraft"
          }
        },
        "shippingAddress": {
          "$ref": "#/definitions/Address"
        },
        "billingAddress": {
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "$ref": "#/definitions/ShippingMethodReference"
        },
        "externalTaxRateForShippingMethod": {
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "$ref": "#/definitions/CustomFieldsDraft"
        },
        "locale": {
          "type": "string"
        },
        "deleteDaysAfterLastModification": {
          "format": "int64",
          "type": "number"
        },
        "origin": {
          "$ref": "#/definitions/CartOrigin"
        },
        "shippingRateInput": {
          "$ref": "#/definitions/ShippingRateInputDraft"
        },
        "itemShippingAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        }
      },
      "required": [
        "currency"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cartdraft"
    },
    "CartOrigin": {
      "title": "CartOrigin",
      "enum": [
        "Customer",
        "Merchant"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cartorigin"
    },
    "CartPagedQueryResponse": {
      "title": "CartPagedQueryResponse",
      "allOf": [
        {
          "$ref": "#/definitions/PagedQueryResponse"
        },
        {
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Cart"
              }
            }
          },
          "required": [
            "results"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartReference": {
      "title": "CartReference",
      "allOf": [
        {
          "$ref": "#/definitions/Reference"
        },
        {
          "properties": {
            "obj": {
              "$ref": "#/definitions/Cart"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cart"
    },
    "CartState": {
      "title": "CartState",
      "enum": [
        "Active",
        "Merged",
        "Ordered"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cartstate"
    },
    "CartUpdate": {
      "title": "CartUpdate",
      "allOf": [
        {
          "$ref": "#/definitions/Update"
        },
        {
          "properties": {
            "actions": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartUpdateAction"
              }
            }
          },
          "required": [
            "actions"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartUpdateAction": {
      "title": "CartUpdateAction",
      "discriminator": "action",
      "$ref": "#/definitions/UpdateAction",
      "x-annotation-package": "Cart"
    },
    "ClassificationShippingRateInput": {
      "title": "ClassificationShippingRateInput",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInput"
        },
        {
          "properties": {
            "key": {
              "type": "string"
            },
            "label": {
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "key",
            "label"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#classificationshippingrateinput"
    },
    "ClassificationShippingRateInputDraft": {
      "title": "ClassificationShippingRateInputDraft",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInputDraft"
        },
        {
          "properties": {
            "key": {
              "type": "string"
            }
          },
          "required": [
            "key"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#classificationshippingrateinputdraft"
    },
    "CustomLineItem": {
      "title": "CustomLineItem",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "$ref": "#/definitions/LocalizedString"
        },
        "money": {
          "$ref": "#/definitions/TypedMoney"
        },
        "taxedPrice": {
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "totalPrice": {
          "$ref": "#/definitions/TypedMoney"
        },
        "slug": {
          "type": "string"
        },
        "quantity": {
          "type": "number"
        },
        "state": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemState"
          }
        },
        "taxCategory": {
          "$ref": "#/definitions/TaxCategoryReference"
        },
        "taxRate": {
          "$ref": "#/definitions/TaxRate"
        },
        "discountedPricePerQuantity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPriceForQuantity"
          }
        },
        "custom": {
          "$ref": "#/definitions/CustomFields"
        },
        "shippingDetails": {
          "$ref": "#/definitions/ItemShippingDetails"
        }
      },
      "required": [
        "id",
        "name",
        "money",
        "totalPrice",
        "slug",
        "quantity",
        "state",
        "discountedPricePerQuantity"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#customlineitem"
    },
    "CustomLineItemDraft": {
      "title": "CustomLineItemDraft",
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/LocalizedString"
        },
        "quantity": {
          "type": "number"
        },
        "money": {
          "$ref": "#/definitions/Money"
        },
        "slug": {
          "type": "string"
        },
        "taxCategory": {
          "$ref": "#/definitions/TaxCategoryReference"
        },
        "externalTaxRate": {
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "$ref": "#/definitions/CustomFields"
        },
        "shippingDetails": {
          "$ref": "#/definitions/ItemShippingDetailsDraft"
        }
      },
      "required": [
        "name",
        "quantity",
        "money",
        "slug"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#customlineitemdraft"
    },
    "DiscountCodeInfo": {
      "title": "DiscountCodeInfo",
      "type": "object",
      "properties": {
        "discountCode": {
          "$ref": "#/definitions/DiscountCodeReference"
        },
        "state": {
          "$ref": "#/definitions/DiscountCodeState"
        }
      },
      "required": [
        "discountCode",
        "state"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountcodereference"
    },
    "DiscountCodeState": {
      "title": "DiscountCodeState",
      "enum": [
        "NotActive",
        "DoesNotMatchCart",
        "MatchesCart",
        "MaxApplicationReached"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountcodestate"
    },
    "DiscountedLineItemPortion": {
      "title": "DiscountedLineItemPortion",
      "type": "object",
      "properties": {
        "discount": {
          "$ref": "#/definitions/CartDiscountReference"
        },
        "discountedAmount": {
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "discount",
        "discountedAmount"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountedlineitemportion"
    },
    "DiscountedLineItemPrice": {
      "title": "DiscountedLineItemPrice",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "#/definitions/TypedMoney"
        },
        "includedDiscounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPortion"
          }
        }
      },
      "required": [
        "value",
        "includedDiscounts"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountedlineitemprice"
    },
    "DiscountedLineItemPriceForQuantity": {
      "title": "DiscountedLineItemPriceForQuantity",
      "type": "object",
      "properties": {
        "quantity": {
          "type": "number"
        },
        "discountedPrice": {
          "$ref": "#/definitions/DiscountedLineItemPrice"
        }
      },
      "required": [
        "quantity",
        "discountedPrice"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountedlineitempriceforquantity"
    },
    "ExternalLineItemTotalPrice": {
      "title": "ExternalLineItemTotalPrice",
      "type": "object",
      "properties": {
        "price": {
          "$ref": "#/definitions/Money"
        },
        "totalPrice": {
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "price",
        "totalPrice"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#externallineitemtotalprice"
    },
    "ExternalTaxAmountDraft": {
      "title": "ExternalTaxAmountDraft",
      "type": "object",
      "properties": {
        "totalGross": {
          "$ref": "#/definitions/Money"
        },
        "taxRate": {
          "$ref": "#/definitions/ExternalTaxRateDraft"
        }
      },
      "required": [
        "totalGross",
        "taxRate"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#externaltaxamountdraft"
    },
    "ExternalTaxRateDraft": {
      "title": "ExternalTaxRateDraft",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "amount": {
          "type": "number"
        },
        "country": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "subRates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubRate"
          }
        }
      },
      "required": [
        "name",
        "country"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#externaltaxratedraft"
    },
    "InventoryMode": {
      "title": "InventoryMode",
      "enum": [
        "TrackOnly",
        "ReserveOnOrder",
        "None"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#inventorymode"
    },
    "ItemShippingDetails": {
      "title": "ItemShippingDetails",
      "type": "object",
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemShippingTarget"
          }
        },
        "valid": {
          "type": "boolean"
        }
      },
      "required": [
        "targets",
        "valid"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#itemshippingdetails"
    },
    "ItemShippingDetailsDraft": {
      "title": "ItemShippingDetailsDraft",
      "type": "object",
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemShippingTarget"
          }
        }
      },
      "required": [
        "targets"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#itemshippingdetailsdraft"
    },
    "ItemShippingTarget": {
      "title": "ItemShippingTarget",
      "type": "object",
      "properties": {
        "addressKey": {
          "type": "string"
        },
        "quantity": {
          "type": "number"
        }
      },
      "required": [
        "addressKey",
        "quantity"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#itemshippingtarget"
    },
    "LineItem": {
      "title": "LineItem",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "name": {
          "$ref": "#/definitions/LocalizedString"
        },
        "productSlug": {
          "$ref": "#/definitions/LocalizedString"
        },
        "productType": {
          "$ref": "#/definitions/ProductTypeReference"
        },
        "variant": {
          "$ref": "#/definitions/ProductVariant"
        },
        "price": {
          "$ref": "#/definitions/Price"
        },
        "taxedPrice": {
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "totalPrice": {
          "$ref": "#/definitions/Money"
        },
        "quantity": {
          "format": "int64",
          "type": "number"
        },
        "state": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemState"
          }
        },
        "taxRate": {
          "$ref": "#/definitions/TaxRate"
        },
        "supplyChannel": {
          "$ref": "#/definitions/ChannelReference"
        },
        "distributionChannel": {
          "$ref": "#/definitions/ChannelReference"
        },
        "discountedPricePerQuantity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPriceForQuantity"
          }
        },
        "priceMode": {
          "$ref": "#/definitions/LineItemPriceMode"
        },
        "lineItemMode": {
          "$ref": "#/definitions/LineItemMode"
        },
        "custom": {
          "$ref": "#/definitions/CustomFields"
        },
        "shippingDetails": {
          "$ref": "#/definitions/ItemShippingDetails"
        }
      },
      "required": [
        "id",
        "productId",
        "name",
        "productType",
        "variant",
        "price",
        "totalPrice",
        "quantity",
        "state",
        "discountedPricePerQuantity",
        "priceMode",
        "lineItemMode"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#lineitem"
    },
    "LineItemDraft": {
      "title": "LineItemDraft",
      "properties": {
        "productId": {
          "type": "string"
        },
        "variantId": {
          "format": "int64",
          "type": "number"
        },
        "sku": {
          "type": "string"
        },
        "quantity": {
          "default": 1,
          "format": "int64",
          "type": "number"
        },
        "supplyChannel": {
          "$ref": "#/definitions/ChannelReference"
        },
        "distributionChannel": {
          "$ref": "#/definitions/ChannelReference"
        },
        "externalTaxRate": {
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "$ref": "#/definitions/CustomFieldsDraft"
        },
        "externalPrice": {
          "$ref": "#/definitions/Money"
        },
        "externalTotalPrice": {
          "$ref": "#/definitions/ExternalLineItemTotalPrice"
        },
        "shippingDetails": {
          "$ref": "#/definitions/ItemShippingDetailsDraft"
        }
      },
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#lineitemdraft",
      "x-annotation-builder": [
        {
          "paramNames": [
            "productId",
            "variantId",
            "quantity"
          ]
        },
        {
          "paramNames": [
            "sku",
            "quantity"
          ]
        }
      ],
      "type": "object"
    },
    "LineItemMode": {
      "title": "LineItemMode",
      "enum": [
        "Standard",
        "GiftLineItem"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "LineItemPriceMode": {
      "title": "LineItemPriceMode",
      "enum": [
        "Platform",
        "ExternalTotal",
        "ExternalPrice"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "ReplicaCartDraft": {
      "title": "ReplicaCartDraft",
      "type": "object",
      "properties": {
        "reference": {
          "$ref": "#/definitions/Reference"
        }
      },
      "required": [
        "reference"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#replicacartdraft"
    },
    "RoundingMode": {
      "title": "RoundingMode",
      "enum": [
        "HalfEven",
        "HalfUp",
        "HalfDown"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "ScoreShippingRateInput": {
      "title": "ScoreShippingRateInput",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInput"
        },
        {
          "properties": {
            "score": {
              "type": "number"
            }
          },
          "required": [
            "score"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#scoreshippingrateinput"
    },
    "ScoreShippingRateInputDraft": {
      "title": "ScoreShippingRateInputDraft",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInputDraft"
        },
        {
          "properties": {
            "score": {
              "type": "number"
            }
          },
          "required": [
            "score"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#scoreshippingrateinputdraft"
    },
    "ShippingInfo": {
      "title": "ShippingInfo",
      "type": "object",
      "properties": {
        "shippingMethodName": {
          "type": "string"
        },
        "price": {
          "$ref": "#/definitions/TypedMoney"
        },
        "shippingRate": {
          "$ref": "#/definitions/ShippingRate"
        },
        "taxedPrice": {
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "taxRate": {
          "$ref": "#/definitions/TaxRate"
        },
        "taxCategory": {
          "$ref": "#/definitions/TaxCategoryReference"
        },
        "shippingMethod": {
          "$ref": "#/definitions/ShippingMethodReference"
        },
        "deliveries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Delivery"
          }
        },
        "discountedPrice": {
          "$ref": "#/definitions/DiscountedLineItemPrice"
        },
        "shippingMethodState": {
          "$ref": "#/definitions/ShippingMethodState"
        }
      },
      "required": [
        "shippingMethodName",
        "price",
        "shippingRate",
        "shippingMethodState"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippinginfo"
    },
    "ShippingMethodState": {
      "title": "ShippingMethodState",
      "enum": [
        "DoesNotMatchCart",
        "MatchesCart"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippingmethodstate"
    },
    "ShippingRateInput": {
      "title": "ShippingRateInput",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippingrateinput"
    },
    "ShippingRateInputDraft": {
      "title": "ShippingRateInputDraft",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippingrateinputdraft"
    },
    "TaxCalculationMode": {
      "title": "TaxCalculationMode",
      "enum": [
        "LineItemLevel",
        "UnitPriceLevel"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "TaxMode": {
      "title": "TaxMode",
      "enum": [
        "Platform",
        "External",
        "ExternalAmount",
        "Disabled"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "TaxPortion": {
      "title": "TaxPortion",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "rate": {
          "minimum": 0,
          "maximum": 1,
          "type": "number"
        },
        "amount": {
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "rate",
        "amount"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#taxportion"
    },
    "TaxedItemPrice": {
      "title": "TaxedItemPrice",
      "type": "object",
      "properties": {
        "totalNet": {
          "$ref": "#/definitions/TypedMoney"
        },
        "totalGross": {
          "$ref": "#/definitions/TypedMoney"
        }
      },
      "required": [
        "totalNet",
        "totalGross"
      ],
      "x-annotation-package": "Cart"
    },
    "TaxedPrice": {
      "title": "TaxedPrice",
      "type": "object",
      "properties": {
        "totalNet": {
          "$ref": "#/definitions/Money"
        },
        "totalGross": {
          "$ref": "#/definitions/Money"
        },
        "taxPortions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxPortion"
          }
        }
      },
      "required": [
        "totalNet",
        "totalGross",
        "taxPortions"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#taxedprice"
    },
    "CartAddCustomLineItemAction": {
      "title": "CartAddCustomLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "money": {
              "$ref": "#/definitions/Money"
            },
            "name": {
              "$ref": "#/definitions/LocalizedString"
            },
            "quantity": {
              "type": "number"
            },
            "slug": {
              "type": "string"
            },
            "taxCategory": {
              "$ref": "#/definitions/TaxCategoryReference"
            },
            "custom": {
              "$ref": "#/definitions/CustomFieldsDraft"
            },
            "externalTaxRate": {
              "$ref": "#/definitions/ExternalTaxRateDraft"
            }
          },
          "required": [
            "money",
            "name",
            "quantity",
            "slug"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-customlineitem"
    },
    "CartAddDiscountCodeAction": {
      "title": "CartAddDiscountCodeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "code": {
              "type": "string"
            }
          },
          "required": [
            "code"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-discountcode"
    },
    "CartAddItemShippingAddressAction": {
      "title": "CartAddItemShippingAddressAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "address": {
              "$ref": "#/definitions/Address"
            }
          },
          "required": [
            "address"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-itemshippingaddress"
    },
    "CartAddLineItemAction": {
      "title": "CartAddLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "custom": {
              "$ref": "#/definitions/CustomFieldsDraft"
            },
            "distributionChannel": {
              "$ref": "#/definitions/ChannelReference"
            },
            "externalTaxRate": {
              "$ref": "#/definitions/ExternalTaxRateDraft"
            },
            "productId": {
              "type": "string"
            },
            "variantId": {
              "format": "int64",
              "type": "number"
            },
            "sku": {
              "type": "string"
            },
            "quantity": {
              "type": "number"
            },
            "supplyChannel": {
              "$ref": "#/definitions/ChannelReference"
            },
            "externalPrice": {
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            },
            "shippingDetails": {
              "$ref": "#/definitions/ItemShippingDetailsDraft"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-lineitem"
    },
    "CartAddPaymentAction": {
      "title": "CartAddPaymentAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "payment": {
              "$ref": "#/definitions/PaymentReference"
            }
          },
          "required": [
            "payment"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-payment"
    },
    "CartAddShoppingListAction": {
      "title": "CartAddShoppingListAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "shoppingList": {
              "$ref": "#/definitions/ShoppingListReference"
            },
            "supplyChannel": {
              "$ref": "#/definitions/ChannelReference"
            },
            "distributionChannel": {
              "$ref": "#/definitions/ChannelReference"
            }
          },
          "required": [
            "shoppingList"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-shopping-list"
    },
    "CartApplyDeltaToCustomLineItemShippingDetailsTargetsAction": {
      "title": "CartApplyDeltaToCustomLineItemShippingDetailsTargetsAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            },
            "targetsDelta": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemShippingTarget"
              }
            }
          },
          "required": [
            "customLineItemId",
            "targetsDelta"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#apply-deltatocustomlineitemshippingdetailstargets"
    },
    "CartApplyDeltaToLineItemShippingDetailsTargetsAction": {
      "title": "CartApplyDeltaToLineItemShippingDetailsTargetsAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "type": "string"
            },
            "targetsDelta": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemShippingTarget"
              }
            }
          },
          "required": [
            "lineItemId",
            "targetsDelta"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#apply-deltatolineitemshippingdetailstargets"
    },
    "CartChangeCustomLineItemMoneyAction": {
      "title": "CartChangeCustomLineItemMoneyAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            },
            "money": {
              "$ref": "#/definitions/Money"
            }
          },
          "required": [
            "customLineItemId",
            "money"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-customlineitem-money"
    },
    "CartChangeCustomLineItemQuantityAction": {
      "title": "CartChangeCustomLineItemQuantityAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            },
            "quantity": {
              "type": "number"
            }
          },
          "required": [
            "customLineItemId",
            "quantity"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-customlineitem-quantity"
    },
    "CartChangeLineItemQuantityAction": {
      "title": "CartChangeLineItemQuantityAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "type": "string"
            },
            "quantity": {
              "type": "number"
            },
            "externalPrice": {
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            }
          },
          "required": [
            "lineItemId",
            "quantity"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-lineitem-quantity"
    },
    "CartChangeTaxCalculationModeAction": {
      "title": "CartChangeTaxCalculationModeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "taxCalculationMode": {
              "$ref": "#/definitions/TaxCalculationMode"
            }
          },
          "required": [
            "taxCalculationMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-taxcalculationmode"
    },
    "CartChangeTaxModeAction": {
      "title": "CartChangeTaxModeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "taxMode": {
              "$ref": "#/definitions/TaxMode"
            }
          },
          "required": [
            "taxMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-taxmode"
    },
    "CartChangeTaxRoundingModeAction": {
      "title": "CartChangeTaxRoundingModeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "taxRoundingMode": {
              "$ref": "#/definitions/RoundingMode"
            }
          },
          "required": [
            "taxRoundingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-tax-roundingmode"
    },
    "CartRecalculateAction": {
      "title": "CartRecalculateAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "updateProductData": {
              "type": "boolean"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#recalculate"
    },
    "CartRemoveCustomLineItemAction": {
      "title": "CartRemoveCustomLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-customlineitem"
    },
    "CartRemoveDiscountCodeAction": {
      "title": "CartRemoveDiscountCodeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "discountCode": {
              "$ref": "#/definitions/DiscountCodeReference"
            }
          },
          "required": [
            "discountCode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-discountcode"
    },
    "CartRemoveItemShippingAddressAction": {
      "title": "CartRemoveItemShippingAddressAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "addressKey": {
              "type": "string"
            }
          },
          "required": [
            "addressKey"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-itemshippingaddress"
    },
    "CartRemoveLineItemAction": {
      "title": "CartRemoveLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "type": "string"
            },
            "quantity": {
              "type": "number"
            },
            "externalPrice": {
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            },
            "shippingDetailsToRemove": {
              "$ref": "#/definitions/ItemShippingDetailsDraft"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-lineitem"
    },
    "CartRemovePaymentAction": {
      "title": "CartRemovePaymentAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "payment": {
              "$ref": "#/definitions/PaymentReference"
            }
          },
          "required": [
            "payment"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-payment"
    },
    "CartSetAnonymousIdAction": {
      "title": "CartSetAnonymousIdAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "anonymousId": {
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-anonymous-id"
    },
    "CartSetBillingAddressAction": {
      "title": "CartSetBillingAddressAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "address": {
              "$ref": "#/definitions/Address"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-billing-address"
    },
    "CartSetCartTotalTaxAction": {
      "title": "CartSetCartTotalTaxAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTotalGross": {
              "$ref": "#/definitions/Money"
            },
            "externalTaxPortions": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaxPortion"
              }
            }
          },
          "required": [
            "externalTotalGross"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-cart-total-tax"
    },
    "CartSetCountryAction": {
      "title": "CartSetCountryAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "country": {
              "$ref": "#/definitions/CountryCode"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-country"
    },
    "CartSetCustomFieldAction": {
      "title": "CartSetCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "name": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customfield"
    },
    "CartSetCustomLineItemCustomFieldAction": {
      "title": "CartSetCustomLineItemCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "required": [
            "customLineItemId",
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customlineitem-customfield"
    },
    "CartSetCustomLineItemCustomTypeAction": {
      "title": "CartSetCustomLineItemCustomTypeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            },
            "type": {
              "$ref": "#/definitions/TypeReference"
            },
            "fields": {
              "$ref": "#/definitions/FieldContainer"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customlineitem-custom-type"
    },
    "CartSetCustomLineItemShippingDetailsAction": {
      "title": "CartSetCustomLineItemShippingDetailsAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            },
            "shippingDetails": {
              "$ref": "#/definitions/ItemShippingDetailsDraft"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customlineitemshippingdetails"
    },
    "CartSetCustomLineItemTaxAmountAction": {
      "title": "CartSetCustomLineItemTaxAmountAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            },
            "externalTaxAmount": {
              "$ref": "#/definitions/ExternalTaxAmountDraft"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customlineitem-taxamount"
    },
    "CartSetCustomLineItemTaxRateAction": {
      "title": "CartSetCustomLineItemTaxRateAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            },
            "externalTaxRate": {
              "$ref": "#/definitions/ExternalTaxRateDraft"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customlineitem-taxrate"
    },
    "CartSetCustomShippingMethodAction": {
      "title": "CartSetCustomShippingMethodAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "shippingMethodName": {
              "type": "string"
            },
            "shippingRate": {
              "$ref": "#/definitions/ShippingRateDraft"
            },
            "taxCategory": {
              "$ref": "#/definitions/TaxCategoryReference"
            },
            "externalTaxRate": {
              "$ref": "#/definitions/ExternalTaxRateDraft"
            }
          },
          "required": [
            "shippingMethodName",
            "shippingRate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-custom-shipping-method"
    },
    "CartSetCustomTypeAction": {
      "title": "CartSetCustomTypeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "type": {
              "$ref": "#/definitions/TypeReference"
            },
            "fields": {
              "$ref": "#/definitions/FieldContainer"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-custom-type"
    },
    "CartSetCustomerEmailAction": {
      "title": "CartSetCustomerEmailAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "email": {
              "type": "string"
            }
          },
          "required": [
            "email"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customer-email"
    },
    "CartSetCustomerGroupAction": {
      "title": "CartSetCustomerGroupAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customerGroup": {
              "$ref": "#/definitions/CustomerGroupReference"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customer-group"
    },
    "CartSetCustomerIdAction": {
      "title": "CartSetCustomerIdAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customerId": {
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customer-id"
    },
    "CartSetDeleteDaysAfterLastModificationAction": {
      "title": "CartSetDeleteDaysAfterLastModificationAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "deleteDaysAfterLastModification": {
              "type": "integer"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-deletedaysafterlastmodification-beta"
    },
    "CartSetLineItemCustomFieldAction": {
      "title": "CartSetLineItemCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "required": [
            "lineItemId",
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-lineitem-customfield"
    },
    "CartSetLineItemCustomTypeAction": {
      "title": "CartSetLineItemCustomTypeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "type": "string"
            },
            "type": {
              "$ref": "#/definitions/TypeReference"
            },
            "fields": {
              "$ref": "#/definitions/FieldContainer"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-lineitem-custom-type"
    },
    "CartSetLineItemPriceAction": {
      "title": "CartSetLineItemPriceAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
[...]
