#%RAML 1.0
---
title: Commercetools
baseUri: https://api.sphere.io
version: v1
securitySchemes:
  oauth_2_0: !include securitySchemes/oauth2.raml
securedBy: [ oauth_2_0 ]
traits:
    query: !include traits/query.raml
    sortable: !include traits/sortable.raml
    paging: !include traits/paging.raml
    conflicting: !include traits/conflicting.raml
    versioned: !include traits/versioned.raml
    priceSelecting: !include traits/price-selecting.raml
annotationTypes: !include types/annotations.raml
types: !include types/types.raml
mediaType: application/json
resourceTypes:
  base:
      uriParameters:
        projectKey:
            type: string
      get?:
        responses:
          200: !include deprecation.raml
          400: !include 400-error.raml
          404: !include 404-error.raml
          500: !include 500-error.raml
          503: !include 503-error.raml
      post?:
        responses:
          200: !include deprecation.raml
          201: !include deprecation.raml
          400: !include 400-error.raml
          404: !include 404-error.raml
          500: !include 500-error.raml
          503: !include 503-error.raml
      delete?:
        responses:
          200: !include deprecation.raml
          400: !include 400-error.raml
          404: !include 404-error.raml
          500: !include 500-error.raml
          503: !include 503-error.raml
  baseById:
    type: base
    uriParameters:
        ID:
            type: string
  baseByKey:
    type: base
    uriParameters:
        key:
            type: string
/{projectKey}:
  type: base
  displayName: Project
  description: The Project endpoint is used to retrieve certain information from a project.
  get:
    description: The Endpoint is responding a limited set of information about settings and configuration of the project.
    securedBy: [oauth_2_0: {scopes: ["manage_project:{projectKey}"]}]
    responses:
      200:
        body:
          application/json:
            example: !include examples/project.example.json
            type: Project
  /categories: !include categories.raml
  /carts: !include carts.raml
  /cart-discounts: !include cart-discounts.raml
  /channels: !include channels.raml
  /customers: !include customers.raml
  /customer-groups: !include customer-groups.raml
  /custom-objects: !include custom-objects.raml
  /discount-codes: !include discount-codes.raml
  /graphql: !include graphql.raml
  /inventory: !include inventory.raml
  /login: !include login.raml
  /messages: !include messages.raml
  /orders: !include orders.raml
  /payments: !include payments.raml
  /products: !include products.raml
  /product-discounts: !include product-discounts.raml
  /product-projections: !include product-projections.raml
  /product-types: !include product-types.raml
  /reviews: !include reviews.raml
  /shipping-methods: !include shipping-methods.raml
  /states: !include states.raml
  /subscriptions: !include subscriptions.raml
  /tax-categories: !include tax-categories.raml
  /types: !include types.raml
  /zones: !include zones.raml


