{
  "swagger": "2.0",
  "info": {
    "title": "Commercetools",
    "version": "v1"
  },
  "host": "api.europe-west1.gcp.commercetools.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth_2_0": {
      "description": "HTTP API authorization uses [OAuth2](http://tools.ietf.org/html/rfc6750).\n\nClients must obtain an access token from the auth service using one of\nthe authorization flows described below, before they are able to make authorized requests\nto other commercetools services. On successful completion of an authorization flow,\na client will be given an `access_token`, which they need to include in requests\nto authorized service endpoints via the HTTP `Authorization` header like this:\n",
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://auth.europe-west1.gcp.commercetools.com/oauth/token",
      "scopes": {
        "manage_project:{projectKey}": "",
        "manage_products:{projectKey}": "",
        "view_products:{projectKey}": "",
        "manage_orders:{projectKey}": "",
        "manage_orders:{projectKey}:{storeKey}": "",
        "view_orders:{projectKey}": "",
        "view_orders:{projectKey}:{storeKey}": "",
        "manage_customers:{projectKey}": "",
        "view_customers:{projectKey}": "",
        "manage_payments:{projectKey}": "",
        "view_payments:{projectKey}": "",
        "manage_subscriptions:{projectKey}": "",
        "manage_extensions:{projectKey}": "",
        "manage_types:{projectKey}": "",
        "view_types:{projectKey}": "",
        "view_shopping_lists:{projectKey}": "",
        "manage_shopping_lists:{projectKey}": "",
        "manage_my_orders:{projectKey}": "",
        "manage_my_orders:{projectKey}:{storeKey}": "",
        "manage_my_profile:{projectKey}": "",
        "view_project_settings:{projectKey}": "",
        "view_published_products:{projectKey}": "",
        "manage_cart_discounts:{projectKey}": "",
        "view_cart_discounts:{projectKey}": "",
        "manage_customer_groups:{projectKey}": "",
        "view_customer_groups:{projectKey}": "",
        "view_shipping_methods:{projectKey}": "",
        "manage_shipping_methods:{projectKey}": "",
        "manage_tax_categories:{projectKey}": "",
        "view_tax_categories:{projectKey}": "",
        "manage_categories:{projectKey}": "",
        "view_categories:{projectKey}": ""
      }
    }
  },
  "definitions": {
    "PagedQueryResponse": {
      "title": "PagedQueryResponse",
      "type": "object",
      "properties": {
        "limit": {
          "format": "int64",
          "type": "number"
        },
        "count": {
          "format": "int64",
          "type": "number"
        },
        "total": {
          "format": "int64",
          "type": "number"
        },
        "offset": {
          "format": "int64",
          "type": "number"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BaseResource"
          }
        },
        "facets": {
          "$ref": "#/definitions/FacetResults"
        },
        "meta": {
          "type": "object"
        }
      },
      "required": [
        "limit",
        "count",
        "offset",
        "results"
      ],
      "x-annotation-package": "Common"
    },
    "Update": {
      "title": "Update",
      "type": "object",
      "properties": {
        "version": {
          "format": "int64",
          "type": "number"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpdateAction"
          }
        }
      },
      "required": [
        "version",
        "actions"
      ],
      "x-annotation-package": "Common"
    },
    "UpdateAction": {
      "title": "UpdateAction",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        }
      },
      "required": [
        "action"
      ],
      "x-annotation-package": "Common"
    },
    "ApiClient": {
      "title": "ApiClient",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID of the API client.\nThis is the OAuth2 `client_id` and can be used to obtain a token.",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "scope": {
          "description": "A whitespace separated list of the OAuth scopes.\nThis is the OAuth2 `scope` and can be used to obtain a token.",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "lastUsedAt": {
          "description": "The last day this API Client was used to obtain a token.",
          "type": "string",
          "format": "date"
        },
        "deleteAt": {
          "description": "If set, the client will be deleted on (or shortly after) this point in time.",
          "type": "string",
          "format": "date-time"
        },
        "secret": {
          "description": "The secret is only shown once in the response of creating the API Client.\nThis is the OAuth2 `client_secret` and can be used to obtain a token.",
          "type": "string"
        }
      },
      "required": [
        "id",
        "name",
        "scope"
      ],
      "x-annotation-package": "ApiClient",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-apiClients.html#apiclient"
    },
    "ApiClientDraft": {
      "title": "ApiClientDraft",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "deleteDaysAfterCreation": {
          "format": "int64",
          "description": "If set, the client will be deleted after the specified amount of days.",
          "type": "number"
        }
      },
      "required": [
        "name",
        "scope"
      ],
      "x-annotation-package": "ApiClient",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-apiClients.html#apiclientdraft"
    },
    "ApiClientPagedQueryResponse": {
      "title": "ApiClientPagedQueryResponse",
      "type": "object",
      "properties": {
        "limit": {
          "format": "int64",
          "type": "number"
        },
        "count": {
          "format": "int64",
          "type": "number"
        },
        "total": {
          "format": "int64",
          "type": "number"
        },
        "offset": {
          "format": "int64",
          "type": "number"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiClient"
          }
        }
      },
      "required": [
        "limit",
        "count",
        "offset",
        "results"
      ],
      "x-annotation-package": "ApiClient"
    },
    "CartDiscount": {
      "title": "CartDiscount",
      "allOf": [
        {
          "$ref": "#/definitions/BaseResource"
        },
        {
          "properties": {
            "id": {
              "description": "The unique ID of the cart discount.",
              "type": "string",
              "x-annotation-identifier": true
            },
            "version": {
              "format": "int64",
              "description": "The current version of the cart discount.",
              "type": "number"
            },
            "createdAt": {
              "type": "string",
              "format": "date-time"
            },
            "lastModifiedAt": {
              "type": "string",
              "format": "date-time"
            },
            "lastModifiedBy": {
              "description": "Present on resources updated after 1/02/2019 except for events not tracked.",
              "$ref": "#/definitions/LastModifiedBy"
            },
            "createdBy": {
              "description": "Present on resources created after 1/02/2019 except for events not tracked.",
              "$ref": "#/definitions/CreatedBy"
            },
            "name": {
              "$ref": "#/definitions/LocalizedString"
            },
            "key": {
              "description": "User-specific unique identifier for a cart discount.\nMust be unique across a project.",
              "type": "string"
            },
            "description": {
              "$ref": "#/definitions/LocalizedString"
            },
            "value": {
              "$ref": "#/definitions/CartDiscountValue"
            },
            "cartPredicate": {
              "description": "A valid Cart predicate.",
              "type": "string"
            },
            "target": {
              "description": "Empty when the `value` has type `giftLineItem`, otherwise a CartDiscountTarget is set.",
              "$ref": "#/definitions/CartDiscountTarget"
            },
            "sortOrder": {
              "description": "The string must contain a number between 0 and 1.\nAll matching cart discounts are applied to a cart in the order defined by this field.\nA discount with greater sort order is prioritized higher than a discount with lower sort order.\nThe sort order is unambiguous among all cart discounts.",
              "type": "string"
            },
            "isActive": {
              "description": "Only active discount can be applied to the cart.",
              "type": "boolean"
            },
            "validFrom": {
              "type": "string",
              "format": "date-time"
            },
            "validUntil": {
              "type": "string",
              "format": "date-time"
            },
            "requiresDiscountCode": {
              "description": "States whether the discount can only be used in a connection with a DiscountCode.",
              "type": "boolean"
            },
            "references": {
              "description": "The platform will generate this array from the predicate.\nIt contains the references of all the resources that are addressed in the predicate.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Reference"
              }
            },
            "stackingMode": {
              "description": "Specifies whether the application of this discount causes the following discounts to be ignored.\nDefaults to Stacking.",
              "$ref": "#/definitions/StackingMode"
            },
            "custom": {
              "$ref": "#/definitions/CustomFields"
            }
          },
          "required": [
            "id",
            "version",
            "createdAt",
            "lastModifiedAt",
            "name",
            "value",
            "cartPredicate",
            "sortOrder",
            "isActive",
            "requiresDiscountCode",
            "references",
            "stackingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscount",
      "x-annotation-updateType": "CartDiscountUpdate"
    },
    "CartDiscountCustomLineItemsTarget": {
      "title": "CartDiscountCustomLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "type": "string"
            }
          },
          "required": [
            "predicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountDraft": {
      "title": "CartDiscountDraft",
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/LocalizedString"
        },
        "key": {
          "description": "User-specific unique identifier for a cart discount.\nMust be unique across a project.\nThe field can be reset using the Set Key UpdateAction.",
          "type": "string"
        },
        "description": {
          "$ref": "#/definitions/LocalizedString"
        },
        "value": {
          "$ref": "#/definitions/CartDiscountValueDraft"
        },
        "cartPredicate": {
          "description": "A valid Cart predicate.",
          "type": "string"
        },
        "target": {
          "description": "Must not be set when the `value` has type `giftLineItem`, otherwise a CartDiscountTarget must be set.",
          "$ref": "#/definitions/CartDiscountTarget"
        },
        "sortOrder": {
          "description": "The string must contain a number between 0 and 1.\nA discount with greater sort order is prioritized higher than a discount with lower sort order.\nThe sort order must be unambiguous among all cart discounts.",
          "type": "string"
        },
        "isActive": {
          "description": "Only active discount can be applied to the cart.\nDefaults to `true`.",
          "type": "boolean"
        },
        "validFrom": {
          "type": "string",
          "format": "date-time"
        },
        "validUntil": {
          "type": "string",
          "format": "date-time"
        },
        "requiresDiscountCode": {
          "description": "States whether the discount can only be used in a connection with a DiscountCode.\nDefaults to `false`.",
          "type": "boolean"
        },
        "stackingMode": {
          "description": "Specifies whether the application of this discount causes the following discounts to be ignored.\nDefaults to Stacking.",
          "$ref": "#/definitions/StackingMode"
        },
        "custom": {
          "$ref": "#/definitions/CustomFields"
        }
      },
      "required": [
        "name",
        "value",
        "cartPredicate",
        "sortOrder",
        "requiresDiscountCode"
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscount"
    },
    "CartDiscountLineItemsTarget": {
      "title": "CartDiscountLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "type": "string"
            }
          },
          "required": [
            "predicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountPagedQueryResponse": {
      "title": "CartDiscountPagedQueryResponse",
      "type": "object",
      "properties": {
        "limit": {
          "format": "int64",
          "type": "number"
        },
        "count": {
          "format": "int64",
          "type": "number"
        },
        "total": {
          "format": "int64",
          "type": "number"
        },
        "offset": {
          "format": "int64",
          "type": "number"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CartDiscount"
          }
        }
      },
      "required": [
        "limit",
        "count",
        "offset",
        "results"
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountReference": {
      "title": "CartDiscountReference",
      "allOf": [
        {
          "$ref": "#/definitions/Reference"
        },
        {
          "properties": {
            "obj": {
              "$ref": "#/definitions/CartDiscount"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscount"
    },
    "CartDiscountResourceIdentifier": {
      "title": "CartDiscountResourceIdentifier",
      "$ref": "#/definitions/ResourceIdentifier",
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscount"
    },
    "CartDiscountShippingCostTarget": {
      "title": "CartDiscountShippingCostTarget",
      "$ref": "#/definitions/CartDiscountTarget",
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountTarget": {
      "title": "CartDiscountTarget",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscounttarget"
    },
    "CartDiscountUpdate": {
      "title": "CartDiscountUpdate",
      "type": "object",
      "properties": {
        "version": {
          "format": "int64",
          "type": "number"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CartDiscountUpdateAction"
          }
        }
      },
      "required": [
        "version",
        "actions"
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountUpdateAction": {
      "title": "CartDiscountUpdateAction",
      "discriminator": "action",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        }
      },
      "required": [
        "action"
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValue": {
      "title": "CartDiscountValue",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscountvalue"
    },
    "CartDiscountValueAbsolute": {
      "title": "CartDiscountValueAbsolute",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "money": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypedMoney"
              }
            }
          },
          "required": [
            "money"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueAbsoluteDraft": {
      "title": "CartDiscountValueAbsoluteDraft",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValueDraft"
        },
        {
          "properties": {
            "money": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Money"
              }
            }
          },
          "required": [
            "money"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueDraft": {
      "title": "CartDiscountValueDraft",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscountvalue"
    },
    "CartDiscountValueGiftLineItem": {
      "title": "CartDiscountValueGiftLineItem",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "product": {
              "$ref": "#/definitions/ProductReference"
            },
            "variantId": {
              "format": "int64",
              "type": "number"
            },
            "supplyChannel": {
              "$ref": "#/definitions/ChannelReference"
            },
            "distributionChannel": {
              "$ref": "#/definitions/ChannelReference"
            }
          },
          "required": [
            "product",
            "variantId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueGiftLineItemDraft": {
      "title": "CartDiscountValueGiftLineItemDraft",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValueDraft"
        },
        {
          "properties": {
            "product": {
              "$ref": "#/definitions/ProductReference"
            },
            "variantId": {
              "format": "int64",
              "type": "number"
            },
            "supplyChannel": {
              "$ref": "#/definitions/ChannelReference"
            },
            "distributionChannel": {
              "$ref": "#/definitions/ChannelReference"
            }
          },
          "required": [
            "product",
            "variantId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueRelative": {
      "title": "CartDiscountValueRelative",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "permyriad": {
              "format": "int64",
              "type": "number"
            }
          },
          "required": [
            "permyriad"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueRelativeDraft": {
      "title": "CartDiscountValueRelativeDraft",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValueDraft"
        },
        {
          "properties": {
            "permyriad": {
              "format": "int64",
              "type": "number"
            }
          },
          "required": [
            "permyriad"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "MultiBuyCustomLineItemsTarget": {
      "title": "MultiBuyCustomLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "description": "A valid custom line item target predicate. The discount will be applied to custom line items that are\nmatched by the predicate.\n",
              "type": "string"
            },
            "triggerQuantity": {
              "description": "Quantity of line items that need to be present in order to trigger an application of this discount.",
              "type": "integer"
            },
            "discountedQuantity": {
              "description": "Quantity of line items that are discounted per application of this discount.",
              "type": "integer"
            },
            "maxOccurrence": {
              "description": "Maximum number of applications of this discount.",
              "type": "integer"
            },
            "selectionMode": {
              "$ref": "#/definitions/SelectionMode"
            }
          },
          "required": [
            "predicate",
            "triggerQuantity",
            "discountedQuantity",
            "selectionMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "MultiBuyLineItemsTarget": {
      "title": "MultiBuyLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "description": "A valid line item target predicate. The discount will be applied to line items that are matched by the predicate.\n",
              "type": "string"
            },
            "triggerQuantity": {
              "description": "Quantity of line items that need to be present in order to trigger an application of this discount.",
              "type": "integer"
            },
            "discountedQuantity": {
              "description": "Quantity of line items that are discounted per application of this discount.",
              "type": "integer"
            },
            "maxOccurrence": {
              "description": "Maximum number of applications of this discount.",
              "type": "integer"
            },
            "selectionMode": {
              "$ref": "#/definitions/SelectionMode"
            }
          },
          "required": [
            "predicate",
            "triggerQuantity",
            "discountedQuantity",
            "selectionMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "SelectionMode": {
      "title": "SelectionMode",
      "enum": [
        "Cheapest",
        "MostExpensive"
      ],
      "type": "string",
      "x-annotation-package": "CartDiscount"
    },
    "StackingMode": {
      "title": "StackingMode",
      "enum": [
        "Stacking",
        "StopAfterThisDiscount"
      ],
      "type": "string",
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountChangeCartPredicateAction": {
      "title": "CartDiscountChangeCartPredicateAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "cartPredicate": {
              "description": "A valid Cart predicate.",
              "type": "string"
            }
          },
          "required": [
            "cartPredicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-cart-predicate",
      "x-annotation-postman-example": null
    },
    "CartDiscountChangeIsActiveAction": {
      "title": "CartDiscountChangeIsActiveAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "isActive": {
              "type": "boolean"
            }
          },
          "required": [
            "isActive"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-isactive",
      "x-annotation-postman-example": null
    },
    "CartDiscountChangeNameAction": {
      "title": "CartDiscountChangeNameAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "name": {
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-name",
      "x-annotation-postman-example": null
    },
    "CartDiscountChangeRequiresDiscountCodeAction": {
      "title": "CartDiscountChangeRequiresDiscountCodeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "requiresDiscountCode": {
              "type": "boolean"
            }
          },
          "required": [
            "requiresDiscountCode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-requires-discountcode",
      "x-annotation-postman-example": null
    },
    "CartDiscountChangeSortOrderAction": {
      "title": "CartDiscountChangeSortOrderAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "sortOrder": {
              "description": "The string must contain a number between 0 and 1.\nA discount with greater sortOrder is prioritized higher than a discount with lower sortOrder.",
              "type": "string"
            }
          },
          "required": [
            "sortOrder"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-sort-order",
      "x-annotation-postman-example": null
    },
    "CartDiscountChangeStackingModeAction": {
      "title": "CartDiscountChangeStackingModeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "stackingMode": {
              "$ref": "#/definitions/StackingMode"
            }
          },
          "required": [
            "stackingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-stacking-mode",
      "x-annotation-postman-example": null
    },
    "CartDiscountChangeTargetAction": {
      "title": "CartDiscountChangeTargetAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "target": {
              "$ref": "#/definitions/CartDiscountTarget"
            }
          },
          "required": [
            "target"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-target",
      "x-annotation-postman-example": null
    },
    "CartDiscountChangeValueAction": {
      "title": "CartDiscountChangeValueAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "value": {
              "$ref": "#/definitions/CartDiscountValueDraft"
            }
          },
          "required": [
            "value"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-value",
      "x-annotation-postman-example": null
    },
    "CartDiscountSetCustomFieldAction": {
      "title": "CartDiscountSetCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "name": {
              "type": "string"
            },
            "value": {
              "description": "If `value` is absent or `null`, this field will be removed if it exists.\nTrying to remove a field that does not exist will fail with an `InvalidOperation` error.\nIf `value` is provided, set the `value` of the field defined by the `name`.\nThe FieldDefinition determines the format for the `value` to be provided.",
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-customfield",
      "x-annotation-postman-example": null
    },
    "CartDiscountSetCustomTypeAction": {
      "title": "CartDiscountSetCustomTypeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "type": {
              "description": "If absent, the custom type and any existing CustomFields are removed.",
              "$ref": "#/definitions/TypeResourceIdentifier"
            },
            "fields": {
              "description": "A valid JSON object, based on the FieldDefinitions of the Type.\nSets the custom fields to this value.",
              "type": "object"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-custom-type",
      "x-annotation-postman-example": null
    },
    "CartDiscountSetDescriptionAction": {
      "title": "CartDiscountSetDescriptionAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "description": {
              "description": "If the `description` parameter is not included, the field will be emptied.",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-description",
      "x-annotation-postman-example": null
    },
    "CartDiscountSetKeyAction": {
      "title": "CartDiscountSetKeyAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "key": {
              "description": "If `key` is absent or `null`, this field will be removed if it exists.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-key"
    },
    "CartDiscountSetValidFromAction": {
      "title": "CartDiscountSetValidFromAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "validFrom": {
              "description": "If absent, the field with the value is removed in case a value was set before.",
              "type": "string",
              "format": "date-time"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-valid-from",
      "x-annotation-postman-example": null
    },
    "CartDiscountSetValidFromAndUntilAction": {
      "title": "CartDiscountSetValidFromAndUntilAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "validFrom": {
              "description": "If absent, the field with the value is removed in case a value was set before.",
              "type": "string",
              "format": "date-time"
            },
            "validUntil": {
              "description": "If absent, the field with the value is removed in case a value was set before.",
              "type": "string",
              "format": "date-time"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-valid-from-and-until",
      "x-annotation-postman-example": null
    },
    "CartDiscountSetValidUntilAction": {
      "title": "CartDiscountSetValidUntilAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "validUntil": {
              "description": "If absent, the field with the value is removed in case a value was set before.",
              "type": "string",
              "format": "date-time"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-valid-until",
      "x-annotation-postman-example": null
    },
    "Cart": {
      "title": "Cart",
      "allOf": [
        {
          "$ref": "#/definitions/BaseResource"
        },
        {
          "properties": {
            "id": {
              "description": "The unique ID of the cart.",
              "type": "string",
              "x-annotation-identifier": true
            },
            "version": {
              "format": "int64",
              "description": "The current version of the cart.",
              "type": "number"
            },
            "createdAt": {
              "type": "string",
              "format": "date-time"
            },
            "lastModifiedAt": {
              "type": "string",
              "format": "date-time"
            },
            "lastModifiedBy": {
              "description": "Present on resources updated after 1/02/2019 except for events not tracked.",
              "$ref": "#/definitions/LastModifiedBy"
            },
            "createdBy": {
              "description": "Present on resources created after 1/02/2019 except for events not tracked.",
              "$ref": "#/definitions/CreatedBy"
            },
            "customerId": {
              "type": "string"
            },
            "customerEmail": {
              "type": "string"
            },
            "anonymousId": {
              "description": "Identifies carts and orders belonging to an anonymous session (the customer has not signed up/in yet).",
              "type": "string"
            },
            "store": {
              "$ref": "#/definitions/StoreKeyReference"
            },
            "lineItems": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LineItem"
              }
            },
            "customLineItems": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomLineItem"
              }
            },
            "totalPrice": {
              "description": "The sum of all `totalPrice` fields of the `lineItems` and `customLineItems`, as well as the `price` field of `shippingInfo` (if it exists).\n`totalPrice` may or may not include the taxes: it depends on the taxRate.includedInPrice property of each price.",
              "$ref": "#/definitions/TypedMoney"
            },
            "taxedPrice": {
              "description": "Not set until the shipping address is set.\nWill be set automatically in the `Platform` TaxMode.\nFor the `External` tax mode it will be set  as soon as the external tax rates for all line items, custom line items, and shipping in the cart are set.",
              "$ref": "#/definitions/TaxedPrice"
            },
            "cartState": {
              "$ref": "#/definitions/CartState"
            },
            "shippingAddress": {
              "description": "The shipping address is used to determine the eligible shipping methods and rates as well as the tax rate of the line items.",
              "$ref": "#/definitions/Address"
            },
            "billingAddress": {
              "$ref": "#/definitions/Address"
            },
            "inventoryMode": {
              "$ref": "#/definitions/InventoryMode"
            },
            "taxMode": {
              "$ref": "#/definitions/TaxMode"
            },
            "taxRoundingMode": {
              "description": "When calculating taxes for `taxedPrice`, the selected mode is used for rounding.",
              "$ref": "#/definitions/RoundingMode"
            },
            "taxCalculationMode": {
              "description": "When calculating taxes for `taxedPrice`, the selected mode is used for calculating the price with `LineItemLevel` (horizontally) or `UnitPriceLevel` (vertically) calculation mode.",
              "$ref": "#/definitions/TaxCalculationMode"
            },
            "customerGroup": {
              "description": "Set automatically when the customer is set and the customer is a member of a customer group.\nUsed for product variant\nprice selection.",
              "$ref": "#/definitions/CustomerGroupReference"
            },
            "country": {
              "description": "A two-digit country code as per [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\nUsed for product variant price selection.",
              "$ref": "#/definitions/CountryCode"
            },
            "shippingInfo": {
              "description": "Set automatically once the ShippingMethod is set.",
              "$ref": "#/definitions/ShippingInfo"
            },
            "discountCodes": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DiscountCodeInfo"
              }
            },
            "custom": {
              "$ref": "#/definitions/CustomFields"
            },
            "paymentInfo": {
              "$ref": "#/definitions/PaymentInfo"
            },
            "locale": {
              "type": "string"
            },
            "deleteDaysAfterLastModification": {
              "description": "The cart will be deleted automatically if it hasn't been modified for the specified amount of days and it is in the `Active` CartState.",
              "type": "integer"
            },
            "refusedGifts": {
              "description": "Automatically filled when a line item with LineItemMode `GiftLineItem` is removed from the cart.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartDiscountReference"
              }
            },
            "origin": {
              "description": "The origin field indicates how this cart was created.\nThe value `Customer` indicates, that the cart was created by the customer.",
              "$ref": "#/definitions/CartOrigin"
            },
            "shippingRateInput": {
              "description": "The shippingRateInput is used as an input to select a ShippingRatePriceTier.",
              "$ref": "#/definitions/ShippingRateInput"
            },
            "itemShippingAddresses": {
              "description": "Contains addresses for carts with multiple shipping addresses.\nLine items reference these addresses under their `shippingDetails`.\nThe addresses captured here are not used to determine eligible shipping methods or the applicable tax rate.\nOnly the cart's `shippingAddress` is used for this.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "required": [
            "id",
            "version",
            "createdAt",
            "lastModifiedAt",
            "lineItems",
            "customLineItems",
            "totalPrice",
            "cartState",
            "taxMode",
            "taxRoundingMode",
            "taxCalculationMode",
            "refusedGifts",
            "origin"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cart",
      "x-annotation-updateType": "CartUpdate"
    },
    "CartDraft": {
      "title": "CartDraft",
      "type": "object",
      "properties": {
        "currency": {
          "description": "A three-digit currency code as per [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).",
          "$ref": "#/definitions/CurrencyCode"
        },
        "customerId": {
          "description": "Id of an existing Customer.",
          "type": "string"
        },
        "customerEmail": {
          "type": "string"
        },
        "customerGroup": {
          "description": "Will be set automatically when the `customerId` is set and the customer is a member of a customer group.\nCan be set explicitly when no `customerId` is present.",
          "$ref": "#/definitions/CustomerGroupResourceIdentifier"
        },
        "anonymousId": {
          "description": "Assigns the new cart to an anonymous session (the customer has not signed up/in yet).",
          "type": "string"
        },
        "store": {
          "description": "Assigns the new cart to the store.\nThe store assignment can not be modified.",
          "$ref": "#/definitions/StoreResourceIdentifier"
        },
        "country": {
          "description": "A two-digit country code as per [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
          "type": "string"
        },
        "inventoryMode": {
          "description": "Default inventory mode is `None`.",
          "$ref": "#/definitions/InventoryMode"
        },
        "taxMode": {
          "description": "The default tax mode is `Platform`.",
          "$ref": "#/definitions/TaxMode"
        },
        "taxRoundingMode": {
          "description": "The default tax rounding mode is `HalfEven`.",
          "$ref": "#/definitions/RoundingMode"
        },
        "taxCalculationMode": {
          "description": "The default tax calculation mode is `LineItemLevel`.",
          "$ref": "#/definitions/TaxCalculationMode"
        },
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemDraft"
          }
        },
        "customLineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomLineItemDraft"
          }
        },
        "shippingAddress": {
          "description": "The shipping address is used to determine the eligible shipping methods and rates as well as the tax rate of the line items.",
          "$ref": "#/definitions/Address"
        },
        "billingAddress": {
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "$ref": "#/definitions/ShippingMethodResourceIdentifier"
        },
        "externalTaxRateForShippingMethod": {
          "description": "An external tax rate can be set for the `shippingMethod` if the cart has the `External` TaxMode.",
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "description": "The custom fields.",
          "$ref": "#/definitions/CustomFieldsDraft"
        },
        "locale": {
          "description": "Must be one of the languages supported for this project",
          "type": "string"
        },
        "deleteDaysAfterLastModification": {
          "format": "int64",
          "description": "The cart will be deleted automatically if it hasn't been modified for the specified amount of days and it is in the `Active` CartState.\nIf a ChangeSubscription for carts exists, a `ResourceDeleted` notification will be sent.",
          "type": "number"
        },
        "origin": {
          "description": "The default origin is `Customer`.",
          "$ref": "#/definitions/CartOrigin"
        },
        "shippingRateInput": {
          "description": "The shippingRateInput is used as an input to select a ShippingRatePriceTier.\nBased on the definition of ShippingRateInputType.\nIf CartClassification is defined, it must be ClassificationShippingRateInput.\nIf CartScore is defined, it must be ScoreShippingRateInput.\nOtherwise it can not bet set.",
          "$ref": "#/definitions/ShippingRateInputDraft"
        },
        "itemShippingAddresses": {
          "description": "Contains addresses for carts with multiple shipping addresses.\nEach address must contain a key which is unique in this cart.\nLine items will use these keys to reference the addresses under their `shippingDetails`.\nThe addresses captured here are not used to determine eligible shipping methods or the applicable tax rate.\nOnly the cart's `shippingAddress` is used for this.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        }
      },
      "required": [
        "currency"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cartdraft"
    },
    "CartOrigin": {
      "title": "CartOrigin",
      "enum": [
        "Customer",
        "Merchant"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cartorigin"
    },
    "CartPagedQueryResponse": {
      "title": "CartPagedQueryResponse",
      "type": "object",
      "properties": {
        "limit": {
          "format": "int64",
          "type": "number"
        },
        "count": {
          "format": "int64",
          "type": "number"
        },
        "total": {
          "format": "int64",
          "type": "number"
        },
        "offset": {
          "format": "int64",
          "type": "number"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cart"
          }
        }
      },
      "required": [
        "limit",
        "count",
        "offset",
        "results"
      ],
      "x-annotation-package": "Cart"
    },
    "CartReference": {
      "title": "CartReference",
      "allOf": [
        {
          "$ref": "#/definitions/Reference"
        },
        {
          "properties": {
            "obj": {
              "$ref": "#/definitions/Cart"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cart"
    },
    "CartResourceIdentifier": {
      "title": "CartResourceIdentifier",
      "$ref": "#/definitions/ResourceIdentifier",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cart"
    },
    "CartState": {
      "title": "CartState",
      "enum": [
        "Active",
        "Merged",
        "Ordered"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cartstate"
    },
    "CartUpdate": {
      "title": "CartUpdate",
      "type": "object",
      "properties": {
        "version": {
          "format": "int64",
          "type": "number"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CartUpdateAction"
          }
        }
      },
      "required": [
        "version",
        "actions"
      ],
      "x-annotation-package": "Cart"
    },
    "CartUpdateAction": {
      "title": "CartUpdateAction",
      "discriminator": "action",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        }
      },
      "required": [
        "action"
      ],
      "x-annotation-package": "Cart"
    },
    "ClassificationShippingRateInput": {
      "title": "ClassificationShippingRateInput",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInput"
        },
        {
          "properties": {
            "key": {
              "type": "string"
            },
            "label": {
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "key",
            "label"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#classificationshippingrateinput"
    },
    "ClassificationShippingRateInputDraft": {
      "title": "ClassificationShippingRateInputDraft",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInputDraft"
        },
        {
          "properties": {
            "key": {
              "type": "string"
            }
          },
          "required": [
            "key"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#classificationshippingrateinputdraft"
    },
    "CustomLineItem": {
      "title": "CustomLineItem",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID of this CustomLineItem.",
          "type": "string"
        },
        "name": {
          "description": "The name of this CustomLineItem.",
          "$ref": "#/definitions/LocalizedString"
        },
        "money": {
          "description": "The cost to add to the cart.\nThe amount can be negative.",
          "$ref": "#/definitions/TypedMoney"
        },
        "taxedPrice": {
          "description": "Set once the `taxRate` is set.",
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "totalPrice": {
          "description": "The total price of this custom line item.\nIf custom line item is discounted, then the `totalPrice` would be the discounted custom line item price multiplied by `quantity`.\nOtherwise a total price is just a `money` multiplied by the `quantity`.\n`totalPrice` may or may not include the taxes: it depends on the taxRate.includedInPrice property.",
          "$ref": "#/definitions/TypedMoney"
        },
        "slug": {
          "description": "A unique String in the cart to identify this CustomLineItem.",
          "type": "string"
        },
        "quantity": {
          "description": "The amount of a CustomLineItem in the cart.\nMust be a positive integer.",
          "type": "number"
        },
        "state": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemState"
          }
        },
        "taxCategory": {
          "$ref": "#/definitions/TaxCategoryReference"
        },
        "taxRate": {
          "description": "Will be set automatically in the `Platform` TaxMode once the shipping address is set is set.\nFor the `External` tax mode the tax rate has to be set explicitly with the ExternalTaxRateDraft.",
          "$ref": "#/definitions/TaxRate"
        },
        "discountedPricePerQuantity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPriceForQuantity"
          }
        },
        "custom": {
          "$ref": "#/definitions/CustomFields"
        },
        "shippingDetails": {
          "description": "Container for custom line item specific address(es).\nCustomLineItem fields that can be used in query predicates: `slug`, `name`, `quantity`,\n`money`, `state`, `discountedPricePerQuantity`.",
          "$ref": "#/definitions/ItemShippingDetails"
        }
      },
      "required": [
        "id",
        "name",
        "money",
        "totalPrice",
        "slug",
        "quantity",
        "state",
        "discountedPricePerQuantity"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#customlineitem"
    },
    "CustomLineItemDraft": {
      "title": "CustomLineItemDraft",
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/LocalizedString"
        },
        "quantity": {
          "description": "The amount of a CustomLineItemin the cart.\nMust be a positive integer.",
          "type": "number"
        },
        "money": {
          "$ref": "#/definitions/Money"
        },
        "slug": {
          "type": "string"
        },
        "taxCategory": {
          "description": "The given tax category will be used to select a tax rate when a cart has the TaxMode `Platform`.",
          "$ref": "#/definitions/TaxCategoryResourceIdentifier"
        },
        "externalTaxRate": {
          "description": "An external tax rate can be set if the cart has the `External` TaxMode.",
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "description": "The custom fields.",
          "$ref": "#/definitions/CustomFields"
        },
        "shippingDetails": {
          "description": "Container for custom line item specific address(es).",
          "$ref": "#/definitions/ItemShippingDetailsDraft"
        }
      },
      "required": [
        "name",
        "quantity",
        "money",
        "slug"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#customlineitemdraft"
    },
    "DiscountCodeInfo": {
      "title": "DiscountCodeInfo",
      "type": "object",
      "properties": {
        "discountCode": {
          "$ref": "#/definitions/DiscountCodeReference"
        },
        "state": {
          "$ref": "#/definitions/DiscountCodeState"
        }
      },
      "required": [
        "discountCode",
        "state"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountcodereference"
    },
    "DiscountCodeState": {
      "title": "DiscountCodeState",
      "enum": [
        "NotActive",
        "DoesNotMatchCart",
        "MatchesCart",
        "MaxApplicationReached",
        "ApplicationStoppedByPreviousDiscount",
        "NotValid"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountcodestate"
    },
    "DiscountedLineItemPortion": {
      "title": "DiscountedLineItemPortion",
      "type": "object",
      "properties": {
        "discount": {
          "$ref": "#/definitions/CartDiscountReference"
        },
        "discountedAmount": {
          "$ref": "#/definitions/TypedMoney"
        }
      },
      "required": [
        "discount",
        "discountedAmount"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountedlineitemportion"
    },
    "DiscountedLineItemPrice": {
      "title": "DiscountedLineItemPrice",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "#/definitions/TypedMoney"
        },
        "includedDiscounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPortion"
          }
        }
      },
      "required": [
        "value",
        "includedDiscounts"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountedlineitemprice"
    },
    "DiscountedLineItemPriceForQuantity": {
      "title": "DiscountedLineItemPriceForQuantity",
      "type": "object",
      "properties": {
        "quantity": {
          "type": "number"
        },
        "discountedPrice": {
          "$ref": "#/definitions/DiscountedLineItemPrice"
        }
      },
      "required": [
        "quantity",
        "discountedPrice"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountedlineitempriceforquantity"
    },
    "ExternalLineItemTotalPrice": {
      "title": "ExternalLineItemTotalPrice",
      "type": "object",
      "properties": {
        "price": {
          "$ref": "#/definitions/Money"
        },
        "totalPrice": {
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "price",
        "totalPrice"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#externallineitemtotalprice"
    },
    "ExternalTaxAmountDraft": {
      "title": "ExternalTaxAmountDraft",
      "type": "object",
      "properties": {
        "totalGross": {
          "description": "The total gross amount of the item (totalNet + taxes).",
          "$ref": "#/definitions/Money"
        },
        "taxRate": {
          "$ref": "#/definitions/ExternalTaxRateDraft"
        }
      },
      "required": [
        "totalGross",
        "taxRate"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#externaltaxamountdraft"
    },
    "ExternalTaxRateDraft": {
      "title": "ExternalTaxRateDraft",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "amount": {
          "description": "Percentage in the range of [0..1].\nMust be supplied if no `subRates` are specified.\nIf `subRates` are specified\nthen the `amount` can be omitted or it must be the sum of the amounts of all `subRates`.",
          "type": "number"
        },
        "country": {
          "description": "A two-digit country code as per [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
          "type": "string"
        },
        "state": {
          "description": "The state in the country",
          "type": "string"
        },
        "subRates": {
          "description": "For countries (e.g.\nthe US) where the total tax is a combination of multiple taxes (e.g.\nstate and local taxes).",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubRate"
          }
        },
        "includedInPrice": {
          "description": "The default value for `includedInPrice` is FALSE.",
          "type": "boolean"
        }
      },
      "required": [
        "name",
        "country"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#externaltaxratedraft"
    },
    "InventoryMode": {
      "title": "InventoryMode",
      "enum": [
        "TrackOnly",
        "ReserveOnOrder",
        "None"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#inventorymode"
    },
    "ItemShippingDetails": {
      "title": "ItemShippingDetails",
      "type": "object",
      "properties": {
        "targets": {
          "description": "Used to map what sub-quantity should be shipped to which address.\nDuplicate address keys are not allowed.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemShippingTarget"
          }
        },
        "valid": {
          "description": "`true` if the quantity of the (custom) line item is equal to the sum of the sub-quantities in `targets`, `false` otherwise.\nA cart cannot be ordered when the value is `false`.\nThe error InvalidItemShippingDetails will be triggered.",
          "type": "boolean"
        }
      },
      "required": [
        "targets",
        "valid"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#itemshippingdetails"
    },
    "ItemShippingDetailsDraft": {
      "title": "ItemShippingDetailsDraft",
      "type": "object",
      "properties": {
        "targets": {
          "description": "Used to capture one or more (custom) line item specific shipping addresses.\nBy specifying sub-quantities, it is possible to set multiple shipping addresses for one line item.\nA cart can have `shippingDetails` where the `targets` sum does not match the quantity of the line item or custom line item.\nFor the order creation and order updates the `targets` sum must match the quantity.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemShippingTarget"
          }
        }
      },
      "required": [
        "targets"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#itemshippingdetailsdraft"
    },
    "ItemShippingTarget": {
      "title": "ItemShippingTarget",
      "type": "object",
      "properties": {
        "addressKey": {
          "description": "The key of the address in the cart's `itemShippingAddresses`",
          "type": "string"
        },
        "quantity": {
          "description": "The quantity of items that should go to the address with the specified `addressKey`.\nOnly positive values are allowed.\nUsing `0` as quantity is also possible in a draft object, but the element will not be present in the resulting ItemShippingDetails.",
          "type": "number"
        }
      },
      "required": [
        "addressKey",
        "quantity"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#itemshippingtarget"
    },
    "LineItem": {
      "title": "LineItem",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID of this LineItem.",
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "name": {
          "description": "The product name.",
          "$ref": "#/definitions/LocalizedString"
        },
        "productSlug": {
          "description": "The slug of a product is inserted on the fly.\nIt is always up-to-date and can therefore be used to link to the product detail page of the product.\nIt is empty if the product has been deleted.\nThe slug is also empty if the cart or order is retrieved via Reference Expansion or is a snapshot in a Message.",
          "$ref": "#/definitions/LocalizedString"
        },
        "productType": {
          "$ref": "#/definitions/ProductTypeReference"
        },
        "variant": {
          "description": "The variant data is saved when the variant is added to the cart, and not updated automatically.\nIt can manually be updated with the Recalculate update action.",
          "$ref": "#/definitions/ProductVariant"
        },
        "price": {
          "description": "The price of a line item is selected from the prices array of the product variant.\nIf the `variant` field hasn't been updated, the price may not correspond to a price in `variant.prices`.",
          "$ref": "#/definitions/Price"
        },
        "taxedPrice": {
          "description": "Set once the `taxRate` is set.",
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "totalPrice": {
          "description": "The total price of this line item.\nIf the line item is discounted, then the `totalPrice` is the DiscountedLineItemPriceForQuantity multiplied by `quantity`.\nOtherwise the total price is the product price multiplied by the `quantity`.\n`totalPrice` may or may not include the taxes: it depends on the taxRate.includedInPrice property.",
          "$ref": "#/definitions/TypedMoney"
        },
        "quantity": {
          "format": "int64",
          "description": "The amount of a LineItem in the cart.\nMust be a positive integer.",
          "type": "number"
        },
        "addedAt": {
          "description": "When the line item was added to the cart. Optional for backwards\ncompatibility reasons only.",
          "type": "string",
          "format": "date-time"
        },
        "state": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemState"
          }
        },
        "taxRate": {
          "description": "Will be set automatically in the `Platform` TaxMode once the shipping address is set is set.\nFor the `External` tax mode the tax rate has to be set explicitly with the ExternalTaxRateDraft.",
          "$ref": "#/definitions/TaxRate"
        },
        "supplyChannel": {
          "description": "The supply channel identifies the inventory entries that should be reserved.\nThe channel has\nthe role InventorySupply.",
          "$ref": "#/definitions/ChannelReference"
        },
        "distributionChannel": {
          "description": "The distribution channel is used to select a ProductPrice.\nThe channel has the role ProductDistribution.",
          "$ref": "#/definitions/ChannelReference"
        },
        "discountedPricePerQuantity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPriceForQuantity"
          }
        },
        "priceMode": {
          "$ref": "#/definitions/LineItemPriceMode"
        },
        "lineItemMode": {
          "$ref": "#/definitions/LineItemMode"
        },
        "custom": {
          "$ref": "#/definitions/CustomFields"
        },
        "shippingDetails": {
          "description": "Container for line item specific address(es).",
          "$ref": "#/definitions/ItemShippingDetails"
        }
      },
      "required": [
        "id",
        "productId",
        "name",
        "productType",
        "variant",
        "price",
        "totalPrice",
        "quantity",
        "state",
        "discountedPricePerQuantity",
        "priceMode",
        "lineItemMode"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#lineitem"
    },
    "LineItemDraft": {
      "title": "LineItemDraft",
      "properties": {
        "productId": {
          "type": "string"
        },
        "variantId": {
          "format": "int64",
          "type": "number"
        },
        "sku": {
          "type": "string"
        },
        "quantity": {
          "default": 1,
          "format": "int64",
          "description": "The amount of a `LineItem`in the cart.\nMust be a positive integer.",
          "type": "number"
        },
        "addedAt": {
          "description": "When the line item was added to the cart. Optional for backwards\ncompatibility reasons only.",
          "type": "string",
          "format": "date-time"
        },
        "supplyChannel": {
          "description": "By providing supply channel information, you can unique identify\ninventory entries that should be reserved.\nThe provided channel should have\nthe InventorySupply role.",
          "$ref": "#/definitions/ChannelResourceIdentifier"
        },
        "distributionChannel": {
          "description": "The channel is used to select a ProductPrice.\nThe provided channel should have the ProductDistribution role.",
          "$ref": "#/definitions/ChannelResourceIdentifier"
        },
        "externalTaxRate": {
          "description": "An external tax rate can be set if the cart has the `External` TaxMode.",
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "description": "The custom fields.",
          "$ref": "#/definitions/CustomFieldsDraft"
        },
        "externalPrice": {
          "description": "Sets the line item `price` to the given value and sets the line item `priceMode` to `ExternalPrice` LineItemPriceMode.",
          "$ref": "#/definitions/Money"
        },
        "externalTotalPrice": {
          "description": "Sets the line item `price` and `totalPrice` to the given values and sets the line item `priceMode` to `ExternalTotal` LineItemPriceMode.",
          "$ref": "#/definitions/ExternalLineItemTotalPrice"
        },
        "shippingDetails": {
          "description": "Container for line item specific address(es).",
          "$ref": "#/definitions/ItemShippingDetailsDraft"
        }
      },
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#lineitemdraft",
      "x-annotation-builder": [
        {
          "paramNames": [
            "productId",
            "variantId",
            "quantity"
          ]
        },
        {
          "paramNames": [
            "sku",
            "quantity"
          ]
        }
      ],
      "type": "object"
    },
    "LineItemMode": {
      "title": "LineItemMode",
      "enum": [
        "Standard",
        "GiftLineItem"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "LineItemPriceMode": {
      "title": "LineItemPriceMode",
      "enum": [
        "Platform",
        "ExternalTotal",
        "ExternalPrice"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "ReplicaCartDraft": {
      "title": "ReplicaCartDraft",
      "type": "object",
      "properties": {
        "reference": {
          "oneOf": [
            {
              "$ref": "#/definitions/CartReference"
            },
            {
              "$ref": "#/definitions/OrderReference"
            }
          ]
        }
      },
      "required": [
        "reference"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#replicacartdraft"
    },
    "RoundingMode": {
      "title": "RoundingMode",
      "enum": [
        "HalfEven",
        "HalfUp",
        "HalfDown"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "ScoreShippingRateInput": {
      "title": "ScoreShippingRateInput",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInput"
        },
        {
          "properties": {
            "score": {
              "type": "number"
            }
          },
          "required": [
            "score"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#scoreshippingrateinput"
    },
    "ScoreShippingRateInputDraft": {
      "title": "ScoreShippingRateInputDraft",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInputDraft"
        },
        {
          "properties": {
            "score": {
              "type": "number"
            }
          },
          "required": [
            "score"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#scoreshippingrateinputdraft"
    },
    "ShippingInfo": {
      "title": "ShippingInfo",
      "type": "object",
      "properties": {
        "shippingMethodName": {
          "type": "string"
        },
        "price": {
          "description": "Determined based on the ShippingRate and its tiered prices, and either the sum of LineItem prices or the `shippingRateInput` field.",
          "$ref": "#/definitions/TypedMoney"
        },
        "shippingRate": {
          "description": "The shipping rate used to determine the price.",
          "$ref": "#/definitions/ShippingRate"
        },
        "taxedPrice": {
          "description": "Set once the `taxRate` is set.",
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "taxRate": {
          "description": "Will be set automatically in the `Platform` TaxMode once the shipping address is set is set.\nFor the `External` tax mode the tax rate has to be set explicitly with the ExternalTaxRateDraft.",
          "$ref": "#/definitions/TaxRate"
        },
        "taxCategory": {
          "$ref": "#/definitions/TaxCategoryReference"
        },
        "shippingMethod": {
          "description": "Not set if custom shipping method is used.",
          "$ref": "#/definitions/ShippingMethodReference"
        },
        "deliveries": {
          "description": "Deliveries are compilations of information on how the articles are being delivered to the customers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Delivery"
          }
        },
        "discountedPrice": {
          "$ref": "#/definitions/DiscountedLineItemPrice"
        },
        "shippingMethodState": {
          "description": "Indicates whether the ShippingMethod referenced in this ShippingInfo is allowed for the cart or not.",
          "$ref": "#/definitions/ShippingMethodState"
        }
      },
      "required": [
        "shippingMethodName",
        "price",
        "shippingRate",
        "shippingMethodState"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippinginfo"
    },
    "ShippingMethodState": {
      "title": "ShippingMethodState",
      "enum": [
        "DoesNotMatchCart",
        "MatchesCart"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippingmethodstate"
    },
    "ShippingRateInput": {
      "title": "ShippingRateInput",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippingrateinput"
    },
    "ShippingRateInputDraft": {
      "title": "ShippingRateInputDraft",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippingrateinputdraft"
    },
    "TaxCalculationMode": {
      "title": "TaxCalculationMode",
      "enum": [
        "LineItemLevel",
        "UnitPriceLevel"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "TaxMode": {
      "title": "TaxMode",
      "enum": [
        "Platform",
        "External",
        "ExternalAmount",
        "Disabled"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "TaxPortion": {
      "title": "TaxPortion",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "rate": {
          "minimum": 0,
          "maximum": 1,
          "description": "A number in the range [0..1]",
          "type": "number"
        },
        "amount": {
          "$ref": "#/definitions/TypedMoney"
        }
      },
      "required": [
        "rate",
        "amount"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#taxportion"
    },
    "TaxPortionDraft": {
      "title": "TaxPortionDraft",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "rate": {
          "minimum": 0,
          "maximum": 1,
          "type": "number"
        },
        "amount": {
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "rate",
        "amount"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#taxportion"
    },
    "TaxedItemPrice": {
      "title": "TaxedItemPrice",
      "type": "object",
      "properties": {
        "totalNet": {
          "$ref": "#/definitions/TypedMoney"
        },
        "totalGross": {
          "description": "TaxedItemPrice fields can not be used in query predicates.",
          "$ref": "#/definitions/TypedMoney"
        }
      },
      "required": [
        "totalNet",
        "totalGross"
      ],
      "x-annotation-package": "Cart"
    },
    "TaxedPrice": {
      "title": "TaxedPrice",
      "type": "object",
      "properties": {
        "totalNet": {
          "$ref": "#/definitions/TypedMoney"
        },
        "totalGross": {
          "$ref": "#/definitions/TypedMoney"
        },
        "taxPortions": {
          "description": "TaxedPrice fields that can be used in query predicates: `totalNet`, `totalGross`.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxPortion"
          }
        }
      },
      "required": [
        "totalNet",
        "totalGross",
        "taxPortions"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#taxedprice"
    },
    "TaxedPriceDraft": {
      "title": "TaxedPriceDraft",
      "type": "object",
      "properties": {
        "totalNet": {
          "$ref": "#/definitions/TypedMoneyDraft"
        },
        "totalGross": {
          "$ref": "#/definitions/TypedMoneyDraft"
        },
        "taxPortions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxPortionDraft"
          }
        }
      },
      "required": [
        "totalNet",
        "totalGross",
        "taxPortions"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#taxedprice"
    },
    "CartAddCustomLineItemAction": {
      "title": "CartAddCustomLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "money": {
              "$ref": "#/definitions/Money"
            },
            "name": {
              "$ref": "#/definitions/LocalizedString"
            },
            "quantity": {
              "type": "number"
            },
            "slug": {
              "type": "string"
            },
            "taxCategory": {
              "$ref": "#/definitions/TaxCategoryResourceIdentifier"
            },
            "custom": {
              "$ref": "#/definitions/CustomFieldsDraft"
            },
            "externalTaxRate": {
              "$ref": "#/definitions/ExternalTaxRateDraft"
            }
          },
          "required": [
            "money",
            "name",
            "quantity",
            "slug"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-customlineitem",
      "x-annotation-postman-example": null
    },
    "CartAddDiscountCodeAction": {
      "title": "CartAddDiscountCodeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "code": {
              "type": "string"
            }
          },
          "required": [
            "code"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-discountcode",
      "x-annotation-postman-example": null
    },
    "CartAddItemShippingAddressAction": {
      "title": "CartAddItemShippingAddressAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "address": {
              "$ref": "#/definitions/Address"
            }
          },
          "required": [
            "address"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-itemshippingaddress",
      "x-annotation-postman-example": null
    },
    "CartAddLineItemAction": {
      "title": "CartAddLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "custom": {
              "$ref": "#/definitions/CustomFieldsDraft"
            },
            "distributionChannel": {
              "$ref": "#/definitions/ChannelResourceIdentifier"
            },
            "externalTaxRate": {
              "$ref": "#/definitions/ExternalTaxRateDraft"
            },
            "productId": {
              "type": "string"
            },
            "variantId": {
              "format": "int64",
              "type": "number"
            },
            "sku": {
              "type": "string"
            },
            "quantity": {
              "type": "number"
            },
            "supplyChannel": {
              "$ref": "#/definitions/ChannelResourceIdentifier"
            },
            "externalPrice": {
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            },
            "shippingDetails": {
              "$ref": "#/definitions/ItemShippingDetailsDraft"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-lineitem",
      "x-annotation-postman-example": null
    },
    "CartAddPaymentAction": {
      "title": "CartAddPaymentAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "payment": {
              "$ref": "#/definitions/PaymentResourceIdentifier"
            }
          },
          "required": [
            "payment"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-payment",
      "x-annotation-postman-example": null
    },
    "CartAddShoppingListAction": {
      "title": "CartAddShoppingListAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "shoppingList": {
              "$ref": "#/definitions/ShoppingListResourceIdentifier"
            },
            "supplyChannel": {
              "$ref": "#/definitions/ChannelResourceIdentifier"
            },
            "distributionChannel": {
              "$ref": "#/definitions/ChannelResourceIdentifier"
            }
          },
          "required": [
            "shoppingList"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-shopping-list",
      "x-annotation-postman-example": null
    },
    "CartApplyDeltaToCustomLineItemShippingDetailsTargetsAction": {
      "title": "CartApplyDeltaToCustomLineItemShippingDetailsTargetsAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            },
            "targetsDelta": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemShippingTarget"
              }
            }
          },
          "required": [
            "customLineItemId",
            "targetsDelta"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#apply-deltatocustomlineitemshippingdetailstargets",
      "x-annotation-postman-example": null
    },
    "CartApplyDeltaToLineItemShippingDetailsTargetsAction": {
      "title": "CartApplyDeltaToLineItemShippingDetailsTargetsAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "type": "string"
            },
            "targetsDelta": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemShippingTarget"
              }
            }
          },
          "required": [
            "lineItemId",
            "targetsDelta"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#apply-deltatolineitemshippingdetailstargets",
      "x-annotation-postman-example": null
    },
    "CartChangeCustomLineItemMoneyAction": {
      "title": "CartChangeCustomLineItemMoneyAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            },
            "money": {
              "$ref": "#/definitions/Money"
            }
          },
          "required": [
            "customLineItemId",
            "money"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-customlineitem-money",
      "x-annotation-postman-example": null
    },
    "CartChangeCustomLineItemQuantityAction": {
      "title": "CartChangeCustomLineItemQuantityAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            },
            "quantity": {
              "type": "number"
            }
          },
          "required": [
            "customLineItemId",
            "quantity"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-customlineitem-quantity",
      "x-annotation-postman-example": null
    },
    "CartChangeLineItemQuantityAction": {
      "title": "CartChangeLineItemQuantityAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "type": "string"
            },
            "quantity": {
              "type": "number"
            },
            "externalPrice": {
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            }
          },
          "required": [
            "lineItemId",
            "quantity"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-lineitem-quantity",
      "x-annotation-postman-example": null
    },
    "CartChangeTaxCalculationModeAction": {
      "title": "CartChangeTaxCalculationModeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "taxCalculationMode": {
              "$ref": "#/definitions/TaxCalculationMode"
            }
          },
          "required": [
            "taxCalculationMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-taxcalculationmode",
      "x-annotation-postman-example": null
    },
    "CartChangeTaxModeAction": {
      "title": "CartChangeTaxModeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "taxMode": {
              "$ref": "#/definitions/TaxMode"
            }
          },
          "required": [
            "taxMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-taxmode",
      "x-annotation-postman-example": null
    },
    "CartChangeTaxRoundingModeAction": {
      "title": "CartChangeTaxRoundingModeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "taxRoundingMode": {
              "$ref": "#/definitions/RoundingMode"
            }
          },
          "required": [
            "taxRoundingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-tax-roundingmode",
      "x-annotation-postman-example": null
    },
    "CartRecalculateAction": {
      "title": "CartRecalculateAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "updateProductData": {
              "description": "If set to `true`, the line item product data (`name`, `variant` and `productType`) will also be updated.\nIf set to `false`,\nonly the prices and tax rates of the line item will be updated.\nThe updated price of a line item may not correspond to a price in `variant.prices` anymore.",
              "type": "boolean"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#recalculate",
      "x-annotation-postman-example": null
    },
    "CartRemoveCustomLineItemAction": {
      "title": "CartRemoveCustomLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "type": "string"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-customlineitem",
      "x-annotation-postman-example": null
    },
    "CartRemoveDiscountCodeAction": {
      "title": "CartRemoveDiscountCodeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "discountCode": {
              "$ref": "#/definitions/DiscountCodeReference"
            }
          },
          "required": [
            "discountCode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-discountcode",
      "x-annotation-postman-example": null
    },
    "CartRemoveItemShippingAddressAction": {
      "title": "CartRemoveItemShippingAddressAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "addressKey": {
              "type": "string"
            }
          },
          "required": [
            "addressKey"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-itemshippingaddress",
      "x-annotation-postman-example": null
    },
    "CartRemoveLineItemAction": {
      "title": "CartRemoveLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "type": "string"
            },
            "quantity": {
              "type": "number"
            },
            "externalPrice": {
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            },
            "shippingDetailsToRemove": {
              "$ref": "#/definitions/ItemShippingDetailsDraft"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-lineitem",
      "x-annotation-postman-example": null
    },
    "CartRemovePaymentAction": {
      "title": "CartRemovePaymentAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "payment": {
              "$ref": "#/definitions/PaymentResourceIdentifier"
            }
          },
          "required": [
            "payment"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-payment",
      "x-annotation-postman-example": null
    },
    "CartSetAnonymousIdAction": {
      "title": "CartSetAnonymousIdAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "anonymousId": {
              "description": "If not set, any existing anonymous ID will be removed.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-anonymous-id",
      "x-annotation-postman-example": null
    },
    "CartSetBillingAddressAction": {
      "title": "CartSetBillingAddressAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "address": {
              "$ref": "#/definitions/Address"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-billing-address",
      "x-annotation-postman-example": null
    },
    "CartSetCartTotalTaxAction": {
      "title": "CartSetCartTotalTaxAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTotalGross": {
              "description": "The total gross amount of the cart (totalNet + taxes).",
              "$ref": "#/definitions/Money"
            },
            "externalTaxPortions": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaxPortionDraft"
              }
            }
          },
          "required": [
            "externalTotalGross"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-cart-total-tax",
      "x-annotation-postman-example": null
    },
    "CartSetCountryAction": {
      "title": "CartSetCountryAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "country": {
              "$ref": "#/definitions/CountryCode"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-country",
      "x-annotation-postman-example": null
    },
    "CartSetCustomFieldAction": {
      "title": "CartSetCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "name": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
[...]
