{
  "swagger": "2.0",
  "info": {
    "title": "Commercetools",
    "version": "v1"
  },
  "host": "api.sphere.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth_2_0": {
      "description": "HTTP API authorization uses [OAuth2](http://tools.ietf.org/html/rfc6750){:target=\"_blank\"}.\n\nClients must obtain an access token from the auth service using one of\nthe authorization flows described below, before they are able to make authorized requests\nto other SPHERE.IO services. On successful completion of an authorization flow,\na client will be given an `access_token`, which they need to include in requests\nto authorized service endpoints via the HTTP `Authorization` header like this:\n",
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://auth.sphere.io/oauth/token",
      "scopes": {
        "manage_project:{projectKey}": "",
        "manage_products:{projectKey}": "",
        "view_products:{projectKey}": "",
        "manage_orders:{projectKey}": "",
        "view_orders:{projectKey}": "",
        "manage_customers:{projectKey}": "",
        "view_customers:{projectKey}": "",
        "manage_payments:{projectKey}": "",
        "view_payments:{projectKey}": "",
        "manage_subscriptions:{projectKey}": "",
        "manage_extensions:{projectKey}": "",
        "manage_types:{projectKey}": "",
        "view_types:{projectKey}": "",
        "view_shopping_lists:{projectKey}": "",
        "manage_shopping_lists:{projectKey}": "",
        "manage_my_orders:{projectKey}": "",
        "manage_my_profile:{projectKey}": "",
        "view_project_settings:{projectKey}": ""
      }
    }
  },
  "definitions": {
    "PagedQueryResponse": {
      "title": "PagedQueryResponse",
      "type": "object",
      "properties": {
        "count": {
          "title": "count",
          "format": "int64",
          "type": "number"
        },
        "total": {
          "title": "total",
          "format": "int64",
          "type": "number"
        },
        "offset": {
          "title": "offset",
          "format": "int64",
          "type": "number"
        },
        "results": {
          "title": "results",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Resource"
          }
        }
      },
      "required": [
        "count",
        "offset",
        "results"
      ]
    },
    "Update": {
      "title": "Update",
      "type": "object",
      "properties": {
        "version": {
          "title": "version",
          "format": "int64",
          "type": "number"
        },
        "actions": {
          "title": "actions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpdateAction"
          }
        }
      },
      "required": [
        "version",
        "actions"
      ]
    },
    "UpdateAction": {
      "title": "UpdateAction",
      "type": "object",
      "properties": {
        "action": {
          "title": "action",
          "type": "string"
        }
      },
      "required": [
        "action"
      ]
    },
    "CartDiscount": {
      "title": "CartDiscount",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "properties": {
            "name": {
              "title": "name",
              "$ref": "#/definitions/LocalizedString",
              "x-annotation-hasUpdateAction": "changeName"
            },
            "description": {
              "title": "description",
              "$ref": "#/definitions/LocalizedString",
              "x-annotation-hasUpdateAction": "setDescription"
            },
            "value": {
              "title": "value",
              "$ref": "#/definitions/CartDiscountValue",
              "x-annotation-hasUpdateAction": "changeValue"
            },
            "cartPredicate": {
              "title": "cartPredicate",
              "type": "string",
              "x-annotation-hasUpdateAction": "changeCartPredicate"
            },
            "target": {
              "title": "target",
              "$ref": "#/definitions/CartDiscountTarget"
            },
            "sortOrder": {
              "title": "sortOrder",
              "type": "string",
              "x-annotation-hasUpdateAction": "changeSortOrder"
            },
            "isActive": {
              "title": "isActive",
              "type": "boolean",
              "x-annotation-hasUpdateAction": "changeIsActive",
              "x-annotation-docsActionAnchor": "change-isactive"
            },
            "validFrom": {
              "title": "validFrom",
              "type": "string",
              "format": "date-time",
              "x-annotation-hasUpdateAction": "setValidFrom"
            },
            "validUntil": {
              "title": "validUntil",
              "type": "string",
              "format": "date-time",
              "x-annotation-hasUpdateAction": "setValidUntil"
            },
            "requiresDiscountCode": {
              "title": "requiresDiscountCode",
              "type": "boolean",
              "x-annotation-hasUpdateAction": "changeRequiresDiscountCode",
              "x-annotation-docsActionAnchor": "change-requires-discountcode"
            },
            "references": {
              "title": "references",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Reference"
              }
            },
            "stackingMode": {
              "title": "stackingMode",
              "description": "Specifies whether the application of this discount causes the following discounts to be ignored.\nDefaults to Stacking.\n",
              "$ref": "#/definitions/StackingMode",
              "x-annotation-hasUpdateAction": "changeStackingMode"
            },
            "custom": {
              "title": "custom",
              "$ref": "#/definitions/CustomFields"
            }
          },
          "required": [
            "name",
            "value",
            "cartPredicate",
            "sortOrder",
            "isActive",
            "requiresDiscountCode",
            "references",
            "stackingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscount",
      "x-annotation-updateType": "CartDiscountUpdate"
    },
    "CartDiscountChangeTargetAction": {
      "title": "CartDiscountChangeTargetAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "target": {
              "title": "target",
              "$ref": "#/definitions/CartDiscountTarget"
            }
          },
          "required": [
            "target"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-target",
      "x-annotation-postman-example": "{\n  \"action\": \"changeTarget\",\n  \"target\": {\n    \"type\": \"lineItems\",\n    \"predicate\": \"sku = \\\"mySKU\\\"\"\n  }\n}\n"
    },
    "CartDiscountCustomLineItemsTarget": {
      "title": "CartDiscountCustomLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "title": "predicate",
              "type": "string"
            }
          },
          "required": [
            "predicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountDraft": {
      "title": "CartDiscountDraft",
      "type": "object",
      "properties": {
        "name": {
          "title": "name",
          "$ref": "#/definitions/LocalizedString"
        },
        "description": {
          "title": "description",
          "$ref": "#/definitions/LocalizedString"
        },
        "value": {
          "title": "value",
          "$ref": "#/definitions/CartDiscountValue"
        },
        "cartPredicate": {
          "title": "cartPredicate",
          "type": "string"
        },
        "target": {
          "title": "target",
          "$ref": "#/definitions/CartDiscountTarget"
        },
        "sortOrder": {
          "title": "sortOrder",
          "type": "string"
        },
        "isActive": {
          "title": "isActive",
          "type": "boolean"
        },
        "validFrom": {
          "title": "validFrom",
          "type": "string",
          "format": "date-time"
        },
        "validUntil": {
          "title": "validUntil",
          "type": "string",
          "format": "date-time"
        },
        "requiresDiscountCode": {
          "title": "requiresDiscountCode",
          "type": "boolean"
        },
        "stackingMode": {
          "title": "stackingMode",
          "description": "Specifies whether the application of this discount causes the following discounts to be ignored.\nDefaults to Stacking.\n",
          "$ref": "#/definitions/StackingMode"
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFields"
        }
      },
      "required": [
        "name",
        "value",
        "cartPredicate",
        "sortOrder",
        "requiresDiscountCode"
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscount"
    },
    "CartDiscountLineItemsTarget": {
      "title": "CartDiscountLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "title": "predicate",
              "type": "string"
            }
          },
          "required": [
            "predicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountPagedQueryResponse": {
      "title": "CartDiscountPagedQueryResponse",
      "allOf": [
        {
          "$ref": "#/definitions/PagedQueryResponse"
        },
        {
          "properties": {
            "results": {
              "title": "results",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartDiscount"
              }
            }
          },
          "required": [
            "results"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountReference": {
      "title": "CartDiscountReference",
      "allOf": [
        {
          "$ref": "#/definitions/Reference"
        },
        {
          "properties": {
            "obj": {
              "title": "obj",
              "$ref": "#/definitions/CartDiscount"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscount"
    },
    "CartDiscountSetCustomFieldAction": {
      "title": "CartDiscountSetCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "name": {
              "title": "name",
              "type": "string"
            },
            "value": {
              "title": "value",
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-postman-example": "{\n  \"action\": \"setCustomField\",\n  \"name\": \"StringCustomField\",\n  \"value\": \"myValue\"\n}\n"
    },
    "CartDiscountSetCustomTypeAction": {
      "title": "CartDiscountSetCustomTypeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "fields": {
              "title": "fields",
              "type": "string"
            },
            "type": {
              "title": "type",
              "$ref": "#/definitions/TypeReference"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-postman-example": "{\n  \"action\": \"setCustomType\",\n  \"type\": {\n    \"id\": \"089eaa2e-b54b-42d7-811e-23e180fe8dcc\",\n    \"typeId\": \"type\"\n  }\n}\n"
    },
    "CartDiscountShippingCostTarget": {
      "title": "CartDiscountShippingCostTarget",
      "$ref": "#/definitions/CartDiscountTarget",
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountTarget": {
      "title": "CartDiscountTarget",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "title": "type",
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscounttarget"
    },
    "CartDiscountUpdate": {
      "title": "CartDiscountUpdate",
      "allOf": [
        {
          "$ref": "#/definitions/Update"
        },
        {
          "properties": {
            "actions": {
              "title": "actions",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartDiscountUpdateAction"
              }
            }
          },
          "required": [
            "actions"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountUpdateAction": {
      "title": "CartDiscountUpdateAction",
      "discriminator": "action",
      "$ref": "#/definitions/UpdateAction",
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValue": {
      "title": "CartDiscountValue",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "title": "type",
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscountvalue"
    },
    "CartDiscountValueAbsolute": {
      "title": "CartDiscountValueAbsolute",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "money": {
              "title": "money",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Money"
              }
            }
          },
          "required": [
            "money"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueGiftLineItem": {
      "title": "CartDiscountValueGiftLineItem",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "product": {
              "title": "product",
              "$ref": "#/definitions/ProductReference"
            },
            "variantId": {
              "title": "variantId",
              "format": "int64",
              "type": "number"
            },
            "supplyChannel": {
              "title": "supplyChannel",
              "$ref": "#/definitions/ChannelReference"
            },
            "distributionChannel": {
              "title": "distributionChannel",
              "$ref": "#/definitions/ChannelReference"
            }
          },
          "required": [
            "product",
            "variantId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountValueRelative": {
      "title": "CartDiscountValueRelative",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountValue"
        },
        {
          "properties": {
            "permyriad": {
              "title": "permyriad",
              "format": "int64",
              "type": "number"
            }
          },
          "required": [
            "permyriad"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "MultiBuyCustomLineItemsTarget": {
      "title": "MultiBuyCustomLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "title": "predicate",
              "description": "A valid custom line item target predicate. The discount will be applied to custom line items that are\nmatched by the predicate.\n",
              "type": "string"
            },
            "triggerQuantity": {
              "title": "triggerQuantity",
              "description": "Quantity of line items that need to be present in order to trigger an application of this discount.",
              "type": "integer"
            },
            "discountedQuantity": {
              "title": "discountedQuantity",
              "description": "Quantity of line items that are discounted per application of this discount.",
              "type": "integer"
            },
            "maxOccurrence": {
              "title": "maxOccurrence",
              "description": "Maximum number of applications of this discount.",
              "type": "integer"
            },
            "selectionMode": {
              "title": "selectionMode",
              "$ref": "#/definitions/SelectionMode"
            }
          },
          "required": [
            "predicate",
            "triggerQuantity",
            "discountedQuantity",
            "selectionMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "MultiBuyLineItemsTarget": {
      "title": "MultiBuyLineItemsTarget",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountTarget"
        },
        {
          "properties": {
            "predicate": {
              "title": "predicate",
              "description": "A valid line item target predicate. The discount will be applied to line items that are matched by the predicate.\n",
              "type": "string"
            },
            "triggerQuantity": {
              "title": "triggerQuantity",
              "description": "Quantity of line items that need to be present in order to trigger an application of this discount.",
              "type": "integer"
            },
            "discountedQuantity": {
              "title": "discountedQuantity",
              "description": "Quantity of line items that are discounted per application of this discount.",
              "type": "integer"
            },
            "maxOccurrence": {
              "title": "maxOccurrence",
              "description": "Maximum number of applications of this discount.",
              "type": "integer"
            },
            "selectionMode": {
              "title": "selectionMode",
              "$ref": "#/definitions/SelectionMode"
            }
          },
          "required": [
            "predicate",
            "triggerQuantity",
            "discountedQuantity",
            "selectionMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount"
    },
    "SelectionMode": {
      "title": "SelectionMode",
      "enum": [
        "Cheapest",
        "MostExpensive"
      ],
      "type": "string",
      "x-annotation-package": "CartDiscount"
    },
    "StackingMode": {
      "title": "StackingMode",
      "enum": [
        "Stacking",
        "StopAfterThisDiscount"
      ],
      "type": "string",
      "x-annotation-package": "CartDiscount"
    },
    "CartDiscountChangeCartPredicateAction": {
      "title": "CartDiscountChangeCartPredicateAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "cartPredicate": {
              "title": "cartPredicate",
              "type": "string"
            }
          },
          "required": [
            "cartPredicate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-cart-predicate"
    },
    "CartDiscountChangeIsActiveAction": {
      "title": "CartDiscountChangeIsActiveAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "isActive": {
              "title": "isActive",
              "type": "boolean"
            }
          },
          "required": [
            "isActive"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-isactive"
    },
    "CartDiscountChangeNameAction": {
      "title": "CartDiscountChangeNameAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "name": {
              "title": "name",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-name"
    },
    "CartDiscountChangeRequiresDiscountCodeAction": {
      "title": "CartDiscountChangeRequiresDiscountCodeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "requiresDiscountCode": {
              "title": "requiresDiscountCode",
              "type": "boolean"
            }
          },
          "required": [
            "requiresDiscountCode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-requires-discountcode"
    },
    "CartDiscountChangeSortOrderAction": {
      "title": "CartDiscountChangeSortOrderAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "sortOrder": {
              "title": "sortOrder",
              "type": "string"
            }
          },
          "required": [
            "sortOrder"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-sort-order"
    },
    "CartDiscountChangeStackingModeAction": {
      "title": "CartDiscountChangeStackingModeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "stackingMode": {
              "title": "stackingMode",
              "$ref": "#/definitions/StackingMode"
            }
          },
          "required": [
            "stackingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-stacking-mode"
    },
    "CartDiscountChangeValueAction": {
      "title": "CartDiscountChangeValueAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "value": {
              "title": "value",
              "$ref": "#/definitions/CartDiscountValue"
            }
          },
          "required": [
            "value"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#change-value"
    },
    "CartDiscountSetDescriptionAction": {
      "title": "CartDiscountSetDescriptionAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "description": {
              "title": "description",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-description"
    },
    "CartDiscountSetValidFromAction": {
      "title": "CartDiscountSetValidFromAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "validFrom": {
              "title": "validFrom",
              "type": "string",
              "format": "date-time"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-valid-from"
    },
    "CartDiscountSetValidUntilAction": {
      "title": "CartDiscountSetValidUntilAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartDiscountUpdateAction"
        },
        {
          "properties": {
            "validUntil": {
              "title": "validUntil",
              "type": "string",
              "format": "date-time"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#set-valid-until"
    },
    "Cart": {
      "title": "Cart",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "properties": {
            "customerId": {
              "title": "customerId",
              "type": "string",
              "x-annotation-hasUpdateAction": "setCustomerId"
            },
            "customerEmail": {
              "title": "customerEmail",
              "type": "string"
            },
            "anonymousId": {
              "title": "anonymousId",
              "type": "string",
              "x-annotation-hasUpdateAction": "setAnonymousId"
            },
            "lineItems": {
              "title": "lineItems",
              "type": "array",
              "items": {
                "$ref": "#/definitions/LineItem"
              }
            },
            "customLineItems": {
              "title": "customLineItems",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomLineItem"
              }
            },
            "totalPrice": {
              "title": "totalPrice",
              "$ref": "#/definitions/TypedMoney"
            },
            "taxedPrice": {
              "title": "taxedPrice",
              "$ref": "#/definitions/TaxedPrice"
            },
            "cartState": {
              "title": "cartState",
              "$ref": "#/definitions/CartState"
            },
            "shippingAddress": {
              "title": "shippingAddress",
              "$ref": "#/definitions/Address"
            },
            "billingAddress": {
              "title": "billingAddress",
              "$ref": "#/definitions/Address"
            },
            "inventoryMode": {
              "title": "inventoryMode",
              "$ref": "#/definitions/InventoryMode"
            },
            "taxMode": {
              "title": "taxMode",
              "$ref": "#/definitions/TaxMode",
              "x-annotation-hasUpdateAction": "changeTaxMode",
              "x-annotation-docsActionAnchor": "change-taxmode"
            },
            "taxRoundingMode": {
              "title": "taxRoundingMode",
              "$ref": "#/definitions/RoundingMode",
              "x-annotation-hasUpdateAction": "changeTaxRoundingMode",
              "x-annotation-docsActionAnchor": "change-tax-roundingmode"
            },
            "taxCalculationMode": {
              "title": "taxCalculationMode",
              "$ref": "#/definitions/TaxCalculationMode",
              "x-annotation-hasUpdateAction": "changeTaxCalculationMode",
              "x-annotation-docsActionAnchor": "change-taxcalculationmode"
            },
            "customerGroup": {
              "title": "customerGroup",
              "$ref": "#/definitions/CustomerGroupReference",
              "x-annotation-hasUpdateAction": "setCustomerGroup"
            },
            "country": {
              "title": "country",
              "$ref": "#/definitions/CountryCode",
              "x-annotation-hasUpdateAction": "setCountry"
            },
            "shippingInfo": {
              "title": "shippingInfo",
              "$ref": "#/definitions/ShippingInfo"
            },
            "discountCodes": {
              "title": "discountCodes",
              "type": "array",
              "items": {
                "$ref": "#/definitions/DiscountCodeInfo"
              }
            },
            "custom": {
              "title": "custom",
              "$ref": "#/definitions/CustomFields"
            },
            "paymentInfo": {
              "title": "paymentInfo",
              "$ref": "#/definitions/PaymentInfo"
            },
            "locale": {
              "title": "locale",
              "type": "string",
              "x-annotation-hasUpdateAction": "setLocale"
            },
            "deleteDaysAfterLastModification": {
              "title": "deleteDaysAfterLastModification",
              "type": "integer",
              "x-annotation-hasUpdateAction": "setDeleteDaysAfterLastModification",
              "x-annotation-docsActionAnchor": "set-deletedaysafterlastmodification-beta"
            },
            "refusedGifts": {
              "title": "refusedGifts",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartDiscountReference"
              }
            },
            "origin": {
              "title": "origin",
              "$ref": "#/definitions/CartOrigin"
            },
            "shippingRateInput": {
              "title": "shippingRateInput",
              "$ref": "#/definitions/ShippingRateInput"
            },
            "itemShippingAddresses": {
              "title": "itemShippingAddresses",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "required": [
            "lineItems",
            "customLineItems",
            "totalPrice",
            "cartState",
            "taxMode",
            "taxRoundingMode",
            "taxCalculationMode",
            "refusedGifts",
            "origin"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cart",
      "x-annotation-updateType": "CartUpdate"
    },
    "CartAddCustomLineItemAction": {
      "title": "CartAddCustomLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "custom": {
              "title": "custom",
              "$ref": "#/definitions/CustomFieldsDraft"
            },
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            },
            "money": {
              "title": "money",
              "$ref": "#/definitions/Money"
            },
            "name": {
              "title": "name",
              "$ref": "#/definitions/LocalizedString"
            },
            "quantity": {
              "title": "quantity",
              "type": "number"
            },
            "slug": {
              "title": "slug",
              "type": "string"
            },
            "taxCategory": {
              "title": "taxCategory",
              "$ref": "#/definitions/TaxCategoryReference"
            }
          },
          "required": [
            "money",
            "name",
            "quantity",
            "slug"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-customlineitem",
      "x-annotation-postman-example": "{\n  \"action\": \"addCustomLineItem\",\n  \"name\": {\n    \"en\": \"Name EN\",\n    \"de\": \"Name DE\"\n  },\n  \"quantity\": 1,\n  \"money\": {\n      \"currencyCode\": \"EUR\",\n      \"centAmount\":4200\n    },\n  \"slug\": \"mySlug\",\n  \"taxCategory\": {\n    \"typeId\": \"tax-category\",\n    \"id\": \"5786eba8-d448-4b7a-84fd-07fd1d612696\"\n  }\n}\n"
    },
    "CartAddDiscountCodeAction": {
      "title": "CartAddDiscountCodeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "code": {
              "title": "code",
              "type": "string"
            }
          },
          "required": [
            "code"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-discountcode",
      "x-annotation-postman-example": "{\n  \"action\": \"addDiscountCode\",\n  \"code\": \"mydiscountcode\"\n}\n"
    },
    "CartAddItemShippingAddressAction": {
      "title": "CartAddItemShippingAddressAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "address": {
              "title": "address",
              "$ref": "#/definitions/Address"
            }
          },
          "required": [
            "address"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-itemshippingaddress",
      "x-annotation-postman-example": "{\n  \"action\": \"addItemShippingAddress\",\n  \"address\": {\n    \"firstName\": \"Max\",\n    \"lastName\": \"Mustermann\",\n    \"country\": \"DE\"\n  }\n}\n"
    },
    "CartAddLineItemAction": {
      "title": "CartAddLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "custom": {
              "title": "custom",
              "$ref": "#/definitions/CustomFieldsDraft"
            },
            "distributionChannel": {
              "title": "distributionChannel",
              "$ref": "#/definitions/ChannelReference"
            },
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            },
            "productId": {
              "title": "productId",
              "type": "string"
            },
            "variantId": {
              "title": "variantId",
              "format": "int64",
              "type": "number"
            },
            "sku": {
              "title": "sku",
              "type": "string"
            },
            "quantity": {
              "title": "quantity",
              "default": 1,
              "type": "number"
            },
            "supplyChannel": {
              "title": "supplyChannel",
              "$ref": "#/definitions/ChannelReference"
            },
            "externalPrice": {
              "title": "externalPrice",
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "title": "externalTotalPrice",
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            },
            "shippingDetails": {
              "title": "shippingDetails",
              "$ref": "#/definitions/ItemShippingDetailsDraft"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-lineitem",
      "x-annotation-postman-example": "{\n  \"action\": \"addLineItem\",\n  \"productId\": \"e6b98eaa-631d-422b-9fc0-af67c18ff48d\",\n  \"variantId\": 1\n}\n"
    },
    "CartAddPaymentAction": {
      "title": "CartAddPaymentAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "payment": {
              "title": "payment",
              "$ref": "#/definitions/PaymentReference"
            }
          },
          "required": [
            "payment"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-payment",
      "x-annotation-postman-example": "{\n  \"action\": \"addPayment\",\n  \"payment\": {\n    \"id\": \"d45b6f23-76a0-459f-bf55-591dfe8a4ade\",\n    \"typeId\": \"payment\"\n  }\n}\n"
    },
    "CartAddShoppingListAction": {
      "title": "CartAddShoppingListAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "distributionChannel": {
              "title": "distributionChannel",
              "$ref": "#/definitions/ChannelReference"
            },
            "shoppingList": {
              "title": "shoppingList",
              "$ref": "#/definitions/ShoppingListReference"
            },
            "supplyChannel": {
              "title": "supplyChannel",
              "$ref": "#/definitions/ChannelReference"
            }
          },
          "required": [
            "shoppingList"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-shoppinglist",
      "x-annotation-postman-example": "{\n  \"action\": \"addShoppingList\",\n  \"shoppingList\": {\n    \"id\": \"e7ca6063-4f17-42d0-8b84-822029105ffb\",\n    \"typeId\": \"shopping-list\"\n  }\n}\n"
    },
    "CartApplyDeltaToCustomLineItemShippingDetailsTargetsAction": {
      "title": "CartApplyDeltaToCustomLineItemShippingDetailsTargetsAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "targetsDelta": {
              "title": "targetsDelta",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemShippingTarget"
              }
            }
          },
          "required": [
            "customLineItemId",
            "targetsDelta"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#apply-deltatocustomlineitemshippingdetailstargets\n",
      "x-annotation-postman-example": "{\n  \"action\": \"applyDeltaToCustomLineItemShippingDetailsTargets\",\n  \"customLineItemId\": \"{{customLineItemId}}\",\n  \"targetsDelta\": [\n    {\n      \"addressKey\": \"{{addressKey}}\",\n      \"quantity\": 1\n    }\n  ]\n}\n"
    },
    "CartApplyDeltaToLineItemShippingDetailsTargetsAction": {
      "title": "CartApplyDeltaToLineItemShippingDetailsTargetsAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            },
            "targetsDelta": {
              "title": "targetsDelta",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemShippingTarget"
              }
            }
          },
          "required": [
            "lineItemId",
            "targetsDelta"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-itemshippingaddress",
      "x-annotation-postman-example": "{\n  \"action\": \"applyDeltaToLineItemShippingDetailsTargets\",\n  \"lineItemId\": \"{{lineItemId}}\",\n  \"targetsDelta\": [\n    {\n      \"addressKey\": \"{{addressKey}}\",\n      \"quantity\": 1\n    }\n  ]\n}\n"
    },
    "CartChangeCustomLineItemMoneyAction": {
      "title": "CartChangeCustomLineItemMoneyAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "money": {
              "title": "money",
              "$ref": "#/definitions/Money"
            }
          },
          "required": [
            "customLineItemId",
            "money"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-customlineitem-money",
      "x-annotation-postman-example": "{\n  \"action\": \"changeCustomLineItemMoney\",\n  \"customLineItemId\": \"{{customLineItemId}}\",\n  \"money\": {\n    \"currencyCode\": \"EUR\",\n    \"centAmount\":4200\n  }\n}\n"
    },
    "CartChangeCustomLineItemQuantityAction": {
      "title": "CartChangeCustomLineItemQuantityAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "quantity": {
              "title": "quantity",
              "type": "number"
            }
          },
          "required": [
            "customLineItemId",
            "quantity"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-customlineitem-quantity",
      "x-annotation-postman-example": "{\n  \"action\": \"changeCustomLineItemQuantity\",\n  \"customLineItemId\": \"{{customLineItemId}}\",\n  \"quantity\": 1\n}\n"
    },
    "CartChangeLineItemQuantityAction": {
      "title": "CartChangeLineItemQuantityAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            },
            "quantity": {
              "title": "quantity",
              "type": "number"
            },
            "externalPrice": {
              "title": "externalPrice",
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "title": "externalTotalPrice",
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            }
          },
          "required": [
            "lineItemId",
            "quantity"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-lineitem-quantity",
      "x-annotation-postman-example": "{\n  \"action\": \"changeLineItemQuantity\",\n  \"lineItemId\": \"{{lineItemId}}\",\n  \"quantity\": 1\n}\n"
    },
    "CartDraft": {
      "title": "CartDraft",
      "type": "object",
      "properties": {
        "currency": {
          "title": "currency",
          "$ref": "#/definitions/CurrencyCode"
        },
        "customerId": {
          "title": "customerId",
          "type": "string"
        },
        "customerEmail": {
          "title": "customerEmail",
          "type": "string"
        },
        "customerGroup": {
          "title": "customerGroup",
          "$ref": "#/definitions/CustomerGroupReference"
        },
        "anonymousId": {
          "title": "anonymousId",
          "type": "string"
        },
        "country": {
          "title": "country",
          "type": "string"
        },
        "inventoryMode": {
          "title": "inventoryMode",
          "$ref": "#/definitions/InventoryMode"
        },
        "taxMode": {
          "title": "taxMode",
          "$ref": "#/definitions/TaxMode"
        },
        "taxRoundingMode": {
          "title": "taxRoundingMode",
          "$ref": "#/definitions/RoundingMode"
        },
        "taxCalculationMode": {
          "title": "taxCalculationMode",
          "$ref": "#/definitions/TaxCalculationMode"
        },
        "lineItems": {
          "title": "lineItems",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemDraft"
          }
        },
        "customLineItems": {
          "title": "customLineItems",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomLineItemDraft"
          }
        },
        "shippingAddress": {
          "title": "shippingAddress",
          "$ref": "#/definitions/Address"
        },
        "billingAddress": {
          "title": "billingAddress",
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "title": "shippingMethod",
          "$ref": "#/definitions/ShippingMethodReference"
        },
        "externalTaxRateForShippingMethod": {
          "title": "externalTaxRateForShippingMethod",
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFieldsDraft"
        },
        "locale": {
          "title": "locale",
          "type": "string"
        },
        "deleteDaysAfterLastModification": {
          "title": "deleteDaysAfterLastModification",
          "format": "int64",
          "type": "number"
        },
        "origin": {
          "title": "origin",
          "$ref": "#/definitions/CartOrigin"
        },
        "shippingRateInput": {
          "title": "shippingRateInput",
          "$ref": "#/definitions/ShippingRateInputDraft"
        },
        "itemShippingAddresses": {
          "title": "itemShippingAddresses",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        }
      },
      "required": [
        "currency"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cartdraft"
    },
    "CartOrigin": {
      "title": "CartOrigin",
      "enum": [
        "Customer",
        "Merchant"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cartorigin"
    },
    "CartPagedQueryResponse": {
      "title": "CartPagedQueryResponse",
      "allOf": [
        {
          "$ref": "#/definitions/PagedQueryResponse"
        },
        {
          "properties": {
            "results": {
              "title": "results",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Cart"
              }
            }
          },
          "required": [
            "results"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartRecalculateAction": {
      "title": "CartRecalculateAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "updateProductData": {
              "title": "updateProductData",
              "type": "boolean"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#recalculate",
      "x-annotation-postman-example": "{\n  \"action\": \"recalculate\",\n  \"updateProductData\": false\n}\n"
    },
    "CartReference": {
      "title": "CartReference",
      "allOf": [
        {
          "$ref": "#/definitions/Reference"
        },
        {
          "properties": {
            "obj": {
              "title": "obj",
              "$ref": "#/definitions/Cart"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cart"
    },
    "CartRemoveCustomLineItemAction": {
      "title": "CartRemoveCustomLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-customlineitem",
      "x-annotation-postman-example": "{\n  \"action\": \"removeCustomLineItem\",\n  \"customLineItemId\": \"{{customLineItemId}}\"\n}\n"
    },
    "CartRemoveDiscountCodeAction": {
      "title": "CartRemoveDiscountCodeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "discountCode": {
              "title": "discountCode",
              "$ref": "#/definitions/DiscountCodeReference"
            }
          },
          "required": [
            "discountCode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-discountcode",
      "x-annotation-postman-example": "{\n  \"action\": \"removeDiscountCode\",\n  \"discountCode\": {\n    \"typeId\": \"discount-code\",\n    \"id\": \"{{discountCodeId}}\"\n  }\n}\n"
    },
    "CartRemoveItemShippingAddressAction": {
      "title": "CartRemoveItemShippingAddressAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "addressKey": {
              "title": "addressKey",
              "type": "string"
            }
          },
          "required": [
            "addressKey"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-itemshippingaddress",
      "x-annotation-postman-example": "{\n  \"action\": \"removeItemShippingAddress\",\n  \"addressKey\": \"{{addressKey}}\"\n}\n"
    },
    "CartRemoveLineItemAction": {
      "title": "CartRemoveLineItemAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            },
            "quantity": {
              "title": "quantity",
              "type": "number"
            },
            "externalPrice": {
              "title": "externalPrice",
              "$ref": "#/definitions/Money"
            },
            "externalTotalPrice": {
              "title": "externalTotalPrice",
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            },
            "shippingDetailsToRemove": {
              "title": "shippingDetailsToRemove",
              "$ref": "#/definitions/ItemShippingDetailsDraft"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-lineitem",
      "x-annotation-postman-example": "{\n  \"action\": \"removeLineItem\",\n  \"lineItemId\": \"{{lineItemId}}\"\n}\n"
    },
    "CartRemovePaymentAction": {
      "title": "CartRemovePaymentAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "payment": {
              "title": "payment",
              "$ref": "#/definitions/PaymentReference"
            }
          },
          "required": [
            "payment"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#remove-payment",
      "x-annotation-postman-example": "{\n  \"action\": \"removePayment\",\n  \"payment\": {\n    \"id\": \"d45b6f23-76a0-459f-bf55-591dfe8a4ade\",\n    \"typeId\": \"payment\"\n  }\n}\n"
    },
    "CartSetBillingAddressAction": {
      "title": "CartSetBillingAddressAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "address": {
              "title": "address",
              "$ref": "#/definitions/Address"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-billing-address",
      "x-annotation-postman-example": "{\n  \"action\": \"setBillingAddress\",\n  \"address\": {\n    \"firstName\": \"Max\",\n    \"lastName\": \"Mustermann\",\n    \"country\": \"DE\"\n  }\n}\n"
    },
    "CartSetCartTotalTaxAction": {
      "title": "CartSetCartTotalTaxAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTotalGross": {
              "title": "externalTotalGross",
              "$ref": "#/definitions/Money"
            },
            "externalTaxPortions": {
              "title": "externalTaxPortions",
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaxPortion"
              }
            }
          },
          "required": [
            "externalTotalGross"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-postman-example": "{\n  \"action\": \"setCartTotalTax\",\n  \"externalTotalGross\": {\n    \"currencyCode\": \"EUR\",\n    \"centAmount\": 4000000\n  },\n  \"externalTaxPortions\": [\n    {\n      \"name\": \"taxPortion\",\n      \"rate\": 0.18,\n      \"amount\": {\n        \"centAmount\": 5000000,\n        \"currencyCode\": \"EUR\"\n      }\n    }\n  ]\n}\n"
    },
    "CartSetCustomFieldAction": {
      "title": "CartSetCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "name": {
              "title": "name",
              "type": "string"
            },
            "value": {
              "title": "value",
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-postman-example": "{\n  \"action\": \"setCustomField\",\n  \"name\": \"StringCustomField\",\n  \"value\": \"myValue\"\n}\n"
    },
    "CartSetCustomLineItemCustomFieldAction": {
      "title": "CartSetCustomLineItemCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "name": {
              "title": "name",
              "type": "string"
            },
            "value": {
              "title": "value",
              "type": "string"
            }
          },
          "required": [
            "customLineItemId",
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customlineitem-customfield",
      "x-annotation-postman-example": "{\n  \"action\": \"setCustomLineItemCustomField\",\n  \"customLineItemId\": \"{{customLineItemId}}\",\n  \"name\": \"StringCustomField\",\n  \"value\": \"myNewValue\"\n}\n"
    },
    "CartSetCustomLineItemCustomTypeAction": {
      "title": "CartSetCustomLineItemCustomTypeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "fields": {
              "title": "fields",
              "type": "string"
            },
            "type": {
              "title": "type",
              "$ref": "#/definitions/TypeReference"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customlineitem-custom-type",
      "x-annotation-postman-example": "{\n  \"action\": \"setCustomLineItemCustomType\",\n  \"customLineItemId\": \"{{customLineItemId}}\",\n  \"type\": {\n    \"id\": \"7c30f10f-db54-418d-b62f-6ab4a4216222\",\n    \"typeId\": \"type\"\n  }\n}\n"
    },
    "CartSetCustomLineItemShippingDetailsAction": {
      "title": "CartSetCustomLineItemShippingDetailsAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "shippingDetails": {
              "title": "shippingDetails",
              "$ref": "#/definitions/ItemShippingDetailsDraft"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customlineitemshippingdetails",
      "x-annotation-postman-example": "{\n  \"action\": \"setCustomLineItemShippingDetails\",\n  \"customLineItemId\": \"{{customLineItemId}}\",\n  \"shippingDetails\": {\n    \"targets\": [\n      {\n        \"addressKey\": \"{{addressKey}}\",\n        \"quantity\": 1\n      }\n    ]\n  }\n}\n"
    },
    "CartSetCustomLineItemTaxAmountAction": {
      "title": "CartSetCustomLineItemTaxAmountAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxAmount": {
              "title": "externalTaxAmount",
              "$ref": "#/definitions/ExternalTaxAmountDraft"
            },
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customlineitem-taxamount",
      "x-annotation-postman-example": "{\n  \"action\": \"setCustomLineItemTaxAmount\",\n  \"customLineItemId\": \"{{customLineItemId}}\",\n  \"externalTaxAmount\": {\n    \"totalGross\": {\n    \"centAmount\": 2000000,\n    \"currencyCode\": \"EUR\"\n  },\n    \"taxRate\": {\n      \"name\": \"myTaxRate\",\n      \"amount\": 0.19,\n      \"country\": \"DE\"\n    }\n  }\n}\n"
    },
    "CartSetCustomLineItemTaxRateAction": {
      "title": "CartSetCustomLineItemTaxRateAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "customLineItemId": {
              "title": "customLineItemId",
              "type": "string"
            },
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            }
          },
          "required": [
            "customLineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customlineitem-taxrate",
      "x-annotation-postman-example": "{\n  \"action\": \"setCustomLineItemTaxRate\",\n  \"customLineItemId\": \"{{customLineItemId}}\",\n  \"externalTaxRate\": {\n    \"name\": \"myTaxRate\",\n    \"amount\": 0.19,\n    \"country\": \"DE\"\n  }\n}\n"
    },
    "CartSetCustomShippingMethodAction": {
      "title": "CartSetCustomShippingMethodAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            },
            "shippingMethodName": {
              "title": "shippingMethodName",
              "type": "string"
            },
            "shippingRate": {
              "title": "shippingRate",
              "$ref": "#/definitions/ShippingRateDraft"
            },
            "taxCategory": {
              "title": "taxCategory",
              "$ref": "#/definitions/TaxCategoryReference"
            }
          },
          "required": [
            "shippingMethodName",
            "shippingRate"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-custom-shippingmethod",
      "x-annotation-postman-example": "{\n  \"action\": \"setCustomShippingMethod\",\n  \"shippingMethodName\": \"myCustomShippingMethod\",\n  \"shippingRate\": {\n    \"price\": {\n      \"currencyCode\": \"EUR\",\n      \"centAmount\":4200\n    }\n  },\n  \"taxCategory\": {\n    \"id\": \"5786eba8-d448-4b7a-84fd-07fd1d612696\",\n    \"typeId\": \"tax-category\"\n  }\n}\n"
    },
    "CartSetCustomTypeAction": {
      "title": "CartSetCustomTypeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "fields": {
              "title": "fields",
              "type": "string"
            },
            "type": {
              "title": "type",
              "$ref": "#/definitions/TypeReference"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-postman-example": "{\n  \"action\": \"setCustomType\",\n  \"type\": {\n    \"id\": \"089eaa2e-b54b-42d7-811e-23e180fe8dcc\",\n    \"typeId\": \"type\"\n  }\n}\n"
    },
    "CartSetCustomerEmailAction": {
      "title": "CartSetCustomerEmailAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "email": {
              "title": "email",
              "type": "string"
            }
          },
          "required": [
            "email"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customer-email",
      "x-annotation-postman-example": "{\n  \"action\": \"setCustomerEmail\",\n  \"email\": \"foo@bar.com\"\n}\n"
    },
    "CartSetLineItemCustomFieldAction": {
      "title": "CartSetLineItemCustomFieldAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            },
            "name": {
              "title": "name",
              "type": "string"
            },
            "value": {
              "title": "value",
              "type": "string"
            }
          },
          "required": [
            "lineItemId",
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-lineitem-customfield",
      "x-annotation-postman-example": "{\n  \"action\": \"setLineItemCustomField\",\n  \"lineItemId\": \"{{lineItemId}}\",\n  \"name\": \"myCustomFieldName\",\n  \"value\": \"myNewValue\"\n}\n"
    },
    "CartSetLineItemCustomTypeAction": {
      "title": "CartSetLineItemCustomTypeAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "fields": {
              "title": "fields",
              "type": "string"
            },
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            },
            "type": {
              "title": "type",
              "$ref": "#/definitions/TypeReference"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-customlineitem-custom-type",
      "x-annotation-postman-example": "{\n  \"action\": \"setLineItemCustomType\",\n  \"lineItemId\": \"{{lineItemId}}\",\n  \"type\": {\n    \"id\": \"96a0e2f6-1369-4359-ad9e-99132482f214\",\n    \"typeId\": \"type\"\n  }\n}\n"
    },
    "CartSetLineItemPriceAction": {
      "title": "CartSetLineItemPriceAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalPrice": {
              "title": "externalPrice",
              "$ref": "#/definitions/Money"
            },
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-lineitem-totalprice"
    },
    "CartSetLineItemShippingDetailsAction": {
      "title": "CartSetLineItemShippingDetailsAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            },
            "shippingDetails": {
              "title": "shippingDetails",
              "$ref": "#/definitions/ItemShippingDetailsDraft"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-lineitemshippingdetails",
      "x-annotation-postman-example": "{\n  \"action\": \"setLineItemShippingDetails\",\n  \"lineItemId\": \"{{lineItemId}}\",\n  \"shippingDetails\": {\n    \"targets\": [\n      {\n        \"addressKey\": \"{{addressKey}}\",\n        \"quantity\": 1\n      }\n    ]\n  }\n}\n"
    },
    "CartSetLineItemTaxAmountAction": {
      "title": "CartSetLineItemTaxAmountAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxAmount": {
              "title": "externalTaxAmount",
              "$ref": "#/definitions/ExternalTaxAmountDraft"
            },
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-lineitem-taxamount",
      "x-annotation-postman-example": "{\n  \"action\": \"setLineItemTaxAmount\",\n  \"lineItemId\": \"{{lineItemId}}\",\n  \"externalTaxAmount\": {\n    \"totalGross\": {\n    \"centAmount\": 2000000,\n    \"currencyCode\": \"EUR\"\n  },\n    \"taxRate\": {\n      \"name\": \"myTaxRate\",\n      \"amount\": 0.19,\n      \"country\": \"DE\"\n    }\n  }\n}\n"
    },
    "CartSetLineItemTaxRateAction": {
      "title": "CartSetLineItemTaxRateAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            },
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-lineitem-taxrate",
      "x-annotation-postman-example": "{\n  \"action\": \"setLineItemTaxRate\",\n  \"lineItemId\": \"{{lineItemId}}\",\n  \"externalTaxRate\": {\n    \"name\": \"myTaxRate\",\n    \"amount\": 0.19,\n    \"country\": \"DE\"\n  }\n}\n"
    },
    "CartSetLineItemTotalPriceAction": {
      "title": "CartSetLineItemTotalPriceAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTotalPrice": {
              "title": "externalTotalPrice",
              "$ref": "#/definitions/ExternalLineItemTotalPrice"
            },
            "lineItemId": {
              "title": "lineItemId",
              "type": "string"
            }
          },
          "required": [
            "lineItemId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-lineitem-totalprice",
      "x-annotation-postman-example": "{\n  \"action\": \"setLineItemTotalPrice\",\n  \"lineItemId\": \"{{lineItemId}}\",\n  \"externalTotalPrice\": {\n    \"price\": {\n      \"currencyCode\": \"EUR\",\n      \"centAmount\":4200\n    },\n    \"totalPrice\": {\n      \"currencyCode\": \"EUR\",\n      \"centAmount\":4200\n    }\n  }\n}\n"
    },
    "CartSetShippingAddressAction": {
      "title": "CartSetShippingAddressAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "address": {
              "title": "address",
              "$ref": "#/definitions/Address"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-shipping-address",
      "x-annotation-postman-example": "{\n  \"action\": \"setShippingAddress\",\n  \"address\": {\n    \"firstName\": \"Max\",\n    \"lastName\": \"Mustermann\",\n    \"country\": \"DE\"\n  }\n}\n"
    },
    "CartSetShippingMethodAction": {
      "title": "CartSetShippingMethodAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "shippingMethod": {
              "title": "shippingMethod",
              "$ref": "#/definitions/ShippingMethodReference"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-shippingmethod",
      "x-annotation-postman-example": "{\n  \"action\": \"setShippingMethod\",\n  \"shippingMethod\": {\n    \"id\": \"5fb8a475-9fb7-4f65-a08c-4a26c26c56b8\",\n    \"typeId\": \"shipping-method\"\n  }\n}\n"
    },
    "CartSetShippingMethodTaxAmountAction": {
      "title": "CartSetShippingMethodTaxAmountAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxAmount": {
              "title": "externalTaxAmount",
              "$ref": "#/definitions/ExternalTaxAmountDraft"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-shippingmethod-taxamount",
      "x-annotation-postman-example": "{\n  \"action\": \"setShippingMethodTaxAmount\",\n  \"externalTaxAmount\": {\n    \"totalGross\": {\n    \"centAmount\": 2000000,\n    \"currencyCode\": \"EUR\"\n  },\n    \"taxRate\": {\n      \"name\": \"myTaxRate\",\n      \"amount\": 0.19,\n      \"country\": \"DE\"\n    }\n  }\n}\n"
    },
    "CartSetShippingMethodTaxRateAction": {
      "title": "CartSetShippingMethodTaxRateAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "externalTaxRate": {
              "title": "externalTaxRate",
              "$ref": "#/definitions/ExternalTaxRateDraft"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-shippingmethod-taxrate",
      "x-annotation-postman-example": "{\n  \"action\": \"setShippingMethodTaxRate\",\n  \"externalTaxRate\": {\n    \"name\": \"myTaxRate\",\n    \"amount\": 0.19,\n    \"country\": \"DE\"\n  }\n}\n"
    },
    "CartSetShippingRateInputAction": {
      "title": "CartSetShippingRateInputAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "shippingRateInput": {
              "title": "shippingRateInput",
              "$ref": "#/definitions/ShippingRateInputDraft"
            }
          },
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#set-shippingrateinput",
      "x-annotation-postman-example": "{\n  \"action\": \"setShippingRateInput\",\n  \"shippingRateInput\": {\n    \"type\": \"Classification\",\n    \"key\": \"small\"\n  }\n}\n"
    },
    "CartState": {
      "title": "CartState",
      "enum": [
        "Active",
        "Merged",
        "Ordered"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cartstate"
    },
    "CartUpdate": {
      "title": "CartUpdate",
      "allOf": [
        {
          "$ref": "#/definitions/Update"
        },
        {
          "properties": {
            "actions": {
              "title": "actions",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartUpdateAction"
              }
            }
          },
          "required": [
            "actions"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart"
    },
    "CartUpdateAction": {
      "title": "CartUpdateAction",
      "discriminator": "action",
      "$ref": "#/definitions/UpdateAction",
      "x-annotation-package": "Cart"
    },
    "CartUpdateItemShippingAddressAction": {
      "title": "CartUpdateItemShippingAddressAction",
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "address": {
              "title": "address",
              "$ref": "#/definitions/Address"
            }
          },
          "required": [
            "address"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#update-itemshippingaddress",
      "x-annotation-postman-example": "{\n  \"action\": \"updateItemShippingAddress\",\n  \"address\": {\n    \"firstName\": \"Max\",\n    \"lastName\": \"Mustermann\",\n    \"country\": \"DE\"\n  }\n}\n"
    },
    "ClassificationShippingRateInput": {
      "title": "ClassificationShippingRateInput",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInput"
        },
        {
          "properties": {
            "key": {
              "title": "key",
              "type": "string"
            },
            "label": {
              "title": "label",
              "$ref": "#/definitions/LocalizedString"
            }
          },
          "required": [
            "key",
            "label"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#classificationshippingrateinput"
    },
    "ClassificationShippingRateInputDraft": {
      "title": "ClassificationShippingRateInputDraft",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInputDraft"
        },
        {
          "properties": {
            "key": {
              "title": "key",
              "type": "string"
            }
          },
          "required": [
            "key"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#classificationshippingrateinputdraft"
    },
    "CustomLineItem": {
      "title": "CustomLineItem",
      "type": "object",
      "properties": {
        "id": {
          "title": "id",
          "type": "string"
        },
        "name": {
          "title": "name",
          "$ref": "#/definitions/LocalizedString"
        },
        "money": {
          "title": "money",
          "$ref": "#/definitions/TypedMoney"
        },
        "taxedPrice": {
          "title": "taxedPrice",
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "totalPrice": {
          "title": "totalPrice",
          "$ref": "#/definitions/TypedMoney"
        },
        "slug": {
          "title": "slug",
          "type": "string"
        },
        "quantity": {
          "title": "quantity",
          "type": "number"
        },
        "state": {
          "title": "state",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemState"
          }
        },
        "taxCategory": {
          "title": "taxCategory",
          "$ref": "#/definitions/TaxCategoryReference"
        },
        "taxRate": {
          "title": "taxRate",
          "$ref": "#/definitions/TaxRate"
        },
        "discountedPricePerQuantity": {
          "title": "discountedPricePerQuantity",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPriceForQuantity"
          }
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFields"
        },
        "shippingDetails": {
          "title": "shippingDetails",
          "$ref": "#/definitions/ItemShippingDetails"
        }
      },
      "required": [
        "id",
        "name",
        "money",
        "totalPrice",
        "slug",
        "quantity",
        "state",
        "discountedPricePerQuantity"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#customlineitem"
    },
    "CustomLineItemDraft": {
      "title": "CustomLineItemDraft",
      "type": "object",
      "properties": {
        "name": {
          "title": "name",
          "$ref": "#/definitions/LocalizedString"
        },
        "quantity": {
          "title": "quantity",
          "type": "number"
        },
        "money": {
          "title": "money",
          "$ref": "#/definitions/Money"
        },
        "slug": {
          "title": "slug",
          "type": "string"
        },
        "taxCategory": {
          "title": "taxCategory",
          "$ref": "#/definitions/TaxCategoryReference"
        },
        "externalTaxRate": {
          "title": "externalTaxRate",
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFields"
        },
        "shippingDetails": {
          "title": "shippingDetails",
          "$ref": "#/definitions/ItemShippingDetailsDraft"
        }
      },
      "required": [
        "name",
        "quantity",
        "money",
        "slug"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#customlineitemdraft"
    },
    "DiscountCodeInfo": {
      "title": "DiscountCodeInfo",
      "type": "object",
      "properties": {
        "discountCode": {
          "title": "discountCode",
          "$ref": "#/definitions/DiscountCodeReference"
        },
        "state": {
          "title": "state",
          "$ref": "#/definitions/DiscountCodeState"
        }
      },
      "required": [
        "discountCode",
        "state"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountcodereference"
    },
    "DiscountCodeState": {
      "title": "DiscountCodeState",
      "enum": [
        "NotActive",
        "DoesNotMatchCart",
        "MatchesCart",
        "MaxApplicationReached"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountcodestate"
    },
    "DiscountedLineItemPortion": {
      "title": "DiscountedLineItemPortion",
      "type": "object",
      "properties": {
        "discount": {
          "title": "discount",
          "$ref": "#/definitions/CartDiscountReference"
        },
        "discountedAmount": {
          "title": "discountedAmount",
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "discount",
        "discountedAmount"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountedlineitemportion"
    },
    "DiscountedLineItemPrice": {
      "title": "DiscountedLineItemPrice",
      "type": "object",
      "properties": {
        "value": {
          "title": "value",
          "$ref": "#/definitions/TypedMoney"
        },
        "includedDiscounts": {
          "title": "includedDiscounts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPortion"
          }
        }
      },
      "required": [
        "value",
        "includedDiscounts"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountedlineitemprice"
    },
    "DiscountedLineItemPriceForQuantity": {
      "title": "DiscountedLineItemPriceForQuantity",
      "type": "object",
      "properties": {
        "quantity": {
          "title": "quantity",
          "type": "number"
        },
        "discountedPrice": {
          "title": "discountedPrice",
          "$ref": "#/definitions/DiscountedLineItemPrice"
        }
      },
      "required": [
        "quantity",
        "discountedPrice"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#discountedlineitempriceforquantity"
    },
    "ExternalLineItemTotalPrice": {
      "title": "ExternalLineItemTotalPrice",
      "type": "object",
      "properties": {
        "price": {
          "title": "price",
          "$ref": "#/definitions/Money"
        },
        "totalPrice": {
          "title": "totalPrice",
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "price",
        "totalPrice"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#externallineitemtotalprice"
    },
    "ExternalTaxAmountDraft": {
      "title": "ExternalTaxAmountDraft",
      "type": "object",
      "properties": {
        "totalGross": {
          "title": "totalGross",
          "$ref": "#/definitions/Money"
        },
        "taxRate": {
          "title": "taxRate",
          "$ref": "#/definitions/ExternalTaxRateDraft"
        }
      },
      "required": [
        "totalGross",
        "taxRate"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#externaltaxamountdraft"
    },
    "ExternalTaxRateDraft": {
      "title": "ExternalTaxRateDraft",
      "type": "object",
      "properties": {
        "name": {
          "title": "name",
          "type": "string"
        },
        "amount": {
          "title": "amount",
          "type": "number"
        },
        "country": {
          "title": "country",
          "type": "string"
        },
        "state": {
          "title": "state",
          "type": "string"
        },
        "subRates": {
          "title": "subRates",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubRate"
          }
        }
      },
      "required": [
        "name",
        "country"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#externaltaxratedraft"
    },
    "InventoryMode": {
      "title": "InventoryMode",
      "enum": [
        "TrackOnly",
        "ReserveOnOrder",
        "None"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#inventorymode"
    },
    "ItemShippingDetails": {
      "title": "ItemShippingDetails",
      "type": "object",
      "properties": {
        "targets": {
          "title": "targets",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemShippingTarget"
          }
        },
        "valid": {
          "title": "valid",
          "type": "boolean"
        }
      },
      "required": [
        "targets",
        "valid"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#itemshippingdetails"
    },
    "ItemShippingDetailsDraft": {
      "title": "ItemShippingDetailsDraft",
      "type": "object",
      "properties": {
        "targets": {
          "title": "targets",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemShippingTarget"
          }
        }
      },
      "required": [
        "targets"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#itemshippingdetailsdraft"
    },
    "ItemShippingTarget": {
      "title": "ItemShippingTarget",
      "type": "object",
      "properties": {
        "addressKey": {
          "title": "addressKey",
          "type": "string"
        },
        "quantity": {
          "title": "quantity",
          "type": "number"
        }
      },
      "required": [
        "addressKey",
        "quantity"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#itemshippingtarget"
    },
    "LineItem": {
      "title": "LineItem",
      "type": "object",
      "properties": {
        "id": {
          "title": "id",
          "type": "string"
        },
        "productId": {
          "title": "productId",
          "type": "string"
        },
        "name": {
          "title": "name",
          "$ref": "#/definitions/LocalizedString"
        },
        "productSlug": {
          "title": "productSlug",
          "$ref": "#/definitions/LocalizedString"
        },
        "productType": {
          "title": "productType",
          "$ref": "#/definitions/ProductTypeReference"
        },
        "variant": {
          "title": "variant",
          "$ref": "#/definitions/ProductVariant"
        },
        "price": {
          "title": "price",
          "$ref": "#/definitions/Price"
        },
        "taxedPrice": {
          "title": "taxedPrice",
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "totalPrice": {
          "title": "totalPrice",
          "$ref": "#/definitions/Money"
        },
        "quantity": {
          "title": "quantity",
          "type": "number"
        },
        "state": {
          "title": "state",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemState"
          }
        },
        "taxRate": {
          "title": "taxRate",
          "$ref": "#/definitions/TaxRate"
        },
        "supplyChannel": {
          "title": "supplyChannel",
          "$ref": "#/definitions/ChannelReference"
        },
        "distributionChannel": {
          "title": "distributionChannel",
          "$ref": "#/definitions/ChannelReference"
        },
        "discountedPricePerQuantity": {
          "title": "discountedPricePerQuantity",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountedLineItemPriceForQuantity"
          }
        },
        "priceMode": {
          "title": "priceMode",
          "$ref": "#/definitions/LineItemPriceMode"
        },
        "lineItemMode": {
          "title": "lineItemMode",
          "$ref": "#/definitions/LineItemMode"
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFields"
        },
        "shippingDetails": {
          "title": "shippingDetails",
          "$ref": "#/definitions/ItemShippingDetails"
        }
      },
      "required": [
        "id",
        "productId",
        "name",
        "productType",
        "variant",
        "price",
        "totalPrice",
        "quantity",
        "state",
        "discountedPricePerQuantity",
        "priceMode",
        "lineItemMode"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#lineitem"
    },
    "LineItemDraft": {
      "title": "LineItemDraft",
      "type": "object",
      "properties": {
        "productId": {
          "title": "productId",
          "type": "string"
        },
        "variantId": {
          "title": "variantId",
          "format": "int64",
          "type": "number"
        },
        "sku": {
          "title": "sku",
          "type": "string"
        },
        "quantity": {
          "title": "quantity",
          "default": 1,
          "type": "number"
        },
        "supplyChannel": {
          "title": "supplyChannel",
          "$ref": "#/definitions/ChannelReference"
        },
        "distributionChannel": {
          "title": "distributionChannel",
          "$ref": "#/definitions/ChannelReference"
        },
        "externalTaxRate": {
          "title": "externalTaxRate",
          "$ref": "#/definitions/ExternalTaxRateDraft"
        },
        "custom": {
          "title": "custom",
          "$ref": "#/definitions/CustomFieldsDraft"
        },
        "externalPrice": {
          "title": "externalPrice",
          "$ref": "#/definitions/Money"
        },
        "externalTotalPrice": {
          "title": "externalTotalPrice",
          "$ref": "#/definitions/ExternalLineItemTotalPrice"
        },
        "shippingDetails": {
          "title": "shippingDetails",
          "$ref": "#/definitions/ItemShippingDetailsDraft"
        }
      },
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#lineitemdraft",
      "x-annotation-builder": [
        {
          "paramNames": [
            "productId",
            "variantId",
            "quantity"
          ]
        },
        {
          "paramNames": [
            "sku",
            "quantity"
          ]
        }
      ]
    },
    "LineItemMode": {
      "title": "LineItemMode",
      "enum": [
        "Standard",
        "GiftLineItem"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "LineItemPriceMode": {
      "title": "LineItemPriceMode",
      "enum": [
        "Platform",
        "ExternalTotal",
        "ExternalPrice"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "ReplicaCartDraft": {
      "title": "ReplicaCartDraft",
      "type": "object",
      "properties": {
        "reference": {
          "title": "reference",
          "$ref": "#/definitions/Reference"
        }
      },
      "required": [
        "reference"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#replicacartdraft"
    },
    "RoundingMode": {
      "title": "RoundingMode",
      "enum": [
        "HalfEven",
        "HalfUp",
        "HalfDown"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "ScoreShippingRateInput": {
      "title": "ScoreShippingRateInput",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInput"
        },
        {
          "properties": {
            "score": {
              "title": "score",
              "type": "number"
            }
          },
          "required": [
            "score"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#scoreshippingrateinput"
    },
    "ScoreShippingRateInputDraft": {
      "title": "ScoreShippingRateInputDraft",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInputDraft"
        },
        {
          "properties": {
            "score": {
              "title": "score",
              "type": "number"
            }
          },
          "required": [
            "score"
          ],
          "type": "object"
        }
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#scoreshippingrateinputdraft"
    },
    "ShippingInfo": {
      "title": "ShippingInfo",
      "type": "object",
      "properties": {
        "shippingMethodName": {
          "title": "shippingMethodName",
          "type": "string"
        },
        "price": {
          "title": "price",
          "$ref": "#/definitions/TypedMoney"
        },
        "shippingRate": {
          "title": "shippingRate",
          "$ref": "#/definitions/ShippingRate"
        },
        "taxedPrice": {
          "title": "taxedPrice",
          "$ref": "#/definitions/TaxedItemPrice"
        },
        "taxRate": {
          "title": "taxRate",
          "$ref": "#/definitions/TaxRate"
        },
        "taxCategory": {
          "title": "taxCategory",
          "$ref": "#/definitions/TaxCategoryReference"
        },
        "shippingMethod": {
          "title": "shippingMethod",
          "$ref": "#/definitions/ShippingMethodReference"
        },
        "deliveries": {
          "title": "deliveries",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Delivery"
          }
        },
        "discountedPrice": {
          "title": "discountedPrice",
          "$ref": "#/definitions/DiscountedLineItemPrice"
        },
        "shippingMethodState": {
          "title": "shippingMethodState",
          "$ref": "#/definitions/ShippingMethodState"
        }
      },
      "required": [
        "shippingMethodName",
        "price",
        "shippingRate",
        "shippingMethodState"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippinginfo"
    },
    "ShippingMethodState": {
      "title": "ShippingMethodState",
      "enum": [
        "DoesNotMatchCart",
        "MatchesCart"
      ],
      "type": "string",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippingmethodstate"
    },
    "ShippingRateInput": {
      "title": "ShippingRateInput",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "title": "type",
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippingrateinput"
    },
    "ShippingRateInputDraft": {
      "title": "ShippingRateInputDraft",
      "discriminator": "type",
      "type": "object",
      "properties": {
        "type": {
          "title": "type",
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#shippingrateinputdraft"
    },
    "TaxCalculationMode": {
      "title": "TaxCalculationMode",
      "enum": [
        "LineItemLevel",
        "UnitPriceLevel"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "TaxMode": {
      "title": "TaxMode",
      "enum": [
        "Platform",
        "External",
        "ExternalAmount",
        "Disabled"
      ],
      "type": "string",
      "x-annotation-package": "Cart"
    },
    "TaxPortion": {
      "title": "TaxPortion",
      "type": "object",
      "properties": {
        "name": {
          "title": "name",
[...]
