{
  "swagger": "2.0",
  "info": {
    "title": "Commercetools",
    "version": ""
  },
  "host": "api.europe-west1.gcp.commercetools.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "oauth_2_0": {
      "description": "HTTP API authorization uses [OAuth2](http://tools.ietf.org/html/rfc6750).\n\nClients must obtain an access token from the auth service using one of\nthe authorization flows described below, before they are able to make authorized requests\nto other commercetools services. On successful completion of an authorization flow,\na client will be given an `access_token`, which they need to include in requests\nto authorized service endpoints via the HTTP `Authorization` header like this:\n",
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://auth.europe-west1.gcp.commercetools.com/oauth/token",
      "scopes": {
        "manage_project:{projectKey}": "",
        "manage_products:{projectKey}": "",
        "view_products:{projectKey}": "",
        "manage_orders:{projectKey}": "",
        "manage_orders:{projectKey}:{storeKey}": "",
        "view_orders:{projectKey}": "",
        "view_orders:{projectKey}:{storeKey}": "",
        "manage_customers:{projectKey}": "",
        "view_customers:{projectKey}": "",
        "manage_payments:{projectKey}": "",
        "view_payments:{projectKey}": "",
        "manage_subscriptions:{projectKey}": "",
        "manage_extensions:{projectKey}": "",
        "manage_types:{projectKey}": "",
        "view_types:{projectKey}": "",
        "view_shopping_lists:{projectKey}": "",
        "manage_shopping_lists:{projectKey}": "",
        "manage_my_orders:{projectKey}": "",
        "manage_my_orders:{projectKey}:{storeKey}": "",
        "manage_my_profile:{projectKey}": "",
        "view_project_settings:{projectKey}": "",
        "view_published_products:{projectKey}": "",
        "manage_cart_discounts:{projectKey}": "",
        "view_cart_discounts:{projectKey}": "",
        "manage_customer_groups:{projectKey}": "",
        "view_customer_groups:{projectKey}": "",
        "view_shipping_methods:{projectKey}": "",
        "manage_shipping_methods:{projectKey}": "",
        "manage_tax_categories:{projectKey}": "",
        "view_tax_categories:{projectKey}": "",
        "manage_categories:{projectKey}": "",
        "view_categories:{projectKey}": ""
      }
    }
  },
  "definitions": {
    "AccessDeniedError": {
      "title": "AccessDeniedError",
      "allOf": [
        {
          "$ref": "#/definitions/ErrorObject"
        },
        {
          "properties": {
            "code": {
              "enum": [
                "access_denied"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "message": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            }
          },
          "required": [
            "code",
            "message"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Error"
    },
    "Address": {
      "title": "Address",
      "allOf": [
        {
          "$ref": "#/definitions/BaseAddress"
        },
        {
          "properties": {
            "id": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "key": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "title": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "salutation": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "firstName": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "lastName": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "streetName": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "streetNumber": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "additionalStreetInfo": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "postalCode": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "city": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "region": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "state": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "country": {
              "description": "A two-digit country code as per [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
              "$ref": "#/definitions/CountryCode",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "company": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "department": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "building": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "apartment": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "pOBox": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "phone": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "mobile": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "email": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "fax": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "additionalAddressInfo": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "externalId": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "custom": {
              "$ref": "#/definitions/CustomFields",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "country"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Common",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-types.html#address"
    },
    "AddressDraft": {
      "title": "AddressDraft",
      "allOf": [
        {
          "$ref": "#/definitions/BaseAddress"
        },
        {
          "properties": {
            "id": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "key": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "title": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "salutation": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "firstName": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "lastName": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "streetName": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "streetNumber": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "additionalStreetInfo": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "postalCode": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "city": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "region": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "state": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "country": {
              "description": "A two-digit country code as per [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
              "$ref": "#/definitions/CountryCode",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "company": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "department": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "building": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "apartment": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "pOBox": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "phone": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "mobile": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "email": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "fax": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "additionalAddressInfo": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "externalId": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "custom": {
              "$ref": "#/definitions/CustomFieldsDraft",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "country"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Common",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-types.html#address"
    },
    "AnonymousCartSignInMode": {
      "title": "AnonymousCartSignInMode",
      "enum": [
        "MergeWithExistingCustomerCart",
        "UseAsNewActiveCustomerCart"
      ],
      "type": "string",
      "x-annotation-package": "Customer"
    },
    "AnonymousIdAlreadyInUseError": {
      "title": "AnonymousIdAlreadyInUseError",
      "allOf": [
        {
          "$ref": "#/definitions/ErrorObject"
        },
        {
          "properties": {
            "code": {
              "enum": [
                "AnonymousIdAlreadyInUse"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "message": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            }
          },
          "required": [
            "code",
            "message"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Error"
    },
    "ApiClient": {
      "title": "ApiClient",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID of the API client.\nThis is the OAuth2 `client_id` and can be used to obtain a token.",
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "name": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "scope": {
          "description": "A whitespace separated list of the OAuth scopes.\nThis is the OAuth2 `scope` and can be used to obtain a token.",
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-annotation-builtinType": "datetime",
          "x-annotation-inherited": false
        },
        "lastUsedAt": {
          "description": "The last day this API Client was used to obtain a token.",
          "type": "string",
          "format": "date",
          "x-annotation-builtinType": "date-only",
          "x-annotation-inherited": false
        },
        "deleteAt": {
          "format": "date-time",
          "description": "If set, the client will be deleted on (or shortly after) this point in time.",
          "type": "string",
          "x-annotation-builtinType": "datetime",
          "x-annotation-inherited": false
        },
        "secret": {
          "description": "The secret is only shown once in the response of creating the API Client.\nThis is the OAuth2 `client_secret` and can be used to obtain a token.",
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "id",
        "name",
        "scope"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ApiClient",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-apiClients.html#apiclient"
    },
    "ApiClientDraft": {
      "title": "ApiClientDraft",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "scope": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "deleteDaysAfterCreation": {
          "format": "int64",
          "description": "If set, the client will be deleted after the specified amount of days.",
          "type": "integer",
          "x-annotation-builtinType": "integer",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "name",
        "scope"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ApiClient",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-apiClients.html#apiclientdraft"
    },
    "ApiClientPagedQueryResponse": {
      "title": "ApiClientPagedQueryResponse",
      "type": "object",
      "properties": {
        "limit": {
          "format": "int64",
          "type": "integer",
          "x-annotation-builtinType": "integer",
          "x-annotation-inherited": false
        },
        "count": {
          "format": "int64",
          "type": "integer",
          "x-annotation-builtinType": "integer",
          "x-annotation-inherited": false
        },
        "total": {
          "format": "int64",
          "type": "integer",
          "x-annotation-builtinType": "integer",
          "x-annotation-inherited": false
        },
        "offset": {
          "format": "int64",
          "type": "integer",
          "x-annotation-builtinType": "integer",
          "x-annotation-inherited": false
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiClient"
          },
          "x-annotation-builtinType": "array",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "limit",
        "count",
        "offset",
        "results"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ApiClient",
      "x-annotation-java-extends": "com.commercetools.api.models.ResourcePagedQueryResponse<ApiClient>"
    },
    "Asset": {
      "title": "Asset",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetSource"
          },
          "x-annotation-builtinType": "array",
          "x-annotation-inherited": false
        },
        "name": {
          "$ref": "#/definitions/LocalizedString",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "description": {
          "$ref": "#/definitions/LocalizedString",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-annotation-builtinType": "array",
          "x-annotation-inherited": false
        },
        "custom": {
          "$ref": "#/definitions/CustomFields",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "key": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "id",
        "sources",
        "name"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Common"
    },
    "AssetDimensions": {
      "title": "AssetDimensions",
      "type": "object",
      "properties": {
        "w": {
          "format": "int32",
          "type": "integer",
          "x-annotation-builtinType": "integer",
          "x-annotation-inherited": false
        },
        "h": {
          "format": "int32",
          "type": "integer",
          "x-annotation-builtinType": "integer",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "w",
        "h"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Common"
    },
    "AssetDraft": {
      "title": "AssetDraft",
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetSource"
          },
          "x-annotation-builtinType": "array",
          "x-annotation-inherited": false
        },
        "name": {
          "$ref": "#/definitions/LocalizedString",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "description": {
          "$ref": "#/definitions/LocalizedString",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-annotation-builtinType": "array",
          "x-annotation-inherited": false
        },
        "custom": {
          "$ref": "#/definitions/CustomFieldsDraft",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "key": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "sources",
        "name"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Common"
    },
    "AssetSource": {
      "title": "AssetSource",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "key": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "dimensions": {
          "$ref": "#/definitions/AssetDimensions",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "contentType": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "uri"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Common"
    },
    "Attribute": {
      "title": "Attribute",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-identifier": true,
          "x-annotation-elementIdentifier": true,
          "x-annotation-inherited": false
        },
        "value": {
          "description": "A valid JSON value, based on an AttributeDefinition.",
          "type": "string",
          "x-annotation-builtinType": "any",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "name",
        "value"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Product",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-products.html#attribute"
    },
    "AttributeBooleanType": {
      "title": "AttributeBooleanType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "boolean"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#booleantype"
    },
    "AttributeConstraintEnum": {
      "title": "AttributeConstraintEnum",
      "enum": [
        "None",
        "Unique",
        "CombinationUnique",
        "SameForAll"
      ],
      "type": "string",
      "x-annotation-package": "ProductType"
    },
    "AttributeConstraintEnumDraft": {
      "title": "AttributeConstraintEnumDraft",
      "enum": [
        "None"
      ],
      "type": "string",
      "x-annotation-package": "ProductType"
    },
    "AttributeDateTimeType": {
      "title": "AttributeDateTimeType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "datetime"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#datetimetype"
    },
    "AttributeDateType": {
      "title": "AttributeDateType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "date"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#datetype"
    },
    "AttributeDefinition": {
      "title": "AttributeDefinition",
      "type": "object",
      "properties": {
        "type": {
          "description": "Describes the type of the attribute.",
          "$ref": "#/definitions/AttributeType",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "name": {
          "description": "The unique name of the attribute used in the API.\nThe name must be between two and 256 characters long and can contain the ASCII letters A to Z in lowercase or uppercase, digits, underscores (`_`) and the hyphen-minus (`-`).\nWhen using the same `name` for an attribute in two or more product types all fields of the AttributeDefinition of this attribute need to be the same across the product types, otherwise an AttributeDefinitionAlreadyExists error code will be returned.\nAn exception to this are the values of an `enum` or `lenum` type and sets thereof.",
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "label": {
          "description": "A human-readable label for the attribute.",
          "$ref": "#/definitions/LocalizedString",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "isRequired": {
          "description": "Whether the attribute is required to have a value.",
          "type": "boolean",
          "x-annotation-builtinType": "boolean",
          "x-annotation-inherited": false
        },
        "attributeConstraint": {
          "description": "Describes how an attribute or a set of attributes should be validated across all variants of a product.",
          "$ref": "#/definitions/AttributeConstraintEnum",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "inputTip": {
          "description": "Additional information about the attribute that aids content managers when setting product details.",
          "$ref": "#/definitions/LocalizedString",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "inputHint": {
          "description": "Provides a visual representation type for this attribute.\nonly relevant for text-based attribute types\nlike TextType and LocalizableTextType.",
          "$ref": "#/definitions/TextInputHint",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "isSearchable": {
          "description": "Whether the attribute's values should generally be enabled in product search.\nThis determines whether the value is stored in products for matching terms in the context of full-text search queries  and can be used in facets & filters as part of product search queries.\nThe exact features that are enabled/disabled with this flag depend on the concrete attribute type and are described there.\nThe max size of a searchable field is **restricted to 10922 characters**.\nThis constraint is enforced at both product creation and product update.\nIf the length of the input exceeds the maximum size an InvalidField error is returned.",
          "type": "boolean",
          "x-annotation-builtinType": "boolean",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "type",
        "name",
        "label",
        "isRequired",
        "attributeConstraint",
        "inputHint",
        "isSearchable"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#attributedefinition"
    },
    "AttributeDefinitionAlreadyExistsError": {
      "title": "AttributeDefinitionAlreadyExistsError",
      "allOf": [
        {
          "$ref": "#/definitions/ErrorObject"
        },
        {
          "properties": {
            "code": {
              "enum": [
                "AttributeDefinitionAlreadyExists"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "message": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "conflictingProductTypeId": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "conflictingProductTypeName": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "conflictingAttributeName": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "code",
            "message",
            "conflictingProductTypeId",
            "conflictingProductTypeName",
            "conflictingAttributeName"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Error"
    },
    "AttributeDefinitionDraft": {
      "title": "AttributeDefinitionDraft",
      "type": "object",
      "properties": {
        "type": {
          "description": "Describes the type of the attribute.",
          "$ref": "#/definitions/AttributeType",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "name": {
          "description": "The unique name of the attribute used in the API.\nThe name must be between two and 256 characters long and can contain the ASCII letters A to Z in lowercase or uppercase, digits, underscores (`_`) and the hyphen-minus (`-`).\nWhen using the same `name` for an attribute in two or more product types all fields of the AttributeDefinition of this attribute need to be the same across the product types.",
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "label": {
          "description": "A human-readable label for the attribute.",
          "$ref": "#/definitions/LocalizedString",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "isRequired": {
          "description": "Whether the attribute is required to have a value.",
          "type": "boolean",
          "x-annotation-builtinType": "boolean",
          "x-annotation-inherited": false
        },
        "attributeConstraint": {
          "description": "Describes how an attribute or a set of attributes should be validated across all variants of a product.",
          "$ref": "#/definitions/AttributeConstraintEnum",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "inputTip": {
          "description": "Additional information about the attribute that aids content managers when setting product details.",
          "$ref": "#/definitions/LocalizedString",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        },
        "inputHint": {
          "description": "Provides a visual representation type for this attribute.\nonly relevant for text-based attribute types like TextType and LocalizableTextType.",
          "$ref": "#/definitions/TextInputHint",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "isSearchable": {
          "description": "Whether the attribute's values should generally be enabled in product search.\nThis determines whether the value is stored in products for matching terms in the context of full-text search queries and can be used in facets & filters as part of product search queries.\nThe exact features that are enabled/disabled with this flag depend on the concrete attribute type and are described there.",
          "type": "boolean",
          "x-annotation-builtinType": "boolean",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "type",
        "name",
        "label",
        "isRequired"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType"
    },
    "AttributeDefinitionTypeConflictError": {
      "title": "AttributeDefinitionTypeConflictError",
      "allOf": [
        {
          "$ref": "#/definitions/ErrorObject"
        },
        {
          "properties": {
            "code": {
              "enum": [
                "AttributeDefinitionTypeConflict"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "message": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "conflictingProductTypeId": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "conflictingProductTypeName": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "conflictingAttributeName": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "code",
            "message",
            "conflictingProductTypeId",
            "conflictingProductTypeName",
            "conflictingAttributeName"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Error"
    },
    "AttributeEnumType": {
      "title": "AttributeEnumType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "enum"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "values": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AttributePlainEnumValue"
              },
              "x-annotation-builtinType": "array",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "name",
            "values"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#enumtype"
    },
    "AttributeLocalizableTextType": {
      "title": "AttributeLocalizableTextType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "ltext"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#localizabletexttype"
    },
    "AttributeLocalizedEnumType": {
      "title": "AttributeLocalizedEnumType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "lenum"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "values": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AttributeLocalizedEnumValue"
              },
              "x-annotation-builtinType": "array",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "name",
            "values"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#localizableenumtype"
    },
    "AttributeLocalizedEnumValue": {
      "title": "AttributeLocalizedEnumValue",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "label": {
          "$ref": "#/definitions/LocalizedString",
          "x-annotation-builtinType": "object",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "key",
        "label"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#localizedenumvalue"
    },
    "AttributeMoneyType": {
      "title": "AttributeMoneyType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "money"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#moneytype"
    },
    "AttributeNameDoesNotExistError": {
      "title": "AttributeNameDoesNotExistError",
      "allOf": [
        {
          "$ref": "#/definitions/ErrorObject"
        },
        {
          "properties": {
            "code": {
              "enum": [
                "AttributeNameDoesNotExist"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "message": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "invalidAttributeName": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "code",
            "message",
            "invalidAttributeName"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Error"
    },
    "AttributeNestedType": {
      "title": "AttributeNestedType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "nested"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "typeReference": {
              "$ref": "#/definitions/ProductTypeReference",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "name",
            "typeReference"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#nestedtype"
    },
    "AttributeNumberType": {
      "title": "AttributeNumberType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "number"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#numbertype"
    },
    "AttributePlainEnumValue": {
      "title": "AttributePlainEnumValue",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "label": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "key",
        "label"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#plainenumvalue"
    },
    "AttributeReferenceType": {
      "title": "AttributeReferenceType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "reference"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "referenceTypeId": {
              "$ref": "#/definitions/ReferenceTypeId",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "name",
            "referenceTypeId"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#referencetype"
    },
    "AttributeSetType": {
      "title": "AttributeSetType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "set"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "elementType": {
              "$ref": "#/definitions/AttributeType",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "name",
            "elementType"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#settype"
    },
    "AttributeTextType": {
      "title": "AttributeTextType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "text"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#texttype"
    },
    "AttributeTimeType": {
      "title": "AttributeTimeType",
      "allOf": [
        {
          "$ref": "#/definitions/AttributeType"
        },
        {
          "properties": {
            "name": {
              "enum": [
                "time"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            }
          },
          "required": [
            "name"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#timetype"
    },
    "AttributeType": {
      "title": "AttributeType",
      "discriminator": "name",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "name"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-oneOf": [
        "AttributeBooleanType",
        "AttributeDateTimeType",
        "AttributeDateType",
        "AttributeEnumType",
        "AttributeLocalizableTextType",
        "AttributeLocalizedEnumType",
        "AttributeMoneyType",
        "AttributeNestedType",
        "AttributeNumberType",
        "AttributeReferenceType",
        "AttributeSetType",
        "AttributeTextType",
        "AttributeTimeType"
      ],
      "x-annotation-package": "ProductType",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-productTypes.html#attributetype"
    },
    "AzureEventGridDestination": {
      "title": "AzureEventGridDestination",
      "allOf": [
        {
          "$ref": "#/definitions/Destination"
        },
        {
          "properties": {
            "type": {
              "enum": [
                "EventGrid"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "uri": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "accessKey": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "type",
            "uri",
            "accessKey"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Subscription"
    },
    "AzureServiceBusDestination": {
      "title": "AzureServiceBusDestination",
      "allOf": [
        {
          "$ref": "#/definitions/Destination"
        },
        {
          "properties": {
            "type": {
              "enum": [
                "AzureServiceBus"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "connectionString": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "type",
            "connectionString"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Subscription"
    },
    "BaseAddress": {
      "title": "BaseAddress",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "key": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "title": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "salutation": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "firstName": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "lastName": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "streetName": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "streetNumber": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "additionalStreetInfo": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "postalCode": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "city": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "region": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "state": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "country": {
          "description": "A two-digit country code as per [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
          "$ref": "#/definitions/CountryCode",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "company": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "department": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "building": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "apartment": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "pOBox": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "phone": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "mobile": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "email": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "fax": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "additionalAddressInfo": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "externalId": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "country"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-oneOf": [
        "Address",
        "AddressDraft"
      ],
      "x-annotation-package": "Common",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-types.html#address"
    },
    "BaseResource": {
      "title": "BaseResource",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-annotation-builtinType": "string",
          "x-annotation-inherited": false
        },
        "version": {
          "format": "int64",
          "type": "integer",
          "x-annotation-builtinType": "integer",
          "x-annotation-inherited": false
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "x-annotation-builtinType": "datetime",
          "x-annotation-inherited": false
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "x-annotation-builtinType": "datetime",
          "x-annotation-inherited": false
        }
      },
      "required": [
        "id",
        "version",
        "createdAt",
        "lastModifiedAt"
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-oneOf": [
        "Cart",
        "CartDiscount",
        "Category",
        "Channel",
        "CustomObject",
        "Customer",
        "CustomerGroup",
        "DiscountCode",
        "Extension",
        "InventoryEntry",
        "Message",
        "Order",
        "OrderEdit",
        "Payment",
        "Product",
        "ProductDiscount",
        "ProductProjection",
        "ProductType",
        "Review",
        "ShippingMethod",
        "ShoppingList",
        "State",
        "Store",
        "Subscription",
        "TaxCategory",
        "Type",
        "Zone"
      ],
      "x-annotation-package": "Common",
      "x-annotation-abstract": true
    },
    "Cart": {
      "title": "Cart",
      "allOf": [
        {
          "$ref": "#/definitions/BaseResource"
        },
        {
          "properties": {
            "id": {
              "description": "The unique ID of the cart.",
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-identifier": true,
              "x-annotation-inherited": false
            },
            "version": {
              "format": "int64",
              "description": "The current version of the cart.",
              "type": "integer",
              "x-annotation-builtinType": "integer",
              "x-annotation-inherited": false
            },
            "createdAt": {
              "format": "date-time",
              "type": "string",
              "x-annotation-builtinType": "datetime",
              "x-annotation-inherited": false
            },
            "lastModifiedAt": {
              "format": "date-time",
              "type": "string",
              "x-annotation-builtinType": "datetime",
              "x-annotation-inherited": false
            },
            "key": {
              "description": "User-specific unique identifier of the cart.",
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "lastModifiedBy": {
              "description": "Present on resources updated after 1/02/2019 except for events not tracked.",
              "$ref": "#/definitions/LastModifiedBy",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "createdBy": {
              "description": "Present on resources created after 1/02/2019 except for events not tracked.",
              "$ref": "#/definitions/CreatedBy",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "customerId": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "customerEmail": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "anonymousId": {
              "description": "Identifies carts and orders belonging to an anonymous session (the customer has not signed up/in yet).",
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "store": {
              "$ref": "#/definitions/StoreKeyReference",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "lineItems": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LineItem"
              },
              "x-annotation-builtinType": "array",
              "x-annotation-inherited": false
            },
            "customLineItems": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomLineItem"
              },
              "x-annotation-builtinType": "array",
              "x-annotation-inherited": false
            },
            "totalPrice": {
              "description": "The sum of all `totalPrice` fields of the `lineItems` and `customLineItems`, as well as the `price` field of `shippingInfo` (if it exists).\n`totalPrice` may or may not include the taxes: it depends on the taxRate.includedInPrice property of each price.",
              "$ref": "#/definitions/TypedMoney",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "taxedPrice": {
              "description": "Not set until the shipping address is set.\nWill be set automatically in the `Platform` TaxMode.\nFor the `External` tax mode it will be set  as soon as the external tax rates for all line items, custom line items, and shipping in the cart are set.",
              "$ref": "#/definitions/TaxedPrice",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "cartState": {
              "$ref": "#/definitions/CartState",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "shippingAddress": {
              "description": "The shipping address is used to determine the eligible shipping methods and rates as well as the tax rate of the line items.",
              "$ref": "#/definitions/Address",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "billingAddress": {
              "$ref": "#/definitions/Address",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "inventoryMode": {
              "$ref": "#/definitions/InventoryMode",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "taxMode": {
              "$ref": "#/definitions/TaxMode",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "taxRoundingMode": {
              "description": "When calculating taxes for `taxedPrice`, the selected mode is used for rounding.",
              "$ref": "#/definitions/RoundingMode",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "taxCalculationMode": {
              "description": "When calculating taxes for `taxedPrice`, the selected mode is used for calculating the price with `LineItemLevel` (horizontally) or `UnitPriceLevel` (vertically) calculation mode.",
              "$ref": "#/definitions/TaxCalculationMode",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "customerGroup": {
              "description": "Set automatically when the customer is set and the customer is a member of a customer group.\nUsed for product variant\nprice selection.",
              "$ref": "#/definitions/CustomerGroupReference",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "country": {
              "description": "A two-digit country code as per [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\nUsed for product variant price selection.",
              "$ref": "#/definitions/CountryCode",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "shippingInfo": {
              "description": "Set automatically once the ShippingMethod is set.",
              "$ref": "#/definitions/ShippingInfo",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "discountCodes": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DiscountCodeInfo"
              },
              "x-annotation-builtinType": "array",
              "x-annotation-inherited": false
            },
            "custom": {
              "$ref": "#/definitions/CustomFields",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "paymentInfo": {
              "$ref": "#/definitions/PaymentInfo",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "locale": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "deleteDaysAfterLastModification": {
              "format": "int",
              "description": "The cart will be deleted automatically if it hasn't been modified for the specified amount of days and it is in the `Active` CartState.",
              "type": "integer",
              "x-annotation-builtinType": "integer",
              "x-annotation-inherited": false
            },
            "refusedGifts": {
              "description": "Automatically filled when a line item with LineItemMode `GiftLineItem` is removed from the cart.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartDiscountReference"
              },
              "x-annotation-builtinType": "array",
              "x-annotation-inherited": false
            },
            "origin": {
              "description": "The origin field indicates how this cart was created.\nThe value `Customer` indicates, that the cart was created by the customer.",
              "$ref": "#/definitions/CartOrigin",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "shippingRateInput": {
              "description": "The shippingRateInput is used as an input to select a ShippingRatePriceTier.",
              "$ref": "#/definitions/ShippingRateInput",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "itemShippingAddresses": {
              "description": "Contains addresses for carts with multiple shipping addresses.\nLine items reference these addresses under their `shippingDetails`.\nThe addresses captured here are not used to determine eligible shipping methods or the applicable tax rate.\nOnly the cart's `shippingAddress` is used for this.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              },
              "x-annotation-builtinType": "array",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "id",
            "version",
            "createdAt",
            "lastModifiedAt",
            "lineItems",
            "customLineItems",
            "totalPrice",
            "cartState",
            "taxMode",
            "taxRoundingMode",
            "taxCalculationMode",
            "refusedGifts",
            "origin"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#cart",
      "x-annotation-updateType": "CartUpdate",
      "x-annotation-java-extends": "com.commercetools.api.models.DomainResource<Cart>"
    },
    "CartAddCustomLineItemAction": {
      "title": "CartAddCustomLineItemAction",
      "example": {
        "action": "addCustomLineItem",
        "name": {
          "en": "Name EN",
          "de": "Name DE"
        },
        "quantity": 1,
        "money": {
          "currencyCode": "EUR",
          "centAmount": 4200
        },
        "slug": "mySlug",
        "taxCategory": {
          "typeId": "tax-category",
          "id": "{{category-id}}"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "addCustomLineItem"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "money": {
              "$ref": "#/definitions/Money",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "name": {
              "$ref": "#/definitions/LocalizedString",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "quantity": {
              "format": "int64",
              "type": "integer",
              "x-annotation-builtinType": "integer",
              "x-annotation-inherited": false
            },
            "slug": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "taxCategory": {
              "$ref": "#/definitions/TaxCategoryResourceIdentifier",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "custom": {
              "$ref": "#/definitions/CustomFieldsDraft",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "externalTaxRate": {
              "$ref": "#/definitions/ExternalTaxRateDraft",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "money",
            "name",
            "quantity",
            "slug"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-customlineitem"
    },
    "CartAddDiscountCodeAction": {
      "title": "CartAddDiscountCodeAction",
      "example": {
        "action": "addDiscountCode",
        "code": "mydiscountcode"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "addDiscountCode"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "code": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "code"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-discountcode"
    },
    "CartAddItemShippingAddressAction": {
      "title": "CartAddItemShippingAddressAction",
      "example": {
        "action": "addItemShippingAddress",
        "address": {
          "id": "exampleAddress",
          "key": "exampleKey",
          "title": "My Address",
          "salutation": "Mr.",
          "firstName": "Example",
          "lastName": "Person",
          "streetName": "Examplary Street",
          "streetNumber": "4711",
          "additionalStreetInfo": "Backhouse",
          "postalCode": "80933",
          "city": "Exemplary City",
          "region": "Exemplary Region",
          "state": "Exemplary State",
          "country": "DE",
          "company": "My Company Name",
          "department": "Sales",
          "building": "Hightower 1",
          "apartment": "247",
          "pOBox": "2471",
          "phone": "+49 89 12345678",
          "mobile": "+49 171 2345678",
          "email": "mail@mail.com",
          "fax": "+49 89 12345679",
          "additionalAddressInfo": "no additional Info",
          "externalId": "Information not needed"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "addItemShippingAddress"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "address": {
              "$ref": "#/definitions/BaseAddress",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "address"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-itemshippingaddress"
    },
    "CartAddLineItemAction": {
      "title": "CartAddLineItemAction",
      "example": {
        "action": "addLineItem",
        "productId": "{{product-id}}",
        "variantId": 2,
        "quantity": 1,
        "supplyChannel": {
          "typeId": "channel",
          "id": "{{channel-id}}"
        },
        "distributionChannel": {
          "typeId": "channel",
          "id": "{{channel-id}}"
        },
        "externalTaxRate": {
          "name": "StandardExternalTaxRate",
          "amount": 0.19,
          "country": "DE",
          "state": "Bavaria"
        },
        "shippingDetails": {
          "targets": [
            {
              "addressKey": "AddressKeyStringFromAddress",
              "quantity": 2
            }
          ]
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "addLineItem"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "custom": {
              "$ref": "#/definitions/CustomFieldsDraft",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "distributionChannel": {
              "$ref": "#/definitions/ChannelResourceIdentifier",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "externalTaxRate": {
              "$ref": "#/definitions/ExternalTaxRateDraft",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "productId": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "variantId": {
              "format": "int64",
              "type": "integer",
              "x-annotation-builtinType": "integer",
              "x-annotation-inherited": false
            },
            "sku": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "quantity": {
              "format": "int64",
              "type": "integer",
              "x-annotation-builtinType": "integer",
              "x-annotation-inherited": false
            },
            "supplyChannel": {
              "$ref": "#/definitions/ChannelResourceIdentifier",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "externalPrice": {
              "$ref": "#/definitions/Money",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "externalTotalPrice": {
              "$ref": "#/definitions/ExternalLineItemTotalPrice",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "shippingDetails": {
              "$ref": "#/definitions/ItemShippingDetailsDraft",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-lineitem"
    },
    "CartAddPaymentAction": {
      "title": "CartAddPaymentAction",
      "example": {
        "action": "addPayment",
        "payment": {
          "id": "{{payment-id}}",
          "typeId": "payment"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "addPayment"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "payment": {
              "$ref": "#/definitions/PaymentResourceIdentifier",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "payment"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-payment"
    },
    "CartAddShoppingListAction": {
      "title": "CartAddShoppingListAction",
      "example": {
        "action": "addShoppingList",
        "shoppingList": {
          "id": "{{shopping-list-id}}",
          "typeId": "shopping-list"
        },
        "supplyChannel": {
          "typeId": "channel",
          "id": "{{channel-id}}"
        },
        "distributionChannel": {
          "typeId": "channel",
          "id": "{{channel-id}}"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "addShoppingList"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "shoppingList": {
              "$ref": "#/definitions/ShoppingListResourceIdentifier",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "supplyChannel": {
              "$ref": "#/definitions/ChannelResourceIdentifier",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "distributionChannel": {
              "$ref": "#/definitions/ChannelResourceIdentifier",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "shoppingList"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#add-shopping-list"
    },
    "CartApplyDeltaToCustomLineItemShippingDetailsTargetsAction": {
      "title": "CartApplyDeltaToCustomLineItemShippingDetailsTargetsAction",
      "example": {
        "action": "applyDeltaToCustomLineItemShippingDetailsTargets",
        "customLineItemId": "{{lineItemId}}",
        "targetsDelta": [
          {
            "addressKey": "addressKeyString",
            "quantity": 1
          }
        ]
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "applyDeltaToCustomLineItemShippingDetailsTargets"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "customLineItemId": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "targetsDelta": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemShippingTarget"
              },
              "x-annotation-builtinType": "array",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "customLineItemId",
            "targetsDelta"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#apply-deltatocustomlineitemshippingdetailstargets"
    },
    "CartApplyDeltaToLineItemShippingDetailsTargetsAction": {
      "title": "CartApplyDeltaToLineItemShippingDetailsTargetsAction",
      "example": {
        "action": "applyDeltaToLineItemShippingDetailsTargets",
        "lineItemId": "{{lineItemId}}",
        "targetsDelta": [
          {
            "addressKey": "addressKeyString",
            "quantity": 1
          }
        ]
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "applyDeltaToLineItemShippingDetailsTargets"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "lineItemId": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "targetsDelta": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemShippingTarget"
              },
              "x-annotation-builtinType": "array",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "lineItemId",
            "targetsDelta"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#apply-deltatolineitemshippingdetailstargets"
    },
    "CartChangeCustomLineItemMoneyAction": {
      "title": "CartChangeCustomLineItemMoneyAction",
      "example": {
        "action": "changeCustomLineItemMoney",
        "customLineItemId": "{{customLineItemId}}",
        "money": {
          "currencyCode": "EUR",
          "centAmount": 4200
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "changeCustomLineItemMoney"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "customLineItemId": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "money": {
              "$ref": "#/definitions/Money",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "customLineItemId",
            "money"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-customlineitem-money"
    },
    "CartChangeCustomLineItemQuantityAction": {
      "title": "CartChangeCustomLineItemQuantityAction",
      "example": {
        "action": "changeCustomLineItemQuantity",
        "customLineItemId": "{{lineItemId}}",
        "quantity": 1
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "changeCustomLineItemQuantity"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "customLineItemId": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "quantity": {
              "format": "int64",
              "type": "integer",
              "x-annotation-builtinType": "integer",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "customLineItemId",
            "quantity"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-customlineitem-quantity"
    },
    "CartChangeLineItemQuantityAction": {
      "title": "CartChangeLineItemQuantityAction",
      "example": {
        "action": "changeLineItemQuantity",
        "lineItemId": "{{lineItemId}}",
        "quantity": 1
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "changeLineItemQuantity"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "lineItemId": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "quantity": {
              "format": "int64",
              "type": "integer",
              "x-annotation-builtinType": "integer",
              "x-annotation-inherited": false
            },
            "externalPrice": {
              "$ref": "#/definitions/Money",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "externalTotalPrice": {
              "$ref": "#/definitions/ExternalLineItemTotalPrice",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "lineItemId",
            "quantity"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-lineitem-quantity"
    },
    "CartChangeTaxCalculationModeAction": {
      "title": "CartChangeTaxCalculationModeAction",
      "example": {
        "action": "changeTaxCalculationMode",
        "taxCalculationMode": "LineItemLevel"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "changeTaxCalculationMode"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "taxCalculationMode": {
              "$ref": "#/definitions/TaxCalculationMode",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "taxCalculationMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-taxcalculationmode"
    },
    "CartChangeTaxModeAction": {
      "title": "CartChangeTaxModeAction",
      "example": {
        "action": "changeTaxMode",
        "taxMode": "Platform"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "changeTaxMode"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "taxMode": {
              "$ref": "#/definitions/TaxMode",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "taxMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-taxmode"
    },
    "CartChangeTaxRoundingModeAction": {
      "title": "CartChangeTaxRoundingModeAction",
      "example": {
        "action": "changeTaxRoundingMode",
        "taxRoundingMode": "HalfUp"
      },
      "allOf": [
        {
          "$ref": "#/definitions/CartUpdateAction"
        },
        {
          "properties": {
            "action": {
              "enum": [
                "changeTaxRoundingMode"
              ],
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "taxRoundingMode": {
              "$ref": "#/definitions/RoundingMode",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "action",
            "taxRoundingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Cart",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-carts.html#change-tax-roundingmode"
    },
    "CartClassificationTier": {
      "title": "CartClassificationTier",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRatePriceTier"
        },
        {
          "properties": {
            "type": {
              "enum": [
                "CartClassification"
              ],
              "$ref": "#/definitions/ShippingRateTierType",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "value": {
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "price": {
              "$ref": "#/definitions/Money",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "isMatching": {
              "type": "boolean",
              "x-annotation-builtinType": "boolean",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "type",
            "value",
            "price"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "ShippingMethod",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-shippingMethods.html#cartclassification"
    },
    "CartClassificationType": {
      "title": "CartClassificationType",
      "allOf": [
        {
          "$ref": "#/definitions/ShippingRateInputType"
        },
        {
          "properties": {
            "type": {
              "enum": [
                "CartClassification"
              ],
              "$ref": "#/definitions/ShippingRateTierType",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": true
            },
            "values": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomFieldLocalizedEnumValue"
              },
              "x-annotation-builtinType": "array",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "type",
            "values"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "Project",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-project.html#cartclassification"
    },
    "CartDiscount": {
      "title": "CartDiscount",
      "allOf": [
        {
          "$ref": "#/definitions/BaseResource"
        },
        {
          "properties": {
            "id": {
              "description": "The unique ID of the cart discount.",
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-identifier": true,
              "x-annotation-inherited": false
            },
            "version": {
              "format": "int64",
              "description": "The current version of the cart discount.",
              "type": "integer",
              "x-annotation-builtinType": "integer",
              "x-annotation-inherited": false
            },
            "createdAt": {
              "format": "date-time",
              "type": "string",
              "x-annotation-builtinType": "datetime",
              "x-annotation-inherited": false
            },
            "lastModifiedAt": {
              "format": "date-time",
              "type": "string",
              "x-annotation-builtinType": "datetime",
              "x-annotation-inherited": false
            },
            "lastModifiedBy": {
              "description": "Present on resources updated after 1/02/2019 except for events not tracked.",
              "$ref": "#/definitions/LastModifiedBy",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "createdBy": {
              "description": "Present on resources created after 1/02/2019 except for events not tracked.",
              "$ref": "#/definitions/CreatedBy",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "name": {
              "$ref": "#/definitions/LocalizedString",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "key": {
              "description": "User-specific unique identifier for a cart discount.\nMust be unique across a project.",
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "description": {
              "$ref": "#/definitions/LocalizedString",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "value": {
              "$ref": "#/definitions/CartDiscountValueDraft",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "cartPredicate": {
              "description": "A valid Cart predicate.",
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "target": {
              "description": "Empty when the `value` has type `giftLineItem`, otherwise a CartDiscountTarget is set.",
              "$ref": "#/definitions/CartDiscountTarget",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            },
            "sortOrder": {
              "description": "The string must contain a number between 0 and 1.\nAll matching cart discounts are applied to a cart in the order defined by this field.\nA discount with greater sort order is prioritized higher than a discount with lower sort order.\nThe sort order is unambiguous among all cart discounts.",
              "type": "string",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "isActive": {
              "description": "Only active discount can be applied to the cart.",
              "type": "boolean",
              "x-annotation-builtinType": "boolean",
              "x-annotation-inherited": false
            },
            "validFrom": {
              "format": "date-time",
              "type": "string",
              "x-annotation-builtinType": "datetime",
              "x-annotation-inherited": false
            },
            "validUntil": {
              "format": "date-time",
              "type": "string",
              "x-annotation-builtinType": "datetime",
              "x-annotation-inherited": false
            },
            "requiresDiscountCode": {
              "description": "States whether the discount can only be used in a connection with a DiscountCode.",
              "type": "boolean",
              "x-annotation-builtinType": "boolean",
              "x-annotation-inherited": false
            },
            "references": {
              "description": "The platform will generate this array from the predicate.\nIt contains the references of all the resources that are addressed in the predicate.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Reference"
              },
              "x-annotation-builtinType": "array",
              "x-annotation-inherited": false
            },
            "stackingMode": {
              "description": "Specifies whether the application of this discount causes the following discounts to be ignored.\nDefaults to Stacking.",
              "$ref": "#/definitions/StackingMode",
              "x-annotation-builtinType": "string",
              "x-annotation-inherited": false
            },
            "custom": {
              "$ref": "#/definitions/CustomFields",
              "x-annotation-builtinType": "object",
              "x-annotation-inherited": false
            }
          },
          "required": [
            "id",
            "version",
            "createdAt",
            "lastModifiedAt",
            "name",
            "value",
            "cartPredicate",
            "sortOrder",
            "isActive",
            "requiresDiscountCode",
            "references",
            "stackingMode"
          ],
          "type": "object"
        }
      ],
      "x-annotation-builtinType": "object",
      "x-annotation-package": "CartDiscount",
      "x-annotation-docs-uri": "https://docs.commercetools.com/http-api-projects-cartDiscounts.html#cartdiscount",
[...]
