openapi: "3.0.0"
info:
  title: Commercetools
  version: v1

servers:
  - url: https://api.europe-west1.gcp.commercetools.com

paths:
  /{projectKey}:
    description: |-
      The Project endpoint is used to retrieve certain information from a project.
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - "projectKey" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
      operationId: ByProjectKeyGet
      description: |-
        The Endpoint is responding a limited set of information about settings and configuration of the project.
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
    post:
      tags:
        - "projectKey" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
      operationId: ByProjectKeyPost
      description: |-
        Update project
      requestBody:
        content:
          application/json: {}
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        409:
          description: |-
            ## Conflict

            A 409 indicates that the resource targeted by the request (with the intention to modify or delete the resource),
            was modified since the last time the client has requested it. As a reaction, the client will usually want to
            request the newest version of the resource to see what has changed and may then decide to apply the same or other
            changes to the new version, or discard his changes entirely.

            Conflicts indicate a concurrent modification and usually occur on versioned resources, for which the client has
            to include the version of the resource whenever he intends to apply modifications to it.

            The following general error codes can appear in responses with the HTTP status code `409`:

            * `ConcurrentModification`
              The request conflicts with the current state of the involved resource(s).
              Typically, the request attempts to modify a resource that is out of date,
              i.e. that has been modified by another client since the last time it was retrieved.
              The client application should resolve the conflict (with or without involving the end-user)
              before retrying the request.
          content:
            application/json: {}
  /{projectKey}/api-clients:
    description: |-
      Manage your API Clients via an API. Useful for Infrastructure-as-Code tooling, and regularly rotating API secrets.
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - "projectKey"
        - "api-clients" 
      security:
        - oauth_2_0:
            - "manage_api_clients:{projectKey}"
            - "view_api_clients:{projectKey}"
      operationId: ByProjectKeyApiClientsGet
      description: |-
        Query api-clients
      parameters:
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
        - name: sort
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
        - name: limit
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: number
          explode: true
        - name: offset
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: number
          explode: true
        - name: withTotal
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: boolean
          explode: true
        - name: where
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
        - name: /^var[.][a-zA-Z0-9]+$/
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
    post:
      tags:
        - "projectKey"
        - "api-clients" 
      security:
        - oauth_2_0:
            - "manage_api_clients:{projectKey}"
      operationId: ByProjectKeyApiClientsPost
      description: |-
        Create ApiClient
      parameters:
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      requestBody:
        content:
          application/json: {}
      responses:
        201:
          description: |-
            201
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
  /{projectKey}/api-clients/{ID}:
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
      - name: ID
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - "projectKey"
        - "api-clients"
        - "ID" 
      security:
        - oauth_2_0:
            - "manage_api_clients:{projectKey}"
            - "view_api_clients:{projectKey}"
      operationId: ByProjectKeyApiClientsByIDGet
      description: |-
        Get ApiClient by ID
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
    delete:
      tags:
        - "projectKey"
        - "api-clients"
        - "ID" 
      security:
        - oauth_2_0:
            - "manage_api_clients:{projectKey}"
      operationId: ByProjectKeyApiClientsByIDDelete
      description: |-
        Delete ApiClient by ID
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
  /{projectKey}/cart-discounts:
    description: |-
      Cart discounts are used to change the prices of different elements within a cart.
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - "projectKey"
        - "cart-discounts" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
            - "view_orders:{projectKey}"
            - "view_cart_discounts:{projectKey}"
      operationId: ByProjectKeyCartDiscountsGet
      description: |-
        Query cart-discounts
      parameters:
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
        - name: sort
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
        - name: limit
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: number
          explode: true
        - name: offset
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: number
          explode: true
        - name: withTotal
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: boolean
          explode: true
        - name: where
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
        - name: /^var[.][a-zA-Z0-9]+$/
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
    post:
      tags:
        - "projectKey"
        - "cart-discounts" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
            - "manage_orders:{projectKey}"
            - "manage_cart_discounts:{projectKey}"
      operationId: ByProjectKeyCartDiscountsPost
      description: |-
        Create CartDiscount
      parameters:
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      requestBody:
        content:
          application/json: {}
      responses:
        201:
          description: |-
            201
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
  /{projectKey}/cart-discounts/key={key}:
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - "projectKey"
        - "cart-discounts"
        - "key=key" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
            - "view_orders:{projectKey}"
            - "view_cart_discounts:{projectKey}"
      operationId: ByProjectKeyCartDiscountsKeyByKeyGet
      description: |-
        Get CartDiscount by key
      parameters:
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
    post:
      tags:
        - "projectKey"
        - "cart-discounts"
        - "key=key" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
            - "manage_orders:{projectKey}"
            - "manage_cart_discounts:{projectKey}"
      operationId: ByProjectKeyCartDiscountsKeyByKeyPost
      description: |-
        Update CartDiscount by key
      parameters:
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      requestBody:
        content:
          application/json: {}
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        409:
          description: |-
            ## Conflict

            A 409 indicates that the resource targeted by the request (with the intention to modify or delete the resource),
            was modified since the last time the client has requested it. As a reaction, the client will usually want to
            request the newest version of the resource to see what has changed and may then decide to apply the same or other
            changes to the new version, or discard his changes entirely.

            Conflicts indicate a concurrent modification and usually occur on versioned resources, for which the client has
            to include the version of the resource whenever he intends to apply modifications to it.

            The following general error codes can appear in responses with the HTTP status code `409`:

            * `ConcurrentModification`
              The request conflicts with the current state of the involved resource(s).
              Typically, the request attempts to modify a resource that is out of date,
              i.e. that has been modified by another client since the last time it was retrieved.
              The client application should resolve the conflict (with or without involving the end-user)
              before retrying the request.
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
    delete:
      tags:
        - "projectKey"
        - "cart-discounts"
        - "key=key" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
            - "manage_orders:{projectKey}"
            - "manage_cart_discounts:{projectKey}"
      operationId: ByProjectKeyCartDiscountsKeyByKeyDelete
      description: |-
        Delete CartDiscount by key
      parameters:
        - name: version
          in: query
          required: true
          style: form
          schema:
            type: array
            items:
              type: number
          explode: true
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        409:
          description: |-
            ## Conflict

            A 409 indicates that the resource targeted by the request (with the intention to modify or delete the resource),
            was modified since the last time the client has requested it. As a reaction, the client will usually want to
            request the newest version of the resource to see what has changed and may then decide to apply the same or other
            changes to the new version, or discard his changes entirely.

            Conflicts indicate a concurrent modification and usually occur on versioned resources, for which the client has
            to include the version of the resource whenever he intends to apply modifications to it.

            The following general error codes can appear in responses with the HTTP status code `409`:

            * `ConcurrentModification`
              The request conflicts with the current state of the involved resource(s).
              Typically, the request attempts to modify a resource that is out of date,
              i.e. that has been modified by another client since the last time it was retrieved.
              The client application should resolve the conflict (with or without involving the end-user)
              before retrying the request.
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
  /{projectKey}/cart-discounts/{ID}:
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
      - name: ID
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - "projectKey"
        - "cart-discounts"
        - "ID" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
            - "view_orders:{projectKey}"
            - "view_cart_discounts:{projectKey}"
      operationId: ByProjectKeyCartDiscountsByIDGet
      description: |-
        Get CartDiscount by ID
      parameters:
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
    post:
      tags:
        - "projectKey"
        - "cart-discounts"
        - "ID" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
            - "manage_orders:{projectKey}"
            - "manage_cart_discounts:{projectKey}"
      operationId: ByProjectKeyCartDiscountsByIDPost
      description: |-
        Update CartDiscount by ID
      parameters:
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      requestBody:
        content:
          application/json: {}
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        409:
          description: |-
            ## Conflict

            A 409 indicates that the resource targeted by the request (with the intention to modify or delete the resource),
            was modified since the last time the client has requested it. As a reaction, the client will usually want to
            request the newest version of the resource to see what has changed and may then decide to apply the same or other
            changes to the new version, or discard his changes entirely.

            Conflicts indicate a concurrent modification and usually occur on versioned resources, for which the client has
            to include the version of the resource whenever he intends to apply modifications to it.

            The following general error codes can appear in responses with the HTTP status code `409`:

            * `ConcurrentModification`
              The request conflicts with the current state of the involved resource(s).
              Typically, the request attempts to modify a resource that is out of date,
              i.e. that has been modified by another client since the last time it was retrieved.
              The client application should resolve the conflict (with or without involving the end-user)
              before retrying the request.
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
    delete:
      tags:
        - "projectKey"
        - "cart-discounts"
        - "ID" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
            - "manage_orders:{projectKey}"
            - "manage_cart_discounts:{projectKey}"
      operationId: ByProjectKeyCartDiscountsByIDDelete
      description: |-
        Delete CartDiscount by ID
      parameters:
        - name: version
          in: query
          required: true
          style: form
          schema:
            type: array
            items:
              type: number
          explode: true
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        409:
          description: |-
            ## Conflict

            A 409 indicates that the resource targeted by the request (with the intention to modify or delete the resource),
            was modified since the last time the client has requested it. As a reaction, the client will usually want to
            request the newest version of the resource to see what has changed and may then decide to apply the same or other
            changes to the new version, or discard his changes entirely.

            Conflicts indicate a concurrent modification and usually occur on versioned resources, for which the client has
            to include the version of the resource whenever he intends to apply modifications to it.

            The following general error codes can appear in responses with the HTTP status code `409`:

            * `ConcurrentModification`
              The request conflicts with the current state of the involved resource(s).
              Typically, the request attempts to modify a resource that is out of date,
              i.e. that has been modified by another client since the last time it was retrieved.
              The client application should resolve the conflict (with or without involving the end-user)
              before retrying the request.
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
  /{projectKey}/carts:
    description: |-
      A shopping cart holds product variants and can be ordered.
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - "projectKey"
        - "carts" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
            - "view_orders:{projectKey}"
      operationId: ByProjectKeyCartsGet
      description: |-
        Query carts
      parameters:
        - name: customerId
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
        - name: sort
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
        - name: limit
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: number
          explode: true
        - name: offset
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: number
          explode: true
        - name: withTotal
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: boolean
          explode: true
        - name: where
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
        - name: /^var[.][a-zA-Z0-9]+$/
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
    post:
      tags:
        - "projectKey"
        - "carts" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
            - "manage_orders:{projectKey}"
      operationId: ByProjectKeyCartsPost
      description: |-
        Creating a cart can fail with an InvalidOperation if the referenced shipping method in the
        CartDraft has a predicate which does not match the cart.
      parameters:
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      requestBody:
        content:
          application/json: {}
      responses:
        201:
          description: |-
            201
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
  /{projectKey}/carts/customer-id={customerId}:
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
      - name: customerId
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - "projectKey"
        - "carts"
        - "customer-id=customerId" 
      security:
        - oauth_2_0:
            - "manage_project:{projectKey}"
            - "view_orders:{projectKey}"
      operationId: ByProjectKeyCartsCustomerIdByCustomerIdGet
      description: |-
        Retrieves the active cart of the customer that has been modified most recently.
        It does not consider carts with CartOrigin Merchant. If no active cart exists, a 404 Not Found error is returned.

        The cart may not contain up-to-date prices, discounts etc. If you want to ensure they're up-to-date,
        send an Update request with the Recalculate update action instead.
      parameters:
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
  /{projectKey}/carts/key={key}:
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - "projectKey"
        - "carts"
        - "key=key" 
      security:
        - oauth_2_0:
            - "view_orders:{projectKey}"
      operationId: ByProjectKeyCartsKeyByKeyGet
      description: |-
        The cart may not contain up-to-date prices, discounts etc.
        If you want to ensure they're up-to-date, send an Update request with the Recalculate update action instead.
      parameters:
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
          explode: true
      responses:
        200:
          description: |-
            200
          content:
            application/json: {}
        400:
          description: |-
            ## Bad Request

            A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input.
            Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or
            a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned
            in the response before re-sending the request.

            The following general error codes can appear in responses with the HTTP status code `400`:

            * `InvalidInput`
              Invalid input has been sent to the service.
              The client application should validate the input according to the constraints described in the error message
              before sending the request.

            * `InvalidOperation`
              The resource(s) involved in the request are not in a valid state for the operation. The client application
              should validate the constraints described in the error message before sending the request.

            * `InvalidField`
              A field has an invalid value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `invalidValue` - *
                The invalid value.
              * `allowedValues` - Array of * - Optional
                A fixed set of allowed values for the field, if any.

            * `RequiredField`
              A required field is missing a value.
              Extra fields:
              * `field` - String
                The name of the field.

            * `DuplicateField`
              A value for a field conflicts with an existing duplicate value.
              Extra fields:
              * `field` - String
                The name of the field.
              * `duplicateValue` - *
                The offending duplicate value.
          content:
            application/json: {}
        401:
          description: |-
            ## Unauthorized

            A 401 indicates that the request is not properly authenticated.
          content:
            application/json: {}
        403:
          description: |-
            ## Forbidden

            A 403 indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json: {}
        404:
          description: |-
            ## Not Found

            A 404 indicates that the addressed resource was not found / does not exist.

            The following general error codes can appear in responses with the HTTP status code `404`:

            * `ResourceNotFound`
              The resource addressed by the request URL does not exist.
          content: {}
        500:
          description: |-
            ## Internal Server Error

            A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent
            requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs
            to be reported and resolved.

            The following general error codes can appear in responses with the HTTP status code `500`:

            * `General`
              A server-side problem occurred that is not further specified.
              These errors [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
        503:
          description: |-
            ## Service Unavailable

            The following general error codes can appear in responses with the HTTP status code `503`:

            * `OverCapacity`
              The service is having trouble handling the load. The client application should retry the request with
              exponential backoff up to a point where further delay is unacceptable.

            * `PendingOperation`
              A previous conflicting operation is still pending and needs to finish before the request can succeed.
              The client application should retry the request with exponential backoff up to a point where further delay
              is unaceptable. If these errors persist, [should be reported](http://support.commercetools.com/).
          content:
            application/json: {}
    post:
      tags:
        - "projectKey"
        - "carts"
        - "key=key" 
      security:
        - oauth_2_0:
            - "manage_orders:{projectKey}"
[...]
