openapi: "3.0.0"
info:
  title: Change History API
  version: "1"

servers:
  - url: https://history.europe-west1.gcp.commercetools.com

paths:
  /{projectKey}:
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
    get:
      security:
        - oauth_2_0:
            - "view_audit_log:{projectKey}"
            - "view_cart_discounts:{projectKey}"
            - "view_categories:{projectKey}"
            - "view_customers:{projectKey}"
            - "view_customer_groups:{projectKey}"
            - "view_discount_codes:{projectKey}"
            - "view_key_value_documents:{projectKey}"
            - "view_orders:{projectKey}"
            - "view_orders:{projectKey}:{storeKey}"
            - "view_payments:{projectKey}"
            - "view_products:{projectKey}"
            - "view_product_selections:{projectKey}"
            - "view_quotes:{projectKey}"
            - "view_quote_requests:{projectKey}"
            - "view_shopping_lists:{projectKey}"
            - "view_states:{projectKey}"
            - "view_staged_quotes:{projectKey}"
            - "view_stores:{projectKey}"
            - "view_tax_categories:{projectKey}"
            - "view_types:{projectKey}"
      operationId: ByProjectKeyGet
      parameters:
        - name: resourceType
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              $ref: '#/components/schemas/ChangeHistoryResourceType'
          explode: true
        - name: date.from
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - $ref: '#/components/schemas/datetime'
              - $ref: '#/components/schemas/number'
          explode: true
        - name: date.to
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - $ref: '#/components/schemas/datetime'
              - $ref: '#/components/schemas/number'
          explode: true
        - name: limit
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: offset
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: userId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: type
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: clientId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: resourceId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: source
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: changes
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: stores
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: customerId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: excludePlatformInitiatedChanges
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              $ref: '#/components/schemas/PlatformInitiatedChange'
          explode: true
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: "boolean"
          explode: true
      responses:
        "200":
          description: |-
            Records of the resource under query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordPagedQueryResponse'

        "400":
          description: |-
            Bad Request. A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input. Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned in the response before re-sending the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "401":
          description: |-
            Unauthorized. Indicate that the request is not properly authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "403":
          description: |-
            Forbidden. Indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "500":
          description: |-
            Internal Server Error. A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs to be reported and resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "503":
          description: |-
            Service Unavailable. The following general error codes can appear in responses with the HTTP status code `503`
            - `OverCapacity` The service is having trouble handling the load. The client application should retry the request with exponential backoff up to a point where further delay is unacceptable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /{projectKey}/{resourceType}:
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
      - name: resourceType
        in: path
        required: true
        schema:
          type: ChangeHistoryResourceType
    get:
      security:
        - oauth_2_0:
            - "view_audit_log:{projectKey}"
            - "view_cart_discounts:{projectKey}"
            - "view_categories:{projectKey}"
            - "view_customers:{projectKey}"
            - "view_customer_groups:{projectKey}"
            - "view_discount_codes:{projectKey}"
            - "view_key_value_documents:{projectKey}"
            - "view_orders:{projectKey}"
            - "view_orders:{projectKey}:{storeKey}"
            - "view_payments:{projectKey}"
            - "view_products:{projectKey}"
            - "view_product_selections:{projectKey}"
            - "view_quotes:{projectKey}"
            - "view_quote_requests:{projectKey}"
            - "view_shopping_lists:{projectKey}"
            - "view_states:{projectKey}"
            - "view_staged_quotes:{projectKey}"
            - "view_stores:{projectKey}"
            - "view_tax_categories:{projectKey}"
            - "view_types:{projectKey}"
      operationId: ByProjectKeyByResourceTypeGet
      parameters:
        - name: date.from
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - $ref: '#/components/schemas/datetime'
              - $ref: '#/components/schemas/number'
          explode: true
        - name: date.to
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - $ref: '#/components/schemas/datetime'
              - $ref: '#/components/schemas/number'
          explode: true
        - name: limit
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: offset
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: userId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: type
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: clientId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: resourceId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: source
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: changes
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: stores
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: customerId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: excludePlatformInitiatedChanges
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              $ref: '#/components/schemas/PlatformInitiatedChange'
          explode: true
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: "boolean"
          explode: true
      responses:
        "200":
          description: |-
            Records of the resource under query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordPagedQueryResponse'

        "400":
          description: |-
            Bad Request. A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input. Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned in the response before re-sending the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "401":
          description: |-
            Unauthorized. Indicate that the request is not properly authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "403":
          description: |-
            Forbidden. Indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "500":
          description: |-
            Internal Server Error. A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs to be reported and resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "503":
          description: |-
            Service Unavailable. The following general error codes can appear in responses with the HTTP status code `503`
            - `OverCapacity` The service is having trouble handling the load. The client application should retry the request with exponential backoff up to a point where further delay is unacceptable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /{projectKey}/{resourceType}/{ID}:
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: string
      - name: resourceType
        in: path
        required: true
        schema:
          type: ChangeHistoryResourceType
      - name: ID
        in: path
        required: true
        schema:
          type: string
    get:
      security:
        - oauth_2_0:
            - "view_audit_log:{projectKey}"
            - "view_cart_discounts:{projectKey}"
            - "view_orders:{projectKey}"
            - "view_orders:{projectKey}:{storeKey}"
            - "view_categories:{projectKey}"
            - "view_products:{projectKey}"
            - "view_customers:{projectKey}"
            - "view_customer_groups:{projectKey}"
            - "view_discount_codes:{projectKey}"
            - "view_key_value_documents:{projectKey}"
            - "view_payments:{projectKey}"
            - "view_product_selections:{projectKey}"
            - "view_quotes:{projectKey}"
            - "view_quote_requests:{projectKey}"
            - "view_shopping_lists:{projectKey}"
            - "view_states:{projectKey}"
            - "view_staged_quotes:{projectKey}"
            - "view_stores:{projectKey}"
            - "view_tax_categories:{projectKey}"
            - "view_types:{projectKey}"
      operationId: ByProjectKeyByResourceTypeByIDGet
      parameters:
        - name: date.from
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - $ref: '#/components/schemas/datetime'
              - $ref: '#/components/schemas/number'
          explode: true
        - name: date.to
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - $ref: '#/components/schemas/datetime'
              - $ref: '#/components/schemas/number'
          explode: true
        - name: limit
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: offset
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: userId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: type
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: clientId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: source
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: changes
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: stores
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: customerId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: excludePlatformInitiatedChanges
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              $ref: '#/components/schemas/PlatformInitiatedChange'
          explode: true
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: "boolean"
          explode: true
      responses:
        "200":
          description: |-
            Records of the resource under query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordPagedQueryResponse'

        "400":
          description: |-
            Bad Request. A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input. Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned in the response before re-sending the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "401":
          description: |-
            Unauthorized. Indicate that the request is not properly authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "403":
          description: |-
            Forbidden. Indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "500":
          description: |-
            Internal Server Error. A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs to be reported and resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "503":
          description: |-
            Service Unavailable. The following general error codes can appear in responses with the HTTP status code `503`
            - `OverCapacity` The service is having trouble handling the load. The client application should retry the request with exponential backoff up to a point where further delay is unacceptable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'


components:

  securitySchemes:
    oauth_2_0:
      type: oauth2
      description: |
        HTTP API authorization uses [OAuth2](http://tools.ietf.org/html/rfc6750).

        Clients must obtain an access token from the auth service using one of
        the authorization flows described below, before they are able to make authorized requests
        to other Composable Commerce APIs. On successful completion of an authorization flow,
        a client will be given an `access_token`, which they need to include in requests
        to authorized service endpoints via the HTTP `Authorization` header.

        Scopes are used to grant an application different levels of access to data on behalf of the end user. Each API may declare one or more scopes.

      flows:
          clientCredentials:
            tokenUrl: https://auth.europe-west1.gcp.commercetools.com/oauth/token
            scopes:
              "manage_project:{projectKey}": ""
              "manage_products:{projectKey}": ""
              "view_products:{projectKey}": ""
              "manage_orders:{projectKey}": ""
              "manage_orders:{projectKey}:{storeKey}": ""
              "view_orders:{projectKey}": ""
              "view_orders:{projectKey}:{storeKey}": ""
              "manage_customers:{projectKey}": ""
              "view_customers:{projectKey}": ""
              "manage_payments:{projectKey}": ""
              "view_payments:{projectKey}": ""
              "manage_subscriptions:{projectKey}": ""
              "manage_extensions:{projectKey}": ""
              "manage_types:{projectKey}": ""
              "view_types:{projectKey}": ""
              "view_shopping_lists:{projectKey}": ""
              "manage_shopping_lists:{projectKey}": ""
              "manage_my_orders:{projectKey}": ""
              "manage_my_orders:{projectKey}:{storeKey}": ""
              "manage_my_profile:{projectKey}": ""
              "view_project_settings:{projectKey}": ""
              "view_published_products:{projectKey}": ""
              "manage_cart_discounts:{projectKey}": ""
              "view_cart_discounts:{projectKey}": ""
              "manage_customer_groups:{projectKey}": ""
              "view_customer_groups:{projectKey}": ""
              "view_shipping_methods:{projectKey}": ""
              "manage_shipping_methods:{projectKey}": ""
              "manage_tax_categories:{projectKey}": ""
              "view_tax_categories:{projectKey}": ""
              "manage_categories:{projectKey}": ""
              "view_categories:{projectKey}": ""
              "view_change_history:{projectKey}": ""
              "view_discount_codes:{projectKey}": ""
              "view_states:{projectKey}": ""
              "view_stores:{projectKey}": ""


  schemas:
    Record:
      type: "object"
      properties:
        version:
          type: "integer"
          format: "int32"
        previousVersion:
          type: "integer"
          format: "int32"
        type:
          type: "string"
        modifiedBy:
          $ref: '#/components/schemas/ModifiedBy'
        modifiedAt:
          type: "string"
        label:
          $ref: '#/components/schemas/Label'
        previousLabel:
          $ref: '#/components/schemas/Label'
        changes:
          type: "array"
          items:
            $ref: '#/components/schemas/Change'
        resource:
          $ref: '#/components/schemas/Reference'
        stores:
          type: "array"
          items:
            $ref: '#/components/schemas/KeyReference'
        withoutChanges:
          type: "boolean"
    RecordPagedQueryResponse:
      type: "object"
      properties:
        limit:
          type: "integer"
          format: "int32"
        count:
          type: "integer"
          format: "int32"
        total:
          type: "integer"
          format: "int32"
        offset:
          type: "integer"
          format: "int32"
        results:
          type: "array"
          items:
            $ref: '#/components/schemas/Record'
    ChangeHistoryResourceType:
      type: "string"
      enum:
        - cart-discount
        - category
        - channel
        - customer
        - customer-group
        - discount-code
        - inventory-entry
        - key-value-document
        - order
        - payment
        - product
        - product-discount
        - product-selection
        - product-type
        - quote-request
        - quote
        - review
        - shopping-list
        - staged-quote
        - state
        - store
        - tax-category
        - type
        - zone
      x-annotation-package: "ChangeHistory"
    DateStringFilter:
      type: "string"
      enum:
        - now
      x-annotation-package: "ChangeHistory"
    ErrorObject:
      type: "object"
      properties:
        code:
          type: "string"
        message:
          type: "string"
    ErrorResponse:
      type: "object"
      properties:
        statusCode:
          type: "integer"
          format: "int32"
        message:
          type: "string"
        error:
          type: "string"
        error_description:
          type: "string"
        errors:
          type: "array"
          items:
            $ref: '#/components/schemas/ErrorObject'
    ModifiedBy:
      type: "object"
      properties:
        id:
          type: "string"
        type:
          type: "string"
        customer:
          $ref: '#/components/schemas/Reference'
        anonymousId:
          type: "string"
        clientId:
          type: "string"
        isPlatformClient:
          type: "boolean"
    PlatformInitiatedChange:
      type: "string"
      enum:
        - excludeAll
        - changeLineItemName
        - changeReviewRatingStatistics
        - setApplicationVersion
        - setIsValid
        - setVariantAvailability
      x-annotation-package: "ChangeHistory"
    Source:
      type: "string"
      enum:
        - MerchantCenter
        - ImpEx
        - ApiClient
      x-annotation-package: "ChangeHistory"
    UpdateType:
      type: "string"
      enum:
        - addAddress
        - addAsset
        - addAttributeDefinition
        - addBillingAddressId
        - addDelivery
        - addEnumValue
        - addExternalImage
        - addFieldDefinition
        - addInterfaceInteraction
        - addItemShippingAddress
        - addLineItem
        - addLocalizedEnumValue
        - addLocation
        - addParcelToDelivery
        - addPayment
        - addPlainEnumValue
        - addPrice
        - addReturnInfo
        - addRoles
        - addShippingAddressId
        - addTaxRate
        - addTextLineItem
        - addToCategory
        - addTransaction
        - addVariant
        - changeAddress
        - changeAmountPlanned
        - changeAssetName
        - changeAssetOrder
        - changeAttributeConstraint
        - changeAttributeName
        - changeAttributeOrderByName
        - changeCartDiscounts
        - changeCartPredicate
        - changeDescription
        - changeEmail
        - changeEnumKey
        - changeEnumValueLabel
        - changeEnumValueOrder
        - changeFieldDefinitionOrder
        - changeGroups
        - changeInitial
        - changeInputHint
        - changeIsActive
        - changeIsSearchable
        - changeKey
        - changeLabel
        - changeLineItemQuantity
        - changeLineItemsOrder
        - changeLocalizedEnumValueLabel
        - changeLocalizedEnumValueOrder
        - changeMasterVariant
        - changeName
        - changeOrderHint
        - changeOrderState
        - changeParent
        - changePaymentState
        - changePlainEnumValueLabel
        - changePredicate
        - changePrice
        - changeQuantity
        - changeRequiresDiscountCode
        - changeReviewRatingStatistics
        - changeShipmentState
        - changeSlug
        - changeSortOrder
        - changeStackingMode
        - changeTarget
        - changeTextLineItemName
        - changeTextLineItemQuantity
        - changeTextLineItemsOrder
        - changeTransactionInteractionId
        - changeTransactionState
        - changeTransactionTimestamp
        - changeType
        - changeValue
        - publish
        - removeAddress
        - removeAsset
        - removeAttributeDefinition
        - removeBillingAddressId
        - removeDelivery
        - removeEnumValues
        - removeFieldDefinition
        - removeFromCategory
        - removeImage
        - removeItemShippingAddress
        - removeLineItem
        - removeLocation
        - removeParcelFromDelivery
        - removePayment
        - removePrice
        - removeRoles
        - removeShippingAddressId
        - removeTaxRate
        - removeTextLineItem
        - removeVariant
        - setAddress
        - setAnonymousId
        - setAssetCustomField
        - setAssetCustomType
        - setAssetDescription
        - setAssetSources
        - setAssetTags
        - setAsssetKey
        - setAttribute
        - setAuthorName
        - setBillingAddress
        - setCartPredicate
        - setCategoryOrderHint
        - setCompanyName
        - setCustomField
        - setCustomLineItemCustomField
        - setCustomLineItemCustomType
        - setCustomLineItemShippingDetails
        - setCustomType
        - setCustomer
        - setCustomerEmail
        - setCustomerGroup
        - setCustomerId
        - setCustomerNumber
        - setDateOfBirth
        - setDefaultBillingAddress
        - setDefaultShippingAddress
        - setDeleteDaysAfterLastModification
        - setDeliveryAddress
        - setDeliveryItems
        - setDescription
        - setDiscountedPrice
        - setDistributionChannels
        - setExpectedDelivery
        - setExternalId
        - setFirstName
        - setGeoLocation
        - setImageLabel
        - setInputTip
        - setInterfaceId
        - setKey
        - setLanguages
        - setLastName
        - setLineItemCustomField
        - setLineItemCustomType
        - setLineItemShippingDetails
        - setLocale
        - setMaxApplications
        - setMaxApplicationsPerCustomer
        - setMetaDescription
        - setMetaKeywords
        - setMetaTitle
        - setMethodInfoInterface
        - setMethodInfoMethod
        - setMethodInfoName
        - setMiddleName
        - setName
        - setOrderNumber
        - setParcelItems
        - setParcelMeasurements
        - setParcelTrackingData
        - setPassword
        - setProductPriceCustomField
        - setProductPriceCustomType
        - setProductVariantKey
        - setRating
        - setRestockableInDays
        - setReturnPaymentState
        - setReturnShipmentState
        - setRoles
        - setSalutation
        - setSearchKeywords
        - setShippingAddress
        - setSku
        - setSlug
        - setStatusInterfaceCode
        - setStatusInterfaceText
        - setStore
        - setStores
        - setSupplyChannel
        - setTarget
        - setTaxCategory
        - setText
        - setTextLineItemCustomField
        - setTextLineItemCustomType
        - setTextLineItemDescription
        - setTitle
        - setTransitions
        - setValidFrom
        - setValidFromAndUntil
        - setValidUntil
        - setVariantAvailability
        - setVatId
        - transitionCustomLineItemState
        - transitionLineItemState
        - transitionState
        - unpublish
        - updateItemShippingAddress
        - updateSyncInfo
        - verifyEmail
      x-annotation-package: "ChangeHistory"
    Change:
      type: "object"
      discriminator:
        propertyName: type
        mapping:
          AddAddressChange: '#/components/schemas/AddAddressChange'
          AddAssetChange: '#/components/schemas/AddAssetChange'
          AddAttributeDefinitionChange: '#/components/schemas/AddAttributeDefinitionChange'
          AddBillingAddressIdChange: '#/components/schemas/AddBillingAddressIdChange'
          AddChannelRolesChange: '#/components/schemas/AddChannelRolesChange'
          AddCustomLineItemChange: '#/components/schemas/AddCustomLineItemChange'
          AddDeliveryChange: '#/components/schemas/AddDeliveryChange'
          AddDiscountCodeChange: '#/components/schemas/AddDiscountCodeChange'
          AddEnumValueChange: '#/components/schemas/AddEnumValueChange'
          AddExternalImageChange: '#/components/schemas/AddExternalImageChange'
          AddFieldDefinitionChange: '#/components/schemas/AddFieldDefinitionChange'
          AddInterfaceInteractionChange: '#/components/schemas/AddInterfaceInteractionChange'
          AddItemShippingAddressesChange: '#/components/schemas/AddItemShippingAddressesChange'
          AddLocalizedEnumValueChange: '#/components/schemas/AddLocalizedEnumValueChange'
          AddLocationChange: '#/components/schemas/AddLocationChange'
          AddOrderLineItemChange: '#/components/schemas/AddOrderLineItemChange'
          AddParcelToDeliveryChange: '#/components/schemas/AddParcelToDeliveryChange'
          AddPaymentChange: '#/components/schemas/AddPaymentChange'
          AddPlainEnumValueChange: '#/components/schemas/AddPlainEnumValueChange'
          AddPriceChange: '#/components/schemas/AddPriceChange'
          AddProductChange: '#/components/schemas/AddProductChange'
          AddPropertyChange: '#/components/schemas/AddPropertyChange'
          AddReturnInfoChange: '#/components/schemas/AddReturnInfoChange'
          AddShippingAddressIdChange: '#/components/schemas/AddShippingAddressIdChange'
          AddShoppingListLineItemChange: '#/components/schemas/AddShoppingListLineItemChange'
          AddStateRolesChange: '#/components/schemas/AddStateRolesChange'
          AddTaxRateChange: '#/components/schemas/AddTaxRateChange'
          AddTextLineItemChange: '#/components/schemas/AddTextLineItemChange'
          AddToCategoryChange: '#/components/schemas/AddToCategoryChange'
          AddTransactionChange: '#/components/schemas/AddTransactionChange'
          AddVariantChange: '#/components/schemas/AddVariantChange'
          ChangeAddressChange: '#/components/schemas/ChangeAddressChange'
          ChangeAmountAuthorizedChange: '#/components/schemas/ChangeAmountAuthorizedChange'
          ChangeAmountPlannedChange: '#/components/schemas/ChangeAmountPlannedChange'
          ChangeAssetNameChange: '#/components/schemas/ChangeAssetNameChange'
          ChangeAssetOrderChange: '#/components/schemas/ChangeAssetOrderChange'
          ChangeAttributeConstraintChange: '#/components/schemas/ChangeAttributeConstraintChange'
          ChangeAttributeOrderByNameChange: '#/components/schemas/ChangeAttributeOrderByNameChange'
          ChangeCartDiscountsChange: '#/components/schemas/ChangeCartDiscountsChange'
          ChangeCartPredicateChange: '#/components/schemas/ChangeCartPredicateChange'
          ChangeCustomLineItemQuantityChange: '#/components/schemas/ChangeCustomLineItemQuantityChange'
          ChangeDescriptionChange: '#/components/schemas/ChangeDescriptionChange'
          ChangeEmailChange: '#/components/schemas/ChangeEmailChange'
          ChangeEnumValueLabelChange: '#/components/schemas/ChangeEnumValueLabelChange'
          ChangeEnumValueOrderChange: '#/components/schemas/ChangeEnumValueOrderChange'
          ChangeFieldDefinitionOrderChange: '#/components/schemas/ChangeFieldDefinitionOrderChange'
          ChangeGroupsChange: '#/components/schemas/ChangeGroupsChange'
          ChangeInitialChange: '#/components/schemas/ChangeInitialChange'
          ChangeInputHintChange: '#/components/schemas/ChangeInputHintChange'
          ChangeIsActiveChange: '#/components/schemas/ChangeIsActiveChange'
          ChangeIsSearchableChange: '#/components/schemas/ChangeIsSearchableChange'
          ChangeKeyChange: '#/components/schemas/ChangeKeyChange'
          ChangeLabelChange: '#/components/schemas/ChangeLabelChange'
          ChangeLineItemQuantityChange: '#/components/schemas/ChangeLineItemQuantityChange'
          ChangeLocalizedDescriptionChange: '#/components/schemas/ChangeLocalizedDescriptionChange'
          ChangeLocalizedEnumValueLabelChange: '#/components/schemas/ChangeLocalizedEnumValueLabelChange'
          ChangeLocalizedEnumValueOrderChange: '#/components/schemas/ChangeLocalizedEnumValueOrderChange'
          ChangeLocalizedNameChange: '#/components/schemas/ChangeLocalizedNameChange'
          ChangeMasterVariantChange: '#/components/schemas/ChangeMasterVariantChange'
          ChangeNameChange: '#/components/schemas/ChangeNameChange'
          ChangeOrderHintChange: '#/components/schemas/ChangeOrderHintChange'
          ChangeOrderStateChange: '#/components/schemas/ChangeOrderStateChange'
          ChangeParentChange: '#/components/schemas/ChangeParentChange'
          ChangePaymentStateChange: '#/components/schemas/ChangePaymentStateChange'
          ChangePlainEnumValueLabelChange: '#/components/schemas/ChangePlainEnumValueLabelChange'
          ChangePlainEnumValueOrderChange: '#/components/schemas/ChangePlainEnumValueOrderChange'
          ChangePredicateChange: '#/components/schemas/ChangePredicateChange'
          ChangePriceChange: '#/components/schemas/ChangePriceChange'
          ChangeQuantityChange: '#/components/schemas/ChangeQuantityChange'
          ChangeQuoteRequestStateChange: '#/components/schemas/ChangeQuoteRequestStateChange'
          ChangeQuoteStateChange: '#/components/schemas/ChangeQuoteStateChange'
          ChangeRequiresDiscountCodeChange: '#/components/schemas/ChangeRequiresDiscountCodeChange'
          ChangeReviewRatingStatisticsChange: '#/components/schemas/ChangeReviewRatingStatisticsChange'
          ChangeShipmentStateChange: '#/components/schemas/ChangeShipmentStateChange'
          ChangeShoppingListLineItemQuantityChange: '#/components/schemas/ChangeShoppingListLineItemQuantityChange'
          ChangeShoppingListLineItemsOrderChange: '#/components/schemas/ChangeShoppingListLineItemsOrderChange'
          ChangeSlugChange: '#/components/schemas/ChangeSlugChange'
          ChangeSortOrderChange: '#/components/schemas/ChangeSortOrderChange'
          ChangeStackingModeChange: '#/components/schemas/ChangeStackingModeChange'
          ChangeStagedQuoteStateChange: '#/components/schemas/ChangeStagedQuoteStateChange'
          ChangeStateTypeChange: '#/components/schemas/ChangeStateTypeChange'
          ChangeTargetChange: '#/components/schemas/ChangeTargetChange'
          ChangeTaxCalculationModeChange: '#/components/schemas/ChangeTaxCalculationModeChange'
          ChangeTaxModeChange: '#/components/schemas/ChangeTaxModeChange'
          ChangeTaxRoundingModeChange: '#/components/schemas/ChangeTaxRoundingModeChange'
          ChangeTextLineItemNameChange: '#/components/schemas/ChangeTextLineItemNameChange'
          ChangeTextLineItemQuantityChange: '#/components/schemas/ChangeTextLineItemQuantityChange'
          ChangeTextLineItemsOrderChange: '#/components/schemas/ChangeTextLineItemsOrderChange'
          ChangeTransactionInteractionIdChange: '#/components/schemas/ChangeTransactionInteractionIdChange'
          ChangeTransactionStateChange: '#/components/schemas/ChangeTransactionStateChange'
          ChangeTransactionTimestampChange: '#/components/schemas/ChangeTransactionTimestampChange'
          ChangeValueChange: '#/components/schemas/ChangeValueChange'
          MoveImageToPositionChange: '#/components/schemas/MoveImageToPositionChange'
          PublishChange: '#/components/schemas/PublishChange'
          RemoveAddressChange: '#/components/schemas/RemoveAddressChange'
          RemoveAssetChange: '#/components/schemas/RemoveAssetChange'
          RemoveAttributeDefinitionChange: '#/components/schemas/RemoveAttributeDefinitionChange'
          RemoveBillingAddressIdChange: '#/components/schemas/RemoveBillingAddressIdChange'
          RemoveChannelRolesChange: '#/components/schemas/RemoveChannelRolesChange'
          RemoveCustomLineItemChange: '#/components/schemas/RemoveCustomLineItemChange'
          RemoveDeliveryItemsChange: '#/components/schemas/RemoveDeliveryItemsChange'
          RemoveDiscountCodeChange: '#/components/schemas/RemoveDiscountCodeChange'
          RemoveEnumValuesChange: '#/components/schemas/RemoveEnumValuesChange'
          RemoveFieldDefinitionChange: '#/components/schemas/RemoveFieldDefinitionChange'
          RemoveFromCategoryChange: '#/components/schemas/RemoveFromCategoryChange'
          RemoveImageChange: '#/components/schemas/RemoveImageChange'
          RemoveItemShippingAddressesChange: '#/components/schemas/RemoveItemShippingAddressesChange'
          RemoveLocalizedEnumValuesChange: '#/components/schemas/RemoveLocalizedEnumValuesChange'
          RemoveLocationChange: '#/components/schemas/RemoveLocationChange'
          RemoveOrderLineItemChange: '#/components/schemas/RemoveOrderLineItemChange'
          RemoveParcelFromDeliveryChange: '#/components/schemas/RemoveParcelFromDeliveryChange'
          RemovePaymentChange: '#/components/schemas/RemovePaymentChange'
          RemovePriceChange: '#/components/schemas/RemovePriceChange'
          RemoveProductChange: '#/components/schemas/RemoveProductChange'
          RemovePropertyChange: '#/components/schemas/RemovePropertyChange'
          RemoveShippingAddressIdChange: '#/components/schemas/RemoveShippingAddressIdChange'
          RemoveShoppingListLineItemChange: '#/components/schemas/RemoveShoppingListLineItemChange'
          RemoveStateRolesChange: '#/components/schemas/RemoveStateRolesChange'
          RemoveTaxRateChange: '#/components/schemas/RemoveTaxRateChange'
          RemoveTextLineItemChange: '#/components/schemas/RemoveTextLineItemChange'
          RemoveVariantChange: '#/components/schemas/RemoveVariantChange'
          SetAddressChange: '#/components/schemas/SetAddressChange'
          SetAnonymousIdChange: '#/components/schemas/SetAnonymousIdChange'
          SetApplicationVersionChange: '#/components/schemas/SetApplicationVersionChange'
          SetAssetCustomFieldChange: '#/components/schemas/SetAssetCustomFieldChange'
          SetAssetCustomTypeChange: '#/components/schemas/SetAssetCustomTypeChange'
          SetAssetDescriptionChange: '#/components/schemas/SetAssetDescriptionChange'
          SetAssetKeyChange: '#/components/schemas/SetAssetKeyChange'
          SetAssetSourcesChange: '#/components/schemas/SetAssetSourcesChange'
          SetAssetTagsChange: '#/components/schemas/SetAssetTagsChange'
          SetAttributeChange: '#/components/schemas/SetAttributeChange'
          SetAuthenticationModeChange: '#/components/schemas/SetAuthenticationModeChange'
          SetAuthorNameChange: '#/components/schemas/SetAuthorNameChange'
          SetBillingAddressChange: '#/components/schemas/SetBillingAddressChange'
          SetCartPredicateChange: '#/components/schemas/SetCartPredicateChange'
          SetCategoryOrderHintChange: '#/components/schemas/SetCategoryOrderHintChange'
          SetChannelRolesChange: '#/components/schemas/SetChannelRolesChange'
          SetCompanyNameChange: '#/components/schemas/SetCompanyNameChange'
          SetCountryChange: '#/components/schemas/SetCountryChange'
          SetCustomFieldChange: '#/components/schemas/SetCustomFieldChange'
          SetCustomLineItemCustomFieldChange: '#/components/schemas/SetCustomLineItemCustomFieldChange'
          SetCustomLineItemCustomTypeChange: '#/components/schemas/SetCustomLineItemCustomTypeChange'
          SetCustomLineItemMoneyChange: '#/components/schemas/SetCustomLineItemMoneyChange'
          SetCustomLineItemShippingDetailsChange: '#/components/schemas/SetCustomLineItemShippingDetailsChange'
          SetCustomLineItemTaxAmountChange: '#/components/schemas/SetCustomLineItemTaxAmountChange'
          SetCustomLineItemTaxCategoryChange: '#/components/schemas/SetCustomLineItemTaxCategoryChange'
          SetCustomLineItemTaxRateChange: '#/components/schemas/SetCustomLineItemTaxRateChange'
          SetCustomLineItemTaxedPriceChange: '#/components/schemas/SetCustomLineItemTaxedPriceChange'
          SetCustomLineItemTotalPriceChange: '#/components/schemas/SetCustomLineItemTotalPriceChange'
          SetCustomShippingMethodChange: '#/components/schemas/SetCustomShippingMethodChange'
          SetCustomTypeChange: '#/components/schemas/SetCustomTypeChange'
          SetCustomerChange: '#/components/schemas/SetCustomerChange'
          SetCustomerEmailChange: '#/components/schemas/SetCustomerEmailChange'
          SetCustomerGroupChange: '#/components/schemas/SetCustomerGroupChange'
          SetCustomerIdChange: '#/components/schemas/SetCustomerIdChange'
          SetCustomerNumberChange: '#/components/schemas/SetCustomerNumberChange'
          SetDateOfBirthChange: '#/components/schemas/SetDateOfBirthChange'
          SetDefaultBillingAddressChange: '#/components/schemas/SetDefaultBillingAddressChange'
          SetDefaultShippingAddressChange: '#/components/schemas/SetDefaultShippingAddressChange'
          SetDeleteDaysAfterLastModificationChange: '#/components/schemas/SetDeleteDaysAfterLastModificationChange'
          SetDeliveryAddressChange: '#/components/schemas/SetDeliveryAddressChange'
          SetDeliveryItemsChange: '#/components/schemas/SetDeliveryItemsChange'
          SetDescriptionChange: '#/components/schemas/SetDescriptionChange'
          SetDiscountedPriceChange: '#/components/schemas/SetDiscountedPriceChange'
          SetDistributionChannelsChange: '#/components/schemas/SetDistributionChannelsChange'
          SetExpectedDeliveryChange: '#/components/schemas/SetExpectedDeliveryChange'
          SetExternalIdChange: '#/components/schemas/SetExternalIdChange'
          SetFirstNameChange: '#/components/schemas/SetFirstNameChange'
          SetGeoLocationChange: '#/components/schemas/SetGeoLocationChange'
          SetImageLabelChange: '#/components/schemas/SetImageLabelChange'
          SetInputTipChange: '#/components/schemas/SetInputTipChange'
          SetInterfaceIdChange: '#/components/schemas/SetInterfaceIdChange'
          SetIsValidChange: '#/components/schemas/SetIsValidChange'
          SetKeyChange: '#/components/schemas/SetKeyChange'
          SetLanguagesChange: '#/components/schemas/SetLanguagesChange'
          SetLastNameChange: '#/components/schemas/SetLastNameChange'
          SetLineItemDeactivatedAtChange: '#/components/schemas/SetLineItemDeactivatedAtChange'
          SetLineItemDiscountedPriceChange: '#/components/schemas/SetLineItemDiscountedPriceChange'
          SetLineItemDiscountedPricePerQuantityChange: '#/components/schemas/SetLineItemDiscountedPricePerQuantityChange'
          SetLineItemDistributionChannelChange: '#/components/schemas/SetLineItemDistributionChannelChange'
          SetLineItemPriceChange: '#/components/schemas/SetLineItemPriceChange'
          SetLineItemProductKeyChange: '#/components/schemas/SetLineItemProductKeyChange'
          SetLineItemProductSlugChange: '#/components/schemas/SetLineItemProductSlugChange'
          SetLineItemShippingDetailsChange: '#/components/schemas/SetLineItemShippingDetailsChange'
          SetLineItemTaxAmountChange: '#/components/schemas/SetLineItemTaxAmountChange'
          SetLineItemTaxRateChange: '#/components/schemas/SetLineItemTaxRateChange'
          SetLineItemTaxedPriceChange: '#/components/schemas/SetLineItemTaxedPriceChange'
          SetLineItemTotalPriceChange: '#/components/schemas/SetLineItemTotalPriceChange'
          SetLocaleChange: '#/components/schemas/SetLocaleChange'
          SetLocalizedDescriptionChange: '#/components/schemas/SetLocalizedDescriptionChange'
          SetMaxApplicationsChange: '#/components/schemas/SetMaxApplicationsChange'
          SetMaxApplicationsPerCustomerChange: '#/components/schemas/SetMaxApplicationsPerCustomerChange'
          SetMetaDescriptionChange: '#/components/schemas/SetMetaDescriptionChange'
          SetMetaKeywordsChange: '#/components/schemas/SetMetaKeywordsChange'
          SetMetaTitleChange: '#/components/schemas/SetMetaTitleChange'
          SetMethodInfoInterfaceChange: '#/components/schemas/SetMethodInfoInterfaceChange'
          SetMethodInfoMethodChange: '#/components/schemas/SetMethodInfoMethodChange'
          SetMethodInfoNameChange: '#/components/schemas/SetMethodInfoNameChange'
          SetMiddleNameChange: '#/components/schemas/SetMiddleNameChange'
          SetNameChange: '#/components/schemas/SetNameChange'
          SetOrderLineItemCustomFieldChange: '#/components/schemas/SetOrderLineItemCustomFieldChange'
          SetOrderLineItemCustomTypeChange: '#/components/schemas/SetOrderLineItemCustomTypeChange'
          SetOrderNumberChange: '#/components/schemas/SetOrderNumberChange'
          SetOrderTaxedPriceChange: '#/components/schemas/SetOrderTaxedPriceChange'
          SetOrderTotalPriceChange: '#/components/schemas/SetOrderTotalPriceChange'
          SetOrderTotalTaxChange: '#/components/schemas/SetOrderTotalTaxChange'
          SetParcelItemsChange: '#/components/schemas/SetParcelItemsChange'
          SetParcelMeasurementsChange: '#/components/schemas/SetParcelMeasurementsChange'
          SetParcelTrackingDataChange: '#/components/schemas/SetParcelTrackingDataChange'
          SetPricesChange: '#/components/schemas/SetPricesChange'
          SetProductCountChange: '#/components/schemas/SetProductCountChange'
          SetProductPriceCustomFieldChange: '#/components/schemas/SetProductPriceCustomFieldChange'
          SetProductPriceCustomTypeChange: '#/components/schemas/SetProductPriceCustomTypeChange'
          SetProductSelectionsChange: '#/components/schemas/SetProductSelectionsChange'
          SetProductVariantKeyChange: '#/components/schemas/SetProductVariantKeyChange'
          SetPropertyChange: '#/components/schemas/SetPropertyChange'
          SetRatingChange: '#/components/schemas/SetRatingChange'
          SetReservationsChange: '#/components/schemas/SetReservationsChange'
          SetRestockableInDaysChange: '#/components/schemas/SetRestockableInDaysChange'
          SetReturnPaymentStateChange: '#/components/schemas/SetReturnPaymentStateChange'
          SetReturnShipmentStateChange: '#/components/schemas/SetReturnShipmentStateChange'
          SetSalutationChange: '#/components/schemas/SetSalutationChange'
          SetSearchKeywordsChange: '#/components/schemas/SetSearchKeywordsChange'
          SetSellerCommentChange: '#/components/schemas/SetSellerCommentChange'
          SetShippingAddressChange: '#/components/schemas/SetShippingAddressChange'
          SetShippingInfoPriceChange: '#/components/schemas/SetShippingInfoPriceChange'
          SetShippingInfoTaxedPriceChange: '#/components/schemas/SetShippingInfoTaxedPriceChange'
          SetShippingMethodChange: '#/components/schemas/SetShippingMethodChange'
          SetShippingMethodTaxAmountChange: '#/components/schemas/SetShippingMethodTaxAmountChange'
          SetShippingMethodTaxRateChange: '#/components/schemas/SetShippingMethodTaxRateChange'
          SetShippingRateChange: '#/components/schemas/SetShippingRateChange'
          SetShippingRateInputChange: '#/components/schemas/SetShippingRateInputChange'
          SetShoppingListLineItemCustomFieldChange: '#/components/schemas/SetShoppingListLineItemCustomFieldChange'
          SetShoppingListLineItemCustomTypeChange: '#/components/schemas/SetShoppingListLineItemCustomTypeChange'
          SetSkuChange: '#/components/schemas/SetSkuChange'
          SetSlugChange: '#/components/schemas/SetSlugChange'
          SetStateRolesChange: '#/components/schemas/SetStateRolesChange'
          SetStatusInterfaceCodeChange: '#/components/schemas/SetStatusInterfaceCodeChange'
          SetStatusInterfaceTextChange: '#/components/schemas/SetStatusInterfaceTextChange'
          SetStoreChange: '#/components/schemas/SetStoreChange'
          SetStoresChange: '#/components/schemas/SetStoresChange'
          SetSupplyChannelChange: '#/components/schemas/SetSupplyChannelChange'
          SetSupplyChannelsChange: '#/components/schemas/SetSupplyChannelsChange'
          SetTargetChange: '#/components/schemas/SetTargetChange'
          SetTaxCategoryChange: '#/components/schemas/SetTaxCategoryChange'
          SetTextChange: '#/components/schemas/SetTextChange'
          SetTextLineItemCustomFieldChange: '#/components/schemas/SetTextLineItemCustomFieldChange'
          SetTextLineItemCustomTypeChange: '#/components/schemas/SetTextLineItemCustomTypeChange'
          SetTextLineItemDescriptionChange: '#/components/schemas/SetTextLineItemDescriptionChange'
          SetTitleChange: '#/components/schemas/SetTitleChange'
          SetTransitionsChange: '#/components/schemas/SetTransitionsChange'
          SetValidFromAndUntilChange: '#/components/schemas/SetValidFromAndUntilChange'
          SetValidFromChange: '#/components/schemas/SetValidFromChange'
          SetValidToChange: '#/components/schemas/SetValidToChange'
          SetValidUntilChange: '#/components/schemas/SetValidUntilChange'
          SetValueChange: '#/components/schemas/SetValueChange'
          SetVariantAvailabilityChange: '#/components/schemas/SetVariantAvailabilityChange'
          SetVatIdChange: '#/components/schemas/SetVatIdChange'
          TransitionCustomLineItemStateChange: '#/components/schemas/TransitionCustomLineItemStateChange'
          TransitionLineItemStateChange: '#/components/schemas/TransitionLineItemStateChange'
          TransitionStateChange: '#/components/schemas/TransitionStateChange'
          UnknownChange: '#/components/schemas/UnknownChange'
          UnpublishChange: '#/components/schemas/UnpublishChange'
          UpdateSyncInfoChange: '#/components/schemas/UpdateSyncInfoChange'
          VerifyEmailChange: '#/components/schemas/VerifyEmailChange'
      properties:
        type:
          type: "string"
        change:
          type: "string"
    Label:
      type: "object"
      discriminator:
        propertyName: type
        mapping:
          CustomObjectLabel: '#/components/schemas/CustomObjectLabel'
          CustomerLabel: '#/components/schemas/CustomerLabel'
          LocalizedLabel: '#/components/schemas/LocalizedLabel'
          OrderLabel: '#/components/schemas/OrderLabel'
          PaymentLabel: '#/components/schemas/PaymentLabel'
          ProductLabel: '#/components/schemas/ProductLabel'
          QuoteLabel: '#/components/schemas/QuoteLabel'
          QuoteRequestLabel: '#/components/schemas/QuoteRequestLabel'
          ReviewLabel: '#/components/schemas/ReviewLabel'
          StagedQuoteLabel: '#/components/schemas/StagedQuoteLabel'
          StringLabel: '#/components/schemas/StringLabel'
      properties:
        type:
          type: "string"
    LocalizedString:
      type: "object"
      additionalProperties:
        type: "string"
    ChangeTargetChangeValue:
      type: "object"
      discriminator:
        propertyName: type
        mapping:
          customLineItems: '#/components/schemas/ChangeTargetCustomLineItemsChangeValue'
          lineItems: '#/components/schemas/ChangeTargetLineItemsChangeValue'
          multiBuyCustomLineItems: '#/components/schemas/ChangeTargetMultiBuyCustomLineItemsChangeValue'
          multiBuyLineItems: '#/components/schemas/ChangeTargetMultiBuyLineItemsChangeValue'
          shipping: '#/components/schemas/ChangeTargetShippingChangeValue'
      properties:
        type:
          type: "string"
    ChangeValueChangeValue:
      type: "object"
      discriminator:
        propertyName: type
        mapping:
          absolute: '#/components/schemas/ChangeValueAbsoluteChangeValue'
          external: '#/components/schemas/ChangeValueExternalChangeValue'
          giftLineItem: '#/components/schemas/ChangeValueGiftLineItemChangeValue'
          relative: '#/components/schemas/ChangeValueRelativeChangeValue'
      properties:
        type:
          type: "string"
    AddAddressChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Address'
            previousValue:
              $ref: '#/components/schemas/Address'
    AddAssetChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Asset'
            previousValue:
              $ref: '#/components/schemas/Asset'
    AddAttributeDefinitionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/AttributeDefinition'
    AddBillingAddressIdChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              type: "array"
              items:
                type: "string"
            previousValue:
              type: "array"
              items:
                type: "string"
            address:
              $ref: '#/components/schemas/Address'
    AddChannelRolesChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/ChannelRole'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/ChannelRole'
    AddCustomLineItemChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/CustomLineItem'
            previousValue:
              $ref: '#/components/schemas/CustomLineItem'
    AddDeliveryChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/DeliveryChangeValue'
            previousValue:
              $ref: '#/components/schemas/DeliveryChangeValue'
    AddDiscountCodeChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/DiscountCodeInfo'
    AddEnumValueChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            fieldName:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/EnumValue'
    AddExternalImageChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            catalogData:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Image'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Image'
    AddFieldDefinitionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/FieldDefinition'
    AddInterfaceInteractionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/CustomFieldExpandedValue'
    AddItemShippingAddressesChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Address'
            previousValue:
              $ref: '#/components/schemas/Address'
    AddLocalizedEnumValueChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            fieldName:
              type: "string"
            attributeName:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/LocalizedEnumValue'
    AddLocationChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Location'
            nextValue:
              $ref: '#/components/schemas/Location'
    AddOrderLineItemChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/LineItem'
            nextValue:
              $ref: '#/components/schemas/LineItem'
    AddParcelToDeliveryChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            deliveryId:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Parcel'
    AddPaymentChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/PaymentInfo'
            previousValue:
              $ref: '#/components/schemas/PaymentInfo'
    AddPlainEnumValueChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            attributeName:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/EnumValue'
    AddPriceChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            catalogData:
              type: "string"
            priceId:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Price'
    AddProductChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Reference'
    AddPropertyChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            path:
              type: "string"
            nextValue:
              {}
    AddReturnInfoChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/ReturnInfo'
    AddShippingAddressIdChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              type: "array"
              items:
                type: "string"
            previousValue:
              type: "array"
              items:
                type: "string"
            address:
              $ref: '#/components/schemas/Address'
    AddShoppingListLineItemChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/LineItem'
            nextValue:
              $ref: '#/components/schemas/LineItem'
    AddStateRolesChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/StateRole'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/StateRole'
    AddTaxRateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/TaxRate'
    AddTextLineItemChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/TextLineItem'
    AddToCategoryChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            category:
              $ref: '#/components/schemas/Reference'
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Reference'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Reference'
    AddTransactionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Transaction'
    AddVariantChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            catalogData:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Variant'
            nextValue:
              $ref: '#/components/schemas/Variant'
    Address:
      type: "object"
      properties:
        id:
          type: "string"
        key:
          type: "string"
        title:
          type: "string"
        salutation:
          type: "string"
        firstName:
          type: "string"
        lastName:
          type: "string"
        streetName:
          type: "string"
        streetNumber:
          type: "string"
        additionalStreetInfo:
          type: "string"
        postalCode:
          type: "string"
        city:
          type: "string"
        region:
          type: "string"
        state:
          type: "string"
        country:
          $ref: '#/components/schemas/CountryCode'
        company:
          type: "string"
        department:
          type: "string"
        building:
          type: "string"
        apartment:
          type: "string"
        pOBox:
          type: "string"
        phone:
          type: "string"
        mobile:
          type: "string"
        email:
          type: "string"
        fax:
          type: "string"
        additionalAddressInfo:
          type: "string"
        externalId:
          type: "string"
    Asset:
      type: "object"
      properties:
        id:
          type: "string"
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/LocalizedString'
        custom:
          $ref: '#/components/schemas/CustomFields'
        key:
          type: "string"
    AssetChangeValue:
      type: "object"
      properties:
        id:
          type: "string"
        name:
          $ref: '#/components/schemas/LocalizedString'
    AssetDimensions:
      type: "object"
      properties:
        w:
          type: "integer"
          format: "int32"
        h:
          type: "integer"
          format: "int32"
    AssetSource:
      type: "object"
      properties:
        uri:
          type: "string"
        key:
          type: "string"
        dimensions:
          $ref: '#/components/schemas/AssetDimensions'
        contentType:
          type: "string"
    AttributeConstraintEnum:
      type: "string"
      enum:
        - None
        - Unique
        - CombinationUnique
        - SameForAll
      x-annotation-package: "Common"
    AttributeDefinition:
      type: "object"
      properties:
        type:
          $ref: '#/components/schemas/AttributeType'
        name:
          type: "string"
        label:
          $ref: '#/components/schemas/LocalizedString'
        isRequired:
          type: "boolean"
        attributeConstraint:
          $ref: '#/components/schemas/AttributeConstraintEnum'
        inputTip:
          $ref: '#/components/schemas/LocalizedString'
        inputHint:
          $ref: '#/components/schemas/TextInputHint'
        isSearchable:
          type: "boolean"
    AttributeType:
      type: "object"
      properties:
        name:
          type: "string"
    AttributeValue:
      type: "object"
      properties:
        name:
          type: "string"
        value:
          {}
    AuthenticationMode:
      type: "string"
      enum:
        - Password
        - ExternalAuth
      x-annotation-package: "Common"
    CategoryOrderHints:
      type: "object"
      additionalProperties:
        type: "string"
    ChangeAddressChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Address'
            previousValue:
              $ref: '#/components/schemas/Address'
    ChangeAmountAuthorizedChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Money'
            nextValue:
              $ref: '#/components/schemas/Money'
    ChangeAmountPlannedChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Money'
            nextValue:
              $ref: '#/components/schemas/Money'
    ChangeAssetNameChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            asset:
              $ref: '#/components/schemas/AssetChangeValue'
            nextValue:
              $ref: '#/components/schemas/LocalizedString'
            previousValue:
              $ref: '#/components/schemas/LocalizedString'
    ChangeAssetOrderChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/LocalizedString'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/LocalizedString'
    ChangeAttributeConstraintChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            attributeName:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/AttributeConstraintEnum'
            nextValue:
              $ref: '#/components/schemas/AttributeConstraintEnum'
    ChangeAttributeOrderByNameChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                type: "string"
            nextValue:
              type: "array"
              items:
                type: "string"
    ChangeCartDiscountsChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Reference'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Reference'
    ChangeCartPredicateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangeCustomLineItemQuantityChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            customLineItem:
              $ref: '#/components/schemas/LocalizedString'
            customLineItemId:
              type: "string"
            nextValue:
              type: "integer"
              format: "int32"
            previousValue:
              type: "integer"
              format: "int32"
    ChangeDescriptionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangeEmailChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangeEnumValueLabelChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            fieldName:
              type: "string"
            valueKey:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangeEnumValueOrderChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            fieldName:
              type: "string"
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/EnumValue'
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/EnumValue'
    ChangeFieldDefinitionOrderChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/FieldDefinitionOrderValue'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/FieldDefinitionOrderValue'
    ChangeGroupsChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                type: "string"
            nextValue:
              type: "array"
              items:
                type: "string"
    ChangeInitialChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "boolean"
            nextValue:
              type: "boolean"
    ChangeInputHintChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            fieldName:
              type: "string"
            attributeName:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/TextInputHint'
            previousValue:
              $ref: '#/components/schemas/TextInputHint'
    ChangeIsActiveChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "boolean"
            nextValue:
              type: "boolean"
    ChangeIsSearchableChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            attributeName:
              type: "string"
            nextValue:
              type: "boolean"
            previousValue:
              type: "boolean"
    ChangeKeyChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangeLabelChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            fieldName:
              type: "string"
            attributeName:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/LocalizedString'
            previousValue:
              $ref: '#/components/schemas/LocalizedString'
    ChangeLineItemQuantityChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            lineItem:
              $ref: '#/components/schemas/LocalizedString'
            lineItemId:
              type: "string"
            nextValue:
              type: "integer"
              format: "int32"
            previousValue:
              type: "integer"
              format: "int32"
    ChangeLocalizedDescriptionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/LocalizedString'
            nextValue:
              $ref: '#/components/schemas/LocalizedString'
    ChangeLocalizedEnumValueLabelChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            fieldName:
              type: "string"
            attributeName:
              type: "string"
            valueKey:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/LocalizedString'
            nextValue:
              $ref: '#/components/schemas/LocalizedString'
    ChangeLocalizedEnumValueOrderChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            fieldName:
              type: "string"
            attributeName:
              type: "string"
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/LocalizedEnumValue'
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/LocalizedEnumValue'
    ChangeLocalizedNameChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/LocalizedString'
            nextValue:
              $ref: '#/components/schemas/LocalizedString'
    ChangeMasterVariantChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            catalogData:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Variant'
            nextValue:
              $ref: '#/components/schemas/Variant'
    ChangeNameChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangeOrderHintChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangeOrderStateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/OrderState'
            previousValue:
              $ref: '#/components/schemas/OrderState'
    ChangeParentChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Reference'
            nextValue:
              $ref: '#/components/schemas/Reference'
    ChangePaymentStateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/PaymentState'
            previousValue:
              $ref: '#/components/schemas/PaymentState'
    ChangePlainEnumValueLabelChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            attributeName:
              type: "string"
            valueKey:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangePlainEnumValueOrderChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            attributeName:
              type: "string"
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/EnumValue'
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/EnumValue'
    ChangePredicateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangePriceChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            catalogData:
              type: "string"
            priceId:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Price'
            nextValue:
              $ref: '#/components/schemas/Price'
    ChangeQuantityChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/InventoryQuantityValue'
            previousValue:
              $ref: '#/components/schemas/InventoryQuantityValue'
    ChangeQuoteRequestStateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/QuoteRequestState'
            previousValue:
              $ref: '#/components/schemas/QuoteRequestState'
    ChangeQuoteStateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/QuoteState'
            previousValue:
              $ref: '#/components/schemas/QuoteState'
    ChangeRequiresDiscountCodeChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "boolean"
            nextValue:
              type: "boolean"
    ChangeReviewRatingStatisticsChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/ReviewRatingStatistics'
            previousValue:
              $ref: '#/components/schemas/ReviewRatingStatistics'
    ChangeShipmentStateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/ShipmentState'
            previousValue:
              $ref: '#/components/schemas/ShipmentState'
    ChangeShoppingListLineItemQuantityChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            lineItem:
              $ref: '#/components/schemas/ShoppingListLineItemValue'
            previousValue:
              type: "integer"
              format: "int32"
            nextValue:
              type: "integer"
              format: "int32"
    ChangeShoppingListLineItemsOrderChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/ShoppingListLineItemValue'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/ShoppingListLineItemValue'
    ChangeSlugChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/LocalizedString'
            nextValue:
              $ref: '#/components/schemas/LocalizedString'
    ChangeSortOrderChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangeStackingModeChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/StackingMode'
            previousValue:
              $ref: '#/components/schemas/StackingMode'
    ChangeStagedQuoteStateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/StagedQuoteState'
            previousValue:
              $ref: '#/components/schemas/StagedQuoteState'
    ChangeStateTypeChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/StateType'
            nextValue:
              $ref: '#/components/schemas/StateType'
    ChangeTargetChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/ChangeTargetChangeValue'
            previousValue:
              $ref: '#/components/schemas/ChangeTargetChangeValue'
    ChangeTargetCustomLineItemsChangeValue:
      allOf:
        - $ref: '#/components/schemas/ChangeTargetChangeValue'
        - type: "object"
          properties:
            type:
              type: "string"
            predicate:
              type: "string"
    ChangeTargetLineItemsChangeValue:
      allOf:
        - $ref: '#/components/schemas/ChangeTargetChangeValue'
        - type: "object"
          properties:
            type:
              type: "string"
            predicate:
              type: "string"
    ChangeTargetMultiBuyCustomLineItemsChangeValue:
      allOf:
        - $ref: '#/components/schemas/ChangeTargetChangeValue'
        - type: "object"
          properties:
            type:
              type: "string"
            predicate:
              type: "string"
            triggerQuantity:
              type: "integer"
              format: "int32"
            discountedQuantity:
              type: "integer"
              format: "int32"
            maxOccurrence:
              type: "integer"
              format: "int32"
            selectionMode:
              $ref: '#/components/schemas/SelectionMode'
    ChangeTargetMultiBuyLineItemsChangeValue:
      allOf:
        - $ref: '#/components/schemas/ChangeTargetChangeValue'
        - type: "object"
          properties:
            type:
              type: "string"
            predicate:
              type: "string"
            triggerQuantity:
              type: "integer"
              format: "int32"
            discountedQuantity:
              type: "integer"
              format: "int32"
            maxOccurrence:
              type: "integer"
              format: "int32"
            selectionMode:
              $ref: '#/components/schemas/SelectionMode'
    ChangeTargetShippingChangeValue:
      allOf:
        - $ref: '#/components/schemas/ChangeTargetChangeValue'
        - type: "object"
          properties:
            type:
              type: "string"
    ChangeTaxCalculationModeChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/TaxCalculationMode'
            nextValue:
              $ref: '#/components/schemas/TaxCalculationMode'
    ChangeTaxModeChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/TaxMode'
            nextValue:
              $ref: '#/components/schemas/TaxMode'
    ChangeTaxRoundingModeChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/RoundingMode'
            nextValue:
              $ref: '#/components/schemas/RoundingMode'
    ChangeTextLineItemNameChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            textLineItem:
              $ref: '#/components/schemas/TextLineItemValue'
            nextValue:
              $ref: '#/components/schemas/LocalizedString'
            previousValue:
              $ref: '#/components/schemas/LocalizedString'
    ChangeTextLineItemQuantityChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            textLineItem:
              $ref: '#/components/schemas/TextLineItemValue'
            previousValue:
              type: "integer"
              format: "int32"
            nextValue:
              type: "integer"
              format: "int32"
    ChangeTextLineItemsOrderChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/TextLineItemValue'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/TextLineItemValue'
    ChangeTransactionInteractionIdChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            transaction:
              $ref: '#/components/schemas/TransactionChangeValue'
            nextValue:
              type: "string"
            previousValue:
              type: "string"
    ChangeTransactionStateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            transaction:
              $ref: '#/components/schemas/TransactionChangeValue'
            nextValue:
              $ref: '#/components/schemas/TransactionState'
            previousValue:
              $ref: '#/components/schemas/TransactionState'
    ChangeTransactionTimestampChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            transaction:
              $ref: '#/components/schemas/TransactionChangeValue'
            nextValue:
              type: "string"
            previousValue:
              type: "string"
    ChangeValueAbsoluteChangeValue:
      allOf:
        - $ref: '#/components/schemas/ChangeValueChangeValue'
        - type: "object"
          properties:
            type:
              type: "string"
            money:
              type: "array"
              items:
                $ref: '#/components/schemas/Money'
    ChangeValueChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/ChangeValueChangeValue'
            previousValue:
              $ref: '#/components/schemas/ChangeValueChangeValue'
    ChangeValueExternalChangeValue:
      allOf:
        - $ref: '#/components/schemas/ChangeValueChangeValue'
        - type: "object"
          properties:
            type:
              type: "string"
    ChangeValueGiftLineItemChangeValue:
      allOf:
        - $ref: '#/components/schemas/ChangeValueChangeValue'
        - type: "object"
          properties:
            type:
              type: "string"
            product:
              $ref: '#/components/schemas/Reference'
            variantId:
[...]
