openapi: "3.0.0"
info:
  title: commercetools Change History API
  version: "1"

servers:
  - url: https://history.europe-west1.gcp.commercetools.com

paths:
  /{projectKey}:
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: "string"
    get:
      security:
        - oauth_2_0:
            - "view_associate_roles:{projectKey}"
            - "view_audit_log:{projectKey}"
            - "view_business_units:{projectKey}"
            - "view_cart_discounts:{projectKey}"
            - "view_categories:{projectKey}"
            - "view_customers:{projectKey}"
            - "view_customer_groups:{projectKey}"
            - "view_discount_codes:{projectKey}"
            - "view_key_value_documents:{projectKey}"
            - "view_orders:{projectKey}"
            - "view_orders:{projectKey}:{storeKey}"
            - "view_payments:{projectKey}"
            - "view_products:{projectKey}"
            - "view_product_selections:{projectKey}"
            - "view_quotes:{projectKey}"
            - "view_quote_requests:{projectKey}"
            - "view_shopping_lists:{projectKey}"
            - "view_states:{projectKey}"
            - "view_staged_quotes:{projectKey}"
            - "view_stores:{projectKey}"
            - "view_tax_categories:{projectKey}"
            - "view_types:{projectKey}"
      operationId: ByProjectKeyGet
      description: |-
        The `view_audit_log:{projectKey}` scope is required, and depending on the [resource type](ctp:history:type:ChangeHistoryResourceType) queried, their respective scopes must be granted.
      parameters:
        - name: resourceTypes
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              $ref: '#/components/schemas/ChangeHistoryResourceType'
          explode: true
        - name: date.from
          x-annotation-default: 24
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - type: "string"
                format: "datetime"
              - type: "number"
                format: "double"
          explode: true
        - name: date.to
          x-annotation-default: "now"
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - type: "string"
                format: "datetime"
              - type: "number"
                format: "double"
          explode: true
        - name: limit
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: offset
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: userId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: clientId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: customerId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: associateId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: businessUnit
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: type
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: resourceId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: resourceKey
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: source
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: changes
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: stores
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: excludePlatformInitiatedChanges
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              $ref: '#/components/schemas/PlatformInitiatedChange'
          explode: true
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: "boolean"
          explode: true
      responses:
        "200":
          description: |-
            Records of the resource under query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordPagedQueryResponse'

        "400":
          description: |-
            Bad Request. A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input. Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned in the response before re-sending the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "401":
          description: |-
            Unauthorized. Indicate that the request is not properly authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "403":
          description: |-
            Forbidden. Indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "500":
          description: |-
            Internal Server Error. A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs to be reported and resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "503":
          description: |-
            Service Unavailable. The following general error codes can appear in responses with the HTTP status code `503`
            - `OverCapacity` The service is having trouble handling the load. The client application should retry the request with exponential backoff up to a point where further delay is unacceptable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /{projectKey}/{resourceType}:
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: "string"
      - name: resourceType
        in: path
        required: true
        schema:
          type: "string"
    get:
      security:
        - oauth_2_0:
            - "view_associate_roles:{projectKey}"
            - "view_audit_log:{projectKey}"
            - "view_business_units:{projectKey}"
            - "view_cart_discounts:{projectKey}"
            - "view_categories:{projectKey}"
            - "view_customers:{projectKey}"
            - "view_customer_groups:{projectKey}"
            - "view_discount_codes:{projectKey}"
            - "view_key_value_documents:{projectKey}"
            - "view_orders:{projectKey}"
            - "view_orders:{projectKey}:{storeKey}"
            - "view_payments:{projectKey}"
            - "view_products:{projectKey}"
            - "view_product_selections:{projectKey}"
            - "view_quotes:{projectKey}"
            - "view_quote_requests:{projectKey}"
            - "view_shopping_lists:{projectKey}"
            - "view_states:{projectKey}"
            - "view_staged_quotes:{projectKey}"
            - "view_stores:{projectKey}"
            - "view_tax_categories:{projectKey}"
            - "view_types:{projectKey}"
      operationId: ByProjectKeyByResourceTypeGet
      description: |-
        The `view_audit_log:{projectKey}` scope is required, and depending on the [resource type](ctp:history:type:ChangeHistoryResourceType) queried, their respective scopes must be granted.
      parameters:
        - name: date.from
          x-annotation-default: 24
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - type: "string"
                format: "datetime"
              - type: "number"
                format: "double"
          explode: true
        - name: date.to
          x-annotation-default: "now"
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - type: "string"
                format: "datetime"
              - type: "number"
                format: "double"
          explode: true
        - name: limit
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: offset
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: userId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: clientId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: customerId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: associateId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: businessUnit
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: type
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: resourceKey
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: source
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: changes
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: stores
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: excludePlatformInitiatedChanges
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              $ref: '#/components/schemas/PlatformInitiatedChange'
          explode: true
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: "boolean"
          explode: true
      responses:
        "200":
          description: |-
            Records of the resource under query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordPagedQueryResponse'

        "400":
          description: |-
            Bad Request. A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input. Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned in the response before re-sending the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "401":
          description: |-
            Unauthorized. Indicate that the request is not properly authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "403":
          description: |-
            Forbidden. Indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "500":
          description: |-
            Internal Server Error. A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs to be reported and resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "503":
          description: |-
            Service Unavailable. The following general error codes can appear in responses with the HTTP status code `503`
            - `OverCapacity` The service is having trouble handling the load. The client application should retry the request with exponential backoff up to a point where further delay is unacceptable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /{projectKey}/{resourceType}/{ID}:
    parameters:
      - name: projectKey
        in: path
        required: true
        schema:
          type: "string"
      - name: resourceType
        in: path
        required: true
        schema:
          type: "string"
      - name: ID
        in: path
        required: true
        schema:
          type: "string"
    get:
      security:
        - oauth_2_0:
            - "view_associate_roles:{projectKey}"
            - "view_audit_log:{projectKey}"
            - "view_business_units:{projectKey}"
            - "view_cart_discounts:{projectKey}"
            - "view_orders:{projectKey}"
            - "view_orders:{projectKey}:{storeKey}"
            - "view_categories:{projectKey}"
            - "view_products:{projectKey}"
            - "view_customers:{projectKey}"
            - "view_customer_groups:{projectKey}"
            - "view_discount_codes:{projectKey}"
            - "view_key_value_documents:{projectKey}"
            - "view_payments:{projectKey}"
            - "view_product_selections:{projectKey}"
            - "view_quotes:{projectKey}"
            - "view_quote_requests:{projectKey}"
            - "view_shopping_lists:{projectKey}"
            - "view_states:{projectKey}"
            - "view_staged_quotes:{projectKey}"
            - "view_stores:{projectKey}"
            - "view_tax_categories:{projectKey}"
            - "view_types:{projectKey}"
      operationId: ByProjectKeyByResourceTypeByIDGet
      description: |-
        The `view_audit_log:{projectKey}` scope is required, and depending on the [resource type](ctp:history:type:ChangeHistoryResourceType) queried, their respective scopes must be granted.
      parameters:
        - name: date.from
          x-annotation-default: 24
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - type: "string"
                format: "datetime"
              - type: "number"
                format: "double"
          explode: true
        - name: date.to
          x-annotation-default: "now"
          in: query
          required: false
          style: form
          schema:
            oneOf:
              - $ref: '#/components/schemas/DateStringFilter'
              - type: "string"
                format: "datetime"
              - type: "number"
                format: "double"
          explode: true
        - name: limit
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: offset
          in: query
          required: false
          style: form
          schema:
            type: "integer"
            format: "int32"
          explode: true
        - name: userId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: clientId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: customerId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: associateId
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: businessUnit
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: type
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: source
          in: query
          required: false
          style: form
          schema:
            type: "string"
          explode: true
        - name: changes
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: stores
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              type: "string"
          explode: true
        - name: excludePlatformInitiatedChanges
          in: query
          required: false
          style: form
          schema:
            type: "array"
            items:
              $ref: '#/components/schemas/PlatformInitiatedChange'
          explode: true
        - name: expand
          in: query
          required: false
          style: form
          schema:
            type: "boolean"
          explode: true
      responses:
        "200":
          description: |-
            Records of the resource under query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordPagedQueryResponse'

        "400":
          description: |-
            Bad Request. A 400 is the most commonly expected error response and indicates that a request failed due to providing bad input. Bad input can be a malformed request body, missing required parameters, wrongly typed or malformed parameters or a parameter that references another resource that does not exist. Clients need to resolve the problems mentioned in the response before re-sending the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "401":
          description: |-
            Unauthorized. Indicate that the request is not properly authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "403":
          description: |-
            Forbidden. Indicates that the authenticated client is not allowed to perform the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "500":
          description: |-
            Internal Server Error. A 500 indicates that a request failed due to a server-side problem that needs to be resolved before subsequent requests can succeed. It either indicates a temporary unavailability or permanent server-side problem that needs to be reported and resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        "503":
          description: |-
            Service Unavailable. The following general error codes can appear in responses with the HTTP status code `503`
            - `OverCapacity` The service is having trouble handling the load. The client application should retry the request with exponential backoff up to a point where further delay is unacceptable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'


components:

  securitySchemes:
    oauth_2_0:
      type: oauth2
      description: |
        HTTP API authorization uses [OAuth2](https://datatracker.ietf.org/doc/html/rfc6750).

        Clients must obtain an access token from the auth service using one of
        the authorization flows described below, before they are able to make authorized requests
        to other Composable Commerce APIs. On successful completion of an authorization flow,
        a client will be given an `access_token`, which they need to include in requests
        to authorized service endpoints via the HTTP `Authorization` header.

        Scopes are used to grant an application different levels of access to data on behalf of the end user. Each API may declare one or more scopes.

      flows:
          clientCredentials:
            tokenUrl: https://auth.europe-west1.gcp.commercetools.com/oauth/token
            scopes:
              "manage_project:{projectKey}": ""
              "manage_products:{projectKey}": ""
              "view_products:{projectKey}": ""
              "manage_orders:{projectKey}": ""
              "manage_orders:{projectKey}:{storeKey}": ""
              "view_orders:{projectKey}": ""
              "view_orders:{projectKey}:{storeKey}": ""
              "manage_customers:{projectKey}": ""
              "view_customers:{projectKey}": ""
              "manage_payments:{projectKey}": ""
              "view_payments:{projectKey}": ""
              "manage_subscriptions:{projectKey}": ""
              "manage_extensions:{projectKey}": ""
              "manage_types:{projectKey}": ""
              "view_types:{projectKey}": ""
              "view_shopping_lists:{projectKey}": ""
              "manage_shopping_lists:{projectKey}": ""
              "manage_my_orders:{projectKey}": ""
              "manage_my_orders:{projectKey}:{storeKey}": ""
              "manage_my_profile:{projectKey}": ""
              "view_project_settings:{projectKey}": ""
              "view_published_products:{projectKey}": ""
              "manage_cart_discounts:{projectKey}": ""
              "view_cart_discounts:{projectKey}": ""
              "manage_customer_groups:{projectKey}": ""
              "view_customer_groups:{projectKey}": ""
              "view_shipping_methods:{projectKey}": ""
              "manage_shipping_methods:{projectKey}": ""
              "manage_tax_categories:{projectKey}": ""
              "view_tax_categories:{projectKey}": ""
              "manage_categories:{projectKey}": ""
              "view_categories:{projectKey}": ""
              "view_change_history:{projectKey}": ""
              "view_discount_codes:{projectKey}": ""
              "view_states:{projectKey}": ""
              "view_stores:{projectKey}": ""


  schemas:
    Record:
      type: "object"
      required:
        - changes
        - label
        - modifiedAt
        - modifiedBy
        - previousLabel
        - previousVersion
        - resource
        - stores
        - type
        - version
        - withoutChanges
      properties:
        version:
          type: "integer"
          format: "int32"
        previousVersion:
          type: "integer"
          format: "int32"
        type:
          type: "string"
        modifiedBy:
          $ref: '#/components/schemas/ModifiedBy'
        modifiedAt:
          type: "string"
        label:
          $ref: '#/components/schemas/Label'
        previousLabel:
          $ref: '#/components/schemas/Label'
        changes:
          type: "array"
          items:
            $ref: '#/components/schemas/Change'
        resource:
          $ref: '#/components/schemas/ResourceIdentifier'
        stores:
          type: "array"
          items:
            $ref: '#/components/schemas/KeyReference'
        businessUnit:
          $ref: '#/components/schemas/KeyReference'
        withoutChanges:
          type: "boolean"
    RecordPagedQueryResponse:
      type: "object"
      required:
        - count
        - limit
        - offset
        - results
        - total
      properties:
        limit:
          type: "integer"
          format: "int32"
        count:
          type: "integer"
          format: "int32"
        total:
          type: "integer"
          format: "int32"
        offset:
          type: "integer"
          format: "int32"
        results:
          type: "array"
          items:
            $ref: '#/components/schemas/Record'
    ChangeHistoryResourceType:
      type: "string"
      enum:
        - associate-role
        - business-unit
        - cart-discount
        - category
        - channel
        - customer
        - customer-group
        - discount-code
        - inventory-entry
        - key-value-document
        - order
        - payment
        - product
        - product-discount
        - product-selection
        - product-type
        - quote-request
        - quote
        - review
        - shopping-list
        - staged-quote
        - state
        - store
        - tax-category
        - type
        - zone
      x-annotation-package: "ChangeHistory"
    DateStringFilter:
      type: "string"
      enum:
        - now
      x-annotation-package: "ChangeHistory"
    ErrorObject:
      type: "object"
      required:
        - code
        - message
      properties:
        code:
          type: "string"
        message:
          type: "string"
    ErrorResponse:
      type: "object"
      required:
        - message
        - statusCode
      properties:
        statusCode:
          type: "integer"
          format: "int32"
        message:
          type: "string"
        error:
          type: "string"
        error_description:
          type: "string"
        errors:
          type: "array"
          items:
            $ref: '#/components/schemas/ErrorObject'
    ModifiedBy:
      type: "object"
      required:
        - id
        - isPlatformClient
        - type
      properties:
        id:
          type: "string"
        type:
          type: "string"
        clientId:
          type: "string"
        anonymousId:
          type: "string"
        customer:
          $ref: '#/components/schemas/Reference'
        associate:
          $ref: '#/components/schemas/Reference'
        isPlatformClient:
          type: "boolean"
    PlatformInitiatedChange:
      type: "string"
      enum:
        - excludeAll
        - changeLineItemName
        - changeReviewRatingStatistics
        - setApplicationVersion
        - setIsValid
        - setVariantAvailability
      x-annotation-package: "ChangeHistory"
    Source:
      type: "string"
      enum:
        - MerchantCenter
        - ImpEx
        - ApiClient
      x-annotation-package: "ChangeHistory"
    UpdateType:
      type: "string"
      enum:
        - addAddress
        - addAsset
        - addAssociate
        - addAttributeDefinition
        - addBillingAddressId
        - addCustomLineItem
        - addDelivery
        - addDiscountCode
        - addEnumValue
        - addExternalImage
        - addFieldDefinition
        - addInterfaceInteraction
        - addItemShippingAddress
        - addLineItem
        - addLocalizedEnumValue
        - addLocation
        - addParcelToDelivery
        - addPayment
        - addPlainEnumValue
        - addPrice
        - addProduct
        - addProductSelection
        - addProperty
        - addReturnInfo
        - addRoles
        - addShippingAddressId
        - addTaxRate
        - addTextLineItem
        - addToCategory
        - addTransaction
        - addVariant
        - changeAddress
        - changeAmountAuthorized
        - changeAmountPlanned
        - changeAssetName
        - changeAssetOrder
        - changeAssociate
        - changeAssociateMode
        - changeAttributeConstraint
        - changeAttributeName
        - changeAttributeOrderByName
        - changeCartDiscounts
        - changeCartPredicate
        - changeCustomLineItemQuantity
        - changeDescription
        - changeEmail
        - changeEnumKey
        - changeEnumValueLabel
        - changeEnumValueOrder
        - changeFieldDefinitionOrder
        - changeGroups
        - changeInitial
        - changeInputHint
        - changeIsActive
        - changeIsSearchable
        - changeKey
        - changeLabel
        - changeLineItemName
        - changeLineItemQuantity
        - changeLineItemsOrder
        - changeLocalizedEnumValueLabel
        - changeLocalizedEnumValueOrder
        - changeMasterVariant
        - changeName
        - changeOrderHint
        - changeOrderState
        - changeParent
        - changeParentUnit
        - changePaymentState
        - changePlainEnumValueLabel
        - changePredicate
        - changePrice
        - changeProductSelectionActive
        - changeQuantity
        - changeQuoteRequestState
        - changeQuoteState
        - changeRequiresDiscountCode
        - changeReviewRatingStatistics
        - changeShipmentState
        - changeSlug
        - changeSortOrder
        - changeStackingMode
        - changeStagedQuoteState
        - changeStatus
        - changeTarget
        - changeTaxCalculationMode
        - changeTaxMode
        - changeTaxRoundingMode
        - changeTextLineItemName
        - changeTextLineItemQuantity
        - changeTextLineItemsOrder
        - changeTransactionInteractionId
        - changeTransactionState
        - changeTransactionTimestamp
        - changeType
        - changeValue
        - moveImageToPosition
        - publish
        - removeAddress
        - removeAsset
        - removeAssociate
        - removeAttributeDefinition
        - removeBillingAddressId
        - removeCustomLineItem
        - removeDelivery
        - removeDiscountCode
        - removeEnumValues
        - removeFieldDefinition
        - removeFromCategory
        - removeImage
        - removeItemShippingAddress
        - removeLineItem
        - removeLocation
        - removeParcelFromDelivery
        - removePayment
        - removePrice
        - removeProduct
        - removeProductSelection
        - removeProperty
        - removeRoles
        - removeShippingAddressId
        - removeTaxRate
        - removeTextLineItem
        - removeVariant
        - requestQuoteRenegotiation
        - setAddress
        - setAddressCustomField
        - setAddressCustomType
        - setAnonymousId
        - setApplicationVersion
        - setAssetCustomField
        - setAssetCustomType
        - setAssetDescription
        - setAssetSources
        - setAssetTags
        - setAsssetKey
        - setAttribute
        - setAuthenticationMode
        - setAuthorName
        - setBillingAddress
        - setCartPredicate
        - setCategoryOrderHint
        - setCompanyName
        - setContactEmail
        - setCountries
        - setCountry
        - setCustomField
        - setCustomLineItemCustomField
        - setCustomLineItemCustomType
        - setCustomLineItemMoney
        - setCustomLineItemShippingDetails
        - setCustomLineItemTaxAmount
        - setCustomLineItemTaxCategory
        - setCustomLineItemTaxRate
        - setCustomLineItemTaxedPrice
        - setCustomLineItemTotalPrice
        - setCustomShippingMethod
        - setCustomType
        - setCustomer
        - setCustomerEmail
        - setCustomerGroup
        - setCustomerId
        - setCustomerNumber
        - setDateOfBirth
        - setDefaultBillingAddress
        - setDefaultShippingAddress
        - setDeleteDaysAfterLastModification
        - setDeliveryAddress
        - setDeliveryItems
        - setDescription
        - setDiscountedPrice
        - setDistributionChannels
        - setExpectedDelivery
        - setExternalId
        - setFirstName
        - setGeoLocation
        - setImageLabel
        - setInputTip
        - setInterfaceId
        - setIsValid
        - setKey
        - setLanguages
        - setLastName
        - setLineItemCustomField
        - setLineItemCustomType
        - setLineItemDeactivatedAt
        - setLineItemDiscountedPrice
        - setLineItemDiscountedPricePerQuantity
        - setLineItemDistributionChannel
        - setLineItemPrice
        - setLineItemProductKey
        - setLineItemProductSlug
        - setLineItemShippingDetails
        - setLineItemTaxAmount
        - setLineItemTaxRate
        - setLineItemTaxedPrice
        - setLineItemTotalPrice
        - setLocale
        - setMaxApplications
        - setMaxApplicationsPerCustomer
        - setMetaDescription
        - setMetaKeywords
        - setMetaTitle
        - setMethodInfoInterface
        - setMethodInfoMethod
        - setMethodInfoName
        - setMiddleName
        - setName
        - setOrderNumber
        - setOrderTaxedPrice
        - setOrderTotalPrice
        - setOrderTotalTax
        - setParcelItems
        - setParcelMeasurements
        - setParcelTrackingData
        - setPassword
        - setPrices
        - setProductCount
        - setProductPriceCustomField
        - setProductPriceCustomType
        - setProductSelections
        - setProductVariantKey
        - setProperty
        - setPurchaseOrderNumber
        - setRating
        - setReservations
        - setRestockableInDays
        - setReturnPaymentState
        - setReturnShipmentState
        - setRoles
        - setSalutation
        - setSearchKeywords
        - setSellerComment
        - setShippingAddress
        - setShippingInfoPrice
        - setShippingInfoTaxedPrice
        - setShippingMethod
        - setShippingMethodTaxAmount
        - setShippingMethodTaxRate
        - setShippingRate
        - setShippingRateInput
        - setSku
        - setSlug
        - setStatusInterfaceCode
        - setStatusInterfaceText
        - setStore
        - setStoreMode
        - setStores
        - setSupplyChannel
        - setSupplyChannels
        - setTarget
        - setTaxCategory
        - setText
        - setTextLineItemCustomField
        - setTextLineItemCustomType
        - setTextLineItemDescription
        - setTitle
        - setTransitions
        - setValidFrom
        - setValidFromAndUntil
        - setValidTo
        - setValidUntil
        - setValue
        - setVariantAvailability
        - setVariantSelection
        - setVatId
        - transitionCustomLineItemState
        - transitionLineItemState
        - transitionState
        - unpublish
        - updateItemShippingAddress
        - updateSyncInfo
        - verifyEmail
      x-annotation-package: "ChangeHistory"
    Change:
      type: "object"
      discriminator:
        propertyName: type
        mapping:
          AddAddressChange: '#/components/schemas/AddAddressChange'
          AddAssetChange: '#/components/schemas/AddAssetChange'
          AddAssociateChange: '#/components/schemas/AddAssociateChange'
          AddAttributeDefinitionChange: '#/components/schemas/AddAttributeDefinitionChange'
          AddBillingAddressIdChange: '#/components/schemas/AddBillingAddressIdChange'
          AddChannelRolesChange: '#/components/schemas/AddChannelRolesChange'
          AddCustomLineItemChange: '#/components/schemas/AddCustomLineItemChange'
          AddDeliveryChange: '#/components/schemas/AddDeliveryChange'
          AddDiscountCodeChange: '#/components/schemas/AddDiscountCodeChange'
          AddEnumValueChange: '#/components/schemas/AddEnumValueChange'
          AddExternalImageChange: '#/components/schemas/AddExternalImageChange'
          AddFieldDefinitionChange: '#/components/schemas/AddFieldDefinitionChange'
          AddInheritedAssociateChange: '#/components/schemas/AddInheritedAssociateChange'
          AddInterfaceInteractionChange: '#/components/schemas/AddInterfaceInteractionChange'
          AddItemShippingAddressesChange: '#/components/schemas/AddItemShippingAddressesChange'
          AddLocalizedEnumValueChange: '#/components/schemas/AddLocalizedEnumValueChange'
          AddLocationChange: '#/components/schemas/AddLocationChange'
          AddOrderLineItemChange: '#/components/schemas/AddOrderLineItemChange'
          AddParcelToDeliveryChange: '#/components/schemas/AddParcelToDeliveryChange'
          AddPaymentChange: '#/components/schemas/AddPaymentChange'
          AddPlainEnumValueChange: '#/components/schemas/AddPlainEnumValueChange'
          AddPriceChange: '#/components/schemas/AddPriceChange'
          AddProductChange: '#/components/schemas/AddProductChange'
          AddProductSelectionChange: '#/components/schemas/AddProductSelectionChange'
          AddPropertyChange: '#/components/schemas/AddPropertyChange'
          AddReturnInfoChange: '#/components/schemas/AddReturnInfoChange'
          AddShippingAddressIdChange: '#/components/schemas/AddShippingAddressIdChange'
          AddShoppingListLineItemChange: '#/components/schemas/AddShoppingListLineItemChange'
          AddStateRolesChange: '#/components/schemas/AddStateRolesChange'
          AddTaxRateChange: '#/components/schemas/AddTaxRateChange'
          AddTextLineItemChange: '#/components/schemas/AddTextLineItemChange'
          AddToCategoryChange: '#/components/schemas/AddToCategoryChange'
          AddTransactionChange: '#/components/schemas/AddTransactionChange'
          AddVariantChange: '#/components/schemas/AddVariantChange'
          ChangeAddressChange: '#/components/schemas/ChangeAddressChange'
          ChangeAmountAuthorizedChange: '#/components/schemas/ChangeAmountAuthorizedChange'
          ChangeAmountPlannedChange: '#/components/schemas/ChangeAmountPlannedChange'
          ChangeAssetNameChange: '#/components/schemas/ChangeAssetNameChange'
          ChangeAssetOrderChange: '#/components/schemas/ChangeAssetOrderChange'
          ChangeAssociateChange: '#/components/schemas/ChangeAssociateChange'
          ChangeAssociateModeChange: '#/components/schemas/ChangeAssociateModeChange'
          ChangeAttributeConstraintChange: '#/components/schemas/ChangeAttributeConstraintChange'
          ChangeAttributeOrderByNameChange: '#/components/schemas/ChangeAttributeOrderByNameChange'
          ChangeBuyerAssignableChange: '#/components/schemas/ChangeBuyerAssignableChange'
          ChangeCartDiscountsChange: '#/components/schemas/ChangeCartDiscountsChange'
          ChangeCartPredicateChange: '#/components/schemas/ChangeCartPredicateChange'
          ChangeCustomLineItemQuantityChange: '#/components/schemas/ChangeCustomLineItemQuantityChange'
          ChangeDescriptionChange: '#/components/schemas/ChangeDescriptionChange'
          ChangeEmailChange: '#/components/schemas/ChangeEmailChange'
          ChangeEnumValueLabelChange: '#/components/schemas/ChangeEnumValueLabelChange'
          ChangeEnumValueOrderChange: '#/components/schemas/ChangeEnumValueOrderChange'
          ChangeFieldDefinitionOrderChange: '#/components/schemas/ChangeFieldDefinitionOrderChange'
          ChangeGroupsChange: '#/components/schemas/ChangeGroupsChange'
          ChangeInheritedAssociateChange: '#/components/schemas/ChangeInheritedAssociateChange'
          ChangeInitialChange: '#/components/schemas/ChangeInitialChange'
          ChangeInputHintChange: '#/components/schemas/ChangeInputHintChange'
          ChangeIsActiveChange: '#/components/schemas/ChangeIsActiveChange'
          ChangeIsSearchableChange: '#/components/schemas/ChangeIsSearchableChange'
          ChangeKeyChange: '#/components/schemas/ChangeKeyChange'
          ChangeLabelChange: '#/components/schemas/ChangeLabelChange'
          ChangeLineItemQuantityChange: '#/components/schemas/ChangeLineItemQuantityChange'
          ChangeLocalizedDescriptionChange: '#/components/schemas/ChangeLocalizedDescriptionChange'
          ChangeLocalizedEnumValueLabelChange: '#/components/schemas/ChangeLocalizedEnumValueLabelChange'
          ChangeLocalizedEnumValueOrderChange: '#/components/schemas/ChangeLocalizedEnumValueOrderChange'
          ChangeLocalizedNameChange: '#/components/schemas/ChangeLocalizedNameChange'
          ChangeMasterVariantChange: '#/components/schemas/ChangeMasterVariantChange'
          ChangeNameChange: '#/components/schemas/ChangeNameChange'
          ChangeOrderHintChange: '#/components/schemas/ChangeOrderHintChange'
          ChangeOrderStateChange: '#/components/schemas/ChangeOrderStateChange'
          ChangeParentChange: '#/components/schemas/ChangeParentChange'
          ChangeParentUnitChange: '#/components/schemas/ChangeParentUnitChange'
          ChangePaymentStateChange: '#/components/schemas/ChangePaymentStateChange'
          ChangePlainEnumValueLabelChange: '#/components/schemas/ChangePlainEnumValueLabelChange'
          ChangePlainEnumValueOrderChange: '#/components/schemas/ChangePlainEnumValueOrderChange'
          ChangePredicateChange: '#/components/schemas/ChangePredicateChange'
          ChangePriceChange: '#/components/schemas/ChangePriceChange'
          ChangeProductSelectionActiveChange: '#/components/schemas/ChangeProductSelectionActiveChange'
          ChangeQuantityChange: '#/components/schemas/ChangeQuantityChange'
          ChangeQuoteRequestStateChange: '#/components/schemas/ChangeQuoteRequestStateChange'
          ChangeQuoteStateChange: '#/components/schemas/ChangeQuoteStateChange'
          ChangeRequiresDiscountCodeChange: '#/components/schemas/ChangeRequiresDiscountCodeChange'
          ChangeReviewRatingStatisticsChange: '#/components/schemas/ChangeReviewRatingStatisticsChange'
          ChangeShipmentStateChange: '#/components/schemas/ChangeShipmentStateChange'
          ChangeShoppingListLineItemQuantityChange: '#/components/schemas/ChangeShoppingListLineItemQuantityChange'
          ChangeShoppingListLineItemsOrderChange: '#/components/schemas/ChangeShoppingListLineItemsOrderChange'
          ChangeSlugChange: '#/components/schemas/ChangeSlugChange'
          ChangeSortOrderChange: '#/components/schemas/ChangeSortOrderChange'
          ChangeStackingModeChange: '#/components/schemas/ChangeStackingModeChange'
          ChangeStagedQuoteStateChange: '#/components/schemas/ChangeStagedQuoteStateChange'
          ChangeStateTypeChange: '#/components/schemas/ChangeStateTypeChange'
          ChangeStatusChange: '#/components/schemas/ChangeStatusChange'
          ChangeTargetChange: '#/components/schemas/ChangeTargetChange'
          ChangeTaxCalculationModeChange: '#/components/schemas/ChangeTaxCalculationModeChange'
          ChangeTaxModeChange: '#/components/schemas/ChangeTaxModeChange'
          ChangeTaxRoundingModeChange: '#/components/schemas/ChangeTaxRoundingModeChange'
          ChangeTextLineItemNameChange: '#/components/schemas/ChangeTextLineItemNameChange'
          ChangeTextLineItemQuantityChange: '#/components/schemas/ChangeTextLineItemQuantityChange'
          ChangeTextLineItemsOrderChange: '#/components/schemas/ChangeTextLineItemsOrderChange'
          ChangeTransactionInteractionIdChange: '#/components/schemas/ChangeTransactionInteractionIdChange'
          ChangeTransactionStateChange: '#/components/schemas/ChangeTransactionStateChange'
          ChangeTransactionTimestampChange: '#/components/schemas/ChangeTransactionTimestampChange'
          ChangeValueChange: '#/components/schemas/ChangeValueChange'
          MoveImageToPositionChange: '#/components/schemas/MoveImageToPositionChange'
          PublishChange: '#/components/schemas/PublishChange'
          RemoveAddressChange: '#/components/schemas/RemoveAddressChange'
          RemoveAssetChange: '#/components/schemas/RemoveAssetChange'
          RemoveAssociateChange: '#/components/schemas/RemoveAssociateChange'
          RemoveAttributeDefinitionChange: '#/components/schemas/RemoveAttributeDefinitionChange'
          RemoveBillingAddressIdChange: '#/components/schemas/RemoveBillingAddressIdChange'
          RemoveChannelRolesChange: '#/components/schemas/RemoveChannelRolesChange'
          RemoveCustomLineItemChange: '#/components/schemas/RemoveCustomLineItemChange'
          RemoveDeliveryItemsChange: '#/components/schemas/RemoveDeliveryItemsChange'
          RemoveDiscountCodeChange: '#/components/schemas/RemoveDiscountCodeChange'
          RemoveEnumValuesChange: '#/components/schemas/RemoveEnumValuesChange'
          RemoveFieldDefinitionChange: '#/components/schemas/RemoveFieldDefinitionChange'
          RemoveFromCategoryChange: '#/components/schemas/RemoveFromCategoryChange'
          RemoveImageChange: '#/components/schemas/RemoveImageChange'
          RemoveInheritedAssociateChange: '#/components/schemas/RemoveInheritedAssociateChange'
          RemoveItemShippingAddressesChange: '#/components/schemas/RemoveItemShippingAddressesChange'
          RemoveLocalizedEnumValuesChange: '#/components/schemas/RemoveLocalizedEnumValuesChange'
          RemoveLocationChange: '#/components/schemas/RemoveLocationChange'
          RemoveOrderLineItemChange: '#/components/schemas/RemoveOrderLineItemChange'
          RemoveParcelFromDeliveryChange: '#/components/schemas/RemoveParcelFromDeliveryChange'
          RemovePaymentChange: '#/components/schemas/RemovePaymentChange'
          RemovePriceChange: '#/components/schemas/RemovePriceChange'
          RemoveProductChange: '#/components/schemas/RemoveProductChange'
          RemoveProductSelectionChange: '#/components/schemas/RemoveProductSelectionChange'
          RemovePropertyChange: '#/components/schemas/RemovePropertyChange'
          RemoveShippingAddressIdChange: '#/components/schemas/RemoveShippingAddressIdChange'
          RemoveShoppingListLineItemChange: '#/components/schemas/RemoveShoppingListLineItemChange'
          RemoveStateRolesChange: '#/components/schemas/RemoveStateRolesChange'
          RemoveTaxRateChange: '#/components/schemas/RemoveTaxRateChange'
          RemoveTextLineItemChange: '#/components/schemas/RemoveTextLineItemChange'
          RemoveVariantChange: '#/components/schemas/RemoveVariantChange'
          RequestQuoteRenegotiationChange: '#/components/schemas/RequestQuoteRenegotiationChange'
          SetAddressChange: '#/components/schemas/SetAddressChange'
          SetAddressCustomFieldChange: '#/components/schemas/SetAddressCustomFieldChange'
          SetAddressCustomTypeChange: '#/components/schemas/SetAddressCustomTypeChange'
          SetAnonymousIdChange: '#/components/schemas/SetAnonymousIdChange'
          SetApplicationVersionChange: '#/components/schemas/SetApplicationVersionChange'
          SetAssetCustomFieldChange: '#/components/schemas/SetAssetCustomFieldChange'
          SetAssetCustomTypeChange: '#/components/schemas/SetAssetCustomTypeChange'
          SetAssetDescriptionChange: '#/components/schemas/SetAssetDescriptionChange'
          SetAssetKeyChange: '#/components/schemas/SetAssetKeyChange'
          SetAssetSourcesChange: '#/components/schemas/SetAssetSourcesChange'
          SetAssetTagsChange: '#/components/schemas/SetAssetTagsChange'
          SetAttributeChange: '#/components/schemas/SetAttributeChange'
          SetAuthenticationModeChange: '#/components/schemas/SetAuthenticationModeChange'
          SetAuthorNameChange: '#/components/schemas/SetAuthorNameChange'
          SetBillingAddressChange: '#/components/schemas/SetBillingAddressChange'
          SetCartPredicateChange: '#/components/schemas/SetCartPredicateChange'
          SetCategoryOrderHintChange: '#/components/schemas/SetCategoryOrderHintChange'
          SetChannelRolesChange: '#/components/schemas/SetChannelRolesChange'
          SetCompanyNameChange: '#/components/schemas/SetCompanyNameChange'
          SetContactEmailChange: '#/components/schemas/SetContactEmailChange'
          SetCountriesChange: '#/components/schemas/SetCountriesChange'
          SetCountryChange: '#/components/schemas/SetCountryChange'
          SetCustomFieldChange: '#/components/schemas/SetCustomFieldChange'
          SetCustomLineItemCustomFieldChange: '#/components/schemas/SetCustomLineItemCustomFieldChange'
          SetCustomLineItemCustomTypeChange: '#/components/schemas/SetCustomLineItemCustomTypeChange'
          SetCustomLineItemMoneyChange: '#/components/schemas/SetCustomLineItemMoneyChange'
          SetCustomLineItemShippingDetailsChange: '#/components/schemas/SetCustomLineItemShippingDetailsChange'
          SetCustomLineItemTaxAmountChange: '#/components/schemas/SetCustomLineItemTaxAmountChange'
          SetCustomLineItemTaxCategoryChange: '#/components/schemas/SetCustomLineItemTaxCategoryChange'
          SetCustomLineItemTaxRateChange: '#/components/schemas/SetCustomLineItemTaxRateChange'
          SetCustomLineItemTaxedPriceChange: '#/components/schemas/SetCustomLineItemTaxedPriceChange'
          SetCustomLineItemTotalPriceChange: '#/components/schemas/SetCustomLineItemTotalPriceChange'
          SetCustomShippingMethodChange: '#/components/schemas/SetCustomShippingMethodChange'
          SetCustomTypeChange: '#/components/schemas/SetCustomTypeChange'
          SetCustomerChange: '#/components/schemas/SetCustomerChange'
          SetCustomerEmailChange: '#/components/schemas/SetCustomerEmailChange'
          SetCustomerGroupChange: '#/components/schemas/SetCustomerGroupChange'
          SetCustomerIdChange: '#/components/schemas/SetCustomerIdChange'
          SetCustomerNumberChange: '#/components/schemas/SetCustomerNumberChange'
          SetDateOfBirthChange: '#/components/schemas/SetDateOfBirthChange'
          SetDefaultBillingAddressChange: '#/components/schemas/SetDefaultBillingAddressChange'
          SetDefaultShippingAddressChange: '#/components/schemas/SetDefaultShippingAddressChange'
          SetDeleteDaysAfterLastModificationChange: '#/components/schemas/SetDeleteDaysAfterLastModificationChange'
          SetDeliveryAddressChange: '#/components/schemas/SetDeliveryAddressChange'
          SetDeliveryItemsChange: '#/components/schemas/SetDeliveryItemsChange'
          SetDescriptionChange: '#/components/schemas/SetDescriptionChange'
          SetDiscountedPriceChange: '#/components/schemas/SetDiscountedPriceChange'
          SetDistributionChannelsChange: '#/components/schemas/SetDistributionChannelsChange'
          SetExpectedDeliveryChange: '#/components/schemas/SetExpectedDeliveryChange'
          SetExternalIdChange: '#/components/schemas/SetExternalIdChange'
          SetFirstNameChange: '#/components/schemas/SetFirstNameChange'
          SetGeoLocationChange: '#/components/schemas/SetGeoLocationChange'
          SetImageLabelChange: '#/components/schemas/SetImageLabelChange'
          SetInputTipChange: '#/components/schemas/SetInputTipChange'
          SetInterfaceIdChange: '#/components/schemas/SetInterfaceIdChange'
          SetIsValidChange: '#/components/schemas/SetIsValidChange'
          SetKeyChange: '#/components/schemas/SetKeyChange'
          SetLanguagesChange: '#/components/schemas/SetLanguagesChange'
          SetLastNameChange: '#/components/schemas/SetLastNameChange'
          SetLineItemDeactivatedAtChange: '#/components/schemas/SetLineItemDeactivatedAtChange'
          SetLineItemDiscountedPriceChange: '#/components/schemas/SetLineItemDiscountedPriceChange'
          SetLineItemDiscountedPricePerQuantityChange: '#/components/schemas/SetLineItemDiscountedPricePerQuantityChange'
          SetLineItemDistributionChannelChange: '#/components/schemas/SetLineItemDistributionChannelChange'
          SetLineItemPriceChange: '#/components/schemas/SetLineItemPriceChange'
          SetLineItemProductKeyChange: '#/components/schemas/SetLineItemProductKeyChange'
          SetLineItemProductSlugChange: '#/components/schemas/SetLineItemProductSlugChange'
          SetLineItemShippingDetailsChange: '#/components/schemas/SetLineItemShippingDetailsChange'
          SetLineItemTaxAmountChange: '#/components/schemas/SetLineItemTaxAmountChange'
          SetLineItemTaxRateChange: '#/components/schemas/SetLineItemTaxRateChange'
          SetLineItemTaxedPriceChange: '#/components/schemas/SetLineItemTaxedPriceChange'
          SetLineItemTotalPriceChange: '#/components/schemas/SetLineItemTotalPriceChange'
          SetLocaleChange: '#/components/schemas/SetLocaleChange'
          SetLocalizedDescriptionChange: '#/components/schemas/SetLocalizedDescriptionChange'
          SetLocalizedNameChange: '#/components/schemas/SetLocalizedNameChange'
          SetMaxApplicationsChange: '#/components/schemas/SetMaxApplicationsChange'
          SetMaxApplicationsPerCustomerChange: '#/components/schemas/SetMaxApplicationsPerCustomerChange'
          SetMetaDescriptionChange: '#/components/schemas/SetMetaDescriptionChange'
          SetMetaKeywordsChange: '#/components/schemas/SetMetaKeywordsChange'
          SetMetaTitleChange: '#/components/schemas/SetMetaTitleChange'
          SetMethodInfoInterfaceChange: '#/components/schemas/SetMethodInfoInterfaceChange'
          SetMethodInfoMethodChange: '#/components/schemas/SetMethodInfoMethodChange'
          SetMethodInfoNameChange: '#/components/schemas/SetMethodInfoNameChange'
          SetMiddleNameChange: '#/components/schemas/SetMiddleNameChange'
          SetNameChange: '#/components/schemas/SetNameChange'
          SetOrderLineItemCustomFieldChange: '#/components/schemas/SetOrderLineItemCustomFieldChange'
          SetOrderLineItemCustomTypeChange: '#/components/schemas/SetOrderLineItemCustomTypeChange'
          SetOrderNumberChange: '#/components/schemas/SetOrderNumberChange'
          SetOrderTaxedPriceChange: '#/components/schemas/SetOrderTaxedPriceChange'
          SetOrderTotalPriceChange: '#/components/schemas/SetOrderTotalPriceChange'
          SetOrderTotalTaxChange: '#/components/schemas/SetOrderTotalTaxChange'
          SetParcelItemsChange: '#/components/schemas/SetParcelItemsChange'
          SetParcelMeasurementsChange: '#/components/schemas/SetParcelMeasurementsChange'
          SetParcelTrackingDataChange: '#/components/schemas/SetParcelTrackingDataChange'
          SetPermissionsChange: '#/components/schemas/SetPermissionsChange'
          SetPricesChange: '#/components/schemas/SetPricesChange'
          SetProductCountChange: '#/components/schemas/SetProductCountChange'
          SetProductPriceCustomFieldChange: '#/components/schemas/SetProductPriceCustomFieldChange'
          SetProductPriceCustomTypeChange: '#/components/schemas/SetProductPriceCustomTypeChange'
          SetProductSelectionsChange: '#/components/schemas/SetProductSelectionsChange'
          SetProductVariantKeyChange: '#/components/schemas/SetProductVariantKeyChange'
          SetPropertyChange: '#/components/schemas/SetPropertyChange'
          SetPurchaseOrderNumberChange: '#/components/schemas/SetPurchaseOrderNumberChange'
          SetRatingChange: '#/components/schemas/SetRatingChange'
          SetReservationsChange: '#/components/schemas/SetReservationsChange'
          SetRestockableInDaysChange: '#/components/schemas/SetRestockableInDaysChange'
          SetReturnPaymentStateChange: '#/components/schemas/SetReturnPaymentStateChange'
          SetReturnShipmentStateChange: '#/components/schemas/SetReturnShipmentStateChange'
          SetSalutationChange: '#/components/schemas/SetSalutationChange'
          SetSearchKeywordsChange: '#/components/schemas/SetSearchKeywordsChange'
          SetSellerCommentChange: '#/components/schemas/SetSellerCommentChange'
          SetShippingAddressChange: '#/components/schemas/SetShippingAddressChange'
          SetShippingInfoPriceChange: '#/components/schemas/SetShippingInfoPriceChange'
          SetShippingInfoTaxedPriceChange: '#/components/schemas/SetShippingInfoTaxedPriceChange'
          SetShippingMethodChange: '#/components/schemas/SetShippingMethodChange'
          SetShippingMethodTaxAmountChange: '#/components/schemas/SetShippingMethodTaxAmountChange'
          SetShippingMethodTaxRateChange: '#/components/schemas/SetShippingMethodTaxRateChange'
          SetShippingRateChange: '#/components/schemas/SetShippingRateChange'
          SetShippingRateInputChange: '#/components/schemas/SetShippingRateInputChange'
          SetShoppingListLineItemCustomFieldChange: '#/components/schemas/SetShoppingListLineItemCustomFieldChange'
          SetShoppingListLineItemCustomTypeChange: '#/components/schemas/SetShoppingListLineItemCustomTypeChange'
          SetSkuChange: '#/components/schemas/SetSkuChange'
          SetSlugChange: '#/components/schemas/SetSlugChange'
          SetStateRolesChange: '#/components/schemas/SetStateRolesChange'
          SetStatusInterfaceCodeChange: '#/components/schemas/SetStatusInterfaceCodeChange'
          SetStatusInterfaceTextChange: '#/components/schemas/SetStatusInterfaceTextChange'
          SetStoreChange: '#/components/schemas/SetStoreChange'
          SetStoreModeChange: '#/components/schemas/SetStoreModeChange'
          SetStoresChange: '#/components/schemas/SetStoresChange'
          SetSupplyChannelChange: '#/components/schemas/SetSupplyChannelChange'
          SetSupplyChannelsChange: '#/components/schemas/SetSupplyChannelsChange'
          SetTargetChange: '#/components/schemas/SetTargetChange'
          SetTaxCategoryChange: '#/components/schemas/SetTaxCategoryChange'
          SetTextChange: '#/components/schemas/SetTextChange'
          SetTextLineItemCustomFieldChange: '#/components/schemas/SetTextLineItemCustomFieldChange'
          SetTextLineItemCustomTypeChange: '#/components/schemas/SetTextLineItemCustomTypeChange'
          SetTextLineItemDescriptionChange: '#/components/schemas/SetTextLineItemDescriptionChange'
          SetTitleChange: '#/components/schemas/SetTitleChange'
          SetTransitionsChange: '#/components/schemas/SetTransitionsChange'
          SetValidFromAndUntilChange: '#/components/schemas/SetValidFromAndUntilChange'
          SetValidFromChange: '#/components/schemas/SetValidFromChange'
          SetValidToChange: '#/components/schemas/SetValidToChange'
          SetValidUntilChange: '#/components/schemas/SetValidUntilChange'
          SetValueChange: '#/components/schemas/SetValueChange'
          SetVariantAvailabilityChange: '#/components/schemas/SetVariantAvailabilityChange'
          SetVariantSelectionChange: '#/components/schemas/SetVariantSelectionChange'
          SetVatIdChange: '#/components/schemas/SetVatIdChange'
          TransitionCustomLineItemStateChange: '#/components/schemas/TransitionCustomLineItemStateChange'
          TransitionLineItemStateChange: '#/components/schemas/TransitionLineItemStateChange'
          TransitionStateChange: '#/components/schemas/TransitionStateChange'
          UnknownChange: '#/components/schemas/UnknownChange'
          UnpublishChange: '#/components/schemas/UnpublishChange'
          UpdateSyncInfoChange: '#/components/schemas/UpdateSyncInfoChange'
          VerifyEmailChange: '#/components/schemas/VerifyEmailChange'
      required:
        - change
        - type
      properties:
        type:
          type: "string"
        change:
          type: "string"
    Label:
      type: "object"
      discriminator:
        propertyName: type
        mapping:
          AssociateRoleLabel: '#/components/schemas/AssociateRoleLabel'
          BusinessUnitLabel: '#/components/schemas/BusinessUnitLabel'
          CustomObjectLabel: '#/components/schemas/CustomObjectLabel'
          CustomerLabel: '#/components/schemas/CustomerLabel'
          LocalizedLabel: '#/components/schemas/LocalizedLabel'
          OrderLabel: '#/components/schemas/OrderLabel'
          PaymentLabel: '#/components/schemas/PaymentLabel'
          ProductLabel: '#/components/schemas/ProductLabel'
          QuoteLabel: '#/components/schemas/QuoteLabel'
          QuoteRequestLabel: '#/components/schemas/QuoteRequestLabel'
          ReviewLabel: '#/components/schemas/ReviewLabel'
          StagedQuoteLabel: '#/components/schemas/StagedQuoteLabel'
          StringLabel: '#/components/schemas/StringLabel'
      required:
        - type
      properties:
        type:
          type: "string"
    LocalizedString:
      type: "object"
      required:
        - /^[a-z]{2}(-[A-Z]{2})?$/
      additionalProperties:
        type: "string"
    ChangeTargetChangeValue:
      type: "object"
      discriminator:
        propertyName: type
        mapping:
          customLineItems: '#/components/schemas/ChangeTargetCustomLineItemsChangeValue'
          lineItems: '#/components/schemas/ChangeTargetLineItemsChangeValue'
          multiBuyCustomLineItems: '#/components/schemas/ChangeTargetMultiBuyCustomLineItemsChangeValue'
          multiBuyLineItems: '#/components/schemas/ChangeTargetMultiBuyLineItemsChangeValue'
          shipping: '#/components/schemas/ChangeTargetShippingChangeValue'
      required:
        - type
      properties:
        type:
          type: "string"
    ChangeValueChangeValue:
      type: "object"
      discriminator:
        propertyName: type
        mapping:
          absolute: '#/components/schemas/ChangeValueAbsoluteChangeValue'
          external: '#/components/schemas/ChangeValueExternalChangeValue'
          giftLineItem: '#/components/schemas/ChangeValueGiftLineItemChangeValue'
          relative: '#/components/schemas/ChangeValueRelativeChangeValue'
      required:
        - type
      properties:
        type:
          type: "string"
    AddAddressChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Address'
    AddAssetChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Asset'
            nextValue:
              $ref: '#/components/schemas/Asset'
    AddAssociateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Associate'
    AddAttributeDefinitionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/AttributeDefinition'
    AddBillingAddressIdChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - address
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                type: "string"
            nextValue:
              type: "array"
              items:
                type: "string"
            address:
              $ref: '#/components/schemas/Address'
    AddChannelRolesChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/ChannelRoleEnum'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/ChannelRoleEnum'
    AddCustomLineItemChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/CustomLineItem'
            nextValue:
              $ref: '#/components/schemas/CustomLineItem'
    AddDeliveryChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/DeliveryChangeValue'
            nextValue:
              $ref: '#/components/schemas/DeliveryChangeValue'
    AddDiscountCodeChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/DiscountCodeInfo'
    AddEnumValueChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - fieldName
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/EnumValue'
            fieldName:
              type: "string"
    AddExternalImageChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - catalogData
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Image'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Image'
            catalogData:
              type: "string"
    AddFieldDefinitionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/FieldDefinition'
    AddInheritedAssociateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/InheritedAssociate'
    AddInterfaceInteractionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/CustomFieldExpandedValue'
    AddItemShippingAddressesChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Address'
            nextValue:
              $ref: '#/components/schemas/Address'
    AddLocalizedEnumValueChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - attributeName
            - change
            - fieldName
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/AttributeLocalizedEnumValue'
            fieldName:
              type: "string"
            attributeName:
              type: "string"
    AddLocationChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Location'
    AddOrderLineItemChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/LineItem'
            nextValue:
              $ref: '#/components/schemas/LineItem'
    AddParcelToDeliveryChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - deliveryId
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Parcel'
            deliveryId:
              type: "string"
    AddPaymentChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/PaymentInfo'
            nextValue:
              $ref: '#/components/schemas/PaymentInfo'
    AddPlainEnumValueChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - attributeName
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/AttributePlainEnumValue'
            attributeName:
              type: "string"
    AddPriceChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - catalogData
            - change
            - nextValue
            - priceId
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Price'
            catalogData:
              type: "string"
            priceId:
              type: "string"
    AddProductChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
            - variantSelection
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Reference'
            variantSelection:
              $ref: '#/components/schemas/ProductVariantSelection'
    AddProductSelectionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/ProductSelectionSetting'
            nextValue:
              $ref: '#/components/schemas/ProductSelectionSetting'
    AddPropertyChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - path
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              {}
            path:
              type: "string"
    AddReturnInfoChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/ReturnInfo'
    AddShippingAddressIdChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - address
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                type: "string"
            nextValue:
              type: "array"
              items:
                type: "string"
            address:
              $ref: '#/components/schemas/Address'
    AddShoppingListLineItemChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/LineItem'
            nextValue:
              $ref: '#/components/schemas/LineItem'
    AddStateRolesChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/StateRoleEnum'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/StateRoleEnum'
    AddTaxRateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/TaxRate'
    AddTextLineItemChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/TextLineItem'
    AddToCategoryChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - category
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Reference'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Reference'
            category:
              $ref: '#/components/schemas/Reference'
    AddTransactionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            nextValue:
              $ref: '#/components/schemas/Transaction'
    AddVariantChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - catalogData
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Variant'
            nextValue:
              $ref: '#/components/schemas/Variant'
            catalogData:
              type: "string"
    Address:
      type: "object"
      required:
        - additionalAddressInfo
        - additionalStreetInfo
        - apartment
        - building
        - city
        - company
        - country
        - department
        - email
        - externalId
        - fax
        - firstName
        - id
        - key
        - lastName
        - mobile
        - pOBox
        - phone
        - postalCode
        - region
        - salutation
        - state
        - streetName
        - streetNumber
        - title
      properties:
        id:
          type: "string"
        key:
          type: "string"
        title:
          type: "string"
        salutation:
          type: "string"
        firstName:
          type: "string"
        lastName:
          type: "string"
        streetName:
          type: "string"
        streetNumber:
          type: "string"
        additionalStreetInfo:
          type: "string"
        postalCode:
          type: "string"
        city:
          type: "string"
        region:
          type: "string"
        state:
          type: "string"
        country:
          $ref: '#/components/schemas/CountryCode'
        company:
          type: "string"
        department:
          type: "string"
        building:
          type: "string"
        apartment:
          type: "string"
        pOBox:
          type: "string"
        phone:
          type: "string"
        mobile:
          type: "string"
        email:
          type: "string"
        fax:
          type: "string"
        additionalAddressInfo:
          type: "string"
        externalId:
          type: "string"
    Asset:
      type: "object"
      required:
        - custom
        - description
        - id
        - key
        - name
      properties:
        id:
          type: "string"
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/LocalizedString'
        custom:
          $ref: '#/components/schemas/CustomFields'
        key:
          type: "string"
    AssetChangeValue:
      type: "object"
      required:
        - id
        - name
      properties:
        id:
          type: "string"
        name:
          $ref: '#/components/schemas/LocalizedString'
    AssetDimensions:
      type: "object"
      required:
        - h
        - w
      properties:
        w:
          type: "integer"
          format: "int32"
        h:
          type: "integer"
          format: "int32"
    AssetSource:
      type: "object"
      required:
        - contentType
        - dimensions
        - key
        - uri
      properties:
        uri:
          type: "string"
        key:
          type: "string"
        dimensions:
          $ref: '#/components/schemas/AssetDimensions'
        contentType:
          type: "string"
    Associate:
      type: "object"
      required:
        - associateRoleAssignments
        - customer
      properties:
        associateRoleAssignments:
          type: "array"
          items:
            $ref: '#/components/schemas/AssociateRoleAssignment'
        customer:
          $ref: '#/components/schemas/Reference'
    AssociateRoleAssignment:
      type: "object"
      required:
        - associateRole
        - inheritance
      properties:
        associateRole:
          $ref: '#/components/schemas/KeyReference'
        inheritance:
          $ref: '#/components/schemas/AssociateRoleInheritanceMode'
    AssociateRoleInheritanceMode:
      type: "string"
      enum:
        - Enabled
        - Disabled
      x-annotation-package: "Common"
    AssociateRoleLabel:
      allOf:
        - $ref: '#/components/schemas/Label'
        - type: "object"
          required:
            - key
            - name
            - type
          properties:
            type:
              type: "string"
            key:
              type: "string"
            name:
              type: "string"
    AttributeConstraintEnum:
      type: "string"
      enum:
        - None
        - Unique
        - CombinationUnique
        - SameForAll
      x-annotation-package: "Common"
    AttributeDefinition:
      type: "object"
      required:
        - attributeConstraint
        - inputHint
        - inputTip
        - isRequired
        - isSearchable
        - label
        - name
        - type
      properties:
        type:
          $ref: '#/components/schemas/AttributeType'
        name:
          type: "string"
        label:
          $ref: '#/components/schemas/LocalizedString'
        isRequired:
          type: "boolean"
        attributeConstraint:
          $ref: '#/components/schemas/AttributeConstraintEnum'
        inputTip:
          $ref: '#/components/schemas/LocalizedString'
        inputHint:
          $ref: '#/components/schemas/TextInputHint'
        isSearchable:
          type: "boolean"
    AttributeLocalizedEnumValue:
      type: "object"
      required:
        - key
        - label
      properties:
        key:
          type: "string"
        label:
          $ref: '#/components/schemas/LocalizedString'
    AttributePlainEnumValue:
      type: "object"
      required:
        - key
        - label
      properties:
        key:
          type: "string"
        label:
          type: "string"
    AttributeType:
      type: "object"
      required:
        - name
      properties:
        name:
          type: "string"
    AttributeValue:
      type: "object"
      required:
        - name
        - value
      properties:
        name:
          type: "string"
        value:
          {}
    AuthenticationMode:
      type: "string"
      enum:
        - Password
        - ExternalAuth
      x-annotation-package: "Common"
    BusinessUnitAssociateMode:
      type: "string"
      enum:
        - Explicit
        - ExplicitAndFromParent
      x-annotation-package: "Common"
    BusinessUnitLabel:
      allOf:
        - $ref: '#/components/schemas/Label'
        - type: "object"
          required:
            - key
            - name
            - type
          properties:
            type:
              type: "string"
            key:
              type: "string"
            name:
              type: "string"
    BusinessUnitStatus:
      type: "string"
      enum:
        - Active
        - Inactive
      x-annotation-package: "Common"
    BusinessUnitStoreMode:
      type: "string"
      enum:
        - Explicit
        - FromParent
      x-annotation-package: "Common"
    CategoryOrderHints:
      type: "object"
      required:
        - /^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/
      additionalProperties:
        type: "string"
    ChangeAddressChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Address'
            nextValue:
              $ref: '#/components/schemas/Address'
    ChangeAmountAuthorizedChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Money'
            nextValue:
              $ref: '#/components/schemas/Money'
    ChangeAmountPlannedChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Money'
            nextValue:
              $ref: '#/components/schemas/Money'
    ChangeAssetNameChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - asset
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/LocalizedString'
            nextValue:
              $ref: '#/components/schemas/LocalizedString'
            asset:
              $ref: '#/components/schemas/AssetChangeValue'
    ChangeAssetOrderChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/LocalizedString'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/LocalizedString'
    ChangeAssociateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/Associate'
            nextValue:
              $ref: '#/components/schemas/Associate'
    ChangeAssociateModeChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/BusinessUnitAssociateMode'
            nextValue:
              $ref: '#/components/schemas/BusinessUnitAssociateMode'
    ChangeAttributeConstraintChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - attributeName
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/AttributeConstraintEnum'
            nextValue:
              $ref: '#/components/schemas/AttributeConstraintEnum'
            attributeName:
              type: "string"
    ChangeAttributeOrderByNameChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                type: "string"
            nextValue:
              type: "array"
              items:
                type: "string"
    ChangeBuyerAssignableChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "boolean"
            nextValue:
              type: "boolean"
    ChangeCartDiscountsChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Reference'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/Reference'
    ChangeCartPredicateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangeCustomLineItemQuantityChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - customLineItem
            - customLineItemId
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "integer"
              format: "int32"
            nextValue:
              type: "integer"
              format: "int32"
            customLineItem:
              $ref: '#/components/schemas/LocalizedString'
            customLineItemId:
              type: "string"
    ChangeDescriptionChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangeEmailChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
    ChangeEnumValueLabelChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - fieldName
            - nextValue
            - previousValue
            - type
            - valueKey
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "string"
            nextValue:
              type: "string"
            fieldName:
              type: "string"
            valueKey:
              type: "string"
    ChangeEnumValueOrderChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - fieldName
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/EnumValue'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/EnumValue'
            fieldName:
              type: "string"
    ChangeFieldDefinitionOrderChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                $ref: '#/components/schemas/FieldDefinitionOrderValue'
            nextValue:
              type: "array"
              items:
                $ref: '#/components/schemas/FieldDefinitionOrderValue'
    ChangeGroupsChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "array"
              items:
                type: "string"
            nextValue:
              type: "array"
              items:
                type: "string"
    ChangeInheritedAssociateChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/InheritedAssociate'
            nextValue:
              $ref: '#/components/schemas/InheritedAssociate'
    ChangeInitialChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "boolean"
            nextValue:
              type: "boolean"
    ChangeInputHintChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - attributeName
            - change
            - fieldName
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              $ref: '#/components/schemas/TextInputHint'
            nextValue:
              $ref: '#/components/schemas/TextInputHint'
            fieldName:
              type: "string"
            attributeName:
              type: "string"
    ChangeIsActiveChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "boolean"
            nextValue:
              type: "boolean"
    ChangeIsSearchableChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - attributeName
            - change
            - nextValue
            - previousValue
            - type
          properties:
            type:
              type: "string"
            change:
              type: "string"
            previousValue:
              type: "boolean"
            nextValue:
              type: "boolean"
            attributeName:
              type: "string"
    ChangeKeyChange:
      allOf:
        - $ref: '#/components/schemas/Change'
        - type: "object"
          required:
            - change
            - nextValue
            - previousValue
            - type
[...]
