#%RAML 1.0
---
title: commercetools Composable Commerce Import API
(annotations.products):
  - Composable Commerce
version: v1
mediaType: application/json
baseUri: https://import.europe-west1.gcp.commercetools.com
(annotations.docsBaseUri): https://import.{region}.commercetools.com
(annotations.docsBaseUriParameters):
  region:
    type: string
    enum:
      - europe-west1.gcp
      - us-central1.gcp
      - australia-southeast1
    description: |
      The [Region](/hosts-and-authorization#hosts) in which the Project is hosted.
(annotations.serviceRegions):
  - uri: https://import.us-central1.gcp.commercetools.com/
    region: us-central1
    provider: gcp
    name: North America (Google Cloud, Iowa)
  - uri: https://import.europe-west1.gcp.commercetools.com
    region: europe-west1
    provider: gcp
    name: Europe (Google Cloud, Belgium)
  - uri: https://import.australia-southeast1.gcp.commercetools.com
    region: australia-southeast1
    provider: gcp
    name: Australia (Google Cloud, Sydney)
uses:
  annotations: annotationTypes/annotations.raml
  postman: annotationTypes/postman.raml

  error: types/error.raml
  import-operation: types/import-operation.raml
  import-container: types/import-container.raml
  import-summary: types/import-summary.raml
  import-request: types/import-request.raml
  price-import: types/price-import.raml
  standalone-price-import: types/standalone-price-import.raml
  product-import: types/product-import.raml
  product-draft-import: types/product-draft-import.raml
  product-type-import: types/product-type-import.raml
  product-variant-import: types/product-variant-import.raml
  category-import: types/category-import.raml
  customer-import: types/customer-import.raml
  order-import: types/order-import.raml
  order-patch-import: types/order-patch-import.raml
  inventory-import: types/inventory-import.raml
  type-import: types/type-import.raml
  custom-field: types/custom-field.raml
  common: types/common.raml
  discount-code-import: types/discount-code-import.raml

resourceTypes:
  base:
    get?:
      displayName: Query <<resourcePathName>>
      responses:
        200:
    post?:
      displayName: Import <<resourcePathName | !singularize>>
      responses:
        201:
    put?:
      displayName: Update <<resourcePathName | !singularize>>
      responses:
        200:
    delete?:
      displayName: Delete <<resourcePathName | !singularize>>
      responses:
        200:
  baseByParam:
    type: base
    get?:
      displayName: Get <<resourcePathName | !singularize>>
      responses:
        200:

securitySchemes:
  oauth_2_0: !include security-schemes/oauth2.raml
securedBy: [oauth_2_0]

traits:
  secured_by_manage_import_containers:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_import_containers:{projectKey}
  secured_by_view_import_containers:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_import_containers:{projectKey}
            - view_import_containers:{projectKey}
  secured_by_manage_products:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_products:{projectKey}
  secured_by_view_products:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_products:{projectKey}
            - view_products:{projectKey}
  secured_by_manage_customers:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_customers:{projectKey}
  secured_by_view_customers:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_customers:{projectKey}
            - view_customers:{projectKey}
  secured_by_manage_orders:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_orders:{projectKey}
  secured_by_view_orders:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_orders:{projectKey}
            - view_orders:{projectKey}
  secured_by_manage_standalone_prices:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_standalone_prices:{projectKey}
            - view_standalone_prices:{projectKey}
  secured_by_manage_types:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_project:{projectKey}
            - manage_types:{projectKey}
  secured_by_manage_discount_codes:
    securedBy:
      - oauth_2_0:
          scopes:
            - manage_discount_codes:{projectKey}
            - view_discount_codes:{projectKey}

/{projectKey}:
  displayName: Project
  uriParameters:
    projectKey:
      description: The Project key.
      type: string
  /import-containers:
    post:
      displayName: Creates a new import container.
      description: Creates a new import container.
      is:
        - secured_by_manage_import_containers
      body:
        type: import-container.ImportContainerDraft
      responses:
        201:
          body:
            type: import-container.ImportContainer
            example: !include examples/import-container-minimal.json
        400:
          description: The request was invalid.
          body:
            type: error.ErrorResponse
    get:
      queryParameters:
        limit?:
          type: number
          format: int64
          description: |
            Number of [results requested](/../api/general-concepts#limit).
        offset?:
          type: number
          format: int64
          description: |
            Number of [elements skipped](/../api/general-concepts#offset).
        sort?:
          description: |
            See [Sorting](/../api/general-concepts#sorting).
          type: string[]
      description: Retrieves all import containers of a given project key.
      is:
        - secured_by_view_import_containers
      responses:
        200:
          body:
            type: import-container.ImportContainerPagedResponse
    /{importContainerKey}:
      type: baseByParam
      uriParameters:
        importContainerKey:
          (postman.paramName): import-container-key
          description: The key of the import container.
          type: string
      put:
        description: Updates the import container given by the key.
        is:
          - secured_by_manage_import_containers
        body:
          type: import-container.ImportContainerUpdateDraft
        responses:
          200:
            description: The import container was successfully updated.
            body:
              type: import-container.ImportContainer
              example: !include examples/import-container-minimal.json
          409:
            description:
              A concurrent modification was detected. The client should retry
              and resolve the conflict.
            body:
              type: error.ErrorResponse
              example: !include examples/error-response-concurrent-modification.json
      get:
        description: Retrieves the import container given by the key.
        is:
          - secured_by_view_import_containers
        responses:
          200:
            description: The requested import container was found.
            body:
              type: import-container.ImportContainer
              example: !include examples/import-container-minimal.json
          404:
            description: The requested import container wasn't found.
            body:
              type: error.ErrorResponse
              example: !include examples/error-response-resource-not-found.json
      delete:
        description: Deletes the import container given by the key.
        is:
          - secured_by_manage_import_containers
        responses:
          200:
            description: The deleted import container.
            body:
              type: import-container.ImportContainer
          404:
            description: The import container to delete wasn't found.
            body:
              type: error.ErrorResponse
      /import-summaries:
        type: base
        get:
          is:
            - secured_by_view_import_containers
          description: |
            Retrieves an [ImportSummary](ctp:import:type:ImportSummary) for the given import container. An [ImportSummary](ctp:import:type:ImportSummary) is calculated on demand.
          responses:
            200:
              body:
                type: import-summary.ImportSummary
                example: !include examples/import-summary.json
      /import-operations:
        type: base
        get:
          description: |
            Retrieves all [ImportOperations](ctp:import:type:ImportOperation) of a given ImportContainer key.
          is:
            - secured_by_view_import_containers
          queryParameters:
            limit?:
              type: number
              format: int64
              description: |
                Number of [results requested](/../api/general-concepts#limit).
            offset?:
              type: number
              format: int64
              description: |
                Number of [elements skipped](/../api/general-concepts#offset).
            sort?:
              description: |
                See [Sorting](/../api/general-concepts#sorting).
              type: string[]
            resourceKey?:
              description: |
                The key of the ImportOperation to retrieve.
              type: string
            state?:
              description: |
                The state of the ImportOperations to retrieve.
              type: common.ProcessingState
            debug?:
              description: |
                In case of `Unresolved`, it will show the unresolved references.
              type: boolean
              default: false
          responses:
            200:
              body:
                type: import-operation.ImportOperationPagedResponse
                example: !include examples/import-operation-paged.response.json
  /import-operations:
    /{id}:
      type: baseByParam
      uriParameters:
        id:
          description: |
            The operation identifier
          type: string
      get:
        description: |
          Retrieves the [ImportOperation](ctp:import:type:ImportOperation) of a given ID.
        is:
          - secured_by_view_import_containers
        responses:
          200:
            body:
              type: import-operation.ImportOperation
          404:
            body:
              type: error.ErrorResponse
          503:
            body:
              type: error.ErrorResponse
  /categories:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description: Creates a request for creating new Categories or updating
            existing ones.
          is:
            - secured_by_manage_products
          body:
            type: import-request.CategoryImportRequest
            example: !include examples/category-import-request.json
          responses:
            201:
              body:
                type: import-request.ImportResponse
                example: !include examples/category-import-response.json
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /prices:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description:
            Creates a request for creating new Prices or updating existing
            ones.
          is:
            - secured_by_manage_products
          body:
            type: import-request.PriceImportRequest
          responses:
            201:
              body:
                type: import-request.ImportResponse
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /standalone-prices:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description:
            Creates a request for creating new Standalone Prices or updating existing
            ones.
          is:
            - secured_by_manage_standalone_prices
          body:
            type: import-request.StandalonePriceImportRequest
            example: !include examples/standalone-price-import-request.json
          responses:
            201:
              body:
                type: import-request.ImportResponse
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /products:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description:
            Creates a request for creating new Products or updating existing
            ones.
          is:
            - secured_by_manage_products
          body:
            type: import-request.ProductImportRequest
          responses:
            201:
              body:
                type: import-request.ImportResponse
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /product-drafts:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: |
              The ImportContainer used to create the new resource
            type: string
        post:
          description: |
            Creates a request for creating new ProductDrafts or updating existing ones.
          is:
            - secured_by_manage_products
          body:
            type: import-request.ProductDraftImportRequest
          responses:
            201:
              body:
                type: import-request.ImportResponse
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /product-types:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description:
            Creates a request for creating new ProductTypes or updating
            existing ones.
          is:
            - secured_by_manage_products
          body:
            type: import-request.ProductTypeImportRequest
          responses:
            201:
              body:
                type: import-request.ImportResponse
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /product-variants:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description:
            Creates a request for creating new ProductVariants or updating
            existing ones.
          is:
            - secured_by_manage_products
          body:
            type: import-request.ProductVariantImportRequest
          responses:
            201:
              body:
                type: import-request.ImportResponse
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /product-variant-patches:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description: Creates a new import request for product variant patches
          is:
            - secured_by_manage_products
          body:
            type: import-request.ProductVariantPatchRequest
          responses:
            201:
              body:
                type: import-request.ImportResponse
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /orders:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description: Creates a request for creating new Orders.
          is:
            - secured_by_manage_orders
          body:
            type: import-request.OrderImportRequest
            example: !include examples/order-import-request.json
          responses:
            201:
              body:
                type: import-request.ImportResponse
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /order-patches:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the resource
            type: string
        post:
          description: Creates a new import request for order patches
          is:
            - secured_by_manage_orders
          body:
            type: import-request.OrderPatchImportRequest
          responses:
            201:
              body:
                type: import-request.ImportResponse
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /customers:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description:
            Creates a request for creating new Customers or updating existing
            ones.
          is:
            - secured_by_manage_customers
          body:
            type: import-request.CustomerImportRequest
            example: !include examples/customer-import-request.json
          responses:
            201:
              body:
                type: import-request.ImportResponse
                example: !include examples/customer-import-response.json
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /inventories:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description:
            Creates a request for creating new Inventories or updating
            existing ones.
          is:
            - secured_by_manage_products
          body:
            type: import-request.InventoryImportRequest
            example: !include examples/inventory-import-request.json
          responses:
            201:
              body:
                type: import-request.ImportResponse
                example: !include examples/inventory-import-response.json
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /types:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description: Creates a request for creating new Type or updating
            existing ones.
          is:
            - secured_by_manage_types
          body:
            type: import-request.TypeImportRequest
            example: !include examples/type-import-request.json
          responses:
            201:
              body:
                type: import-request.ImportResponse
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
  /discount-codes:
    /import-containers:
      /{importContainerKey}:
        type: base
        uriParameters:
          importContainerKey:
            (postman.paramName): import-container-key
            description: The ImportContainer used to create the new resource
            type: string
        post:
          description:
            Creates a request for creating new Discount Codes or updating existing
            ones.
          is:
            - secured_by_manage_discount_codes
          body:
            type: import-request.DiscountCodeImportRequest
            example: !include examples/discount-code-import-request.json
          responses:
            201:
              body:
                type: import-request.ImportResponse
            400:
              description: The request was invalid.
              body:
                type: error.ErrorResponse
