on:
  - workflow_dispatch
  - pull_request
  - push

name: CI

jobs:

  lint:
    name: "lint and validate RAML spec"

    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Setup node"
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - run: make lint
