on:
  - push

name: "SDKs"

jobs:

  php:
    name: "Generate PHP SDK"

    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        php-version:
          - "7.4"

    steps:
      - name: "Install PHP with extensions"
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov
          extensions: json, mbstring, intl
          tools: composer
          ini-values: assert.exception=1, zend.assertions=1

      - name: "Install Java"
        uses: actions/setup-java@v1
        with:
          java-version: '13'

      - name: "Cache dependencies installed with composer"
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: php${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            php${{ matrix.php-version }}-composer-

      - name: "Install codegen"
        run: export VRAP_VERSION=1.0.0-20200716101307 && curl -o- -s https://raw.githubusercontent.com/vrapio/rmf-codegen/master/scripts/install.sh | bash

      - name: "Checkout api reference"
        uses: actions/checkout@v2
        with:
          path: api

      - name: "Checkout PHP SDK"
        uses: actions/checkout@v2
        with:
          repository: 'commercetools/commercetools-php-sdk-v2'
          path: sdk
          ref: develop
          ssh-key: ${{ secrets.SDK_DEPLOY_KEY }}

      - name: "Generate Base files"
        run: rmf-codegen generate -o sdk/lib/commercetools-base -t PHP_BASE -b "commercetools" api/update-actions.raml

      - name: "Generate PHP SDK"
        run: rmf-codegen generate -o sdk/lib/commercetools-api -t PHP_CLIENT -s "commercetools" -b "commercetools/api" api/update-actions.raml

      - name: "Install dependencies with composer"
        working-directory: sdk
        run: composer install --no-ansi --no-interaction --no-progress --no-suggest

      - name: "Run tests to check for BC issue"
        working-directory: sdk
        run: vendor/bin/phpunit --testsuite=unit

      - name: "Generate PHP SDK Tests"
        run: rmf-codegen generate -o sdk/lib/commercetools-api-tests -t PHP_TEST -s "commercetools" -b "commercetools/api" api/update-actions.raml

      - name: "Prettify"
        working-directory: sdk
        run: ./prettify.sh

      - name: "Run static analysis"
        working-directory: sdk
        run: vendor/bin/psalm --threads=2

      - name: "Run tests"
        working-directory: sdk
        run: vendor/bin/phpunit --testsuite=unit

      - name: "Check changes pending"
        working-directory: sdk
        run: |
          git status --porcelain -- ':(exclude)*gen.properties'
          CHANGES_PENDING=`git status --porcelain -- ':(exclude)*gen.properties' | grep -c ^ || true`
          echo "::set-env name=CHANGES_PENDING::$CHANGES_PENDING"

      - uses: stefanzweifel/git-auto-commit-action@v4
        if: env.changes_pending != '0' && github.ref == 'refs/heads/master'
        with:
          repository: sdk
          branch: develop
          commit_message: "TASK: Updating SDK"
          commit_user_name: Auto Mation
          commit_user_email: automation@commercetools.com
          commit_author: Auto Mation <automation@commercetools.com>

  postman:
    name: "Generate postman collection"

    runs-on: ubuntu-latest
    continue-on-error: true

    steps:

      - name: "Install Java"
        uses: actions/setup-java@v1
        with:
          java-version: '13'

      - name: "Install codegen"
        run: sudo chmod 777 /usr/local/bin && export VRAP_VERSION=1.0.0-20200716101307 && curl -o- -s https://raw.githubusercontent.com/vrapio/rmf-codegen/master/scripts/install.sh | bash

      - name: "Checkout api reference"
        uses: actions/checkout@v2
        with:
          path: api

      - name: "Checkout postman collection"
        uses: actions/checkout@v2
        with:
          repository: 'commercetools/commercetools-postman-collection'
          path: postman
          ssh-key: ${{ secrets.POSTMAN_DEPLOY_KEY }}

      - name: "Generate postman collection"
        run: rmf-codegen generate -o postman/api -t postman api/postman.raml

      - name: "Check changes pending"
        working-directory: postman
        run: |
          git status --porcelain -- ':(exclude)*gen.properties'
          CHANGES_PENDING=`git status --porcelain -- ':(exclude)*gen.properties' | grep -c ^ || true`
          echo "::set-env name=CHANGES_PENDING::$CHANGES_PENDING"

      - uses: stefanzweifel/git-auto-commit-action@v4
        if: env.CHANGES_PENDING != '0'  && github.ref == 'refs/heads/master'
        with:
          repository: postman
          commit_message: "TASK: Updating Postman collection"
          commit_user_name: Auto Mation
          commit_user_email: automation@commercetools.com
          commit_author: Auto Mation <automation@commercetools.com>
