on:
  - push

name: "SDKs"

jobs:

  php:
    name: "Generate PHP SDK"

    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        php-version:
          - "7.4"

    steps:
      - name: "Install PHP with extensions"
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov
          extensions: json, mbstring, intl
          tools: composer
          ini-values: assert.exception=1, zend.assertions=1

      - name: "Install Java"
        uses: actions/setup-java@v1
        with:
          java-version: '13'

      - name: "Cache dependencies installed with composer"
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: php${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            php${{ matrix.php-version }}-composer-

      - name: "Checkout api reference"
        uses: actions/checkout@v2
        with:
          path: api

      - name: "Checkout PHP SDK"
        uses: actions/checkout@v2
        with:
          repository: 'commercetools/commercetools-php-sdk-v2'
          path: sdk
          ssh-key: ${{ secrets.SDK_DEPLOY_KEY }}
          ref: master

      - run: make build_api_sdk check_pending
        working-directory: sdk
        env:
          RAML_FILE: "../api/update-actions.raml"

      - uses: stefanzweifel/git-auto-commit-action@v4
        if: env.CHANGES_PENDING != '0' && github.ref == 'refs/heads/master'
        with:
          repository: sdk
          branch: master
          commit_message: "TASK: Updating SDK"
          commit_user_name: Auto Mation
          commit_user_email: automation@commercetools.com
          commit_author: Auto Mation <automation@commercetools.com>

  postman:
    name: "Generate postman collection"

    runs-on: ubuntu-latest
    continue-on-error: true

    steps:

      - name: "Install Java"
        uses: actions/setup-java@v1
        with:
          java-version: '13'

      - name: "Checkout api reference"
        uses: actions/checkout@v2
        with:
          path: api

      - name: "Checkout postman collection"
        uses: actions/checkout@v2
        with:
          repository: 'commercetools/commercetools-postman-collection'
          path: postman
          ssh-key: ${{ secrets.POSTMAN_DEPLOY_KEY }}
          ref: master

      - name: "Generate postman collection"
        run: sudo chmod 777 /usr/local/bin && make build check_pending
        working-directory: postman
        env:
          RAML_FILE: "../api/postman.raml"
          LIB_NAME: "api"

      - uses: stefanzweifel/git-auto-commit-action@v4
        if: env.CHANGES_PENDING != '0'  && github.ref == 'refs/heads/master'
        with:
          repository: postman
          branch: master
          commit_message: "TASK: Updating Postman collection"
          commit_user_name: Auto Mation
          commit_user_email: automation@commercetools.com
          commit_author: Auto Mation <automation@commercetools.com>

  java:
    name: "Generate Java SDK"

    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: "Install Java"
        uses: actions/setup-java@v1
        with:
          java-version: '8'

      - name: "Checkout api reference"
        uses: actions/checkout@v2
        with:
          path: api

      - name: "Checkout Java SDK"
        uses: actions/checkout@v2
        with:
          repository: 'commercetools/commercetools-sdk-java-v2'
          path: sdk
          ssh-key: ${{ secrets.JAVA_SDK_DEPLOY_KEY }}
          ref: master

      - name: "Generate Java SDK"
        run: sudo chmod 777 /usr/local/bin && make build_api_sdk check_pending
        working-directory: sdk
        env:
          RAML_FILE: "../api/update-actions.raml"

      - uses: stefanzweifel/git-auto-commit-action@v4
        if: env.CHANGES_PENDING != '0' && github.ref == 'refs/heads/master'
        with:
          repository: sdk
          branch: master
          commit_message: "TASK: Updating SDK"
          commit_user_name: Auto Mation
          commit_user_email: automation@commercetools.com
          commit_author: Auto Mation <automation@commercetools.com>

  typescript:
    name: "Generate Typescript SDK"

    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: "Install Java"
        uses: actions/setup-java@v1
        with:
          java-version: '13'

      - name: "Install node"
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: "Checkout api reference"
        uses: actions/checkout@v2
        with:
          path: api

      - name: "Checkout Typescript SDK"
        uses: actions/checkout@v2
        with:
          repository: 'commercetools/commercetools-sdk-typescript'
          path: sdk
          ssh-key: ${{ secrets.TS_SDK_DEPLOY_KEY }}
          ref: master

      - name: "Generate Typescript SDK"
        run: sudo chmod 777 /usr/local/bin && make build_api_sdk check_pending
        working-directory: sdk
        env:
          RAML_FILE: "../api/update-actions.raml"

      - uses: stefanzweifel/git-auto-commit-action@v4
        if: env.CHANGES_PENDING != '0' && github.ref == 'refs/heads/master'
        with:
          repository: sdk
          branch: master
          commit_message: "TASK: Updating Platform SDK"
          commit_user_name: Auto Mation
          commit_user_email: automation@commercetools.com
          commit_author: Auto Mation <automation@commercetools.com>
