on:
  push:
    paths:
      - 'api-specs/**'
  workflow_dispatch:

name: Update RAML

jobs:

  generate:
    name: "Update RAML spec"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version:
          - "7.4"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Install Java"
        uses: actions/setup-java@v1
        with:
          java-version: '13'

      - name: "Install PHP with extensions"
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov
          extensions: json, mbstring, intl
          tools: composer
          ini-values: assert.exception=1, zend.assertions=1

      - name: "Setup node"
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: "Cache dependencies installed with composer"
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: php${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            php${{ matrix.php-version }}-composer-

      - run: sudo chmod 777 /usr/local/bin && make -j2 generate lint
        if: github.ref != 'refs/heads/master'
      - run: sudo chmod 777 /usr/local/bin && make -j2 build
        if: github.ref == 'refs/heads/master'

      - name: "check pending changes"
        run: echo "CHANGES_PENDING=`git status --porcelain -- ':(exclude)*gen.properties' | grep -c ^`" >> $GITHUB_ENV

      - uses: stefanzweifel/git-auto-commit-action@v4
        if: env.CHANGES_PENDING != '0'
        with:
          commit_message: "TASK: Updating RAML types, Postman and OAS definition"
          file_pattern: api-specs/api/types/**/*.raml api-specs/api/types/*.raml api.swagger.json api.swagger3.json oas
          commit_user_name: Auto Mation
          commit_user_email: automation@commercetools.com
          commit_author: Auto Mation <automation@commercetools.com>
